[2021-04-08 17:43] imjasonh opened #15 "Flag to specify port that kcp should listen on"
kcp currently hard-codes 6443 as its port, it could be 6443 by default with a --port flag to override.

[2021-04-21 15:11] smarterclayton opened #21 "Complete the Kube "features" list and how each item could benefit multiple groups"

[2021-04-21 15:11] smarterclayton opened #22 "Complete the README and the "aspirational README""

[2021-04-21 15:13] smarterclayton opened #23 "Complete a demo walk through document to go with the script documenting Kubecon"

[2021-04-21 15:15] smarterclayton opened #24 "Define prototype goals"
Roughly make https://github.com/kcp-dev/kcp#what-does-it-do-for-me real

Demo

1. CRD Tenancy - A user can try out "logical clusters" and CRD tenancy
2. Kube-above-Kube - A user can "import a cluster's objects", see workload end up on one or more clusters
3. Extending KCP with controllers - A user can write or adapt a simple controller with CRD against KCP that doesn't

Meta-goals:

* Lots of flex

[2021-04-21 17:51] smarterclayton opened #25 "Demonstrate "read through" of a resource to underlying physical clusters"
It should be possible to call `kubectl get pods / kubectl logs` and have the apiserver pass through the call directly to 0..N underlying clusters, which would open the door to keeping pods on the underlying cluster.  Then the next step is multiple source unification - a `kubectl get pods` could perform a merge between the underlying physical cluster and a pod stored directly in etcd at the kcp lev

[2021-04-21 17:51] smarterclayton opened #26 "Sketch out design idea "identity unification" between kcp and physical clusters"
Needs to cover the features a user might want like:

* From kcp you can create a service account that pods running on physical clusters are associated with
* A kcp service account token of some form can be created? (so that you can easily define identities not bound to the fate of a cluster)
* Services from off cluster could potentially be integrated behind or via proxying of that identity (i.e. s

[2021-05-04 15:37] imjasonh opened #37 "Allow syncer to run out-of-cluster"
Currently, the prototype cluster-controller connects to the target cluster to install the syncer as a Pod (soon Deployment) in the cluster, where it connects to the local cluster's API server using [`rest.InClusterConfig`](https://github.com/kcp-dev/kcp/blob/f7c361ddeb87d4f2ce87cdfd2d9e168624585a22/cmd/syncer/main.go#L48).

This requires the user to [build and push an image for the syncer](https:/

[2021-05-04 20:40] #22 closed, assigned to smarterclayton

[2021-05-04 20:40] #23 closed, assigned to smarterclayton

[2021-05-05 00:26] smarterclayton commented on #25
Noted in the investigation to logical clusters but keeping this open

[2021-05-05 17:15] davidfestal commented on #37
This should be fixed by PR https://github.com/kcp-dev/kcp/pull/42

[2021-05-05 17:25] davidfestal opened #43 "Metadata content of the pod template inside Deployments is pruned on KCP clusters"
When creating a deployment in a KCP cluster that imported the `deployments` resource from a physical cluster, the deployment is created, but the content of the `spec.template.metadata` deployment field is pruned.

This is probably related to a problem in the way the Deploment schema is managed, that triggers the pruning while it is not expected.

This prevents the syncing of Deployments, since the

[2021-05-06 12:49] vorburger opened #48 "Even lighter weight CRD-only API Server?"
@smarterclayton I love this project! Long been thinking this is really at the core of all of it.

Re. https://github.com/kcp-dev/kcp#this-sounds-cool-and-i-want-to-help "feedback can have a big impact", here's a thought:

What if one wanted to build an EVEN MORE lightweight "API server" than the resource types that are currently "built in" here? It's what got me interested in playing with and poki

[2021-05-06 14:21] imjasonh commented on #48
Thanks for your feedback! I haven't dug into those projects, but I'm definitely excited to learn more.

The `badidea` example is even more stripped down; CRDs seemingly must be cluster-scoped, presumably because there's no such thing as a namespace 😆 -- and RBAC support seems necessary to be able to do anything useful with it with 2+ users. From the "what's missing" slide in [the api-machinery pre

[2021-05-06 16:29] andrewrynhard commented on #48
Would be happy to chat more about this, FWIW.

[2021-05-06 21:55] smarterclayton commented on #48
Yeah I don't think there is anything special about the types that are baked in still, other than you might actually want efficient high scale rbac / namespaces (a few other objects).  Agree from a "reusable bits perspective" you want "can serve APIs" to be a bit that has some layers on top of it like "can subdivide and feel like a regular cluster".  It should be possible to let the layering be nat

[2021-05-07 14:49] clarkmcc opened #54 "Does this project plan to build non-etcd storage implementations?"
While etcd is great for distributed systems, it's less ideal for embedded systems where single binary deployments are ideal. Do you aim to provide support for something like BoltDB or Badger?

[2021-05-07 15:12] andrewrynhard commented on #48
SGTM!

[2021-05-07 15:32] CodeNoobKc2 commented on #54
I have the same question and I found that there is an opensource project **k3s-io/kine** which wrap sql database through etcd api.  That project maybe what your are seeking for.

[2021-05-07 15:35] andrewrynhard commented on #54
I would like to see this now that #48 is on the table. In https://github.com/cosi-project we would like to have in-memory database (the data can easily be repopulated on every reboot).

[2021-05-07 16:36] davidffrench opened #56 "Unable to generate CRDs from physical cluster resources"
While trying to run `kcp` against a physical Openshift dedicated cluster, the cluster controller panics while building the CRDs. Part of the stack trace

[code]

From debugging, this looks to be from the `pods.metrics.k8s.io` resource

[2021-05-07 16:42] imjasonh commented on #54
I'd like to keep this project focused on improving the API server layer _above_ the storage layer, for a couple reasons:

1. Trying to change how the API layer interacts with the storage layer, _while_ making the storage layer flexible to other implementations, seems like it adds a lot more moving parts, which makes both harder.
2. Other projects are already focused on being able to make the stora

[2021-05-07 16:50] imjasonh opened #57 "Community Meeting May 11, 2021"
Our first ever community meeting is Tuesday May 11, at noon EST (9am Pacific, 4pm UTC, [etc](https://www.timeanddate.com/worldclock/converter.html?iso=20210511T160000&p1=1440&p2=4826&p3=234&p4=195)) 🎉

Meet link: https://meet.google.com/uet-cjpd-qof

This issue will collect prospective agenda topics. Add topics you'd like to discuss below.

- what is kcp? (and what kcp _isn't_)
- [areas of investi

[2021-05-07 17:19] 2uasimojo commented on #57
Q: How can folks attend the meeting?
A: See the entry in the [KCP community calendar](https://calendar.google.com/calendar/embed?src=ujjomvk4fa9fgdaem32afgl7g0%40group.calendar.google.com)

[2021-05-07 19:46] smarterclayton commented on #54
One challenge is upstream (and i was part of this) were pretty clear that different backends was a "further in the future, not now" thing.  I agree with Jason in that if we can take a specific lane it helps us.  I think further out it might be useful, it would just be "does it help support new capabilities".

Having a reusable apiserver as per #48 that people are willing to pick up support for mig

[2021-05-09 13:39] gyliu513 opened #63 "Deployment cannot be synced to cluster"
I was following the guidance here https://github.com/kcp-dev/kcp/blob/main/DEVELOPMENT.md to add a KIND cluster to kcp, and it works well.

[code]

[code]

Then I try to create a deployment on this cluster via the file at https://github.com/kcp-dev/kcp/blob/main/contrib/demo/deployment.yaml , but the deploy does not sync to the cluster.

[code]

KCP log
[code]

syncer log

[code]

[2021-05-09 14:56] gyliu513 commented on #63
Why did the clustername in the deployment is always `admin`?

[code]

[2021-05-09 15:01] gyliu513 commented on #63
Even if I change the cluster name to `admin`, the deployment still cannot sync to downstream cluster.

[code]

[2021-05-09 21:59] y-taka-23 commented on #63
I ran into the same phenomenon.

Surely it is because the current implementation of the `deployment-splitter` controller detects the diff in and update the `Status` only. (`pkg/reconciler/deployment/controller.go`)

[code]

On the other hand, in the case of a single downstream cluster, its reconciliation loop only adds a label `cluater: your-cluster-name` (`pkg/reconciler/deployment/deployment.go`

[2021-05-10 12:52] smarterclayton commented on #15
Fixed in #59

[2021-05-10 12:52] #15 closed

[2021-05-10 13:42] #63 closed

[2021-05-10 14:17] #56 closed

[2021-05-10 18:28] davidffrench opened #67 "Syncer not pushing resource to physical cluster"
I have the kcp server, cluster controller and syncer all running separately locally with a cluster resource created with the kubeconfig of a physical cluster.

**Cluster controller command**
[code]

**Syncer command**
[code]

The mycustomresource CRD from my physical cluster is pulled successfully with Davids new branch. However, when I create an instance of mycustomresource in kcp, this is not sy

[2021-05-10 22:23] davidffrench commented on #67
This is not working for `deployments` for me either. I could be doing something wrong with the setup. The informer looks to be setup correctly.

**Syncer Logs**
[code]

**kcp logs**
[code]

I have added a breakpoint to https://github.com/kcp-dev/kcp/blob/main/pkg/syncer/syncer.go#L34 and it is never called when adding a new deployment resource

[2021-05-11 03:29] gyliu513 opened #69 "syncer-from-admin-xxx pod crash"
Follow the guidance at https://github.com/kcp-dev/kcp/blob/main/DEVELOPMENT.md , and I can add a OCP cluster to kcp as follows.

[code]

But when I create an deployment, the syncer-from-admin-xxx pod crashed in  downstream cluster.

[code]
[code]

[code]

Using kind cluster also have same issue.

[2021-05-11 09:58] davidfestal commented on #67
Just a dummy question: did you add the `cluster` label to your deployment, with the name of your physical cluster ?

[2021-05-11 10:10] davidffrench commented on #67
@davidfestal Yes, I have the label added to my resource.

[code]

[code]

[2021-05-11 10:12] davidfestal commented on #67
Oh, it seems the label name in the implementation is simply `cluster`, which should probably be changed to something like you added.

[2021-05-11 10:31] davidffrench opened #70 "Prefix syncer `cluster` label with `kcp.dev/`"
Created based on the conversation in https://github.com/kcp-dev/kcp/issues/67.

[2021-05-11 14:37] smarterclayton commented on #48
Created a stub in https://github.com/kcp-dev/kcp/pull/74 which we can iterate on over time.

[2021-05-11 14:39] smarterclayton commented on #54
Captured this note in #74 as:

[2021-05-11 14:56] #70 closed

[2021-05-11 16:03] imjasonh commented on #57
Link to notes/agenda doc: https://docs.google.com/document/d/15LUxKSVbRI4HMfU6qfYbnitJ1n2agQqlAJjKtEGmzaA/edit#

[2021-05-11 16:04] 2uasimojo commented on #57
Want to make that doc public (at least readable)?

[2021-05-11 20:46] jmprusi opened #75 "Global Load Balancer for multi-cluster scenarios"
In a multi-cluster scenario, it would be really helpful to have a load balancer at the top level that takes care of sending "end-user" traffic to a deployed application running in the k8s clusters.

Example:
* Deploy an application to KCP.
* KCP Syncs the Application to each of the "joined" clusters.
* Those clusters expose a local Ingress of the Application.
* An LB uses the KCP API to discover I

[2021-05-11 20:47] 2uasimojo commented on #75
/potential-use-case

[2021-05-12 15:25] imjasonh opened #76 "Community Meeting May 18, 2021"
Tuesday May 18, at noon Eastern, 9am Pacific, 4pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T160000&p1=1440&p2=4826&p3=234&p4=195)

Meet link: https://meet.google.com/squ-dtxk-xdi

This issue will collect prospective agenda topics. Add topics you'd like to discuss below.

- progress update; [changes this week](https://github.com/kcp-dev/kcp/pulls?q=is%

[2021-05-12 15:25] imjasonh commented on #57
Next: https://github.com/kcp-dev/kcp/issues/76

[2021-05-12 15:25] #57 closed

[2021-05-12 20:33] y-taka-23 commented on #69
It's maybe because your `syncer` running on the cluster cannot reach the `kcp` server. A `cluster-controller` reacts to `Cluster` resource creation and deploys a `syncer_image` container on a downstream cluster. Here, the `syncer` 's kubeconfig is the same as the `cluster-controller`'s.

In `DEVELOPMENT.md`, the `cluster-controller` is launched by `--kubeconfig=.kcp/data/admin.kubeconfig` so the `

[2021-05-13 07:17] gyliu513 commented on #69
@y-taka-23 thanks! After I change the `server` to a reachable concrete IP address of `kcp`, the syncer can start up.

What I did is as follows:

1. `go run ./cmd/kcp start`, this will create the `.kcp/data/admin.kubeconfig`
2.  Update `.kcp/data/admin.kubeconfig` `server` to a  reachable concrete IP address of `kcp`
3. Start cluster controller
4. create the cluster, and the syncer can start up on

[2021-05-13 08:16] gyliu513 opened #80 "kube-root-ca.crt was not deleted under syncer-system after cluster was deleted"
After the cluster was deleted, check `cm` under `syncer-system`, found `kube-root-ca.crt` was not deleted.

[code]

But if we can delete the ns `syncer-system`, then all resources under this ns will be deleted.

[2021-05-13 13:38] imjasonh commented on #80
Yeah, let's just delete all of `syncer-system` when uninstalling the in-cluster syncer. A good e2e test scenario would be exercising install/uninstall/reinstall scenarios to make sure we don't leave anything behind. 👍

[2021-05-13 14:17] imjasonh opened #83 "Don't sync anything in the syncer-system namespace"
The in-cluster syncer runs in `syncer-system`, and today if you create something in that namespace in kcp, the syncer will apply it to its own local cluster, possibly even replacing/breaking its own deployment.

Let's just keep syncer from messing with its own namespace entirely, to avoid a whole bunch of problems.

[2021-05-13 14:18] #80 closed

[2021-05-13 14:25] imjasonh commented on #76
A couple more potential topics:

Syncer will need some notion of filters/transforms to apply to resources, beyond just only syncing objects with the cluster label. How should we express those?
- filter out any resources in `syncer-system` (https://github.com/kcp-dev/kcp/issues/83)
- transform namespace names before applying to the leaf cluster
- @smarterclayton 's comment in [Slack thread](https:/

[2021-05-13 17:37] smarterclayton commented on #48
Ok, the stub is merged.  When Jason is back we'll try to tee up a community meeting / round table where we go over use cases.  In the meantime, I need to accumulate some of the historical efforts at this within Kube for reference.

[2021-05-13 17:40] smarterclayton commented on #75
We should create a list of "transparent multi-cluster" use cases that can help guide the discussion.  Roughly - if you have ingress+service+deployment, you absolutely want to have the ability to say "no matter what cluster(s) the service is on, route ingress to it".  Existing community projects like [k8gb](https://github.com/k8gb-io/k8gb) or external-dns could then be assessed for "how would I orc

[2021-05-13 17:44] smarterclayton commented on #24
Described use cases guiding transparent multi-cluster a bit more in #75 but will move that to a doc

[2021-05-15 19:57] afritzler commented on #54
As somebody who is fiddling around with https://github.com/k3s-io/kine at the moment I would also love to see this moving forward.

[2021-05-18 07:10] vincent-pli opened #89 "How to handle the CRD conflict in mutiple cluster scenario"
I have tested `kcp` with two kubernetes cluster, and sync CRD by default(deployment and pod).

I think the CRDs is exactly the same one, see it's `deployment` and `pod`, but actually not, the `deployment` come from different cluster has different `.spec`(one cluser is v1.19.x another is v1.20.x), so they are treat as different thing and keeping replace each other(since with same name).

So I wonde

[2021-05-18 09:45] #37 closed

[2021-05-18 09:46] #43 closed

[2021-05-18 10:20] davidfestal commented on #89
As I had mentioned in the [PR that integrated the CRD puller in the cluster controller](https://github.com/kcp-dev/kcp/pull/20), this is for now a very basic implementation of API resource import from external clusters, **with no negociation at all in case of resource schema conflicts**.

There should be some sort of schema negotiation when the same API resource is imported into a KCP logical clus

[2021-05-18 10:53] davidfestal commented on #89
For more details about CRD negotiation, see https://github.com/kcp-dev/kcp/blob/main/docs/investigations/logical-clusters.md#crd-virtualization-inheritance-and-normalization

[2021-05-18 15:53] imjasonh commented on #76
Jason DeTiberus's KubeCon talk, "From Tweet to Badidea: Creating an Embeddable Kubernetes Style API Server", is up on YouTube: https://www.youtube.com/watch?v=fxqV24h_ocs  👀

[2021-05-18 16:34] smarterclayton commented on #76
Discussion about adding a new line of investigation around "syncer as a reusable library"

* Lots of people (CAPN, vcluster, karmada, ocm/acm) have done library for syncing - targeted for their use cases
  * in theory a "library" or "framework" should match the key use cases and be easily pivotable
  * transparent multi-cluster (have an object at the top level and an object on the cluster) is our

[2021-05-20 00:33] vincent-pli commented on #89
Thanks @davidfestal
Expect to see the design details.

[2021-05-20 16:20] imjasonh opened #91 "Community Meeting May 25, 2021"
Tuesday May 25, at noon Eastern, 9am Pacific, 4pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T160000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.re

[2021-05-20 16:21] imjasonh commented on #76
Next: https://github.com/kcp-dev/kcp/issues/91

[2021-05-20 16:21] #76 closed

[2021-05-25 13:25] imjasonh commented on #91
Sketch of how to express cluster labels and scheduling selectors/affinity/anti-affinity, etc.: https://hackmd.io/DjSgFdz8SVW1a8wZhjL44g

- Heavily based on pod->node scheduling knobs
- How best to express cluster resource pressure / schedulability?

[2021-05-25 14:09] davidfestal opened #93 "Implement a schema diff for imported resource schemas."
As described in [this investigation doc](https://github.com/kcp-dev/kcp/blob/main/docs/investigations/logical-clusters.md#crd-virtualization-inheritance-and-normalization), API resources are imported inside a KCP logical cluster from external clusters through CRDs, that can be built from the discovery and openapiv2 information published by the external clusters.
When importing resources as CRDs, i

[2021-05-25 14:36] imjasonh commented on #91
schema diff/LCD investigation: https://github.com/kcp-dev/kcp/issues/93

[2021-05-25 15:09] davidfestal opened #94 "Implement basic import of the `admin` logical cluster CRDs to all other logical clusters."
The [CRD virtualization, inheritance, and normalization](https://github.com/kcp-dev/kcp/blob/main/docs/investigations/logical-clusters.md#crd-virtualization-inheritance-and-normalization) part of the *logicial clusters* investigation doc contains the following statement:

This is currently not implemented.
Maybe this should already be done even more generically, by using the [`parents`](https://gi

[2021-05-25 15:11] davidfestal commented on #93
This is related to issue https://github.com/kcp-dev/kcp/issues/89

[2021-05-26 13:23] smarterclayton commented on #91
We went pretty deep on transparent multicluster and discussed tradeoffs of what we prototype on the call.

[2021-05-26 13:26] imjasonh commented on #91
I plan to post the video link and more thorough notes today, stay tuned :)

[2021-05-27 15:57] imjasonh commented on #91
Apologies again for posting notes so late, and also, I forgot to invite kcp-dev@ to this meeting 😢, I've fixed that going forward

Recording: https://www.youtube.com/watch?v=XMdXJqAV8oE

@imjasonh Next demos:
- give Deployment author some control over how to split, scheduling hints, cluster traits
- continuously reconcile Deployments <-> Clusters, dynamically react to new cluster, deleted cluster

[2021-05-27 15:59] imjasonh opened #96 "Community Meeting June 1, 2021"
Tuesday June 1, at noon Eastern, 9am Pacific, 4pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T160000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.re

[2021-05-31 17:01] vorburger commented on #48
I've finally been able to find a little bit of time to explore this a bit further today (only actually ran `kcp` now).

https://github.com/kcp-dev/kcp/compare/main...vorburger:kcp-core-minimal is a first quick hack simply removing ~50 lines + imports re. `if installClusterController {`. What's dumb (of me), of course, is that so far I've just copy/pasted everything else.. still ~60 lines for the e

[2021-06-01 14:17] imjasonh commented on #96
Some more thoughts/investigations on even more generalized multi-cluster scheduling: https://github.com/kcp-dev/kcp/discussions/97

[2021-06-01 14:30] imjasonh commented on #96
@n3wscott tweeted about playing with kcp: https://twitter.com/n3wscott/status/1398298278857351176, wants to cut out embedded etcd, rely on a separate etcd operator instead.

(https://twitter.com/n3wscott/status/1398447916419739650)

@brandond in `#kcp-prototype` Slack:

[2021-06-01 17:24] brandond commented on #96
[Kine](https://github.com/k3s-io/kine) being the `k3s shim` I believe he's talking about. If you run kine in a container you can use the built-in sqlite engine and connect to it from multiple external clients, which saves having to muck about with an external SQL datastore.

[2021-06-04 19:41] imjasonh commented on #96
Recording: https://www.youtube.com/watch?v=PN04iSEOFdM
(I'll edit with notes soon)

[2021-06-04 19:41] imjasonh opened #100 "Community Meeting June 8, 2021"
Tuesday June 8, at noon Eastern, 9am Pacific, 4pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T160000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.re

[2021-06-04 19:41] imjasonh commented on #96
Next: https://github.com/kcp-dev/kcp/issues/100

[2021-06-04 19:41] #96 closed

[2021-06-08 16:03] smarterclayton commented on #100
Topics from this week:

* Quick overview of discussion on prototype next steps (focus on transparent multi-cluster, cut corners as needed) - Jason
* Discuss service / traffic routing - Joaquim
* External etcd / kine usage question from Devan

[2021-06-08 16:25] imjasonh commented on #100
TGIK8s this Friday at 1pm Pacific / 4pm Eastern: https://www.youtube.com/watch?v=FD_kY3Ey2pI

[2021-06-08 16:33] imjasonh commented on #100
Multi-cluster service / traffic routing: https://github.com/kcp-dev/kcp/issues/75

[2021-06-11 18:45] imjasonh commented on #100
Devan: external etcd and kind
- being able to connect to an external etcd cluster (yes please!)
- any reason kine won't work? (no)
  - no reason it shouldn't work, but not a prototype goal to support it

@smarterclayton minimal API server:
- need to sketch out cut lines
- add custom types
- can do aggregated API server
should be possible to:
- swap out storage (kine for etcd)
- enforce rbac
- admi

[2021-06-11 18:45] imjasonh opened #103 "Community Meeting June 15, 2021"
Tuesday June 8, at noon Eastern, 9am Pacific, 4pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T160000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.re

[2021-06-11 18:45] imjasonh commented on #100
Next: https://github.com/kcp-dev/kcp/issues/103

[2021-06-11 18:45] #100 closed

[2021-06-15 15:33] imjasonh commented on #103
- PR to rebalance in response to cluster changes: https://github.com/kcp-dev/kcp/pull/105

I'd also love to chat about possibly using Knative's controller framework to reduce boilerplate and make tests easier. We don't have to commit to this long-term if we still think this will be a prototype we can throw away, and having to write/maintain workqueues and SIFs is cumbersome, and adds surface area

[2021-06-15 16:03] davidfestal commented on #103
- Status on API negociation work.

[2021-06-17 21:04] imjasonh opened #107 "Community Meeting June 22, 2021"
At noon Eastern, 9am Pacific, 4pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T160000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2021-06-17 21:06] imjasonh commented on #107
- K8s sig-architecture discussion
- Octant interest
- @davidfestal 's demo of API negotiation: https://www.youtube.com/watch?v=m3f_xpmUc04
- @imjasonh 's type-_aware_ scheduling updates

[2021-06-18 13:10] imjasonh commented on #107
@mangelajo to discuss this seed of an idea shared in Slack:

[2021-06-18 13:45] imjasonh opened #111 "CI to build/publish images"
Right now if someone wants to run kcp they have to build and run the code themselves. This isn't too bad for `cmd/kcp` and `cmd/cluster-controller`, but for users that want to run the in-cluster ("pull") syncer, this requires them to build that image themselves.

It'd be better if that image was automatically built and available for them somewhere, so they could just run the Cluster Controller dir

[2021-06-18 14:37] 2uasimojo commented on #111
You want to do this from prow? appsre?

[2021-06-18 18:39] imjasonh commented on #111
I was planning to do it with GitHub Actions for now, because it's easiest. Maybe even publishing to ghcr.io because auth would be easy. This wouldn't have to be the place it lives forever.

If there are preferences for some other way I'm open to discussing it.

[2021-06-21 08:35] davidfestal commented on #111
Last month I had already created the quay.io/kcp-dev organization, as well as the quay.io/kcp-dev/kcp-syncer repository.
Do we still plan to use it (which is also possible from GH action through a Quay.io robot token) ? or will we use ghcr.io in anycase ? cc @smarterclayton
With quay.io there is the lightweight way of setting a triggered build directly from quay.
@imjasonh If you provide me with y

[2021-06-21 13:11] imjasonh commented on #111
I don't have a strong preference for ghcr or quay either way, it was nice to be able to set up ghcr build+push with just a few additional lines to ci.yaml. If you'd prefer to set up quay that's fine too.

In order to use ghcr with GitHub Actions we need an org admin (currently only @smarterclayton) to [enable ghcr](https://docs.github.com/en/packages/working-with-a-github-packages-registry/enablin

[2021-06-21 15:39] imjasonh commented on #103
Recording: https://www.youtube.com/watch?v=mUdyRTlRj8I

@imjasonh - are these notes useful?
  - resounding yes
  - I need to be better / more prompt about sharing those out :(

#105 rebalances deployments

@smarterclayton: restate objectives
1. control plane that's reactive the way kube is reactive to machine lifecycle
   - API variability is our new tool to try to attack this problem
2. is this u

[2021-06-21 15:39] #103 closed

[2021-06-21 20:51] imjasonh commented on #107
Absolutely amazing progress from David:
- Structural schema checker: https://github.com/kcp-dev/kcp/pull/114
- Integrate API negotiation into cluster controller: https://github.com/kcp-dev/kcp/pull/115

[2021-06-22 12:53] imjasonh commented on #107
https://github.com/kcp-dev/kcp/pull/110 to add flags to connect to a external etcd

[2021-06-22 15:59] mangelajo commented on #107
Attached my short presentation about KCP / submariner ideas.
[Submariner & KCP ideas.pdf](https://github.com/kcp-dev/kcp/files/6695791/Submariner.KCP.ideas.pdf)

[2021-06-22 16:13] smarterclayton commented on #107
Discussion on conformance and minimal api server - what implications are there to having a minimal apiserver that *should* remain consistent across enviromnents?  What are the inconsistencies in kube that in current conformance / e2e testing are acceptable, but which might not be acceptable to a larger set of users depending on apply behavior?

Expectation is we document this in the minimal-api-se

[2021-06-22 16:28] smarterclayton commented on #107
David demonstrated live negotiation and incompatible CRD:

* We might want to think about the status field having structured fields for each type of incompatibilyt (rather than relying just on condition)
* This library would be extremely valuable as a CLI tool for multi-cluster gitops teams:
* Would also be useful for CRD authors, potentially as presubmit for k/k, should talk to api-machinery [act

[2021-06-23 13:12] #93 closed

[2021-06-30 15:42] #111 closed

[2021-06-30 15:51] imjasonh commented on #111
The image is now pushed to https://github.com/kcp-dev/kcp/pkgs/container/kcp%2Fsyncer-c2e3073d5026a8f7f2c47a50c16bdbec -- we can change the name if we want to, but at least something is better than nothing.

[2021-07-06 13:52] imjasonh opened #125 "Community Meeting July 6, 2021"
At noon Eastern, 9am Pacific, 4pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T160000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2021-07-06 13:53] imjasonh commented on #107
Recording: https://www.youtube.com/watch?v=y6Vlx2mlV-4

Next: https://github.com/kcp-dev/kcp/issues/125

[2021-07-06 13:53] #107 closed

[2021-07-06 13:57] imjasonh commented on #125
Progress:
- https://github.com/kcp-dev/kcp/pull/122 CI improvements, run tests, lint, etc., housekeeping
- https://github.com/kcp-dev/kcp/pull/124 to make sure the demo succeeds in CI
- https://github.com/kcp-dev/kcp/pull/121 to use multierr instead of k8s aggregate error, prefer table-driven tests
- Any networking updates?

Discussion:
- in what cases should controllers run against kcp, versus in

[2021-07-08 13:31] imjasonh opened #128 "Increase coverage for pkg/schemacompat"
[code]

To see which lines aren't covered (GitHub won't let me attach it):

[code]

More coverage of this code should give us more confidence in the implementation, and it should be fairly easy to cover. We can maintain high coverage using [codecov](https://github.com/codecov/codecov-action), to note coverage deltas in PR comments.

(As always, the goal isn't 100% coverage, it's confidence in the

[2021-07-08 14:04] imjasonh commented on #128
After #129 we have shareable coverage reports: https://codecov.io/gh/kcp-dev/kcp/src/main/pkg/schemacompat/schemacompat.go

[2021-07-09 18:44] smarterclayton commented on #75
@jmprusi created https://github.com/jmprusi/kcp-ingress to prototype this

[2021-07-12 15:12] imjasonh opened #133 "Community Meeting July 13, 2021"
At noon Eastern, 9am Pacific, 4pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T160000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2021-07-12 15:12] imjasonh commented on #125
Recording: https://github.com/kcp-dev/kcp/issues/125

Next: https://github.com/kcp-dev/kcp/issues/125

[2021-07-12 15:14] imjasonh commented on #133
- https://github.com/kcp-dev/kcp/pull/132, e.g.,
[code]

- https://github.com/kcp-dev/kcp/pull/131
- https://github.com/kcp-dev/kcp/issues/128

@jmprusi https://github.com/jmprusi/kcp-ingress

Go watch last week's livestream walkthrough! https://www.youtube.com/watch?v=M4mn_LlCyzk

[2021-07-12 15:43] imjasonh commented on #125
Need to think about and document clearly the criteria for when controllers should run against kcp, and when against physical clusters. "It's complicated" 🙃

- benefits of running against kcp
  - don't need to care about type negotiation as much
  - don't need to care about incompatible/conflicting controller behaviors as much
- benefits of running against physical clusters
  - resiliency, many sma

[2021-07-12 15:43] #125 closed

[2021-07-12 15:46] imjasonh commented on #133
Continuing discussion about splitting apart kcp repos from last week

Rough proposal:
- kcp-dev/kubernetes: our fork from k8s upstream v1.18
- kcp-dev/kcp: kcp standalone binary and e2e demo
- kcp-dev/multicluster: Cluster CRD + controller, syncer, type negotiation, deployment-splitter, eventually _everything_-splitter
- kcp depends on multicluster to support e2e demo, but multicluster repo isn't

[2021-07-16 13:36] dgoodwin commented on #128
I'll take a look at this one for hack day.

/assign

[2021-07-26 13:27] imjasonh opened #137 "Community Meeting July 27, 2021"
At noon Eastern, 9am Pacific, 4pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T160000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2021-07-26 13:27] imjasonh commented on #133
Next: https://github.com/kcp-dev/kcp/issues/133

[2021-07-26 13:37] imjasonh commented on #133
Recording: https://youtu.be/yjjJnj9KohQ

[2021-07-26 13:58] mdelder commented on #137
I'd like to propose a discussion about open-cluster-management.io to share awareness of how the project has addressed:

- inventory of available clusters in the fleet
- scheduling/assignment of intended workloads and configuration to a subset of clusters
- distribution of workload and configurations to a target set of clusters
- assignment of RBAC for clusters in the fleet
- extensible agent archi

[2021-07-27 15:51] smarterclayton opened #138 "Describe use cases and possible requirements for "enabling self-service of logical clusters""
A key component of large Kubernetes clusters is shared use, where the usage pattern might vary from externally controlled (via gitops / existing operational tools) to a permissive self-service model.  The most common partitioning model in Kubernetes is namespace, and the second most common model is cluster.  Self-service is currently limited by the set of resources that are namespace scoped for th

[2021-07-27 15:52] #133 closed

[2021-07-27 17:31] imjasonh commented on #137
Recording: https://youtu.be/aYjoidjN6Tk

Notes coming soon.

[2021-08-03 12:43] imjasonh opened #139 "Community Meeting, August 3, 2021"
At noon Eastern, 9am Pacific, 4pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T160000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2021-08-03 12:46] imjasonh commented on #139
@davidfestal working on rebasing kcp-dev/kubernetes on latest k/k 🎉

Discussions ongoing about:
- physical cluster registration mechanism (OCM's model is good, see last week #137)
- logical cluster -> physical cluster mapping ("objects in logical cluster A can only be scheduled to physical clusters X and Y") -- and how that works when logical clusters should be self-service
- kcp storage scaling g

[2021-08-03 12:47] imjasonh commented on #137
Still didn't get to note taking from the recording this week 😭

If this would be useful to you, please ping me and I'll prioritize it.

Next: https://github.com/kcp-dev/kcp/issues/139

[2021-08-03 12:47] #137 closed

[2021-08-03 17:54] smarterclayton commented on #138
Hoping to have a google doc soon to share, been canvassing various public projects, user stories I've heard, ecosystem reports, and asking questions ilke "how can self-service/tenancy for teams be abstracted like containers abstracted linux processes and kube abstracted rollouts"

[2021-08-09 16:34] imjasonh opened #141 "Community Meeting, August 10, 2021"
At noon Eastern, 9am Pacific, 4pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T160000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2021-08-09 16:34] imjasonh commented on #141
Topics carried over from last week:

- kcp storage scaling goals / limits (sharding strategies/goals/limits)
- resource scheduling: reusing node selectors vs. "location selectors"
- physical cluster registration mechanism (OCM's model is good, see last week #137)

[2021-08-09 16:34] imjasonh commented on #139
Recording: https://youtu.be/hSQSZx7H0c4
Next: https://github.com/kcp-dev/kcp/issues/141

[2021-08-09 16:34] #139 closed

[2021-08-09 16:36] imjasonh commented on #141
- How controllers can/should be run against logical clusters
  - controller tenancy (CRDs, ClusterRoles, controllers watching all namespaces)
  - chattiness/latency to kcp

[2021-08-12 09:00] maleck13 opened #143 "Do webhooks have a place in KCP"
Wondering if things like the validating and mutating webhooks have a place in KCP? Maybe they are already present?

[2021-08-12 11:20] imjasonh commented on #143
They're not currently implemented, but we will have to support them, to be able to support the ecosystem of controllers that expect/require them.

We're working through how Services work in a multicluster setup now, and as part of that we'll have to make sure the kcp layer can call those services too as webhooks.

[2021-08-12 14:54] davidfestal commented on #89
This should have been fixed by PR #116

[2021-08-12 14:54] #89 closed

[2021-08-12 14:58] davidfestal opened #144 "Rebase the Kubernetes `feature-logical-clusters` feature branch onto last Kube release (1.22)"

[2021-08-17 14:08] imjasonh opened #146 "Community Meeting, August 17, 2021"
At noon Eastern, 9am Pacific, 4pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T160000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2021-08-17 14:09] imjasonh commented on #141
Recording: https://youtu.be/zfdkYtVKbPM

[2021-08-17 14:09] imjasonh commented on #141
Next: https://github.com/kcp-dev/kcp/issues/146

[2021-08-17 14:09] #141 closed

[2021-08-17 15:57] imjasonh commented on #146
- progress on k/k fork rebased on 1.22: https://github.com/kcp-dev/kubernetes/tree/feature-logical-cluster-1.22
- IOU: design doc for multicluster scheduling, syncer, multicluster services

[2021-08-17 16:01] imjasonh commented on #146
- meeting next week, then no meeting Aug 31 or Sep 7?

[2021-08-17 16:13] smarterclayton commented on #146
* quick summary of policy discussion
* quick summary of sharding kcp instance discussion

[2021-08-20 06:50] garg-dhruv opened #148 "Error while trying to sync Knative Service"
### Steps to recreate the error:
1. Setup Knative serving on physical clusters.
2. Run _startKcpAndClusterController.sh_ script after making the following update in the script (as we want to sync knative service):

CC_PID=$!

### Error received in the cluster-controller logs:

I0819 16:36:36.726736  254618 discovery.go:157] processing discovery for resource services (services.serving.knative.dev)

[2021-08-23 02:48] vincent-pli opened #150 "Can not learn/sync api-resources: POD from local cluster"
I try the latest version, but the CRD: Pod can not learn from local cluster, and get the error message in the logs:
[code]

Can fix it with this issue:
https://github.com/kubernetes/kubernetes/issues/58311#issuecomment-357927553

[2021-08-24 01:34] imjasonh opened #152 "Community Meeting, August 24, 2021"
At noon Eastern, 9am Pacific, 4pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T160000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2021-08-24 01:34] imjasonh commented on #146
Recording: https://youtu.be/P-NXWzQ_gXk
Next: https://github.com/kcp-dev/kcp/issues/152

[2021-08-24 01:34] #146 closed

[2021-08-24 15:11] smarterclayton commented on #152
* Trying to get a design down of "how you might orchestrate logical clusters across N instances AND be able to do consistent list watch across N instances and M logical clusters" which is the core problem that blocks horizontal scaling of controllers outside of a single instance
  * That would inform a policy design (since if we can't do controller list watch across > 1 instance we may want to des

[2021-08-24 17:46] imjasonh commented on #152
Doc: https://docs.google.com/document/d/15nU_ZIArND41LksRVSnna4e5WrHabFgXXyH3_Z52kbw/
Recording: https://youtu.be/Qskr9mlD_AY

No meeting next two weeks, see you all again September 14!

[2021-08-24 17:46] #152 closed

[2021-08-30 14:11] davidfestal commented on #144
The rebased kubernetes branch is now at : https://github.com/kcp-dev/kubernetes/tree/feature-logical-clusters-1.22

@smarterclayton Should we make it the default branch (which seems the simplest) ? or rename it as `feature-logical-clusters` (and also rename the existing `feature-logical-clusters` branch as something like `feature-logical-clusters-obsolete`) ?

[2021-08-30 14:33] #144 closed

[2021-09-08 13:52] davidfestal opened #156 "Write Tests for the API Negotiation controller"
It would be greatly useful to write tests for the API Negotiation controller.
The idea is to write declarative tests that clearly and formally capture the intent of the API Negotiation.
Preferred framework would be KUTTL.

[2021-09-08 19:37] TheRealHaoLiu opened #157 "unable to use namespace added directly to a logical cluster"
when a namespace is created on the logical cluster and not created on the KCP admin cluster no resource can be created on in the namespace

step to reproduce:
- ensure that the .kcp directory is empty (prevent contamination from existing data in etcd)
[code]
- compile and run kcp
[code]
- set kubeconfig to KCP
[code]
- switch context to user
[code]
- add deployment crd
[code]
- create deployment
[

[2021-09-09 07:48] davidfestal opened #158 "Refactor the API Negociation controller"
The API Negociation controller logic should be refactored, in order to better match with the Spec/Status-reconciliation paradigm, and remove the remaining bits of "event-based" or "imperative" programming that are still used.

[2021-09-09 17:19] davidfestal opened #159 "Explore the impacts / challenges of using DevWorkspace Operator against KCP"

[2021-09-13 14:32] imjasonh opened #160 "Community Meeting, September 14, 2021"
At noon Eastern, 9am Pacific, 4pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T160000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2021-09-13 17:07] davidfestal opened #161 "Include Core KCP resources into what can be synchronized with a physical cluster"
For now Core KCP resources, suc as ConfigMap, Secret, RoleBinding, ServiceAccount, etc ... are not synced by the syncer, even if added in the list of resources to sync when starting KCP.

They should be taken into account by the syncer.

This is a pre-requisite for issue https://github.com/kcp-dev/kcp/issues/159

[2021-09-14 07:20] lburgazzoli opened #162 "Publish container images for kcp"
One area where kcp could also be useful is for testing controllers and operators and having a container image could simplify the test set-up as example, I'm currently working on an operator written using the [java-operator-sdk](https://github.com/java-operator-sdk/java-operator-sdk) where I don't need all the features and controller provided by a standard kubernetes distro but only a control plane

[2021-09-14 13:13] imjasonh commented on #162
Images are already published in CI to GHCR: https://github.com/kcp-dev/kcp/pkgs/container/kcp%2Fsyncer-c2e3073d5026a8f7f2c47a50c16bdbec -- with tags for short commit SHAs:

[code]

We can improve this over time (in particular the image name, which is terrible). If you try it out and give feedback about what worked/didn't that would help us improve it.

[2021-09-14 13:40] mdelder commented on #160
I’d like to propose presenting a working prototype of using KCP & Open Cluster mgmt to distribute work across clusters.

https://github.com/qiujian16/kcp-ocm (specifically the `demo-improvement` branch).
The example shows:

- KCP logical cluster that is watched by a controller (“kcp-ocm integration controller”) that will react to new Deployments and schedule the work around to physical clusters.
-

[2021-09-14 13:43] imjasonh commented on #160
- Demo deliverables for KubeCon timeframe (~1 month):
  - CRD negotiation
  - TMC progress:
    - collecting groups of resources that need to be scheduled together
    - syncing those to one of N available physical clusters
    - stretch: moving them when physical clusters become unavailable

- Summarizing ongoing conversations around kcp sharding @smarterclayton @stevekuznetsov

[2021-09-14 14:23] lburgazzoli commented on #162
As per https://github.com/kcp-dev/kcp/issues/111, I tough the image is just the syncer, not kcp.
Am I wrong ?

[2021-09-14 14:43] imjasonh commented on #162
You are totally correct, sorry for misreading.

It should be easy enough to build the image, but if the intention is to run kcp inside a Kubernetes cluster, I'm not sure that's something we've really explored or prioritized yet, so things might not work very well. In particular, kcp presents a K8s control plane backed by etcd, which should run fine inside K8s with its own etcd storage, but it migh

[2021-09-14 15:13] lburgazzoli commented on #162
Not at all, my only goal is to be able to spin up kcp as part of my integration tests running locally on my PC or as part of GitHub Actions. As today I use kind or minikube but they are overkill for my use case where in essence I don't need any of the controller that they ship.

[2021-09-14 15:46] davidfestal commented on #160
- Current status of the prototype for DevWorkspaces over KCP

[2021-09-14 16:57] imjasonh commented on #160
OCM demo AIs:
- Make sure app experience doc is clear and shared so OCM folks can see where we're going/thinking
- As TMC design doc evolves, consider the model that represents how locations+placement are bound / scheduling, find alignment with OCM
- Experience around API negotiation, cluster shouldn't be schedulable unless the request is valid there based on negotiation

Demo AIs:
- schedule whol

[2021-09-15 13:26] smarterclayton commented on #157
Ah, this is because the namespace admission cache is reading from the root logical cluster, not per logical cluster.  The cache should perform list across logical cluster then partition by cluster-name.  That's actually a great opportunity to tweak client-go's default MetaNamespaceNameFunc

[2021-09-15 13:33] smarterclayton opened #163 "Demo 2 Goals"
Demo 2 should build on the first demo and show concrete progress towards the three exploration goals of KCP:

1. A minimal kube-apiserver as a library that can be forked and easily customized in code at the necessary layers
2. Transparent multi-cluster of Kube-native applications that preserves 95% of existing developer expectations
3. Kube-like control plane as a service enabling developer team i

[2021-09-15 19:13] imjasonh commented on #160
Recording: https://youtu.be/LOZtgauNQnA

[2021-09-16 18:24] karolz-ms opened #165 "Namespace deletion (via kubectl) hangs"
**Repro steps**
[code]

**Expected**
The namespace should be deleted immediately (there is nothing in it)

**Actual**
`kubectl` says `namespace some-test deleted`, but then it never returns.
If `kubectl` is interrupted (`^C`) and re-run, the same thing happens.

[2021-09-17 07:04] metacosm commented on #162
Hehe, good to see you're on top of things, @lburgazzoli! I was thinking that `kcp` could indeed be interesting in a testing context for operators.

[2021-09-17 07:32] metacosm commented on #165
A finalizer issue, maybe?

[2021-09-17 16:03] karolz-ms commented on #165
Finalizer on what object though? 🤔

[2021-09-17 19:17] jnpacker commented on #160
This is the committed files from the demo: https://github.com/TheRealHaoLiu/kcp-ocm/pull/1

[2021-09-20 17:29] #83 closed

[2021-09-21 12:38] imjasonh opened #167 "Community Meeting, September 21, 2021"
At noon Eastern, 9am Pacific, 4pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T160000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2021-09-21 12:38] imjasonh commented on #160
Next: https://github.com/kcp-dev/kcp/issues/167

[2021-09-21 12:38] #160 closed

[2021-09-21 12:40] imjasonh commented on #167
Demo 2: https://github.com/kcp-dev/kcp/issues/163

- progress toward namespace-granularity scheduling+moving
- Physical Cluster vs. "Location"
- multi-cluster Ingress
- defining "Workspace" / policy

[2021-09-21 15:07] smarterclayton commented on #167
* Quick summary on documents shared on the mailing lists

[2021-09-21 15:54] davidfestal commented on #167
- Demo of [running DevWorkspace controller on top of KCP](https://youtu.be/t6vfzUCiFwM): not that hard
  - Spotted (and fixed) existing limitations / unsupported use-cases
  - But blocking point: WebHooks ? They are not an option there. Should they be added back to KCP with a way to access to the corresponding service running in an underlying physical cluster (possibly based on transparent multi-c

[2021-09-21 16:29] smarterclayton commented on #167
Discussion of API typing, evolution, and binding to workspaces https://drive.google.com/file/d/1yn-9q5q9YsGiLQQbjwGYgsi_9wdIJp62/view?usp=drive_web

[2021-09-22 17:12] #161 closed

[2021-09-22 17:29] imjasonh commented on #167
Recording: https://youtu.be/iI9qZRlj1dA

[2021-09-23 09:37] davidfestal opened #172 "Support protobuf-based requests for all client-go scheme resources"
In some contexts, like the `controller-runtime` library used by the Operator SDK,
all the resources of the `client-go` scheme are created / updated using the `protobuf` content type.

However when these resources are in fact added as CRDs, in the KCP minimal API server scenario,
these resources cannot be created / updated since the `protobuf` (de)serialization is not supported for CRDs.

So for ex

[2021-09-23 09:38] davidfestal commented on #172
Fixed on the kubernetes feature branch side in PR https://github.com/kcp-dev/kubernetes/pull/9

[2021-09-23 12:20] #172 closed

[2021-09-23 14:53] #165 closed

[2021-09-23 15:53] karolz-ms commented on #165
thanks for quick resolution! ❤️

[2021-09-23 17:48] davidfestal commented on #157
Already done (in a hacky way, sure) in the context of the CRD tenancy work. So the changes to fix this issue are simple and quite the same as those already made in the CRD controllers.
See the attached PR in the Kubernetes feature branch.

[2021-09-23 17:51] davidfestal opened #174 "Make the Namespace controller multi-cluster aware"
In order to be able to delete namespaces (and cleanup their content) correctly, we should make the NamespaceController multi-cluster aware, as had been to the CRD controllers in the context of CRD tenancy.

[2021-09-27 18:38] imjasonh opened #176 "Community Meeting, September 28, 2021"
At noon Eastern, 9am Pacific, 4pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T160000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2021-09-27 18:38] imjasonh commented on #167
Next: https://github.com/kcp-dev/kcp/issues/167

[2021-09-27 18:38] #167 closed

[2021-09-27 18:40] imjasonh commented on #176
@stevekuznetsov discussing (demoing?) transparent multi-shard list (#175)

@imjasonh progress on namespace-wide scheduling/moving
- dynamic type-discovering informer (also useful for syncer?)
- GVKs and GVRs, oh my!

[2021-09-28 16:04] davidfestal commented on #176
- Ongoing fixes related to namespace management:
  - adminssion, controller.
  - Have to continue with RBAC ...
- Testing the kcp-ingress on the DW controller over KCP scenario
  - creating duplicate of objects (splitter pattern may bring problems according to controller logic)

[2021-09-30 14:54] imjasonh opened #177 "Community Meeting, October 5, 2021"
At noon Eastern, 9am Pacific, 4pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T160000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2021-09-30 14:55] imjasonh commented on #176
Recording: https://youtu.be/p7Az2MeeGic
Next: https://github.com/kcp-dev/kcp/issues/177

[2021-09-30 14:55] #176 closed

[2021-10-04 10:07] #150 closed

[2021-10-04 17:19] #157 closed

[2021-10-04 17:19] #174 closed

[2021-10-05 13:30] davidfestal commented on #177
- Status of the [kcp-ingress](https://github.com/jmprusi/kcp-ingress/tree/envoy#envoy-control-plane) work:
  - quick status
  - demo as part of an enhanced "DevWorkpaces op top of KCP" experience
  - discussion about the main challenge: status syncing vs status ownership

[2021-10-05 15:26] davidfestal opened #180 "Create a first sketch of APIs / CRDs for resources like `Workspace`, `WorkspaceShard`, `APIBindings`, etc ..."
Create a first sketch of APIs / CRDs for resources like `Workspace`, `WorkspaceShard`, `APIBindings`, etc ...

[2021-10-05 16:04] imjasonh commented on #177
- namespace-granularity scheduling/rescheduling; still needs testing
- hacking on support for controller use cases; detecting and redirecting API server access to kcp
  - priority of supporting webhooks? esp. regarding status of multi-cluster services

[2021-10-05 16:31] imjasonh commented on #177
Prototype 3:
- descheduling based on some vague definition of "cost" ($$, latency) or available scheduleable resources
- report "cost" so users can see it and take action manually
- demo: raise/lower the cost of a cluster and see workloads reschedule in response
- explore PV sync/movement

[2021-10-07 14:57] davidfestal opened #183 "Cannot watch with wildcards (across logical clusters) if the CRD hasn't been added in the `admin` logical cluster"
**Describe the bug**

One cannot watch with wildcards (across logical clusters) if the CRD of the related API Resource hasn't been added in the `admin` logical cluster first.

**To Reproduce**
Steps to reproduce the behavior:
1. Run KCP
2. `kubectl --context=user apply -f contrib/crds/apps/apps_deployments.yaml`
3. `kubectl --context=user api-resources`
    => deployments are in the API Resources

[2021-10-15 16:37] lburgazzoli commented on #162
so yes it is quite simple to generate a container image for `kcp` with `ko` however, what should be the best and easier way to access the `kcp` ?

I initially tough to use volumes thus having the `.kcp` persisted outside of the container but it may cause troubles:

[code]

Even if kcp starts, then content of the volume is owned by root and it is not accessible by standard users:

[code]

This can

[2021-10-18 21:03] imjasonh opened #187 "Community Meeting October 19, 2021"
At noon Eastern, 9am Pacific, 4pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T160000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2021-10-18 22:30] karolz-ms commented on #187
I would love to hear thoughts on using `kcp` as a foundational building block for (application) developer tooling--I described briefly the scenario [here](https://groups.google.com/g/kcp-users/c/UE1QrVXvTNY).

More specifically (judging from recent community calls), the main focus of current work on `kcp` is on multi-cluster orchestration problem space, which is a different from mine. I can succes

[2021-10-19 19:51] imjasonh commented on #187
Recording: https://youtu.be/rUOwpAHVw20

[2021-10-20 13:19] ardaguclu opened #189 "Handling namespace not found in downstream when creating deployment"
**Describe the bug**
Namespace is created in upstream but not exist in downstream. When creating a deployment in that namespace, it does not return error and stuck as below;

[code]

**To Reproduce**
Started kcp;
[code]
Started cluster-controller;
[code]
Applied local kind cluster;
[code]
Run deployment-splitter;
[code]
Created namespace `demo` in upstream and applied;
[code]
**Expected behavior**

[2021-10-21 07:49] sttts commented on #143
@maleck13 https://github.com/kubernetes/enhancements/pull/2877

[2021-10-21 08:36] nicolaferraro opened #190 "Allow passing flags for OIDC"
I've seen an attempt to use OIDC with KCP in https://www.youtube.com/watch?v=FD_kY3Ey2pI (incomplete). I'm thinking to create a demo based on that feature, so it would be nice if kcp could accept oidc/rbac related flags on startup without having to hack on code.

Is this something planned? I could also help.

[2021-10-21 12:34] lburgazzoli opened #191 "Cascading deletion not working - need to enable the garbage collection controller"
**Describe the bug**
I'm experimenting with [camel-k](https://camel.apache.org/camel-k/latest/index.html) to get it working with KCP as a Kubernetes control plane and I noticed that as opposite as when running on a "classic" Kubernetes cluster, when a camel-k custom resource is deleted, the related CRs and standard Kubernetes created by the camel-k operator are not automatically delete.

As exampl

[2021-10-21 12:56] sttts commented on #143
True. Everything that is not self-contained and calls out to other resources or services won't fit into CEL.

[2021-10-21 12:58] sttts commented on #143
Which leads us to a nice problem: if we have our copy of the webhook, it will be based on different resources than the one in the downstream cluster.

[2021-10-26 14:09] imjasonh opened #192 "Community Meeting October 26, 2021"
At noon Eastern, 9am Pacific, 4pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T160000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2021-10-26 14:09] #187 closed, assigned to nobody

[2021-10-26 16:45] #189 closed, assigned to nobody

[2021-10-28 15:42] imjasonh opened #193 "Community Meeting November 2, 2021"
At noon Eastern, 9am Pacific, 4pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T160000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2021-10-28 15:43] #192 closed, assigned to nobody

[2021-10-28 18:56] karolz-ms opened #194 "Standalone run of kcp complaints about failing to list v1.Service and v1.Endpoint resources"
### To Reproduce
1. build and run cmd/kcp
2. Watch the output

### Expected behavior
No errors in the output

### Actual behavior
Repeated errors like

[code]

### Additional context

This happens because "AvailableConditionController" that is part of API Aggregator server [is trying to list v1.Services and v1.Endpoints](https://github.com/kcp-dev/kubernetes/blob/feature-logical-clusters-1.22/stag

[2021-10-28 21:07] karolz-ms opened #195 "Flexible API server, API resource, and controller composition for KCP"
### Problem statement
While experimenting with KCP as a building block for local workload orchestration on a dev machine I realized that I would like to limit KCP composition to just what I need for this scenario. That is, I want local API server with a few standard API resources and controllers. Right now I just need namespaces and custom resource definitions plus associated controllers, really--

[2021-11-01 19:16] imjasonh commented on #193
Some possible discussion topics:
- **Workspaces:** should they be a resource outside of logical clusters, or inside them, put there by some external system list/watching and reconciling logical clusters? Scaling characteristics of list/watching logical clusters, list/watching workspaces (esp only those a user has access to)
- **Authn/Authz:** currently, authn and RBAC is done at kcp level only, an

[2021-11-01 20:25] imjasonh commented on #193
- possible/likely scaling ceiling for absolute total # of shards @stevekuznetsov @sttts
  - stated goal has been 1000 shards, this might be impossible under current scheme

[2021-11-02 13:38] #128 closed

[2021-11-02 20:39] imjasonh commented on #193
Recording: https://youtu.be/TJwodOGD_Ho

Notes:
- 🚨**Starting next week, meetings will be an hour earlier**🚨 (11am Eastern, 8am Pacific, 3pm UTC)
- **Workspace lifecycle** is currently underdesigned, confusion about the plan may stem from lack of good updated documentation and unclear terminology (a usual suspect) -- we should fix this
- **Authn/authz:** summarizing @smarterclayton: syncers should

[2021-11-08 15:23] #183 closed

[2021-11-08 19:55] imjasonh opened #200 "Community Meeting November 9, 2021"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2021-11-08 19:55] imjasonh commented on #193
Next: https://github.com/kcp-dev/kcp/issues/200

[2021-11-08 19:55] #193 closed

[2021-11-09 15:21] imjasonh commented on #200
Some recent PRs:
- https://github.com/kcp-dev/kcp/pull/203
- https://github.com/kcp-dev/kcp/pull/202

Discussion topics:
- virtualizing resources to avoid duplication in storage

[2021-11-09 15:51] imjasonh commented on #200
Clayton shared the terminology ADR, take a look if you haven't: https://docs.google.com/document/d/1r0iiB7K7MxtQ9COntdkmQOZvdTB44QgA5GIY991_9uI/edit#heading=h.1rqq9vpu5ymb (shared with kcp-dev@)

[2021-11-09 17:17] #180 closed

[2021-11-09 20:29] imjasonh opened #205 "e2e tests in CI don't seem to finish"
**Describe the bug**

https://github.com/kcp-dev/kcp/runs/4156803357?check_suite_focus=true
([previous attempt](https://github.com/kcp-dev/kcp/actions/runs/1440871527/attempts/1))

**To Reproduce**

1. Add the `check-demos` label to a PR
2. Wait
3. Observe the "Build and Run Demos" workflow doesn't complete (I cancelled after 41 minutes)

There also don't appear to be a lot of useful logs, though

[2021-11-09 20:43] ncdc commented on #205
Testing locally against main, it seems to be the kubecon demo that fails, here:

[code]

Output from the log:

[code]

[2021-11-09 20:45] ncdc commented on #205
Aha:

[code]

[2021-11-09 20:46] ncdc commented on #205
The files are 1 level up (not in the kind subdir)

[2021-11-09 21:04] ncdc commented on #205
Fixed that locally. Now seeing this in the cluster controller log:

[code]

[2021-11-09 21:18] ncdc commented on #205
Whoops, looks like an issue with my local env. Ignore for now!

[2021-11-10 21:10] imjasonh commented on #200
Recording: https://youtu.be/guMv_RIDCxI

[2021-11-12 18:58] ncdc opened #206 "Do we want to allow pods to talk to pcluster apiservers?"
**Is your feature request related to a problem? Please describe.**
~Pre-kcp, when I write a controller and deploy it as a pod (via a deployment) to my cluster, it typically talks to `kubernetes.default.svc` using in-cluster config to communicate with the apiserver (e.g. to manipulate CRs).~

~Post-kcp, when I apply a deployment to kcp, the resulting pod(s) run in a physical cluster, but we want th

[2021-11-16 03:52] imjasonh opened #208 "Community Meeting November 16, 2021"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2021-11-16 03:52] imjasonh commented on #200
Next: https://github.com/kcp-dev/kcp/issues/208

[2021-11-16 03:52] #200 closed

[2021-11-16 15:25] imjasonh commented on #208
- multicluster API import/export controls -- how an API provider can observe/manage the rollout of a new API version across workspaces; how workspaces can opt in/out of changes and observe their workspaces' APIs
- kcp work packages: https://docs.google.com/document/d/1jN6BdhUUIESeHw3_f6HwsNwVM2Ytabr6usUQhYMcNd8/edit#heading=h.v0ybspmfdqn3

[2021-11-16 17:35] stevekuznetsov opened #209 "Design & Implement Cross-Cluster Listers and Informers"
Right now, a cross-cluster informer can be created by simply passing in a cross-cluster client (using `*`) for the source client in constructor. As the `MetaNamespaceKeyFunc()` is already cluster-aware, all of the internal machinery seems to work correctly.

On the consumer end, though, we need to:
- expose a simple splitter func for the cluster/namespace/name
- expose new interfaces for listing t

[2021-11-17 19:15] imjasonh commented on #190
This is something we're interested in adding. If you're still interested in contributing it, I'd happily help answer any questions or review any PRs.

[2021-11-17 21:30] imjasonh commented on #208
Recording: https://youtu.be/GgCur1Sjn4w

[2021-11-19 15:23] ncdc opened #220 "Cluster wildcard: attempt to CRUD non-existent CRD panics"
**Describe the bug**
Doing a wildcard cluster operation against a CRD GVR that does not exist causes a panic.

**To Reproduce**
Steps to reproduce the behavior:
1. Start kcp
2. `k get --raw '/clusters/*/apis/foo.com/v1/blarg'`
3. Panic:

[code]

**Expected behavior**
No panic

**Additional context**
This is a bug in kcp-dev/kubernetes. If https://github.com/kcp-dev/kubernetes/blob/ab2ca04a589440bf

[2021-11-19 16:32] ncdc commented on #220
@jmprusi is working on this. Assigning to myself as GH won't let me assign.

[2021-11-19 16:54] ncdc opened #221 "Introduce a logging interface, use structured logging"
We should introduce interface such as go-logr and revamp all our logging to use it. Additionally, we should use structured logging for key-value pairs everywhere.

[2021-11-19 17:16] stevekuznetsov opened #222 "Flake: KCP MultiCluster should receive events on concurrent watches in same order"
[code]

[2021-11-19 23:32] stevekuznetsov opened #225 "Race in Autoregister Controller Startup"
Very infrequently when starting `kcp`, I see:

[code]

Full logs (I sent `SIGINT` midway, when we cancel all and the stacktraces begin):

<details>
<summary><code>kcp.log</code></summary>
<code>
$ make build && rm -rf .kcp/ && ./bin/kcp start --install_cluster_controller
go build -o bin ./cmd/...
I1119 15:27:56.192827 1269340 etcd.go:40] Creating embedded etcd server
Connected to etcd 120373513343

[2021-11-19 23:47] stevekuznetsov commented on #225
This doesn't seem to heal, either - so something is not creating `apiservices.apiregistration.k8s.io` silently?

[2021-11-19 23:50] stevekuznetsov commented on #225
These keys are also suspicious ... `clusters.cluster.example.dev#$#v1alpha1.cluster.example.dev` means that the *cluster* on the `APIService` was `v1alpha1.cluster.example.dev` ?

[2021-11-22 15:02] ncdc commented on #225
Fixed by #224

[2021-11-22 15:02] #225 closed

[2021-11-22 15:03] ncdc commented on #225
Actually, is that right @stevekuznetsov? (I was closing this based on your comment in #224 that it fixes this.)

[2021-11-22 17:41] stevekuznetsov commented on #225
Yeah, I think this was caused by creating CRDs with `cluster=*` and not actually a race.

[2021-11-22 21:57] imjasonh opened #230 "Community Meeting November 23, 2021"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2021-11-22 21:58] imjasonh commented on #230
- @imjasonh walkthrough namespace scheduler: https://github.com/kcp-dev/kcp/compare/main...imjasonh:namespace-scheduler

[2021-11-23 12:01] jmprusi opened #232 "CRD Bootstrap causes KCP to exit when restarting KCP."
**Describe the bug**
When starting KCP with a previous existing .kcp/data directory. KCP fails to bootstrap due to being unable to bootstrap the CRDs:
- clusters.cluster.example.dev
- negotiatedapiresources.apiresource.kcp.dev
- apiresourceimports.apiresource.kcp.dev

**To Reproduce**
Steps to reproduce the behavior:
1. Start KCP with --install_cluster_controller
2. Stop KCP
3. Start again KCP wit

[2021-11-23 12:50] #220 closed

[2021-11-23 13:15] vincent-pli opened #233 "Do we have any guide or design document"
Maybe I missing something, but it's really a tough day for me.

At very beginning, I start the kcp by `go run ./cmd/kcp start`, it works, and I get a `kubeconfig` generated in `./kcp/admin.kubeconfig`, that's great, but I have no idea why there is three clusters and three contexts. but at least it could work.

Then I try to start `cluster controller` by
[code]
then I try to create the CR: `cluster

[2021-11-23 14:20] ncdc opened #236 "Cluster controller unable to sync - can't find context"
**Describe the bug**
The cluster controller is currently broken because of cluster name prefixing.

**To Reproduce**
Steps to reproduce the behavior:
1. Start kcp & cluster controller
2. Add a `Cluster` pointing at a valid cluster (e.g. kind)
3. `Cluster` status will eventually show an error like this:
[code]

**Expected behavior**
No error & syncer is installed.

**Additional context**
When we ad

[2021-11-23 14:21] ncdc commented on #233
error installing syncer: no context with the name of the expected cluster: 9-30-189-42-6443---user,

This is a bug we ran into yesterday and are actively working to fix it. I have filed #236 for this.

The repo is currently in a state of flux because of some experimentation we're doing to support multiple instances (shards) looking like one. This is a short week at least in the US, so if we don't

[2021-11-23 14:41] #232 closed

[2021-11-23 16:01] imjasonh commented on #208
Next: https://github.com/kcp-dev/kcp/issues/230

[2021-11-23 16:03] imjasonh commented on #230
@ncdc API inheritance stumbling blocks
@smarterclayton stories from the database side

[2021-11-23 16:15] stevekuznetsov commented on #233
@vincent-pli I'm sorry you ran into so many issues - we did not have a good set of tests for this particular use-case so it was not easy to make sure it stayed functional. I've written a first-pass of a test using Bash in [this commit|https://github.com/kcp-dev/kcp/pull/231/commits/44dece3325ba04fe1c2b48ec2b2f77eb11160350] - I hope soon we will gate merges on this working.

[2021-11-24 00:29] vincent-pli commented on #233
Thanks @ncdc  and  @stevekuznetsov  for your quick reply.
But I still wonder to know if we have some design or arch document to describe some details, I mean for example the three clusters, contexts...

[2021-11-24 11:40] sttts opened #241 "Test Issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2021-11-24 12:29] #241 closed

[2021-11-24 12:31] sttts opened #243 "Test issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2021-11-24 14:38] #243 closed

[2021-11-24 15:03] stevekuznetsov commented on #233
I think @imjasonh and @davidfestal might be able to point you in a better direction, but at least some what you saw was simply bugged. The syncer should learn about resources from the physical cluster it sync to, but there is some interaction with the API negotiation that could use some explanation.

[2021-11-24 15:28] sttts opened #245 "Test issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2021-11-24 18:17] stevekuznetsov opened #246 "Conditions Library for Workspaces"
We should take a look at the Cluster API Conditions library and see if we can somehow make it work with `kcp`. It's not clear if there is any downside to using one type of condition across the entire API like Cluster API does, or if there would be benefit to making their library generated code so as to mimic generics, but we should chat with the maintainers there to see what they suggest. As it is

[2021-11-25 17:24] #236 closed

[2021-11-29 15:19] ncdc commented on #246
FYI @fabriziopandini @vincepri if you all would be open to chatting, please let us know. Thanks!

[2021-11-29 15:31] vincepri commented on #246
Definitely interested! Is there a meeting we should be invited to?

[2021-11-29 15:48] imjasonh commented on #246
I don't have a horse in the race, but I know of another alternative Conditions API library in Knative: https://pkg.go.dev/knative.dev/pkg/apis/duck/v1#Status

If you embed the `duckv1.Status` type in your `FooStatus` struct ([example](https://pkg.go.dev/knative.dev/serving/pkg/apis/serving/v1#ServiceStatus)), you can do basically `foo.Status.GetCondition(Ready).IsTrue()`

It's probably six of one

[2021-11-29 15:57] stevekuznetsov commented on #246
@imjasonh that library seems to collapse status to [one of two options](https://pkg.go.dev/knative.dev/pkg@v0.0.0-20211129153605-754f332c0c51/apis#ConditionType) - is my read correct? Already in `Workspace` we have a case for "unschedulable" conditions so I'm not sure if that would work. Although, I'm not *that* sure that strongly typed condition types make that much sense since it's not going to

[2021-11-29 16:02] imjasonh commented on #246
Those are the only two that the `pkg/apis` package provides by default, but you can define your own with `ConditionType("Unschedulable")` or `ConditionType("IsAPony")` or whatever.

[2021-11-29 17:34] ncdc commented on #246
@vincepri we have kcp community meetings Tuesdays at 11am ET. If that time works for you, we can add discussing conditions to a future meeting agenda and find a Tuesday that works for everyone. WDYT?

[2021-11-29 18:59] ncdc commented on #209
client-go's hand-written base code for the cache store and shared index informers all are written based on a hard-coded key function that only knows how to encode an object's namespace (optionally) and name. The generated informers and listers follow from this, therefore only supporting namespace and name.

Do we want to...

1. change the key funcs to assume <cluster, namespace, name> always (i.e.

[2021-11-29 19:22] imjasonh opened #254 "Community Meeting November 30, 2021"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2021-11-29 19:22] imjasonh commented on #230
Next: https://github.com/kcp-dev/kcp/issues/254

[2021-11-29 19:23] imjasonh commented on #230
Recording: https://youtu.be/OFPNKZ0XWe8

[2021-11-29 19:24] #230 closed

[2021-11-29 20:19] ncdc opened #256 "Use go-install.sh for openshift-goimports"

[2021-11-29 22:37] stevekuznetsov commented on #254
Chat about https://github.com/kcp-dev/kcp/issues/246

[2021-11-30 14:17] #256 closed

[2021-11-30 14:35] davidfestal commented on #254
- Status of the work on virtual workspaces (demo ?):
  - generic code to build a Virtual Workspace API server dedicated to a group, and root it at some prefix.
  - use of this to build the "personnal workspaces" virtual workspaces.

[2021-11-30 14:45] imjasonh commented on #254
- #253 adds OIDC authentication flags (`--oidc-issuer-url`, etc.), needs rework after DRYing out changing flag parsing behavior in #228
- namespace scheduler progress:
  - separate queues for resources, namespaces and clusters
  - enqueueing resources when namespaces are rescheduled
  - some unit tests!
  - needs e2e tests

- [Prototype 2 planning / progress](https://docs.google.com/document/d/1jN

[2021-11-30 15:38] stevekuznetsov commented on #209
I think we must do something on top - a user of the listers that is not cluster aware should not need to know that the key they are using will contain cluster information, especially since naive clients will be within one lcluster anyway.

[2021-11-30 16:25] imjasonh commented on #246
The CAPI Conditions package is here: https://pkg.go.dev/sigs.k8s.io/cluster-api/util/conditions

[2021-11-30 18:14] fabriziopandini commented on #246
Happy to provide context on CAPI conditions if required

[2021-11-30 19:38] ncdc commented on #209
Also worth remembering that in our kube fork, we have made a change to `cache.MetaNamespaceKeyFunc` to include the cluster name as part of the name segment. At the very least, this has to be resolved & finalized for going back into upstream kube, even if we don't have direct support for informers/listers that are logical cluster aware.

[2021-12-01 08:56] sttts commented on #209
Question is also how to opt into the "*" behaviour. If cross-shard client access is only possible through a virtual workspace, the default behaviour with empty cluster name could be cross-shard. So the user actually opts into queries for specific shards.

[2021-12-01 16:21] stevekuznetsov commented on #209
I guess as a straw-man, I expect:

- a new pair of funcs to encode and decode a cluster-aware key
- the ability to configure the func used in the reflector/store
- explicit opt-in to a cross-cluster lister and informer by using the cross-cluster client

Without explicit choice, no client call will ever cross cluster boundaries.

[2021-12-01 21:38] stevekuznetsov opened #264 "Something Goofy in CRD Bootstrapping Wastes 5s"
The bootstrapping in `config/bootstrap.go` is supposed to be quick. Something about the ordering of it makes the process take *just* over 5s, making me think we're hitting some retry/backoff since we're rushing too early to create the CRD and perhaps need to wait on ... something?

[code]

[2021-12-02 01:03] stevekuznetsov commented on #264
Actually now that I notice we're doing CRD bootstrapping in each logical cluster serially, 10s of the 10.2s of our e2e tests comes down to this. Would be super to cut it out.

[2021-12-02 01:04] stevekuznetsov commented on #264
My first guess would be that we create the CRD before the controller that accepts them is ready to go or something or we hit a backoff/retry?

[2021-12-02 01:24] kylape commented on #264
The CRD established condition is set to false with a reason of `Installing` immediately, and then 5 seconds later it is set to `True`with reason `InitialNamesAccepted`.

It seems like a 5 second delay is hard-coded into the CRD handler after the `Established` condition is `False` and the `NamesAccepted` condition is `True` (https://github.com/kcp-dev/kubernetes/blob/feature-logical-clusters-1.22/s

[2021-12-02 15:40] stevekuznetsov commented on #264
Ah, right - I remember reading that handler logic once, now... nice digging! Let's un-hardcode the master count, I think? @imjasonh @smarterclayton any downsides to that?

[2021-12-02 15:45] ncdc opened #268 "Possible flake in TestWorkspaceController"
Seen on main after merging #212 in https://github.com/kcp-dev/kcp/actions/runs/1531127337

[code]

[2021-12-02 15:46] ncdc commented on #264
To unblock us, resetting to 1 sounds reasonable. Perhaps we should also file an issue to come back to it, so we don't forget?

[2021-12-02 17:21] stevekuznetsov opened #270 "test: e2e: allow "bring your own" kcp mode"
Right now the e2e framework starts a `kcp` server or servers internally to the test. While this has many advantages, in some cases a dev may want to provide a running `kcp` to a test instead (for example when they control where break-points and/or debugging exist in the running server). We should allow for this somehow, but not try to check that the given `kcp` is conformant, etc.

/cc @sttts

[2021-12-02 17:21] stevekuznetsov opened #271 "test: e2e: add some mechanism for retrieving objects from servers"
Often at the end of a failing e2e run, it's nice to look at the objects in question on the `kcp` server(s) involved in the test. Some generic-ish process to log which objects get touched by the test and dump those would be cool.

[2021-12-02 19:37] #268 closed

[2021-12-03 10:32] pweil- opened #275 "Register a physical cluster with KCP: Syncer runs as an agent"
Use Case: Register a physical cluster with KCP

Objectives

- [ ] User can register a physical cluster with KCP
- [ ] Syncer can be run as an agent in a cluster
- [ ] Syncer uses minimal permissions

Details:

Syncer runs as an agent

Proposed: kcp start syncer --from SHARD_URL --to <implicit_in_cluster_Kubeconfig/explicit_kubeconfig>
Proposed: syncer emulates “watch workspaces in this location” b

[2021-12-03 10:33] pweil- commented on #275
/assign @imjasonh

@imjasonh `syncer has a set of builtin strategies that can be easily contributed to` felt like maybe it was separate from the first two but I didn't break it out since it was under the same high level item in our doc.  I can do that if you agree.

[2021-12-03 10:35] pweil- opened #276 "Register a physical cluster with KCP: Syncer uses minimal permissions"
Use Case: Register a physical cluster with KCP

Objectives:

- User can register a physical cluster with KCP
- Syncer can be run as an agent in a cluster
- Syncer uses minimal permissions

Details:

Syncer uses minimal permissions

Proposal: webhook admission controller to ensure only syncer is creating namespaces with the configured prefix
Proposal: RBAC controller to grant syncer full access to

[2021-12-03 10:39] pweil- opened #277 "Workspace Administration and Tenancy: Prefill APIs"
Use Case: Workspace Administration and Tenancy

Objectives:

- [x] https://github.com/kcp-dev/kcp/pull/302: An admin can prefill a workspace with a set of APIs that match a type
- [ ] A user can be granted workspace access with minimal object/etcd fanout, depending on https://github.com/kcp-dev/kcp/issues/278 without tons of RBAC objects in every workspace (bootstrap policy).
- [x] https://github.

[2021-12-03 10:39] pweil- commented on #277
Notes from slack:

[code]

[2021-12-03 10:42] pweil- opened #278 "Workspace Administration and Tenancy: Workspace minimal RBAC"
Use Case: Workspace Administration and Tenancy:

Objectives:

- [ ] An admin can prefill a workspace with a set of APIs that match a type
- [ ] A user can be granted workspace access with minimal object/etcd fanout
- [ ] A workspace can be typed as “organizational” and contain other workspaces.  Initially there will be a single org workspace, admin
- [ ] Lack of workspace in org workspace gates us

[2021-12-03 10:43] pweil- commented on #278
@s-urbaniak

[2021-12-03 10:48] pweil- opened #279 "Deploy an Application: Switch to a logical cluster"
Use Case: Switch to a logical cluster

Objectives:

- [x] User can create a workspace that will be considered as owned by him
- [x] User can view the list of the workspaces owned by him
- [x] User can delete a workspace owned by him
- [x] User can the list of the workspaces he has access to based on his group membership
- [x] User can switch to a workspace

This implies:
- [x] implementing a virtu

[2021-12-03 10:50] pweil- opened #280 "Deploy an Application: SA Kubeconfigs point to KCP"
# Use Case: Deploy an unmodified application and make it transparently talk to the kcp apiserver

### Objectives:

- [x] An unmodified controller that needs to manipulate its own CRs (e.g. Tekton) deployed to kcp "just works"
- [x] The user doesn't need to do anything to make the controller running on a pcluster know how to talk to the kcp apiserver

### Details

Deploying an application to KCP sh

[2021-12-03 10:52] pweil- opened #281 "Deploy an Application: ImagePullSecrets are copied to physical clusters"
Use Case: ImagePullSecrets are copied to physical clusters

Objectives:

- [ ] User can switch to a workspace
- [ ] User can create a deployment
- [ ] Scheduler places the workload, syncer agent on the kind cluster performs the spec down -> status up dance
- [ ] Workspaces with no pclusters available show apps as unschedulable
- [ ] Ingress allows access to the application placed on a physical clu

[2021-12-03 10:55] pweil- opened #282 "Deploy an Application: Multi-location ingress"
Use Case: ImagePullSecrets are copied to physical clusters

Objectives:

- [ ] User can switch to a workspace
- [x] User can create a deployment
- [x] Scheduler places the workload, syncer agent on the kind cluster performs the spec down -> status up dance
- [ ] Workspaces with no pclusters available show apps as unschedulable
- [x] Ingress allows access to the application placed on a physical clu

[2021-12-03 10:56] pweil- commented on #282
@jmprusi looks like we need to get you added to the org for assignments.  FYI @imjasonh @ncdc

[2021-12-03 10:59] pweil- opened #283 "Transparent Multicluster: Logical/Physical Cluster Namespaces"
Use Case: Transparent Multicluster

Objectives:

- [ ] User can add a second location
- [ ] Deployed application moves between locations when service is disrupted (cluster down)
- [ ] Ingress follows application

Details

Namespaces should be addressable by a name human readable name even when conflicts may exists at the physical cluster level.  Map namespace requests between the name given in a w

[2021-12-03 11:00] pweil- commented on #283
@imjasonh I took a bit of liberty on the details based on how I interpreted the task in our breakdown doc, feel free to correct that as necessary.

[2021-12-03 11:02] pweil- opened #284 "Transparent Multicluster: Cross-workspace LIST/WATCH Controller"
Use Case: Transparent Multicluster

Objectives:

- [ ] User can add a second location
- [ ] Deployed application moves between locations when service is disrupted (cluster down)
- [ ] Ingress follows application

Details

Create a controller that LIST/WATCH across a resource in all workspaces and does useful work

[2021-12-03 11:03] pweil- opened #285 "Transparent Multicluster: pcluster health checks"
Use Case: Transparent Multicluster

Objectives:

- User can add a second location
- Deployed application moves between locations when service is disrupted (cluster down)
- Ingress follows application

Details

KCP should health-check a pcluster to notice when it's unhealthy and its assignments should be scheduled to another pcluster

[2021-12-03 14:12] jmprusi commented on #282
@pweil- @sttts already added me to the kcp org (thanks!) going to self-assign this issue

[2021-12-03 15:18] stevekuznetsov opened #286 "Workspace E2E: Flakes When Workspace Remains Unschedulable"
Example logs:

[code]

Need to add artifacts to the run so we can look at logs for this one.

[2021-12-03 15:28] stevekuznetsov commented on #264
@kylape went on PTO so I will take this one.

[2021-12-03 15:56] s-urbaniak commented on #278
figuring out the best place to wire additional static authorizers centrally. Currently this place seems like the right spot:

https://github.com/kcp-dev/kubernetes/blob/1f4695370a63cfc44e51573893ef97514c6c3ba6/pkg/genericcontrolplane/server.go#L402-L428

[2021-12-03 15:58] stevekuznetsov commented on #284
Right now the `Workspace` controller already seeds its informers with a cross-cluster LIST+WATCH and does useful work as a result. I'm a bit confused about the objectives here since they are transparent over physical clusters, whereas the controller bits are transparent across logical clusters. I think we need to figure out which (or both?) we want and what we need to do to that end :)

cc @smarte

[2021-12-03 16:11] #264 closed

[2021-12-03 17:30] sttts opened #291 "Test issue 3"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2021-12-03 17:59] #291 closed

[2021-12-03 17:59] sttts opened #292 "Test issue 4"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2021-12-03 21:18] #292 closed

[2021-12-03 21:18] sttts opened #295 "Test issue 5"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2021-12-06 18:02] stevekuznetsov opened #297 "Cross-Cluster List Flake: cannot watch across logical clusters for a resource type with several distinct schemas"
Rarely, we see the following when starting informers based on the cross-cluster client for the workspace controller. We install the CRD into every logical cluster using an identical definition we load from YAML in this repo, so it is not possible for there to be any difference in schema. Ideally, the error would be improved to show what the perceived difference was (or logged at the k8s level).

[

[2021-12-06 20:10] stevekuznetsov opened #298 "E2E: Failure In One Test Cancels Others"
It seems like in some cases, a failure in one test case will cause functions registered with `t.Cleanup()` to fire for all others, as well. It is not clear how this is possible but this smells like a captured variable between threads? Each individual test case should get their own `*testing.T` as we pass it the value given by `t.Run()`...

[2021-12-06 20:42] stevekuznetsov commented on #298
Nevermind, this was my misunderstanding of the issue at hand. No problem I can find exists with cancellation.

[2021-12-06 20:42] #298 closed

[2021-12-07 15:20] imjasonh opened #299 "Community Meeting December 7, 2021"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2021-12-07 15:20] imjasonh commented on #254
Next: https://github.com/kcp-dev/kcp/issues/299

[2021-12-07 15:20] #254 closed

[2021-12-07 15:22] imjasonh commented on #299
- ...is this meeting agenda system working?
- KubeCon EU CFP closing soon: anybody want to propose a talk?
- namespace scheduler progress
  - e2e tests using framework, some startup issues?
  - DI cleaned up
  - kcp will be responsible for creating and setting RBAC on namespaces, not syncer

[2021-12-07 15:48] pweil- commented on #299
help wanted/good first issue

[2021-12-07 16:01] sttts commented on #299
Issue board: https://github.com/orgs/kcp-dev/projects/1/views/1?layout=board

[2021-12-07 16:02] sttts commented on #299
Quick summary about ExternalSync API model: https://docs.google.com/document/d/1k72fgGBNJzbY1Rkxj9_1WksHZR0cNT5OeadCpWuc-zM/edit#

[2021-12-07 16:04] kylape commented on #299
This gives me a 404

[2021-12-07 17:23] stevekuznetsov opened #301 "E2E Framework: Loading Admin Credentials Flake"
[code]

We just load the `admin.kubeconfig` from disk where `kcp` places it ... so ... ?

[2021-12-07 21:30] #190 closed

[2021-12-07 21:57] ncdc commented on #277
#302 covers details 1, 3, and 4.

I'd recommend we file a separate issue for detail 2. Thoughts?

Also, my PR does not cover "organizational" workspaces - it hard codes the `admin` logical cluster as the only place that supports API inheritance via Workspaces. If that is sufficient for prototype 2, could we create new issue(s) for fleshing out org workspaces post-prototype 2?

@pweil- @smarterclay

[2021-12-07 22:29] stevekuznetsov commented on #301
[code]

Bizarre. Is the function to write the kubeconfig flaking somehow ... ?

[2021-12-08 06:45] sttts commented on #156
Would wait until post-prototype-2 when we add APIImport/Export

[2021-12-08 09:29] pweil- opened #306 "Workspace Administration and Tenancy: Logical Cluster Serving Chain Support"
As a follow on to #277 we are migrating `Add internal machinery for logical cluster abstraction into the serving chain to support “can user access this logical cluster”` to post prototype 2

[2021-12-08 09:35] pweil- opened #307 "Organizational Workspace"
As part of prototype2 we've created a single "organizational" workspace for others to inherit from (https://github.com/kcp-dev/kcp/issues/277).  This admin workspace is untyped and hard coded.  This issue is to refine that work to provide the actual organizational type.

- [ ]  Review of https://github.com/kcp-dev/kcp/issues/277 and finalize design of organizational workspace type that supports ap

[2021-12-08 09:36] pweil- commented on #277
Inheritance only from `admin` was fine during the last discussion so I think we're good to file a new issue to refine that post-prototype2.

Created https://github.com/kcp-dev/kcp/issues/307, please refine as necessary

https://github.com/kcp-dev/kcp/issues/306

[2021-12-08 14:33] imjasonh opened #308 "Community Meeting December 14, 2021"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2021-12-08 14:33] imjasonh commented on #308
# No meeting next week, December 21, due to US holiday PTO 🎄

[2021-12-08 14:33] imjasonh commented on #299
Next: https://github.com/kcp-dev/kcp/issues/308

[2021-12-08 14:34] imjasonh commented on #299
Recording: https://youtu.be/DMxcNnx4Ke8

[2021-12-08 14:35] #299 closed

[2021-12-08 17:57] ncdc opened #309 "Discovery client doesn't support logical clusters"
In kcp-dev/kubernetes, staging/src/k8s.io/client-go/discovery/discovery_client.go, it has a scoped client that supports logical cluster name, but it isn't wired in. It looks like there are maybe 6 call sites where there's a restClient Get() call that requests a specific path. We need to insert /clusters/$cluster into the path.

Should we edit discovery_client.go for now to make these changes?

cc

[2021-12-08 18:05] ncdc commented on #309
We can fix it with e.g. this for now:
[code]

[2021-12-08 18:21] stevekuznetsov commented on #309
That approach seems reasonable to me, all of Discovery was broken as all get-out when I did the first client-go changes, so I was not testing it :grimacing:

[2021-12-08 18:54] ncdc commented on #309
Sent https://github.com/kcp-dev/kubernetes/pull/28

[2021-12-08 21:33] ncdc commented on #309
This is now in via #310

[2021-12-08 21:33] #309 closed

[2021-12-08 22:59] stevekuznetsov commented on #301
Another one of these:

[code]

To note - this means the kubeconfig file was written, but malformed.

[2021-12-08 22:59] stevekuznetsov commented on #301
We should likely paste the whole thing when we find a malformed one

[2021-12-09 15:21] ncdc opened #313 "Make all our flag names consistent with dashes instead of underscores"
Update all command line flags defined in this repo to be consistent, using dashes instead of underscores. For example, --install_cluster_controller should be --install-cluster-controller.

Make sure to update all references to changed flags, including e.g. demo scripts and e2e code.

[2021-12-09 15:21] ncdc commented on #313
@kcp-dev/kcp-prototypers do you think we should do this?

[2021-12-09 15:26] pweil- commented on #313
This is probably a perfect candidate for help-wanted and good-first-issue labels, if someone is looking for their first commit.  👍

[2021-12-09 20:24] ncdc opened #314 "Consolidate shared informer factory creation"
We have a few places where we duplicate starting shared informer factories in server.go. Let's truly consolidate their creation!

Happy to get started on this now, or wait until after #202 and #302 and any other open PRs that create factories are merged.

[2021-12-09 20:50] #271 closed

[2021-12-10 18:04] stevekuznetsov commented on #246
We've pulled in a CAPI copy (lol) for now - and I noticed there's metav1.Condition, now, too - which supports multiple controllers each exposing their own resource version. I imagine k8s at large will want to see helpers that just build on top of that.

[2021-12-10 20:25] stevekuznetsov commented on #301
[code]

[2021-12-10 21:06] ncdc opened #316 "All e2e errors that cause a test to fail are logged as test.go:135"
The logs appear to come from here

https://github.com/kcp-dev/kcp/blob/e2d9c50c339c052fd1f3f7ec42211ef05766f477/test/e2e/framework/test.go#L135

but actually they come from

https://github.com/kcp-dev/kcp/blob/e2d9c50c339c052fd1f3f7ec42211ef05766f477/test/e2e/framework/t.go#L90

I'm not sure there's any easy way to retain the original error file:line location, given the errors are created in a dif

[2021-12-10 23:26] stevekuznetsov commented on #316
Yeah, I don't think there's any good way around this one :|

If I remember correctly (I wish I had written this down last year, I just accepted it as true this time around), only the main goroutine can call `t.Error()` on the main `*testing.T`.

[2021-12-11 02:47] derrickburns opened #321 "Naming challenge: cluster becomes"
The way you use cluster is a namespace for set of resources and namespaces.  How about ResourceDomain?

[2021-12-13 12:39] sttts commented on #321
Had suggested the same name some time ago.

Workspace = Logical Cluster in a shard = ResourceDomain/ResourceSpace.

But I doubt it is easy to understand from a user point of view.

[2021-12-13 17:36] ncdc opened #324 "Move CI from GitHub Actions to Prow"
We have discussed in Slack a few times about moving to Prow. Many of us are more familiar with Prow and it is consistent with how Kubernetes/kubernetes-sigs/OpenShift projects do CI, which will likely be important if we ever donate this project to the CNCF.

Please vote 👍 or 👎 if you think we should move from GitHub Actions to Prow for our CI jobs.

If the decision is 👍, then let's add this to our

[2021-12-13 18:59] stevekuznetsov commented on #324
Some of the other things I've noticed with GitHub actions which Prow fixes for us (but is not the only tool to do so) are:

 - base PR on top of the branch it's merging into for testing
 - ensure PR is tested against latest branch before merging
 - support for jUnit or similar per-test views
 - support for an in-browser artifact viewer
 - able to trigger new jobs on existing PRs when new jobs are

[2021-12-14 15:56] jnpacker commented on #308
* Show initial work to connect syncer from ACM managed clusters

[2021-12-14 15:57] ncdc commented on #308
- Demo Workspace API inheritance

[2021-12-14 16:00] davidfestal commented on #308
- Demo "personal workspace" virtual workspace with real creation, deletion and sharing

[2021-12-14 20:48] imjasonh commented on #308
Recording: https://youtu.be/wvBoKjyisCc

[2021-12-15 11:59] fabriziopandini commented on #246
ACK
Currently the main difference between CAPI conditions are:
- the severity field, that helps in categorising reasons by relevance for the users.
- the assumption about consistent polarity ("True = good"), that gives a key to interpreter status

It will be great If we can find a way to solve those problems (categorising reasons by severity, interpreter status polarity) while using metav1.Conditi

[2021-12-15 13:11] jmprusi commented on #297
@stevekuznetsov looks like the code producing that error has changed substantially (How the comparison is handled, etc.), are you still able to reproduce it ?

[2021-12-15 14:17] ncdc commented on #297
@jmprusi while the code has moved around as part of #302, I don't think the comparison code has changed?

[2021-12-15 14:27] ncdc commented on #246
@fabriziopandini thanks for providing these details! I'm guessing that the severity field would probably be easier to suggest for upstream (request: add severity field - it's either accepted and added, or rejected).

Consistent polarity is probably harder to define as a requirement, although I guess if we combine it with helpers and UIs that consistently show "healthy" vs. "unhealthy" by interpret

[2021-12-15 14:28] jmprusi commented on #297
@ncdc true! couldn't find it. thanks!

[2021-12-15 15:12] stevekuznetsov commented on #297
That being said, I have also not been able to reproduce again :)

[2021-12-15 15:14] guillaumerose opened #327 "Panic when using KCP"
**Describe the bug**

While playing maybe a little bit too hard with KCP. I ended up with:

[code]

I am using 871852b75e2f363ec7b21d87b39805f17a34a872 (Tue Dec 14 rev)

**To Reproduce**
Steps to reproduce the behavior:
1. Run Tekton triggers controller on a physical cluster talking to KCP
2. Install github example from triggers samples. Be sure to remove references to the cluster interceptor in t

[2021-12-15 15:20] ncdc commented on #297
I had it happen to me once or twice locally, but I haven't been able to reproduce ☹️

[2021-12-16 08:45] guillaumerose commented on #327
It happens after a ConversionReview request:
[code]

[2021-12-16 15:27] stevekuznetsov commented on #327
Webhooks should not be turned on in `kcp` - @imjasonh maybe we did not turn them off well enough?

[2021-12-16 15:37] ncdc commented on #327
That's from the CRD conversion webhook flow

[2021-12-16 15:40] ncdc commented on #327
Which needs a way to resolve the Service defined in the CRD spec for conversion to endpoints to make a conversion request. And we've disabled/not set the serviceResolver, which is what's nil in the panic.

[2021-12-16 15:46] jmprusi opened #329 "Ingress allows access to the application placed on a physical cluster"

[2021-12-16 15:47] jmprusi commented on #329
wrong click on a magic github button... closing.

[2021-12-16 15:47] #329 closed

[2021-12-16 15:52] stevekuznetsov commented on #327
Right, so webhooks of any flavor should be off - including CRD conversion?

[2021-12-16 15:53] ncdc commented on #327
For now, given that we don't have Services implemented, I'd say yes.

[2021-12-16 16:22] ncdc commented on #301
I hit this locally. It logged this:

[code]

It turns out that `clientcmd.LoadFromFile(kubeconfigPath)` will return an empty/default config if it read a 0-byte file. We'll need to check if rawCfg is the same as an empty/default config and keep waiting if it is. I can prep a PR soon.

[2021-12-16 17:16] ncdc commented on #327
Will see if I can provide a better solution here.

[2021-12-16 17:44] #301 closed

[2021-12-16 18:06] sttts opened #333 "Prototype kcp apiserver -> pcluster egress"
The kcp apiserver has to talk to the pcluster for
- `kubectl exec|attach|logs`
- webhooks in CRD conversion
- webhooks in admission.

For that kubernetes uses egress, compare https://kubernetes.io/docs/tasks/extend-kubernetes/setup-konnectivity/.

The task here is to enable kcp to make use of this mechanism, configured for each shard (not customizable for the users).

### Acceptance criteria:

1.

[2021-12-16 18:10] ncdc opened #334 "[Panic!] [sig-api-machinery] KCP MultiCluster [It] should receive events on concurrent watches in same order [Conformance]"
This is against kcp-dev/kubernetes@bd3dfca555cd

[code]

[2021-12-16 18:10] ncdc commented on #334
FYI @stevekuznetsov

[2021-12-16 18:11] ncdc commented on #334
Seen in https://github.com/kcp-dev/kcp/runs/4550828114?check_suite_focus=true

[2021-12-16 18:58] ncdc commented on #327
Will be fixed when https://github.com/kcp-dev/kubernetes/pull/31 is merged and then we bump kube in kcp

[2021-12-17 16:34] eddycharly commented on #313
👋 I would like to give a try to this one if it's ok.

[2021-12-17 16:34] eddycharly commented on #313
/assign

[2021-12-17 16:41] stevekuznetsov opened #339 "kubernetes/genericcontrolplane: factor out multi-cluster concepts"
The `genericcontrolplane` package should be able to be imported and used as a standalone API server without having to buy into multi-cluster concepts from `kcp`. Right now the loopback client is decorated with the multi-cluster round-tripper, but ultimately this comes down to how we might make the controllers that are started in post-start hooks in k8s using this context multi-cluster aware withou

[2021-12-17 17:08] jmprusi commented on #333
I will give this a try!

[2021-12-17 19:16] #313 closed

[2021-12-20 10:28] guillaumerose opened #341 "Panic when using kubectl describe deploy"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install a deployment
2. Run `kubectl describe deploy el-github-listener --v=9`

**Expected behavior**

Don't panic

**Additional context**

I guess it's something to fix in kubectl?

[2021-12-20 16:09] stevekuznetsov commented on #341
In discovery, likely something @ncdc wants to look at when he's back in January. Thanks for the bug report!

[2021-12-21 12:55] sttts opened #342 "Build A MVP Persistent Caching Proxy"
Certain data in a kcp cluster is critical for operation and SPOF in a multi-region/AZ environment, e.g. org workspaces. It is feasible to build a consistent cache hierarchy which
1. persists objects to a local etcd or
2. keep data in memory if one makes the proxies highly available through multiple instances
and which serve consistent data by checking freshness of the cache on quorum reads. Using

[2021-12-22 07:25] chivalryq opened #343 "could not `run cmd/kcp`"
**Describe the bug**
A clear and concise description of what the bug is.

Hi everyone, I'm new to kcp. I want some help to get started.

Execute steps in [readme](https://github.com/kcp-dev/kcp#how-do-i-get-started). But I got
[code]
And it keeps logging "Failed to watch *v1alpha1.Workspace: failed to list *v1alpha1.Workspace: the server could not find the requested resource".

Also I run `kubectl

[2021-12-27 20:31] imjasonh opened #344 "Community Meeting January 4, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2021-12-27 20:32] imjasonh commented on #308
Next: https://github.com/kcp-dev/kcp/issues/344

[2021-12-27 20:32] #308 closed

[2022-01-03 16:17] stevekuznetsov commented on #342
2 seems quite a lot harder than 1 FWIW

[2022-01-03 16:18] stevekuznetsov commented on #343
cc @ncdc I think we may have pulled the shared informers too far up?

[2022-01-03 17:08] ncdc commented on #343
I'll check the informers in a bit - thanks!

[2022-01-04 15:34] imjasonh commented on #344
- Go over prototype 2 goals, project board: https://github.com/orgs/kcp-dev/projects/1
- @ncdc made some progress on transparently multi-lcluster shared informers before the break; demo?
- @stevekuznetsov wanted to talk about fixing our names for things

[2022-01-04 15:53] sttts commented on #285
Which of the other tasks does this depend on?

[2022-01-04 16:05] stevekuznetsov opened #346 "Let's Figure Out Some Names!"
We've got some names/concepts/types that are named in a way that's either confusing or misleading, so let's brainstorm some ideas for how to make them better:

- `WorkspaceShard` is not sharding the content of workspaces, but the kcp key-space
- `OrgnizationalWorkspace` is a mouthful and could likely be shortened to be clearer
- `VirtualWorkspace` is not clear, some of these are virtual views into

[2022-01-04 16:06] stevekuznetsov commented on #344
Let's rally around putting some ideas into https://github.com/kcp-dev/kcp/issues/346 for naming

[2022-01-04 16:08] stevekuznetsov commented on #286
This hasn't been seen in a month, so likely fixed.

[2022-01-04 16:08] #286 closed

[2022-01-04 16:11] jmprusi commented on #285
@sttts the kcp-ingress controller already handles changes on the ingress location.  I guess it is the scheduler's responsibility to switch the Ingress location when a pcluster is down.

[2022-01-04 16:19] #284 closed

[2022-01-04 16:20] stevekuznetsov commented on #284
Sounds like we've achieved this one

[2022-01-04 16:26] stevekuznetsov commented on #346
Re: "Organization" - right now we loosely use this to mean a `Workspace` that holds other `Workspace` objects with some shared ownership model. My intuition says that it's surprising to have an organization made up of workspaces, rather than people, and we perhaps want some better distillation of the single-layer ownership that we are trying to create there.

[2022-01-04 19:36] davidfestal commented on #346
As for `VirtualWorkspace`, after some brainstorming on the `kubernetes` channel, the old proposal `APIDomain` from @stts came back.
The proposal would be to name them `VirtualAPIDomain`s. More details below.

If we agree that:

A `Workspace` would be
_a URL following some URL schema that serves discovery, openapi, `/apis`_
**+ additional features like the ability to add types through CRDs + the ba

[2022-01-04 19:40] sttts commented on #346
In daily communication with non-kcp-experts using "Virtual APIs under some separate http path with its own discovery+openapi" is a good wording, instead of using the technical term `VirtualAPIDomain`. The later is merely used in code.

[2022-01-05 09:58] sttts commented on #285
@jmprusi are you working on this or is it rather @imjasonh's domain?

[2022-01-05 10:00] sttts commented on #342
The freshness problem we have either way. So I don't think one or the other is harder. The first is reboot safe, the second is operationally simpler.

[2022-01-05 10:10] jmprusi commented on #285
@sttts I think @imjasonh is on it, but I can take it if he has no bandwidth for this or prefers to focus on other stuff.

[2022-01-05 10:11] sttts commented on #285
Some questions:

1. How do we know that a cluster is healthy or not?
2. For a second location, what is missing? An API type?

[2022-01-05 10:21] sttts commented on #277
Remaining (2) of details and 3rd objective is basically https://github.com/kcp-dev/kcp/issues/278, i.e. @s-urbaniak.

[2022-01-05 11:34] sttts opened #348 "Clients of the Caching Server Need to be Cross-workspace list/watch resilient"
Shards can go down or become unreliable, for planned maintenance or due to failures. Shards going being unavailable is a normal state we have to cope with, i.e. cross-shard list/watch must be resilient to this, i.e. an informer must keep working although its data is only partial.

Objectives:
- [ ] shutting down a shard (or complete region) that is watched must not stop an informer from working on

[2022-01-05 11:34] sttts commented on #348
cc @stevekuznetsov @marun

[2022-01-05 11:37] sttts commented on #348
From https://docs.google.com/document/d/1MhfRk_VV5orvspx1OzU5De7nnE6va9lIpLUKBKnzuWE/edit#heading=h.pf3xelmd3qxe:

[code]

[2022-01-05 12:35] sttts opened #349 "Prototype APIExports/APIImports"
- [ ] Create concrete API types following the sketches in https://docs.google.com/document/d/1k72fgGBNJzbY1Rkxj9_1WksHZR0cNT5OeadCpWuc-zM/edit:
  - `APIExport`
  - `APIImport`
  - `APIResourceSchema`.

In parallel:
- [ ] Convert `APIImport`s into CRDs in a shadow workspace (compare https://docs.google.com/document/d/1MhfRk_VV5orvspx1OzU5De7nnE6va9lIpLUKBKnzuWE/edit#).
- [ ] Write APIImport admissi

[2022-01-05 12:42] sttts opened #350 "Prototype Syncer Virtual APIServer"
Buld a Virtual APIServer that
- [ ] draft `ExternalSync`-related API types as described in https://docs.google.com/document/d/1k72fgGBNJzbY1Rkxj9_1WksHZR0cNT5OeadCpWuc-zM/edit#
- [ ] provides consistent list/watch over workspaces that are connected to a given location (pcluster)
- [ ] with only those resources visible the syncer is interested in
- [ ] applying lcd, gcd semantics (as chosen)
- [ ]

[2022-01-05 13:33] jmprusi commented on #285
That feels like a "Syncer" job, as we should avoid reaching the pCluster apiserver directly from kcp due to possible networking issues / requiring more permissions.

The Syncer can report its status (running), adding some extra info like the pCluster Readyz endpoint and updating the proper Cluster Status conditions. With that information, and the last update timestamp, we can infer (minus edge cas

[2022-01-06 11:33] sttts commented on #285
Actually that resembles kubelet heartbeating in the node status. If there is no update, a controller in the control plane will mark the node as unready.

[2022-01-06 12:05] eddycharly commented on #285
Would be happy to give it a try, will be a good opportunity to learn more about kcp if it's ok.

[2022-01-06 12:36] sttts commented on #285
First step would be an API draft in https://docs.google.com/document/d/1k72fgGBNJzbY1Rkxj9_1WksHZR0cNT5OeadCpWuc-zM/edit#.

[2022-01-07 14:55] sttts opened #354 "Prototype Workspace Life Cycle on Shards"
# Workspace Life Cycle on a Shard

**Objective:** kill all other shards and the workspaces on that shard should keep working

A shard a workspace is scheduled to can store data under a lcluster (= etcd prefix) without knowing about the workspaces it hosts. But this has downsides:

1. everybody (with permission) can store and retrieve arbitrary lcluster data
2. there would not be a record of key ra

[2022-01-07 16:28] stevekuznetsov commented on #346
A short summary of terms that we've had issues with:

| Description | Current Nomenclature |
| - | - |
| a `Workspace` object which refers to a logical cluster that holds other `Workspace` objects | _organization_ |
| a statically placed logical cluster on which `Workspace` objects implementing _organizations_ exist | _root organizational workspace_ |
| a URL under which the client finds discovery

[2022-01-11 15:40] pweil- opened #358 "Community Meeting January 11, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

This i

[2022-01-11 16:01] stevekuznetsov commented on #358
Update on single-integer-resource-version for workspace-scoped client interactions

[2022-01-11 16:02] pweil- commented on #358
next milestone brainstorming

[2022-01-11 16:03] sttts commented on #358
Andy's update about scopes in clients and informers.

[2022-01-11 16:11] pweil- commented on #358
Decision: @pweil- to add section to https://docs.google.com/document/d/1jN6BdhUUIESeHw3_f6HwsNwVM2Ytabr6usUQhYMcNd8/edit#heading=h.v0ybspmfdqn3. Team will refine the story of "what are the next useful pieces of the use case to add" as well as any tech requirements from medium-term objectives that need started.  Then will migrate to github issues as before.

[2022-01-11 17:27] imjasonh commented on #344
Next: #358

[2022-01-11 17:27] #344 closed

[2022-01-11 17:27] imjasonh commented on #358
Recording: https://youtu.be/HDb8BZCIzrs

[2022-01-13 15:25] kylape commented on #341
Did some poking, and I was able to reproduce on an Openshift and Kind cluster by running `oc describe deploy --v=9` with a deployment name that does not exist.  So I believe this is a `kubectl` issue.

[2022-01-13 20:06] stevekuznetsov commented on #341
If we have an upstream issue to link, we should close this one!

[2022-01-13 20:14] kylape commented on #341
I'll find a link to a kubectl issue :+1:

[2022-01-13 22:54] kylape commented on #341
Okay, so I misread the `kubectl --v=9` output :man_facepalming: .  It prints a thread dump every time there's a nonzero exit status, e.g. when the requested name does not exist.  I wrongly assumed this was a segfault.

Given that, I tried checking out a version of kcp ~1 month old (934530e607d85c5ccad1835d0f1e2d8f0a825552) and downloaded kubectl v1.22.2 (to match the version reported by @guillaume

[2022-01-18 14:07] #343 closed

[2022-01-18 16:02] ncdc opened #368 "Community Meeting January 18, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-01-18 16:03] #358 closed

[2022-01-18 16:04] pweil- commented on #368
Prototype 3 brainstorming, thoughts welcome! https://docs.google.com/document/d/1jN6BdhUUIESeHw3_f6HwsNwVM2Ytabr6usUQhYMcNd8/edit#heading=h.wpdhxgis28cy

[2022-01-18 19:12] ncdc commented on #277
This is done.

[2022-01-18 19:12] #277 closed

[2022-01-18 19:13] ncdc commented on #282
@jmprusi are you still working on this?

[2022-01-18 19:13] ncdc commented on #279
@davidfestal reminder from today's community meeting: please update the details section with what we plan to do for prototype 2. Thanks!

[2022-01-18 19:21] imjasonh commented on #281
I tested this a couple weeks ago, and to the best of my knowledge this works already, so long as you sync Secrets and SAs to the pcluster, any referenced imagePullSecrets are synced and used in the pcluster.

[2022-01-18 19:21] #281 closed

[2022-01-18 19:24] imjasonh commented on #280
Concretely, the syncer should detect an object that has a PodSpec (somehow, possibly Knative-style duck types, possibly just a hardcoded list of known types), detect whether it specifies a `serviceAccountName` that references a SA with any ClusterRoleBindings, and inject the env var that tells the k8s client to talk to kcp's address.

Given this represents a pretty esoteric use of the multicluster

[2022-01-18 19:27] imjasonh commented on #283
To do this, we first need syncer to become multi-lcluster-aware, then to take the lcluster name into account when it puts things into namespaces in the pcluster.

For example, if a Deployment is created in lcluster `my-lcluster` in `my-namespace`, and gets scheduled/synced to `my-pcluster`, it could be created in the namespace `kcp--my-lcluster--my-namespace`, or hash either component to avoid nam

[2022-01-19 09:51] davidfestal commented on #283
Doesn't it imply building a syncer-dedicated virtual workspace that aggregates resources (by delegating to the shard proxy) and filter / present them (as well as the API themselves) in a way that corresponds to the syncer needs ? cc @sttts

[2022-01-19 12:38] davidfestal opened #370 "Complete JsonSchema compatibility checker"
The `pkg/schemacompat` package contains a JsonSchema compatibility checker that checks for a sub-schema relationship between 2 schemas, and optionally calculate, if possible, the LCD of both schemas.
It was initially implemented by PR #114 and based on the following research paper:
[Type Safety with JSON Subschema](http://hirzels.com/martin/papers/arxiv19-json-subschema.pdf)

However the first imp

[2022-01-19 13:43] sttts commented on #370
I think we should clearly do the obvious ones, but for the hard ones we expect the user to do the work (out of band, with pen and paper) and just acknowledge that they are fine. We checkk the acknowledgements in the checker and reject schema transitions if they are missing.

[2022-01-19 16:45] jmprusi commented on #282
I think that switching workspaces is ongoing work, but the demo covering the ingress use-cases was already merged, so we can close this.

[2022-01-19 16:48] #282 closed

[2022-01-19 17:53] imjasonh commented on #283
Maybe? Is it not possible/advisable to make a `*`-cluster informer with a label filter? I'll do whatever you tell me is most efficient.

The main issue on syncer's side is that it needs to transform the incoming lcluster+namespace into a non-colliding namespace, then transform it back when updating status upstream.

[2022-01-19 18:30] stevekuznetsov commented on #283
As an aside we should consider a `*`-cluster informer a virtual workspace, since it is

[2022-01-20 10:49] davidfestal commented on #279
Current status:

- PR created and merged to implement the `workspaces` virtual workspace: #272 & #361
- Implementation of the sub-resource to retrieve the kubeconfig done, but not PR for now.
- Implementation in progress on the kubectl `workspace` plugin, but no PR for now.

[2022-01-20 16:32] stevekuznetsov opened #371 "Define A Useful Readiness Check for Shard Proxy"
In the current workspace index controller, we try to define readiness by checking that we have no currently-running workers and that our queues are empty (here). In a busy `kcp` deployment, it's not likely that this will be true often, so we risk having a constantly-unavailable index. We should figure out a more reliable and useful readiness check - one naive approach might be to just use `sync.On

[2022-01-20 17:19] stevekuznetsov commented on #371
cc @sttts

[2022-01-20 17:27] sttts commented on #371
Was thinking to synchronously get root workspace, and then create a shared map as a set for all org workspace names. Everytime one of them syncs once (the informer that is asynchronously created on the way deep in the controller) we remove the org name from the set. Something around these lines. Hope that's not too ugly.

[2022-01-20 21:46] stevekuznetsov commented on #371
`sync.Once` with the current impl might be simpler by a long shot and get to the same place - as long as we think we'll settle down at least once.

[2022-01-21 04:13] kylape commented on #283
Just saw this.  I'd be happy to work on this (though I'm off on Friday).

[2022-01-21 10:08] sttts commented on #280
the duck typing approach is fragile. Don't we know exactly which workload types the syncer supports? Why don't we add support for just those, i.e. having a list of json path into those type where the service account could be declared?

[2022-01-21 13:57] imjasonh commented on #280
For now, we do (Deployment, DaemonSet, StatefulSet, that's about it I think?) -- but in the future we might have any arbitrary CRDs flowing down to pclusters to get translated into Pods etc down there, and will need the SA to be handled in our special way.

I'm fine hard-coding for now, or making it a flag, but we'll want to think about how to generalize it eventually.

Another possibility: requir

[2022-01-24 09:26] sttts commented on #280
Which CRDs for "but in the future we might have any arbitrary CRDs flowing down to pclusters" do you have in mind? Some custom workloads?

That sounds more feasible. We could start with those annotations. Eventually, if this become more serious and we have facets, this could be a facet onto the CRD type, e.g. SyncOptions.

[2022-01-24 15:29] s-urbaniak commented on #278
Initial work is available https://github.com/s-urbaniak/kcp/tree/multi-cluster-informers and https://github.com/s-urbaniak/kubernetes/tree/controllerz-config based on @ncdc's scope work.

[2022-01-24 17:13] pweil- opened #373 "Prototype 2 Exit Criteria Tasks"
[Milestone](https://github.com/orgs/kcp-dev/projects/1)

- [ ] Create prototype 2 demo
- [ ] Create prototype 2 FAQ to address expected questions on demo highlighting things we expect future releases to address
- [ ] Update project documentation for latest project state including: build/deploy, development guide, links to demos, currently available features
- [ ] Update project visual messaging in

[2022-01-25 08:37] davidfestal commented on #279
Updated status:
- PR created for the `kubeconfig` sub-resource: https://github.com/kcp-dev/kcp/pull/375
- Kubectl `workspace` plugin implemented, but missing e2e tests (=> no PR for now)

[2022-01-25 15:59] ncdc opened #378 "Community Meeting January 25, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-01-25 15:59] ncdc commented on #368
Next: #378

[2022-01-25 15:59] #368 closed

[2022-01-25 16:01] s-urbaniak commented on #378
- prototype auth demo

[2022-01-26 02:55] kylape commented on #283
I've got something working, and I've written an e2e test.  Just trying to get the test to pass now :smile:.

[2022-01-26 19:10] ncdc commented on #280
Do we have a concrete example for a demo for prototype 2? i.e. an app that gets deployed to a pcluster that needs to interact w/the apiserver (which then needs to be kcp, not kube)?

[2022-01-26 21:25] imjasonh commented on #280
If a Tekton controller (a Deployment with a SA with ClusterRoles) is scheduled to a pcluster, it needs to point back up to kcp to watch for new TaskRun CRs created by users, turn them into Pods and put them back in kcp (to be scheduled to some pcluster), watch those Pods and update TaskRuns, etc. (Tekton, Knative, ArgoCD, any number of similar app-layer controllers on CRs)

In an ideal case, the T

[2022-01-27 07:00] s-urbaniak commented on #278
done, demo will be available at https://www.youtube.com/channel/UCfP_yS5uYix0ppSbm2ltS5Q

[2022-01-27 07:00] #278 closed

[2022-01-27 14:30] ncdc commented on #280
Great example. So basically any controller that works with its own CRDs is a candidate... I'm inclined to move this to prototype3 as you suggested above.

[2022-01-27 14:36] ncdc commented on #285
This is how cluster-api does a remote cluster apiserver health check:

https://github.com/kubernetes-sigs/cluster-api/blob/18c7ec867f7e8eb690aa7708afe6bbc27fec1498/controllers/remote/cluster_cache.go#L48-L53

https://github.com/kubernetes-sigs/cluster-api/blob/18c7ec867f7e8eb690aa7708afe6bbc27fec1498/controllers/remote/cluster_cache.go#L314-L327

https://github.com/kubernetes-sigs/cluster-api/blob

[2022-01-27 14:41] jmprusi commented on #285
@ncdc yes, I started working on this. Do you think kcp should directly monitor the pcluster? or as we switch to a more agent-based approach, the syncer should be doing that?

There's a better explanation here, of the agent-based approach: https://docs.google.com/document/d/1pDv2OVXpT5TUgO0rKNFwsht1EFasUE_15mvvBY_R-LA/edit#

[2022-01-27 14:46] ncdc commented on #285
It's probably better to have the agent heartbeat to kcp, as you've modeled in your doc. There's no guarantee that kcp will be able to connect to a pcluster (firewalls, etc.).

[2022-01-28 14:36] imjasonh commented on #368
Recording: https://youtu.be/_9ilcimFyec

[2022-01-28 14:37] imjasonh commented on #378
Recording: https://youtu.be/B3x4my8fiL8

[2022-01-28 17:05] imjasonh opened #387 "Move pcluster namespace creation/deletion up into kcp layers"
Today, the syncer is responsible for creating namespaces in its pcluster if they don't already exist. This gives the syncer lots of access to the cluster, more than it should have.

Instead, the namespace scheduler (and deployment-splitter, for as long as it lives) should detect a missing pcluster namespace and create it, with name transformation taken into place a la #380.

In this way, a pcluste

[2022-01-28 17:57] marun commented on #387
Doesn't this presume that a pcluster is directly reachable from kcp? I thought one of the justifications for implementing reconciliation on pcluster (the syncer) was because kcp wouldn't be guaranteed direct access to pclusters. But as I'm writing that, how would the syncers be installed if kcp couldn't reach a pcluster?

[2022-01-28 18:05] imjasonh commented on #387
Connectivity shouldn't be necessary to make progress on a workload, but kcp still needs to create and healthcheck syncers, so there's some intermittent connection assumed today.

We could be more resilient to connection issues by making the syncer retry if the namespace doesn't exist.

A degraded scenario would mean existing namespaces are unaffected but new ones can't be created, meaning pcluster

[2022-01-28 18:07] ncdc commented on #387
One way to do this is that a cluster admin would have to take action to register their cluster with kcp. This action would likely include installing the syncer on their cluster. The direction would be pull (syncer in cluster connects to kcp, kcp is not permitted to connect to cluster).

I believe this is the approach @jmprusi is taking. And health checks would mimic how Nodes behave today, where t

[2022-01-29 15:00] imjasonh commented on #387
In general I definitely think that's the approach we want, for lots of reasons.

If we go that route entirely, then the syncer (or some component in the cluster) has to have permission to create and delete namespaces. It doesn't have to be the syncer exactly, if we think it's easier to lock down a namespace-only syncer. That was roughly the approach we talked about a few weeks ago (or longer, time

[2022-01-31 08:41] #314 closed

[2022-01-31 16:31] sttts commented on #163
WIP script doc: https://docs.google.com/document/d/1jN6BdhUUIESeHw3_f6HwsNwVM2Ytabr6usUQhYMcNd8/edit#

[2022-01-31 18:37] davidfestal commented on #279
- Kubectl workspace plugin implemented, with an associated demo with PR #376

[2022-01-31 22:16] csams opened #397 "Namespace scheduler conflicts with ingress controller scheduling"
**Describe the bug**
The ingress controller has a concept of a root resource and leaves generated from it. The leaves get assigned to physical clusters by custom logic in the controller, and the existence of cluster labels differentiates them from roots.

The namespace controller assigns cluster labels to everything within a namespace. That includes ingress, which confuses the controller and cause

[2022-01-31 22:35] kylape opened #398 "Namespaces don't get deleted from pclusters when they're deleted from kcp."
**Describe the bug**
Namespaces don't get deleted from pclusters when they're deleted from kcp.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up kcp with at least one pcluster configured for the current workspace
2. Create a namespace in kcp
2. Create a resource in said namespace that gets sync'd to the pcluster
3. Delete said namespace in kcp

**Expected behavior**
Corresponding names

[2022-02-01 08:33] #279 closed

[2022-02-01 12:57] sttts commented on #387
We don't want the syncer to have this far reaching access. Hence, we need a different actor. This can be kcp, but having pull and then kcp doing push is super odd.

What exactly is our requirement. This feel heavily connected to @jmprusi 's work, i.e. the UX of adding a pcluster. Is this joining on the pcluster side supposed to be a privileged operation?

We can have two components: 1) syncer 2) s

[2022-02-01 14:16] ncdc opened #400 "Add e2e to ensure the Kubernetes namespace controller is functional"
The Kubernetes namespace controller is responsible for deleting all resources from a namespace when the namespace is deleted. Because kcp has resources in multiple logical clusters, we need to make sure the namespace controller is able to delete resources from namespaces from multiple logical clusters. It's possible we might accidentally break things in the future as we refactor & improve kcp's co

[2022-02-01 14:20] marun commented on #400
Does this imply running a subset of upstream kube's compliance e2e or would this testing be net-new?

[2022-02-01 14:22] ncdc commented on #400
Long-term, it probably implies carving out a subset of "generic control plane" conformance tests from upstream. But if upstream never has multiple logical clusters, I think we'll still need to create kcp variants to ensure things work in a multi-logical cluster setup. WDYT?

[2022-02-01 14:33] sttts commented on #400
These cross-workspace controllers with dynamic RESTMapper are deeply broken right now. We cannot poll discovery for that. We have to come up with something else, e.g. using discovery for the native resources, and an CRD informer for the rest.

[2022-02-01 14:38] ncdc commented on #400
@sttts could you please elaborate on the discovery issues?

[2022-02-01 15:32] sttts commented on #400
We have 60s poll interval updating a RESTMapper in a couple of places in kube-apiserver (for admission I guess) and in kube-controller-manager for GC, namespace and quota. That RESTMapper is used to iterate over all known types and its critical for consistency.

Types change by workspace (different CRDs in different workspaces). So we need a different resource list for each. Doing that with pollin

[2022-02-01 16:01] imjasonh opened #402 "Community Meeting February 1, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-02-01 16:01] ncdc commented on #378
Next: #402

[2022-02-01 16:02] ncdc commented on #402
* Scoping proposal WIP

[2022-02-01 17:15] davidfestal opened #403 "Implement sharing of personal workspaces"
Implement personal workspace sharing.
This includes:
- [ ] Adding a share sub-resource to the *personal workspaces* virtual workspace implementation, that would implement sharing by creating the required cluster role bindings in the KCP org workspace
- [ ] Adding a `share` sub-command that points to the new sub-resource

[2022-02-01 18:31] stevekuznetsov commented on #403
IMO we should keep as much of the RBAC as possible unless we really expect not to use it in the future, so no `share` but `add-role-to-user` ...

[2022-02-02 08:39] #283 closed

[2022-02-02 08:39] #397 closed

[2022-02-02 10:22] sttts commented on #373
Temporary gdoc with the demo script https://docs.google.com/document/d/1ACwnb3On-QY4t-NdmxDdvXeZXw5BvuKO6L2Mmi5Nhtk/edit?userstoinvite=fvonfeil@redhat.com&actionButton=1#

[2022-02-02 16:23] astefanutti opened #409 "High CPU consumption"
**Describe the bug**

I'm running KCP on my local machine (MacBook Pro 2019, 2,6 GHz 6-Core i7, 32 GB memory), and the KCP process steadily consumes > 1000% CPU.

Some client requests time out, with the KCP logs containing:

[code]

**To Reproduce**

[code]

And to KinD clusters configured:

[code]

**Expected behavior**

I've mitigated the issue by having only one physical cluster. Still the CPU

[2022-02-02 16:33] e-minguez opened #410 "Missing README file in the demo folder (and broken link in the main README file)"
**Describe the bug**
The main README file links to a README located in the demo folder (https://github.com/kcp-dev/kcp/blob/main/README.md#whats-in-this-repo) which doesn't exists

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/kcp-dev/kcp
2. Get excited by kcp
3. Try to check the demo
4. 404 not found

**Expected behavior**
A brief README file with some details abou

[2022-02-02 17:07] stevekuznetsov commented on #409
This was something @ncdc  and @sttts were looking into and seems to be MacOS specific?

[2022-02-02 18:42] astefanutti commented on #409
A quick profiling the KCP process gives the following information:

![profile001](https://user-images.githubusercontent.com/366207/152216916-4897c959-d743-4c45-aaa4-94c658224e67.png)

[code]

I'll try to dig into it.

[2022-02-03 09:55] astefanutti commented on #409
After a new round of analysis, it seems the root cause lies in the syncer stop operation that shuts down the workqueue, but does not properly stop the informers and workers, that continue to add / get items, so `processNextWorkItem` turns into an infinity loop over the following execution path:
[code]

[2022-02-03 10:19] pweil- opened #415 "Prototype 3: Transparent Multi-Cluster End-User Demo"
### Prototype 3 Themes
* Use Workspaces and API inheritance to run real apps
* Real apps can run in multiple Locations
* Apps have resilience to compute failure

### Demo Objective
User has a multi-cluster placeable application that can move transparently

### Demo Steps
1. User begins journey with a KCP URL of a hosted KCP instance.
1. User `kubectl krew`-installs kcp plugin.
1. User logs into th

[2022-02-03 10:22] pweil- opened #416 "Prototype 3: API End-User Demo"
# NOTE Work for this is being tracked in #417

### Demo Objective
Need to establish the API operator and how it connects to the mission.  User thinks about the API, not the impl - transparent across physical clusters

1. Preferably something that the app can use directly
1. Preferably something that creates something that ends up with the app (config map, secret, or workload object)
1. Preferably

[2022-02-03 10:24] pweil- commented on #415
Notes from discussion:

if there is an existing kubectl login plugin we should just use it

[2022-02-03 10:26] pweil- opened #417 "Prototype 3: API Author Demo"
# Demo Objective
Close over consumer details, evolve APIs

1. For ingress (shouldn’t ingress have a wildcard?)
1. For serving (reencrypt)
1. For talking to another service

# Demo Steps
1. Create new workspace for our new cert-manager API backend
1. Run cert-manager (as Deployment if possible, locally is also fine because not focus of this epic) with a kubeconfig of a kcp controller workspace.
1.

[2022-02-03 10:27] pweil- commented on #417
Notes from discussion:

User can A) add a new api, b) deliver a forward compatible change to an existing api export

After this demo, a consumer who leverages these mechanisms will then be a source of input to the "api evolution" epic with additional requirements (i have people using it, i need a non forward change, and i want to do side by side of old api and new api)

[2022-02-03 10:30] pweil- opened #418 "Prototype 3-4: PCluster Registration/Admin Demo"
### Demo Objective
- [x] Document a repeatable process for registering a physical cluster with kcp
- [x] (stretch goal) Add support in the `kubectl kcp` plugin to register a physical cluster with kcp

### Demo Steps
1. User (or kcp admin, or org admin) needs to add new cluster (capacity, location, whatever)
    1. Choose/Create workspace (this will be the one the syncer will sync).
    2. Create S

[2022-02-03 10:32] pweil- opened #419 "Prototype 3 Exit Criteria"
[Milestone](https://github.com/orgs/kcp-dev/projects/1/views/14)

- [x] Create prototype 3 demo
- [ ] Create prototype 3 FAQ to address expected questions on demo highlighting things we expect future releases to address
- [ ] Update project documentation for latest project state including: build/deploy, development guide, links to demos, currently available features

[2022-02-03 12:13] samyak-jn opened #422 "Authorizer starts Workspace informers even when Workspaces are not turned on"
Hi,

I was just getting started with kcp installation, while following the documentation and running
`go run ./cmd/kcp start`

I'm encountering an error, [here](https://pastebin.com/sYq9we3S).

To specify where it is failing you can scroll down in the logs or here:

[code]

Is this behavior expected or I'm missing something here?
Thanks to the slack channel response that I got a response from, @nc

[2022-02-03 13:16] pweil- commented on #327
doing some older issue triage.  Doesn't look like any movement lately on https://github.com/kcp-dev/kubernetes/pull/31 @ncdc.  Still intending to merge that?

[2022-02-03 13:19] pweil- commented on #321
Should we wrap this into the other naming issue we have open and close? https://github.com/kcp-dev/kcp/issues/346

cc @stevekuznetsov

[2022-02-03 13:20] pweil- commented on #324
@ncdc - looks like this is ready to be added to the schedule somewhere.  If there is no urgency maybe we can stick `help-wanted` on it to see if anyone is interested or get it into P4's tech objectives.

[2022-02-03 13:22] #295 closed

[2022-02-03 13:22] #245 closed

[2022-02-03 13:28] ncdc commented on #324
@pweil- this would potentially be a long-term thing, unless GH actions stop serving our needs sooner. I'm a bit hesitant on adding help-wanted, as it requires knowledge of and access to infra where Prow is currently running (either for OpenShift or Kube).

[2022-02-03 13:31] pweil- commented on #195
Since it looks like this is a dupe of #48 I'll go ahead and close this issue.  Please feel free to reopen if you disagree.  Thanks!

[2022-02-03 13:31] #195 closed

[2022-02-03 13:33] pweil- commented on #191
@ncdc do you want to leave this open (maybe with a retitle) as a reminder to enable gc at a later date or can it be closed?

[2022-02-03 13:33] ncdc commented on #327
It's actually in kcp now (https://github.com/kcp-dev/kcp/blob/5da15ce28f1671e72b175acf528aa6eb62d1a899/pkg/server/server.go#L312). We can close this and that other PR.

[2022-02-03 13:33] #327 closed

[2022-02-03 13:37] pweil- commented on #148
This issue is fairly old and there has been quite a few changes as we've worked through prototypes.  Mind confirming that you're still seeing this? Thanks!

[2022-02-03 13:37] pweil- commented on #138
@smarterclayton bump on question from @ncdc ☝️

[2022-02-03 13:43] ncdc commented on #191
Need to leave it open

[2022-02-03 13:44] pweil- commented on #191
ack, thanks for reviewing

[2022-02-03 13:49] pweil- commented on #54
Since this has been captured in the PR mentioned above as a non-goal of this particular prototyping effort I'm going to go ahead and close the issue.  Feel free to reopen if there is disagreement.

[2022-02-03 13:49] #54 closed

[2022-02-03 15:42] #409 closed

[2022-02-03 15:43] stevekuznetsov commented on #321
@derrickburns great point! Let's continue the conversation in #346

[2022-02-03 15:43] #321 closed

[2022-02-03 15:45] stevekuznetsov commented on #418
Do we want to commit to 5 here being the addition of ThingClusterCapacityChunk to a ThingLocation?

[2022-02-03 16:35] pweil- commented on #416
For easy access, I believe this is the current doc on [APIImport/Export](https://docs.google.com/document/d/1k72fgGBNJzbY1Rkxj9_1WksHZR0cNT5OeadCpWuc-zM/edit)

[2022-02-03 20:30] #422 closed

[2022-02-03 21:03] ncdc opened #426 "KCP crashes with cluster controller enabled and --listen 127.0.0.1:6443"
**Describe the bug**
KCP exits 255 with the cluster controller enabled and --listen 127.0.0.1:6443

**To Reproduce**
Steps to reproduce the behavior:
1. go run ./cmd/kcp start
2. See crash

**Expected behavior**
No crash

**Additional context**
It's because the post-start hook is returning an error from here:

https://github.com/kcp-dev/kcp/blob/ecdcf386eb849d5865b40c0a9964322fc9cc1c57/pkg/reconci

[2022-02-03 21:47] ncdc opened #427 "KCP bootstraps RBAC for way more than we need"
[code]

Let's document which ones we can & should see if we can remove from upstream kube (i.e. make it configurable).

[2022-02-04 14:57] ncdc opened #433 "Namespace scheduler requeues a namespace infinitely if no clusters are registered"
1. Start kcp with --install-namespace-scheduler
2. Create a namespace
3. See logs like this:

[code]

This is because https://github.com/kcp-dev/kcp/blob/2f149e7d72bec5e2cfca671a25167de9eb417cff/pkg/reconciler/namespace/namespace.go#L129 returns an error, which bubbles up to `processNextNamespace`, which then does a rate-limited requeue.

I'm not sure this is a desirable behavior?

[2022-02-04 16:39] marun commented on #433
Will be fixed by https://github.com/kcp-dev/kcp/pull/428

[2022-02-04 22:18] marun commented on #433
Fixed by #428

[2022-02-04 22:18] #433 closed

[2022-02-07 18:42] ncdc opened #447 "Document/design better controller structural patterns"
We have had multiple incidents where we've refactored some code in server.go and ended up with problems that broke things, without it being obvious that a change was going to do so. Let's come up with some better patterns in our server startup & controller code that makes it very difficult or impossible to break things.

xref #426
xref #446
xref https://kubernetes.slack.com/archives/C021U8WSAFK/p1

[2022-02-08 02:56] ncdc opened #455 "Crash when syncer is no longer able to connect to a physical cluster"
**Describe the bug**
kcp crashes when it is unable to connect to a previously-registered physical cluster.

**To Reproduce**
Steps to reproduce the behavior:
1. `make build`
2. `./bin/kcp start --install-cluster-controller --install-namespace-scheduler --install-workspace-scheduler --auto-publish-apis --resources-to-sync="ingresses.networking.k8s.io,deployments.apps,services" --push-mode --token-a

[2022-02-08 12:13] ncdc commented on #455
Would suggest that we set up context cancelFuncs when creating the syncers, and store the cancelFuncs in the map so the cluster controller can call them, rather than trying to call Stop

[2022-02-08 14:23] ncdc opened #462 "Add ability to pass 'go test' flags to 'make test' and 'make test-e2e'"
We currently have WHAT which lets you control which packages are tested. We could add something like TESTFLAGS so you can pass `-v`, `-run`, etc.

[2022-02-08 15:30] stevekuznetsov commented on #462
@marun this regressed in #448

[2022-02-08 15:33] pweil- opened #467 "Community Meeting February 8, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-02-08 15:33] pweil- commented on #402
Next https://github.com/kcp-dev/kcp/issues/467

[2022-02-08 15:43] stevekuznetsov commented on #467
Conclusions/thoughts on sharding, HA, w.r.t. cockroach

[2022-02-08 16:38] imjasonh commented on #467
☝️ Draft demo script PR: https://github.com/kcp-dev/kcp/pull/450

[2022-02-08 16:50] davidfestal commented on #467
- Now sharing certs between KCP and virtual workspaces => transparent way to access the virtual workspace from the `admin.kubeconfig`. Alternate (better than previous try) way to simplify prototype 2.

[2022-02-08 18:02] chirino opened #470 "panic when adding/deleting a cluster"
**Describe the bug**
KCP panic occurred when adding/deleting a cluster

**To Reproduce**
Steps to reproduce the behavior:
KCP had an east cluster added to it.  Then I did:
[code]

got the following errors:

[code]

**Expected behavior**
no panic

[2022-02-08 18:07] ncdc commented on #470
@chirino thanks for the report! This is a duplicate of #455

[2022-02-08 18:07] #470 closed

[2022-02-08 21:31] #455 closed

[2022-02-08 23:37] stevekuznetsov opened #473 "`make codegen` strips years from boilerplate headers"
After `make codegen`:

[code]

/cc @ncdc

[2022-02-08 23:37] stevekuznetsov commented on #473
It does this, too:

[code]

[2022-02-08 23:39] ncdc commented on #473
Years should not be in headers of generated files

[2022-02-09 10:29] pweil- commented on #410
FYI for whoever picks this one up, it looks like the original README was renamed during the move to dedicated subfolders in https://github.com/kcp-dev/kcp/commit/30a3d93d7debcd4b4758f8df03e29926cbd2199d

An index into those folders with a brief description is probably a good place to start and would probably be part of https://github.com/kcp-dev/kcp/issues/373

[2022-02-09 15:50] stevekuznetsov commented on #418
This is transparent multi-cluster  ... admin was supposed to be about movement of data _between kcp instances in a sharded fleet_ but we are no longer targeting that deployment modality for the forseeable future. What value does this demo have on top of TMC?

[2022-02-09 16:05] kylape commented on #416
My impression is that this demo is the same as transparent multi-cluster but it's just adding an APIImport into the mix and watching kcp do the right thing with the CR.

[2022-02-09 16:08] stevekuznetsov commented on #473
@ncdc why do we have them checked in to `main` then? Could you confirm which files (like [this one](https://github.com/kcp-dev/kcp/blob/80a06996ce0ea1c3e2f0534beb81cffd4347a59c/pkg/openapi/zz_generated.openapi.go#L5)) should have them removed? And can we make the validation enforce it?

[2022-02-09 16:14] pweil- commented on #416
This is defining the demo that the group wanted to show.  Yes, it re-highlights the feature of transparent multi-cluster.  I think we can assume that the work for 5&6 would be scoped to the TMC demo so we just need to define what else is needed to complete the flow here for p3.

[2022-02-09 16:15] marun commented on #415
Option 1: Admin is upgrading the cluster with downtime
Option 2: Cluster is out of capacity
Option 3: Cluster hard fails

Do these specific options matter for the purposes of the demo? vs just forcing a move from one cluster to another? afaik today we aren't even targeting allowing a 'User' (vs an admin) to choose a cluster to deploy to let alone migrate between - workload is just deployed to avai

[2022-02-09 16:15] ncdc commented on #473
Anything checked in to main that is generated code that has a year in the header needs to be modified so it no longer has a year. Our validation should enforce that generated code headers have a copyright line that does not have a year in it. I can't speak to the current state of the repo, but this is the direction we need to go in.

[2022-02-09 16:15] pweil- commented on #418
After we scoped out sharding this is where the conversation went on what can be shown from an admin perspective.  In terms of actual work, if we agree that it is simply to create the demo once the TMC work is done then I think we're good here.

[2022-02-09 16:18] marun commented on #415
@jmprusi Thoughts as to what will be required to demo this? I know this can work with a cloud lb, but will that also be required for ci or is there a lighter-weight way to ensure this flow is tested once supported?

[2022-02-09 16:20] stevekuznetsov commented on #473
Fixed in #480

[2022-02-09 16:21] marun commented on #415
I guess I don't really get the point of forcing a specific narrative before we have actual implementation. Maybe it's supposed to be motivating, but it feels forced to me.

[2022-02-09 16:24] pweil- commented on #416
Community call where these were defined if it helps refresh context to the conversation here: https://www.youtube.com/watch?v=_9ilcimFyec

[2022-02-09 16:24] kylape commented on #415
I don't think we need to decide on a specific migration reason at this point.  Just that it means we need to demo workload migration by removing the cluster running the demo workload.

[2022-02-09 16:27] stevekuznetsov commented on #415
"I need access to CUDA compute, so I move to a different data center" :)

[2022-02-09 16:32] #462 closed

[2022-02-09 16:43] jmprusi commented on #415
So... let me braindump (sorry) here:

- Something triggers a cordon (unschedulable: true) and drain (eviction?) (step 6), so the scheduler needs to have some notion of those concepts
- The scheduler has to also "add" the workload into the other location (without taking down the current one), so we need a way to specify multiple scheduling locations (currently we use an annotation with a single clu

[2022-02-09 17:00] ncdc opened #481 "Incorrect directory layout under root directory"
**Describe the bug**
Here is what I'm seeing (I've replaced  my actual username with USER):

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. kcp start

**Expected behavior**
Should look like this:
[code]
**Additional context**

[2022-02-09 17:02] ncdc commented on #481
I think this came in #424?

[2022-02-09 17:15] imjasonh commented on #418
+1 to Steve's point, this script sounds more like a demo of pcluster registration and administration, not about "control plane resiliency, security, defense in-depth"

The only problem there is, I don't think anybody's current working on designing/prototyping pcluster registration, so if this is part of the demo it's unassigned.

[2022-02-09 17:21] ncdc commented on #481
@sttts

[2022-02-09 17:24] imjasonh commented on #415
If the reason is "the cluster is deleted", then this is effectively not demonstrating anything different from prototype 2 AFAIK. (That may be fine, for scoping down this prototype)

If the reason is "my pcluster scheduling constraints changed", then we need to design and implement scheduling constraints, which feels like a heavy lift. Same for designing and enforcing capacity as a scheduling const

[2022-02-09 17:53] marun commented on #415
afaik the very concept of Locations is a topic of discussion. Maybe that should be the target for P3 - defining the mechanics of a cluster-abstraction concept (i.e. Location) at the workspace level that allows admins to hide the details of physical cluster association?

I'm still not clear what the Location abstraction implies wrt associating a given kcp namespace with compute capacity. I've been

[2022-02-09 17:56] marun commented on #415
What's the best way to demo this then? In terms of stateless app it could be as simple as ngninx serving hello world... But again, what endpoint will we be targeting for demo that will ensure seamless handover between the application on one cluster to the application on another?

[2022-02-09 18:19] imjasonh commented on #415
Same, I think it's under-designed so far. We don't really have a plan for limiting what the syncer can sync to a cluster, or bubbling up "syncer doesn't have capacity" to kcp. We would bubble up "workloads on the pcluster are unschedulable", whether that's pcluster-wide resource exhaustion or pcluster namespace quota limits. But so far we don't have anything that would limit a workspace's footprin

[2022-02-09 18:19] pweil- commented on #418
That puts us in the same boat.  We can either start scoping those tasks out or choose to call this duplicate (or just a different recording where the driver is "admin" and not "user").  Since pcluster registration doesn't push us any further on the demo objectives and scope is already pretty large for the remaining time I'd probably vote for the latter (and leave whether or not we want a different

[2022-02-09 19:40] marun commented on #415
How is this going to work across multiple clusters? How do we enable transparent switching between applications in multiple clusters, except with some kind of intermediary (e.g. proxy).

To be clear, I'm looking for a way to validate this in CI as a precondition for having this be demoable, but likely a ci-testable option would work equally for demo.

[2022-02-09 19:53] imjasonh commented on #415
The steps for that are roughly what @jmprusi describes in https://github.com/kcp-dev/kcp/issues/415#issuecomment-1033967052

The pcluster being cordoned triggers the scheduler to duplicate the workload on some other cluster, including service+ingress, and the previous cluster's ingress proxies to the new one until some cutover.

It's quite a bit slower than just pulling the plug on the old cluster

[2022-02-09 19:57] marun commented on #415
It's quite a bit slower than just pulling the plug on the old cluster -- and might be slow enough that it means we can't practically cover it in CI -- but that's the price of zero downtime. I think we could even punt on total zero downtime if it's ~1s or something, and we can demonstrate that a more graceful reschedule than what P2 does today.

I'm more than a little surprised that local proxying

[2022-02-09 19:58] ncdc opened #482 "Syncer has a hot-loop"
It doesn't return after calling AddRateLimited, so it immediately calls Forget on the key, which resets the rate limiter back to 0.

[2022-02-09 19:58] imjasonh commented on #482
Hey, nice catch!

https://github.com/kcp-dev/kcp/blob/dfc490d656822da51234c9c18678c3a0c7952c0d/pkg/syncer/syncer.go#L274

[2022-02-09 19:59] ncdc commented on #482
It's my fault ☹️

[2022-02-09 20:09] imjasonh commented on #415
I don't think local proxying is the end-goal at all, just a step along the path that's achievable in the immediate timeline.

[2022-02-09 21:30] #481 closed

[2022-02-09 21:39] #482 closed

[2022-02-10 10:32] pweil- commented on #415
Right, let's keep in mind that we are exploring concepts that allow us to show a compelling vision of the value of something like KCP and enable others to poke at it for their use cases.  We have to balance that need with what we think the long term engineering solutions may be.

[2022-02-10 12:55] jmprusi commented on #418
I'm working on that currently and tried to doc some of those topics here: https://docs.google.com/document/d/1pDv2OVXpT5TUgO0rKNFwsht1EFasUE_15mvvBY_R-LA/edit#

Let's have a chat and try to create some issues?

[2022-02-10 14:14] davidfestal opened #487 "Build a MVP implementation of the Syncer Virtual APIServer"
This issue is for implementing an MVP of the Syncer Virtual APIServer, whose complete implementation is described by issue https://github.com/kcp-dev/kcp/issues/350

This MVP imlementation would mainly:
- **skip the `ExternalSync***` aspect of things, as well as generic schema negotiation
- limit the synced APIs to some identified, well-known Kube APIs ( => **no need for schema negotiation**)
- fo

[2022-02-10 16:47] davidfestal opened #488 "Clarify the requirement and implementation of user "default" workspace"
It has been mentioned several times that when a user connects to KCP (through `kubecl kcp login`) for example, he should "land in" a default user workspace.

For now no workspace is created nor listed by default for a user when he first connects to KCP.

Simplest option is to create the default workspace (if necessary) and switch to it when the user first connects to the system, ie during the `kub

[2022-02-10 16:54] sttts commented on #415
cc @s-urbaniak for the authn aspect of this story and also to sync our view on "User lands in a default workspace". What does "land in" mean after a login command.

[2022-02-10 16:56] sttts commented on #416
+1 for removing the location part. We should rather replace it with:

- multiple users with their own workspaces can enable the API
- maybe that the user can also install his own version of the CRD, with a bring-your-own cert-manager. The last part maybe we cannot show yet, but we can show that the platform cert-manager does not the see the CR of the foreign cert APIs.

[2022-02-10 16:59] sttts commented on #417
Updated the steps:
- no app deployment
- new step with schema update

[2022-02-10 17:59] davidfestal opened #489 "Add Watch support in the `personal workspaces` virtual workspace"

[2022-02-10 18:00] davidfestal opened #490 "Add Update / Patch support in the `personal workspaces` virtual workspace"
For now they are not supported, they should.

[2022-02-10 21:10] marun opened #494 "Namespace scheduler should support ignoring namespaces"
As per internal discussion, it should be possible to mark a namespace in kcp as not being intended to be scheduled to a pcluster. So long as the namespace scheduler doesn't assign a namespace to a cluster, the namespace and its contents would never be created in a pcluster.

Suggested implementation would have the namespace scheduler ignore namespaces with the label `kcp.dev/ignore: true`. A label

[2022-02-10 21:20] marun opened #495 "Support explicitly setting the namespace name that will be synced to pclusters"
Currently, the name of a namespace created by the syncer in a pcluster will be transformed from the originating kcp namespace to ensure uniqueness. This is necessary to allow multiple workspaces to contain the same namespace (e.g. foo) yet be scheduled to the same cluster. The transformation is `kcp-<hash of org+workspace+namespace>`.

For applications that need to implement their own scheme for e

[2022-02-10 21:24] imjasonh commented on #495
Would it be the scheduler's responsibility to ensure two `use-name: foo` namespaces don't end up being scheduled to the same pcluster? Or would the syncer detect the collision and report back to the scheduler that it needs to re-roll and pick a new pcluster?

If a `use-name: foo` namespace can't be assigned to any pcluster due to conflicts, it would just become `Unscheduleable`?

[2022-02-10 21:26] ncdc commented on #495
I'd like to suggest we treat this as a power-user configuration, and we don't try to do anything to prevent overlap. This would be similar to deployments/replicasets/pods and label selectors - if you have 2 deployments that overlap on label selection, they're going to fight each other to own & control the replicasets.

[2022-02-10 21:39] marun opened #496 "Syncer should support targeting existing pcluster namespaces"
Currently, the syncer assumes responsibility for managing the lifecycle of a scheduled kcp namespace and its contained resources on a given pcluster. Internal discussion suggests that some uses cases may require that a non-kcp agent be responsible for creation of a given pcluster namespace and populating it with resources that kcp should not attempt to manage. This suggests that it be possible to

[2022-02-10 22:19] imjasonh commented on #496
Can you elaborate on the use case for this?

[2022-02-11 11:19] sttts opened #498 "crdpuller: missing defaults in OpenAPI spec for map-keys break compatibility"
Against Kube `kubectl create deployment --image=gcr.io/kuar-demo/kuard-amd64:blue --port=8080 kuard` works, against kcp it does not (server-side validation error):

[code]

The root cause of this is that kube's ContainerPort has an optional field `protocol` [(ref)](https://github.com/kubernetes/kubernetes/blob/49dc22638164c415fd2c13d8a5f2013ca62151d1/pkg/apis/core/v1/defaults.go#L120) with
1. a de

[2022-02-11 13:31] ncdc commented on #498
Would it also be possible to create a CRD where we can provide kcp with hints for these types of issues? e.g. a "FixDeploymentSchema" CR that says "default `spec.template.spec.containers[*].ports.protocol` to TCP"?

[2022-02-14 10:37] guillaumerose opened #500 "Panic when using `kcp -h`"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run `kcp -h`

**Additional context**

Revision: 986710c754ed0dac9ae1525661de931e5dd7c0cc (main as of today)

[2022-02-14 15:24] slaskawi commented on #500
Let me have a look at this one. It sounds like a perfect first-timer issue.

[2022-02-14 16:19] ncdc opened #504 "Ability to remove a workload from a physical cluster"
**Is your feature request related to a problem? Please describe.**
When I'm programming my global load balancer and I want to take a physical cluster out of service, I need to start draining a backend (connections routed to a pod on a physical cluster), wait for the drain to finish, and then remove the pod from that physical cluster.

**Describe the solution you'd like**
I'd like to be able to tel

[2022-02-14 16:20] ncdc commented on #504
@chirino please let me know if I captured this correctly

[2022-02-14 16:24] ncdc opened #505 "Cross-namespace service DNS resolution in physical clusters"
If a pod in namespace one references a service in another namespace, such as `some-service.two.svc.cluster.local`, how will that work in physical clusters where the namespace names are mapped and no longer retain their original names?

[2022-02-14 16:40] pweil- commented on #500
All yours.  I'll add it to the current milestone.  Thanks for volunteering 👍

[2022-02-14 17:03] ncdc commented on #505
As part of our scheduling investigations, we'll want to ensure that a deployment and the services it needs are scheduled to the same cluster ... or we encourage folks to switch to ingress/routing to go across clusters.

[2022-02-14 17:04] ncdc opened #506 "Make priority & fairness work correctly per logical cluster"
In `staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go`, `startObservingCount()` keeps track of object counts per resource to help with priority & fairness. I think this is currently counting across logical clusters, but we'll need it to be per logical cluster / workspace.

[2022-02-14 19:55] ncdc commented on #94
Given that Workspace API inheritance has been implemented, and we are further refining API availability with imports & exports, should we close this? @davidfestal @sttts

[2022-02-14 19:58] ncdc commented on #194
This was fixed first by kcp-dev/kubernetes#16 and then by switching away from using kube-aggregator.

[2022-02-14 19:58] #194 closed

[2022-02-14 20:01] ncdc commented on #316
I wrote a couple of helpers for Velero to handle a situation like this:
- https://github.com/vmware-tanzu/velero/blob/main/pkg/util/logging/log_location_hook.go
- https://github.com/vmware-tanzu/velero/blob/main/pkg/util/logging/error_location_hook.go

Might be useful to do something similar?

[2022-02-14 20:57] davidfestal commented on #94
I assume we can close this, but maybe @sttts has a different opinion.

[2022-02-15 04:55] marun commented on #316
I think moving away from RunParallel magic - in progress - will ensure that `t.Testing` methods like `Log` work as expected.

[2022-02-15 14:57] imjasonh commented on #415
### Demo Steps
1. User creates a stateless web application, which is assigned to a PCluster (as in P2)
1. PCluster admin wants to perform maintenance on the cluster, but limit workload disruption
1. Admin marks the cluster as cordoned (`Unschedulable: true`) -- new workloads are not assigned to the cluster
1. Admin marks the cluster as drained/draining (`Evict: true`) -- existing workloads are res

[2022-02-15 15:21] pweil- opened #512 "Community Meeting February 15, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-02-15 15:21] pweil- commented on #467
@imjasonh need recording to close

Next https://github.com/kcp-dev/kcp/issues/512

[2022-02-15 15:21] pweil- commented on #512
General announcement:

* Target March 18 for closing P3
* Target March 7th to begin writing P3 script
* Expect P4 to run to April 29th to get back to monthly cadence

[2022-02-15 15:23] sttts commented on #512
Docs of the week:
- https://docs.google.com/document/d/1N3AxSN-XmTVzFjJp_7OyPA2eHGvJyKY-ZfqkqjDzxho/edit# – Collection of Transparent Multi Cluster Challenges
- https://docs.google.com/document/d/1SD2gVJk0FNPV9bsJucTwo9F1esNPa89_rmn5Roq7Ca4/edit#heading=h.d5ctd5ff38z9 – Exploration: workspace types and policy

[2022-02-15 15:47] ncdc commented on #512
* Update kcp-dev/kubernetes default branch to feature-logical-clusters-1.23 (?)

[2022-02-15 17:38] ncdc opened #513 "Makefile: TEST_ARGS should default to unset, not """
With TEST_ARGS defaulted to "", if I do

[code]

this translates to

[code]

I think that's why the `?       github.com/kcp-dev/kcp  [no test files]` shows up - because of the `""` before the test file specification.

[2022-02-15 17:43] mehabhalodiya commented on #513
/assign

[2022-02-15 22:51] lburgazzoli opened #518 "Pods not synced back from physical cluster to kcp"
**Describe the bug**
Pods are not synced from the physical cluster back to kcp

**To Reproduce**
Started kcp from main with
[code]

kcp starts and reports:

[code]

Then register a physical cluster named `my-cluster` using kind
Then create a deployment

[code]

At this point, the deployment gets synchronized with the physical cluster to a namespace created by kcp and the related pods starts:

[cod

[2022-02-16 10:12] pweil- opened #519 "Community Meeting February 22, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-02-16 10:14] pweil- commented on #519
Issue triage: as of writing we're at 78 issues.  I took a pass last week to try and clean some up but it might be good to have some sort of regular cadence we can rotate on to make sure we're not just accumulating baggage, getting things tagged as appropriate, and don't leave questions hanging where we have answers.

[2022-02-16 10:14] pweil- commented on #512
Next: https://github.com/kcp-dev/kcp/issues/519

[2022-02-16 10:46] astefanutti commented on #518
I've added some details about the use cases, and a possible fix in #520.

[2022-02-16 11:00] samyak-jn opened #521 "Ability to debug when things go wrong in a physical cluster"
Hi folks, :wave:

**Is your feature request related to a problem? Please describe.**

Is there a way to get logs and errors in one place, I can see some errors like one mentioned below when I am running kcp binary in the foreground but is there a way where I can get errors separately in forms of logs.

[code]

Let's take an example of pods as a resource,
I applied a related YAML file for it which

[2022-02-16 11:34] sttts commented on #518
IMO `--resources-to-sync` is strickly for kcp->pcluster. It is not meant for any kind of two-way sync. If we want that, we need an API to specify those objects.

Also it is not clear that we actually want to persist pods in kcp. There are different in nature from the `resources-to-sync` resources because the spec is owned by the pcluster. We have talked about a proxy mechanism the syncer would pro

[2022-02-16 11:38] astefanutti commented on #518
The key point here IMO is how transparent that is for external controllers / clients. Ideally, that should be completely transparent to them.

[2022-02-16 11:44] sttts commented on #518
I totally agree with the use-case. Non-kcp-native, non-federation-aware controller expect pods. So if we want a kube-native experience we have to make pods visible. My point is how we do that and how we instruct the system to do it.

[2022-02-16 11:47] sttts commented on #518
As background: pods have high cardinality and are heavy on updates. Making them visible via the syncer might quickly exhaust our load budget for individual workspaces.

And all this only talks about the 1:1 (non-federation) case. The moment two pclusters are involved, even naming of pods is not guaranteed to be unique. Imagine during a rolling mogration to a new pcluster (eventually) we have two s

[2022-02-16 11:49] sttts commented on #518
To sum up: not saying we don't want this. We want and need pod visiblity, just slowing down a bit to make a plan how we want to implement it :)

[2022-02-16 13:22] astefanutti commented on #518
@sttts thanks, everything you've said makes total sense! Better giving it more thinking, and doing it right 👍🏼.

[2022-02-16 14:02] imjasonh opened #525 "kubectl kcp workload cordon|drain [cluster]"
**Is your feature request related to a problem? Please describe.**

As a pcluster admin, I want to easily cordon, uncordon and drain clusters using the kcp CLI plugin

**Describe the solution you'd like**

Add CLI surfaces to the `kubectl kcp` CLI plugin to cordon and drain clusters:

- `kubectl kcp workload cordon [cluster]`
- `kubectl kcp workload drain [cluster]`
- `kubectl kcp workload uncordo

[2022-02-16 14:06] ncdc commented on #525
Depends on/blocked by #524, right?

[2022-02-16 14:12] imjasonh commented on #525
Yep, should have mentioned that.

[2022-02-16 14:15] #513 closed

[2022-02-16 14:22] ncdc commented on #521
@samyak-jn I'd like to propose a couple of things:
1. We need 1 issue that specifically covers visibility of things in physical clusters - when something goes wrong and you need to e.g. `kubectl describe pod/foo`, how can kcp address that?
2. I'd like to make it an explicit non-goal that the _initial_ method of diagnosing a problem is via logs. It's a much better user experience if we can present

[2022-02-16 14:30] samyak-jn commented on #521
Yes, we can use this issue for 1, that does make more sense!

[2022-02-16 16:24] ncdc opened #527 "Workspace deletion"
**Is your feature request related to a problem? Please describe.**
When deleting a workspace, we need to clean up all its associated content automatically.

**Describe the solution you'd like**
This would include all cluster and namespace scoped resources in the workspace. We may decide to use the upstream kube namespace controller for part of this, or design our own solution.

[2022-02-16 21:50] #316 closed

[2022-02-17 16:10] imjasonh opened #531 "`make codegen` doesn't work outside of GOPATH"
Repro:

1. clone the repo to somewhere outside of GOPATH
2. update some `types.go` to add a field, etc.
3. `make codegen` (succeeds)
4. deepcopy code isn't updated -- if you push a PR in this state, CI will fail ([example](https://github.com/kcp-dev/kcp/runs/5222837676?check_suite_focus=true))

---

This is using `controller-gen` v0.7.0, and ultimately I think it's a bug on their end.

We could ei

[2022-02-17 16:22] ncdc commented on #531
I fixed this upstream. Couldn't fix it in our fork of kcp due to `hack/update-vendor.sh` issues. I think I know how to work around those, though.

[2022-02-17 17:45] ncdc opened #532 "third_party: conditions deepcopy functions are not being generated"
1. We are reusing these from Cluster API
2. Cluster API uses kubebuilder/controller-gen markers at the package level to enable deep copy generation
3. We didn't reuse Cluster API's `groupversion_info.go` file, which contains the markers
4. We didn't add our own markers to our `doc.go`
5. Therefore deepcopy generation isn't happening

[2022-02-17 21:15] Roming22 opened #535 "Enable the ServiceAccount Controller to create sa secret on sa creation"
I have a cluster with openshift-gitops installed, which is also running KCP in a pod. I'm trying to configure ArgoCD to control the KCP. cluster, but the registration of the KCP cluster to ArgoCD is failing. The root cause is that no token is created for the service account that ArgoCD automatically creates when registering the cluster.

Here are some logs:
[code]

[2022-02-17 21:17] ncdc commented on #535
@smarterclayton @sttts have you all thought about how we want to handle SAs & tokens in workspaces?

[2022-02-21 14:30] sttts opened #538 "Investigation: system component authentication + authorization plan"
We do not want all system components (shards, virtual workspace apiserver, syncers, proxy, ...) have admin access each. Hence, we have to work out a plan how to allow them to see what they have to see, but not access any other data.

Background: today ComponentShard references a secret with admin credentials. That's not a good idea to do as it lacks a concept of identity of the consumer of that se

[2022-02-21 16:18] ncdc opened #541 "Improve logging readability by ensuring unique file basenames"
Because klog only logs a file's basename, if we have foo/controller.go and bar/controller.go, log messages originating from both files show up as controller.go, so it's difficult or impossible to know which file a log line is coming from.

Let's rename files to ensure unique basenames. Here is a current list of duplicates (excluding pkg/client and some other files such as doc.go, register.go, type

[2022-02-21 17:15] marun commented on #541
Ambiguous log lines are definitely a problem worth addressing. iirc that's an unavoidable result of using klog/glog? So unless we switch to something like logrus we're stuck ensuring filename uniqueness across packages? If that's the case a CI check is suggested to prevent regression...

[2022-02-21 17:56] ncdc opened #542 "Namespace scheduler: only operate on things in Workspaces"
Rather than trying to assign from any logical cluster, the namespace scheduler should only assign from namespaces in Workspaces.

[2022-02-21 17:58] sttts commented on #542
I would rather argue that the namespace scheduler should schedule when the workspace has subscriptions (we will see how that will look like in the API, APIImports or whatever) to workload APIs, and at least one resource ready for sync.

[2022-02-21 17:59] ncdc commented on #542
What about for things like `deployments` - would you expect a workspace to need a subscription/APIImport for that?

[2022-02-21 18:00] sttts commented on #542
yes, would expect that to be modular in the sense that it must be enabled. It can be that the enablement happens by default for most workspaces.

[2022-02-21 18:00] ncdc commented on #542
(I'm happy to refine this over time - for the moment, folks are getting tripped up because namespaces in `""`/`admin` are getting labeled to a physical cluster, and then nothing else happens)

[2022-02-21 18:00] sttts commented on #542
ok, quickfix is fine.

[2022-02-21 20:33] sttts opened #545 "Protect GVR creation and automatic consumption by controller"
Controllers blindly consume every GVR from any workspace the GVR is available in. This allows every owner of a workspace to control behaviour.

Two approaches:
1. we protect GVR aka CRD creation via authorization
2. we split automatic semantics via cross-workspace controllers from CRDs, i.e. we need some opt-in to bind semantics to a CRD.

For APIImports the second is more natural, but probably no

[2022-02-21 20:36] ncdc commented on #545
Example scenario to protect against (?):

1. Controller reconciles Widgets
2. Controller expects spec.someField is always present (defaulted, maybe a pointer but always set)
3. Malicious Actor creates a workspace, adds a Widget CRD that doesn't have someField, creates a Widget instance
4. Controller goes into a crashloop every time it syncs the Widget missing someField

[2022-02-21 20:58] sttts commented on #545
Thinking less about schema attacks, but about an actor creating internal GVRs and triggering behaviour that is only meant for privileged cluster operation, e.g. some ClusterWorkspaceType the user should not have access to. But because the user can create a "fake CRD" of the GVR with full access, he can trigger an initializer controller for that workspace type to copy sensitive data (e.g. secrets o

[2022-02-22 14:10] chirino commented on #545
Another case: what if two different service providers want to implement that same API.  They will look for the same CRD: but the two different users want different implementations of the controler.

[2022-02-22 14:28] chirino commented on #504
I think the important thing is that "wait for drain to finish" is also based on an **event that is external** to the physical cluster.  Our ingress control plane will in charge of emitting it.

[2022-02-22 16:02] samyak-jn commented on #519
Wanted to have a quick chat about this issue: https://github.com/kcp-dev/kcp/issues/535

[2022-02-22 16:20] ncdc commented on #535
KEP to reduce secret-based service account tokens: https://github.com/kubernetes/enhancements/tree/27fc35ee605a1417efe6394451ddecfbf2dec534/keps/sig-auth/2799-reduction-of-secret-based-service-account-token

[2022-02-22 16:39] ncdc commented on #541
Correct

Correct

I'm happy to start with manual curation. Also quite happy if someone wants to implement this.

[2022-02-22 16:48] #410 closed

[2022-02-22 17:09] sttts opened #549 "Use different user-agents for controllers and components in KCP"
From apiserver `--v=6` httplogs it is hard to understand which actor does a request, e.g. whether a request comes from cluster controller or workspace controllers.

This issue is about change that by customizing the user-agent of all components in some systematic way to improve debugging and analysis experience.

[2022-02-22 17:17] sttts opened #550 "Improve ingress dev/demo experience on Mac"
The prototype 2 demo does not work completely on Macs today because networking is more complicated through the podman or docker virtual machine in between kind and the host.

This issue is about improving the situation, either in documentation or even better in some automation, in demo scripting or in the ingress controller.

[2022-02-22 18:22] sttts opened #551 "Community Meeting March 1, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-02-22 18:25] sttts commented on #551
As there are more and more new people on-board (which is awesome 👍🏼) and joining the discussions, I would like to give a half an hour "overview of kcp" with special focus on the vision beyond what we see today in the repository, or what might get hidden behind many technical details.

[2022-02-22 19:24] ncdc opened #552 "Make signal handling consistent"
We have a mixture of:

- `signal.NotifyContext`
- `genericapiserver.SetupSignalContext`
- `genericapiserver.SetupSignalHandler`

I'd like to unify to a single convention, if everyone agrees. My preference would be `genericapiserver.SetupSignalContext`.

[2022-02-22 19:27] ncdc opened #553 "Convert cmd/syncer/main.go to be a cobra.Command"

[2022-02-22 19:37] ncdc commented on #467
Recording: https://www.youtube.com/watch?v=d-PJb5SReJo

[2022-02-22 19:37] #467 closed

[2022-02-22 22:37] Roming22 commented on #535
I've tried to add the annotation to the secret, but still ran into the issue. I'm not very confident I've done things properly, so here's my output:
[code]

Did I set the annotation properly? Do I need more annotations on other objects?

[2022-02-23 13:47] imjasonh commented on #512
Recording: https://youtu.be/CUdGXF5V-vk

[2022-02-23 13:47] #512 closed

[2022-02-23 13:47] imjasonh commented on #519
Recording: https://youtu.be/SMVA3GgF2Ww

[2022-02-23 13:48] imjasonh commented on #402
Recording: https://youtu.be/4Kl52nE92CY

[2022-02-23 13:48] #402 closed

[2022-02-23 14:33] pradeepnnv commented on #553
I would like to give this a try.

[2022-02-23 15:40] ncdc commented on #553
Thanks! It's yours!

[2022-02-23 16:43] imjasonh opened #556 "Add Unschedulable and Eviction fields to ClusterSpec"
**Is your feature request related to a problem? Please describe.**

As a cluster operator, I want to be able to more gracefully move workloads away from a cluster, e.g., while performing maintenance a cluster, or decommissioning it.

**Describe the solution you'd like**

It should be possible to specify that a Cluster should be unschedulable (no new workloads should schedule there), or evict (acti

[2022-02-23 17:09] ncdc commented on #21
@smarterclayton still relevant, or ok to close?

[2022-02-23 17:12] ncdc commented on #24
This has been superseded by new milestones and issues. If anything fell through the cracks, please let me know and we'll make sure to create new issues.

[2022-02-23 17:12] #24 closed

[2022-02-23 17:21] ncdc opened #557 "Investigate how deployment-splitter, ingress-controller, etc. fit into the bigger transparent multi-cluster picture"
Spawned from https://github.com/kcp-dev/kcp/pull/537#issuecomment-1047529564.

Until/unless #537 merges, the deployment-splitter is in direct conflict with the namespace scheduler, as the former expects the root deployment to remain unscheduled to a physical cluster, and the latter expects to schedule everything to a physical cluster.

Additionally, there is currently a hack in the namespace sched

[2022-02-23 17:59] ncdc commented on #535
@Roming22 do you have `type: kubernetes.io/service-account-token` in your secret?

[2022-02-23 18:09] ncdc commented on #26
How (if at all) does this relate to #206? Partial/total duplicate?

[2022-02-23 18:18] ncdc commented on #69
It looks like the initial issue was resolved. The code has evolved a lot since this issue was filed - if you are still encountering issues with syncing, please make sure you create a Workspace first (related: #542).

Closing due to age.

[2022-02-23 18:18] #69 closed

[2022-02-23 18:19] ncdc commented on #75
#478 moves the ingress controller in-repo

[2022-02-23 18:35] ncdc commented on #94
This will be replaced by APIImport/Export work and other things.

[2022-02-23 18:35] #94 closed

[2022-02-23 18:36] chirino commented on #415
This issue title seems kinda of related to 2.1/2.2 in the transparent multi-cluster use case doc: https://docs.google.com/document/d/1LeYMt4I1No1W-tj6LCPuXE7kTSD-uggC8IRI6DVpHOM/edit?hl=en&forcehl=1#heading=h.kmn31tiyv4vs

Should we also be able do a simpler demo where something like a LogicalClusterPolicy is updated to run a stateless app in multiple clusters?  Seems like being able to run an app

[2022-02-23 18:37] ncdc commented on #138
Looks like it does; closing.

[2022-02-23 18:37] #138 closed

[2022-02-23 18:39] ncdc commented on #75
We have this as spanning prototypes 3 and 4. I've added it to the Prototype 3 milestone. We need to flesh out the description for this epic/feature, and specific work items (as separate issue tasks). FYI @jmprusi @pweil- @sttts

[2022-02-23 18:46] ncdc commented on #415
@chirino this has been scoped down to the updated set of demo steps now seen in the issue description. The net new features here are the cordoning and draining of a physical cluster.

Cluster placement/scheduling policies will come later, via separate issue(s).

[2022-02-23 18:53] ncdc commented on #148
I am not able to reproduce:

1. Start kcp as a "physical cluster"
1. Start kcp (which now runs the cluster controller by default) configured to sync services.serving.knative.dev
1. Register the "physical cluster" kcp as a `Cluster` with the regular kcp

[code]

If you are able to reproduce, please reopen and we'll investigate!

[2022-02-23 18:53] #148 closed

[2022-02-23 19:18] ncdc commented on #162
We are now publishing a kcp image (see https://github.com/kcp-dev/kcp/pkgs/container/kcp).

@lburgazzoli can your test automation use a `docker cp`/`podman cp` command to copy the admin.kubeconfig out of the container for use by your tests?

[2022-02-23 19:20] ncdc commented on #205
@sttts (revisiting) do you want to maintain our demos so they're consistently functional? If so, we should fix this (if it's still broken) and make it a required check on all PRs. If not, we should remove the check-demos label and workflow.

[2022-02-23 19:53] ncdc commented on #221
@sttts I'd still like to embrace go-logr, but it's a pervasive code change (anywhere that we're logging). WDYT?

[2022-02-23 19:57] ncdc commented on #246
Closing, as we have copied in the CAPI conditions code. If we need to revisit anything with conditions, let's open new issues. Thanks!

[2022-02-23 19:57] #246 closed

[2022-02-23 19:58] ncdc commented on #270
Is this something we still need, now that we can run tests with kcp in-process for debugging?

[2022-02-23 20:04] ncdc commented on #297
I haven't seen this in a long time. Closing. Will reopen if needed.

[2022-02-23 20:04] #297 closed

[2022-02-23 20:09] ncdc commented on #307
@sttts if you're able, please update the description and include checkbox tasks for each related issue and/or PR

[2022-02-23 20:11] ncdc commented on #333
@pweil- @sttts do you recall if we put this on the roadmap, and if so, which prototype?

[2022-02-23 20:11] marun commented on #270
I think we still need this. Running kcp in-process today still implies spinning up a server for ever test or set of tests. Ideally it will be possible for an e2e run to target a single persistent server/set of servers to minimize test runtime and resource utilization.

[2022-02-23 20:15] ncdc commented on #270
Is "a persistent set of servers" equivalent to "BYO kcp", or can they be differentiated? In other words, if we could do persistent servers in the e2e (be they in-process or external), would we still **also** want BYO kcp?

[2022-02-23 20:22] marun commented on #270
I don't think BYO is different from persistent servers. In either case, the server deployment would be performed before a starting a test run, and the run would need to be configured to use the servers. The heavy lifting here will be in ensuring our e2e tests are sufficiently isolated and idempotent to support running against a persistent server.

[2022-02-23 20:35] ncdc commented on #341
@sttts this is another example of built-in type defaulting logic (deployment spec.replicas is a pointer that defaults to 1 when nil, in code). Should we file an upstream issue + PR to set an openapi comment tag to have the default be 1? Are there any negative implications of doing so?

[2022-02-23 20:38] ncdc commented on #370
@sttts do you want to pull any of this into p3?

[2022-02-23 21:20] ncdc commented on #426
Note that now that #555 is in, our generated kubeconfigs no longer contain loopback/localhost for the server URL. Also the refactorings suggested above have been implemented. Going to close, but will reopen if we revert/change the kubeconfig logic to write out localhost again.

[2022-02-23 21:20] #426 closed

[2022-02-23 21:25] ncdc commented on #489
@sttts is this p3?

[2022-02-23 21:25] ncdc commented on #490
@sttts is this p3?

[2022-02-23 21:30] ncdc commented on #518
Related: #25

[2022-02-23 21:33] ncdc commented on #527
Related: #400 (may need to adjust its description)

[2022-02-23 21:35] ncdc commented on #535
Followed up on Slack - the SA was missing a reference to the secret. It's working now.

[2022-02-23 23:33] Roming22 commented on #535
In case anyone stumble upon this and wonders what the workaround is, here's what I used:
[code]

[2022-02-24 09:48] pweil- commented on #333
At least the logs portion of this has been discussed as priority for prototype 4 as part of the need for basic live observability with no history.    Might consider if we need the full package or can implement items in the description incrementally.

[2022-02-24 13:24] metacosm commented on #162
@lburgazzoli let me know how it goes, would be interested to see if this works nicely in GitHub Actions…

[2022-02-24 13:59] ncdc commented on #333
Thanks, added to 4 for now.

[2022-02-24 15:15] ncdc opened #564 "Investigate if /metrics can be per workspace"
I think they're global, but we'll presumably want them to be scoped per workspace

[2022-02-24 16:30] imjasonh commented on #418
For cluster registration we need to produce:
- YAML describing a syncer deployment that can be applied to a pcluster
- a working demo, even better a script, ideally a `kubectl` plugin surface that:
  - creates a SA in kcp
  - sees a SA token secret created for that SA, associated with that SA
  - copies that SA token to the pcluster, associated with the SA running the syncer in the pcluster
  - ..

[2022-02-24 17:22] ncdc commented on #418
👍

Also talked to @sttts @s-urbaniak and 👍 for enabling the kube `TokensController` and a corresponding authorizer.

Also need to remove the kubeconfig field from the `Cluster` CRD

[2022-02-24 20:12] fabianvf commented on #417
We've been working on making cert-manager multi-cluster aware, if anyone else is working on this issue feel free to reach out (fabianvf on kubernetes slack)

[2022-02-24 21:11] kylape opened #570 "system:authenticated group is not added to users"
**Describe the bug**
system:authenticated group is not added to users.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a role binding that applies to system:authenticated
2. Make a request with an unprivileged user that should be authorized for the role binding created in step 1

**Expected behavior**
User would be allowed to make the request

[2022-02-24 21:35] ncdc commented on #417
@sttts I updated the description with more details & design info. PTAL. Can you clarify what "APIImport admission" and "APIDeployment controller" are?

[2022-02-25 13:01] s-urbaniak commented on #570
@kylape can you give the concrete example of the role binding? How do you concretely execute the request, i.e. how do you construct an unprivleged user?

[2022-02-25 13:19] ncdc commented on #570
Do we need to bind system:kcp:authenticated to system:authenticated?

[2022-02-25 13:30] s-urbaniak commented on #570
I just tested `system:authenticated` is always already present and bound to the user, hence my confusion.

[2022-02-25 14:01] ncdc opened #573 "CI: don't run e2e & other tests for documentation-only PRs"
If a PR only touches documentation, we should skip running most of the CI jobs because the documentation changes do not affect e.g. e2e tests.

We can use https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-excluding-paths to accomplish this.

Possible ignore list:
- `docs/**`
- `*.md` (not sure if we want `**/*.md` for every md file, or only those in the

[2022-02-25 14:29] ncdc opened #574 "Remove syncChecks from all controllers, rely on factory WaitForCacheSync instead"
- [ ] pkg/reconciler/workspaceshard/controller.go
- [ ] pkg/reconciler/workspace/controller.go
- [ ] pkg/reconciler/workspaceindex/controller.go
- [ ] pkg/reconciler/namespace/controller.go
- [ ] pkg/reconciler/apiresource/controller.go

[2022-02-25 14:44] #556 closed

[2022-02-25 14:55] kylape commented on #570
Sorry, I admit it is very possible I am just configuring the role bindings incorrectly.

I am trying to let any authenticated user access the discovery endpoints in my KCP instance.  I have the admin user (auth'd via the admin token) configured in my kubeconfig context as `kcp-admin` and an unprivileged user auth'd via oidc in the context `kcp`.

Here's my (lightly edited) console output:

[code]

[2022-02-28 07:45] sttts opened #581 "Add authorization to ClusterWorkspaceType use"
Follow-up of https://github.com/kcp-dev/kcp/pull/508

The use of ClusterWorkspaceTypes should be protected by RBAC, e.g. through a ClusterWorkspaceType role with verb use, or some subreasource clusterworkspacetypes subresource.

[2022-02-28 08:11] avinal commented on #573
Hello @ncdc, I would like to work on this issue.

[2022-02-28 11:28] maleck13 commented on #504
The functionality here feels very similar to that of a finalizer, except it is applied by a controller at the KCP level and then synced down to the physical cluster. Control plane decides when that finalizer is removed so that the resources can then be removed from the physical cluster.

[2022-02-28 20:13] s-urbaniak commented on #570
ok, i have a local reproducer, debugging

[2022-02-28 20:14] #494 closed

[2022-02-28 20:14] s-urbaniak commented on #570
@kylape do you mind to give me the concrete URL paths behind `kcp-admin` and `kcp`

[2022-02-28 21:11] kylape commented on #570
Both contexts use https://kcp-admin-kcp-stage.apps.kcp-internal-1.52p3.p1.openshiftapps.com/, but `kcp-admin` uses token auth (as opposed to oidc).

[2022-03-01 10:55] s-urbaniak commented on #570
OK, i made this work successfully. You need to grant basic access to the `default` workspace which is present in the `root` cluster. To make `discovery` work you need to grant at least a very basic access (without further permissions) to authenticated users:

[code]

[2022-03-01 10:57] s-urbaniak commented on #570
The above will grant any `system:authenticated` user access to `system:discovery` in the `default` workspace, cc @sttts @ncdc for verification.