[2022-03-01 14:21] jmprusi commented on #280
Using  "automountServiceAccountToken: false" in  deployment.spec.template.spec allows us to handle what volumes should be mounted on the PODs, this way we can override the `default kube-root-ca.crt` or any other names

[2022-03-01 14:25] ncdc opened #588 "Set up CI for kcp-dev/kubernetes"
- [ ] Create a GitHub action
- [ ] run unit tests
- [ ] make sure e2e tests all compile
- [ ] (maybe?) run e2e tests

[2022-03-01 14:47] #519 closed

[2022-03-01 14:48] imjasonh commented on #551
- [Issues filed since last week with no milestone](https://github.com/kcp-dev/kcp/issues?q=is%3Aissue+is%3Aopen+created%3A2022-02-22..%2A+no%3Amilestone)
- [All issues with no milestone](https://github.com/kcp-dev/kcp/issues?q=is%3Aissue+is%3Aopen+no%3Amilestone+)

[2022-03-01 14:53] imjasonh commented on #551
- https://github.com/kcp-dev/kcp/issues/280

[2022-03-01 15:59] ncdc commented on #551
Development process brainstorming:

1. Have actionable steps/action-items like in https://github.com/kcp-dev/kcp/issues/418 in every epic
    1. These don't necessarily need to be individual issues; it's ok if they're only tracked as tasks in the epic
    2. Please tag yourself on the tasks you intend to work on
    3. When you open a PR for your task, be sure to mention the epic issue by number

[2022-03-01 16:23] pweil- commented on #519
Next https://github.com/kcp-dev/kcp/issues/551

[2022-03-01 16:49] sttts commented on #551
Addition to @ncdc's process suggestions:

We want to document more about design background. Proposal: more markdown docs similar to https://github.com/kcp-dev/kcp/blob/main/docs/workspaces.md.

[2022-03-01 16:53] ncdc opened #590 "Document "how to add a new API + validation + controller""
- [ ] How to add a new API group
- [ ] How to add a new API type
- [ ] How to add validation for an API type
- [ ] How to write a controller for an API type
- [ ] How to wire in a controller to the kcp server

[2022-03-01 17:00] stevekuznetsov opened #591 "Investigate CockroachDB as a Backing Store"
Rough plan:

- [ ] implement `storage.Interface` and pass all unit tests
- [ ] pass API server and machinery integration tests
- [ ] pass API machinery end-to-end tests
- [ ] benchmark performance impact (using what benchmark?)

[Doc](https://docs.google.com/document/d/1mTnLY_RA2M3PeZZ5j6hMnQY74d8zYycEmvlsE7pZBO8/edit) with details for implementation.

[2022-03-01 17:00] stevekuznetsov commented on #591
Implementation: https://github.com/kubernetes/test-infra/pull/25092

[2022-03-01 18:06] ncdc commented on #570
Makes sense.

Do we want to put this in docs for now?

Do we want this to be part of a default bootstrap policy?

[2022-03-01 18:31] #573 closed

[2022-03-01 18:59] ncdc opened #595 "Add .github/ISSUE_TEMPLATE/* to paths to ignore for CI"

[2022-03-01 18:59] ncdc commented on #595
cc @avinal if you want this one too 😄

[2022-03-01 18:59] ncdc commented on #595
@imjasonh this makes sense to exclude, right?

[2022-03-01 19:01] ncdc commented on #551
#594 adds an issue template for epics, and the process bits from above into CONTRIBUTING.MD

[2022-03-01 19:11] ncdc opened #596 "Speed up code generation"
Generating deepcopy, clientsets, listers, informers seems to take way longer for kcp ("small" in size) compared to kubernetes ("huge"). It would be great to figure out why these 4 generators seem so much slower against the kcp repo.

[2022-03-01 19:39] imjasonh commented on #595
Yeah seems reasonable to me.

[2022-03-01 20:40] davidfestal opened #597 "Adapt virtual workspace and cli to org workspaces"
Adapt `workspaces` virtual workspace and the `kubectl kcp workspace` CLI plugin to org workspaces.

This is a followup of PR https://github.com/kcp-dev/kcp/pull/508

[2022-03-02 07:12] avinal commented on #595
Hey @ncdc, I was going through the folder and found kcp is still using old issue templates and has no pull request templates along with some minor issues in the README.md, what do you think about adding these to this issue as well.

Proposed new issue templates: https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms

[2022-03-02 12:50] s-urbaniak commented on #570
@kylape we just verified, `system:authenticated` _does_ have a default binding against, hence only https://github.com/kcp-dev/kcp/issues/570#issuecomment-1055299952 is necessary.

[2022-03-02 12:52] s-urbaniak commented on #570
@ncdc

yes, definitely, I am crafting a `AUTHORIZATION.md`.

not sure if we want to give implicitly all `system:authenticated` users `access` to the `default` (or any) workspace 🤔 It's definitely intuitive but I want to think this through.

[2022-03-02 14:54] #531 closed

[2022-03-02 14:54] #532 closed

[2022-03-02 15:14] ncdc commented on #553
Thanks @RAMESSESII2 for your interest! I see you submitted a PR for it. Just wondering - @pradeepnnv did you do any work on this?

[2022-03-02 15:16] #574 closed

[2022-03-02 15:17] ncdc commented on #570
Makes sense.

[2022-03-02 15:24] pradeepnnv commented on #553
Hi @ncdc . Sorry I did not get a chance to work on this. Please assign this to @RAMESSESII2 .

[2022-03-02 15:37] avinal opened #602 "unknown command `options` for `kcp`"
**Describe the bug**
`options` is not a subcommand for `kcp`. By looking at the code, it is a subcommand of `kcp start`. But if we see the help the last line suggests otherwise.

Relevant lines of code:
https://github.com/kcp-dev/kcp/blob/main/cmd/kcp/kcp.go#L133-L134

![image](https://user-images.githubusercontent.com/74113200/156392653-2883a5d6-39a4-4cb1-87f8-138958d706a1.png)

**To Reproduce**

[2022-03-02 16:26] avinal commented on #541
I am in favor of switching to `logrus` or a similar logging package because no matter how hard we try we will run out of meaningful unique names that are also short. In any case please let me know, I would like to work on it. 👍🏼

[2022-03-02 16:51] ncdc commented on #602
@UtkarshChaurasia assigned to you!

[2022-03-02 17:52] imjasonh commented on #551
Recording: https://youtu.be/4Fa8NYx3bkI

[2022-03-02 18:27] samyak-jn opened #604 "Reconciliation of resources back to pclusters by KCP if deleted by mistake"
**Describe the bug**
In the perfect world scenario, Ideally, KCP should reconcile back the resources which are by mistake/intentionally deleted from the physical cluster end. The only source of truth in such operation should be done via the KCP end only, but for now if resources are being deleted (need to check for create/update as well) the resources are not reconciled back to their original stat

[2022-03-02 19:02] tkashem commented on #506
/cc

[2022-03-02 19:22] ncdc commented on #604
I think this is because the "spec syncer", which upserts from kcp to pclusters, only watches resources in kcp. If something is deleted in the pcluster, the spec syncer won't know about it. If you make any updates to those resources in kcp (e.g. label or annotate them), they should be rereconciled and recreated. Otherwise, for the time being, you have to wait for the resync period, which is many ho

[2022-03-02 20:56] ncdc opened #606 "'kubectl create clusterrole' for workspaces doesn't work"
**Describe the bug**
I'm not able to use `kubectl create clusterrole` to set up something for workspaces

**To Reproduce**
Steps to reproduce the behavior:
1. `kcp start`
2. Don't start the virtual workspaces apiserver
3. Use the standard kubeconfig context (`default`)
4.
[code]

**Expected behavior**
clusterrole is created

**Additional context**
I'm not sure if we want to fix this, or only make

[2022-03-02 23:06] kylape commented on #570
So just to confirm: The system:discovery role binding is inherited from the system workspace?

[2022-03-03 07:04] maleck13 commented on #143
Example use cases: An ingress controller that wants to control the hosts that can be used for ingress. A controller that wants to ensure some quota / subscription is enabled based on a resource it provides.

[2022-03-03 07:21] avinal opened #610 "Change issue template to newer issue forms"
**Is your feature request related to a problem? Please describe.**
This project uses old Issue templates and currently has no pull request templates.

**Describe the solution you'd like**
- Upgrade issue template to newer issue forms: https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms

[2022-03-03 07:41] marun commented on #604
I'm going to take this. Not sure yet if P3 will be doable, but P4 for sure.

[2022-03-03 08:20] UtkarshChaurasia commented on #602
`./kcp start options` shows all the flags. So there can be 2 ways to fix this:

1. Instead of using `options` as subcommand of `./kcp start` use it as subcommand of `./kcp options`
2. Create different `options` subcommands and seggregate flags for `./kcp start options` and `./kcp options`

So which way should I proceed?

[2022-03-03 13:19] ncdc commented on #602
@sttts I'm not sure it makes sense to show `Most important flags` for `kcp --help`, since they only apply to `kcp start`. I feel like we should remove them and only show them in `kcp start --help`. WDYT?

[2022-03-03 16:32] jmprusi commented on #280
related to https://github.com/kcp-dev/kcp/issues/535

[2022-03-03 16:41] ncdc commented on #206
Rescoping to just case 2 - "pod wants to talk to physical cluster apiserver" as case 1 is handled by #280

[2022-03-03 17:19] varshaprasad96 commented on #498
@sttts could you please elaborate on what is to be done to add OpenAPI v3 support to crdpuller. I can work on it. Thanks!

[2022-03-04 09:38] s-urbaniak opened #617 "Review universal clusterworkspace types RBAC"
**Is your feature request related to a problem? Please describe.**

Currently, we use the `use` verb to create default clusterworkspacetypes bindings against `system:authenticated` users to be able to create universal cluster workspace types.

This verb seems counter-intuitive with a creational-only use case.

**Describe the solution you'd like**

If we use that binding for other (non creational u

[2022-03-04 09:39] s-urbaniak opened #618 "Document workspace authorization"
**Is your feature request related to a problem? Please describe.**

Currently, it is not clear how authorization works, especially in conjunction with workspaces and the different types.

**Describe the solution you'd like**

Create a `doc/authorization.md` describing RBAC semantics.

[2022-03-04 14:13] s-urbaniak commented on #570
@kylape formally, the `system:discovery` role binding against `system:authenticated` group is part of the bootstrap policy, available in all workspace. It's just that you need to grant general access to a concrete workspace (in this case `default` having `root` as its org workspace)

[2022-03-04 15:10] kylape opened #621 "Optimize Github Actions by caching kubectl/kustomize binaries"
We could use the [Openshift tools installer](https://github.com/marketplace/actions/openshift-tools-installer), or perhaps we could figure out a different strategy to cache.  [Context](https://github.com/kcp-dev/kcp/pull/483#discussion_r818154734)

[2022-03-04 16:28] MikeSpreitzer opened #623 "Terminology inconsistency in doc on workspaces"
**Describe the bug**
https://github.com/kcp-dev/kcp/blob/main/docs/workspaces.md introduces "Enduser Workspace" but not "Cluster Workspace", but in later sections uses "Cluster Workspace" but not "Enduser Workspace".

**To Reproduce**
read the doc

**Expected behavior**
consistency

**Additional context**

[2022-03-04 16:38] kylape opened #624 "Auto-create access and admin organizational roles in root workspace"
**Is your feature request related to a problem? Please describe.**
We're trying to land on a reasonable set of bootstrap RBAC policies that get added along with organizational workspaces.

**Describe the solution you'd like**
Having two roles applied to the root workspace:

* `<org-name>-access`: Grants `access` verb to org workspace
* `<org-name>-admin`: Grants `edit` verb to org workspace (shoul

[2022-03-04 23:19] sttts opened #630 "In root workspace, kcp cli plugin does not understand current workspace"
While in root workspace:

[code]

And then (demo is an org):
[code]

Also note that the output should rather be `Current all workspace is organization "demo".`

[2022-03-04 23:40] sttts opened #631 "cli-plugin: unify workspace output with org"
The plugin should uniformely print workspaces names, e.g. in create, use and current commands: `workspace foo in org bar` or similar. Today is does not print the org name.  E.g.:

`Current all workspace is "demo".` should read `Current all workspace is "demo" in organization "demo".`

[2022-03-04 23:44] sttts opened #632 "cli-plugin: implement cd semantics"
Workspace change is very much like `cd` in bash. We should have the same ways to go back and forth between root, orgs and workspaces:

[code]

[2022-03-04 23:44] sttts opened #633 "cli-plugin: implement cd semantics"
Workspace change is very much like `cd` in bash. We should have the same ways to go back and forth between root, orgs and workspaces:

[code]

Note: `-` is implemented, `..` is not.

Also typing `kubectl kcp workspace` is tedious. Maybe we want `kubectl kcp ws foo` and `kubectl kcp ws ..`.

[2022-03-04 23:48] sttts opened #634 "CI: linter job does not print lines"
[code]
(source https://github.com/kcp-dev/kcp/runs/5429150824?check_suite_focus=true#step:4:109)

This is not helpful.

[2022-03-07 08:51] sttts opened #638 "kubectl-kcp: do not assume virtual workspace apiserver topology"
In pkg/cliplugins/workspace/plugin/kubeconfig.go we assume the (default) deployment topology of the virtual-workspaces apiserver. We must not do that. We cannot deploy virtual-workspaces under a different port.

[2022-03-07 14:03] #606 closed

[2022-03-07 14:26] ncdc commented on #630
What does "all" mean? What is an "all workspace?"

[2022-03-07 15:00] ncdc opened #642 "Add authorization check to personal virtual workspaces to ensure user has access to org"
When creating a personal workspace, users must only be allowed to do so in their organizations.

[2022-03-07 15:07] astefanutti opened #643 "Possible race when syncing deletes to downstream clusters"
**Describe the bug**

Races can occur when upstream objects are deleted and re-created, leading to inconsistent states between upstream and downstream clusters.

**To Reproduce**

Steps to reproduce the behavior:

1. Delete the downstream object
2. Delete the corresponding upstream object
3. That delete operation fails and is re-queued for retry with backoff
4. Re-create the upstream object, that

[2022-03-07 15:54] kylape commented on #570
I am trying to understand where the bootstrap policy is persisted.  I can only find `system:discovery` defined in the system org:

[code]
This leads me to believe that the role must be inherited from the system org.

[2022-03-07 16:41] ncdc opened #644 "Log spam: "resource is not list+watchable" logical-cluster="root:default" group="authorization.k8s.io" version="v1" resource="localsubjectaccessreviews" verbs="[create]""
[code]

We should probably remove the "resource is not list+watchable" log message, or drop its V level to 4 or higher. WDYT?

[2022-03-07 17:29] guillaumerose opened #645 "GitVersion is not set in kubectl version"
**Describe the bug**

Knative framework checks the version of kubernetes endpoint. With the current kcp image, the GitVersion is a placeholder and the regexp is failing.

Tekton cannot run because of that.

The check is here: https://github.com/knative/pkg/blob/80c511aa340f678c7449e1cc360d43b168a140aa/version/version.go#L52

**To Reproduce**
Steps to reproduce the behavior:
1. Run a knative contro

[2022-03-07 17:34] sttts commented on #624
Actually, the current workspace authorizer automatically applies to orgs already by applying the following clusterworkspaces/content verb to group mapping: https://github.com/kcp-dev/kcp/blob/main/pkg/authorization/workspace_content_authorizer.go#L126

[2022-03-07 17:53] varshaprasad96 commented on #632
@sttts I can work on this. Can you please assign it to me.

[2022-03-07 18:00] csams opened #647 "KCP admin can create resources in workspaces that don't exist"
**Describe the bug**
The KCP admin can create resources in workspaces that don't exist. It might be good to have some guardrails against it even for the admin, or at least an entry in the log.

**To Reproduce**
Steps to reproduce the behavior:
1. Modify the kubeconfig to point to an org:workspace that doesn't have a corresponding workspace resource.
2. Create any resource in the non-existent works

[2022-03-07 18:24] #597 closed

[2022-03-08 14:28] sttts opened #654 "Community Meeting March 8, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-03-08 14:28] #551 closed

[2022-03-08 15:37] ncdc opened #655 "Test flake: kcp failed to finish root bootstrapping"
From a PR's e2e-multiple-runs, there was a flake in one of the runs where kcp failed to finish its post-start hooks.

https://github.com/kcp-dev/kcp/runs/5466390129?check_suite_focus=true

The failure from the test was:

[code]

Here's the kcp.log from the failed run (tl;dr root bootstrapping repeatedly failed with `I0308 15:18:07.693469   26005 bootstrap.go:93] Failed to bootstrap resources, retr

[2022-03-08 16:13] pweil- opened #657 "Document how to show current context in shell"
Given the addition of more contextual nesting it would be useful to provide guidance in the dev/contrib/readme documentation (pick one) on how a user can show the current context in their shell including the current org and workspace.

[2022-03-08 16:15] pweil- commented on #657
as discussed during community meeting https://github.com/kcp-dev/kcp/issues/654

[2022-03-08 16:16] sttts commented on #654
Ask for comments: https://github.com/kcp-dev/kcp/pull/620 – APIBindings++, basically the steps after ^

[2022-03-08 16:26] #644 closed

[2022-03-08 16:47] aojea commented on #655
since errors are appended on the error message, this is the stack trace

[code]

[2022-03-08 16:50] pweil- commented on #551
Next https://github.com/kcp-dev/kcp/issues/654

[2022-03-08 17:02] smarterclayton commented on #647
Starting a slack thread that we can summarize back here, but roughly:

1. If we allow admins to create resources outside workspaces, we need a way for admins to clean up mistakes
2. We may want to support precreating resources in a workspace via this mechanism, but we DEFINITELY don't want to leave resources from previous workspaces around when new workspaces are created

More chat here https://ku

[2022-03-08 17:12] ncdc commented on #541
@avinal FYI please see #221 re a logging interface. Comments welcome!

If you'd like to start working on some of these renames, please let us know which one(s) and we'll add your name next to them.

[2022-03-08 17:18] sttts commented on #647
I think this situation is by design and I don't think we want to invest in changing this. System:masters group membership is required to bypass workspace authorization. This is basically what root is in Linux. Ability to shoot yourself into the foot is part of that role.

In the future, we will have org admins and kcp admins as organizational roles (think of a role for service provider setup). The

[2022-03-08 17:20] sttts commented on #647
+1 for closing if nobody objects.

[2022-03-08 17:47] imjasonh commented on #654
Recording: https://youtu.be/I9tP8Xa8_V4

[2022-03-08 19:25] #634 closed

[2022-03-08 22:11] #552 closed

[2022-03-09 08:06] sttts commented on #418
Marked anything about Location and "making cluster available in a workspace" as out-of-scope for p3.

[2022-03-09 08:26] aojea commented on #655
current log level doesn't show much information and I was not able to reproduce locally,

This pr will increase verbosity to level 7 https://github.com/kcp-dev/kcp/pull/656/commits/18f7d96c301378bd546217d3a7c35bbd68e98b54

[2022-03-09 11:51] aojea commented on #333
/cc

[2022-03-09 12:04] aojea commented on #588
we should also have e2e tests with kcp -> kind (or multiple kind clusters)

[2022-03-09 13:04] #163 closed

[2022-03-09 13:05] pweil- commented on #373
Closing this since the demo is recorded.  We still need to get some doc refinement but we're closing in on p3 dates so this has become moot for p2

[2022-03-09 13:05] #373 closed

[2022-03-09 13:29] #630 closed

[2022-03-09 13:44] #647 closed

[2022-03-09 13:56] sttts opened #665 "virtual-workspace: must not return 404 due to stale informers"
404 must not be returned by apiservers due to missing persmissions or due to stale caches. If the authorization cache is stale, we should return 403.

Also note that we must not leak existence when permission are lacking, i.e. the response should exactly be the same when a) a workspace does not exist b) there is no access for the user to a workspace.

[2022-03-09 14:26] ncdc commented on #588
@aojea what sort of tests do you have in mind for that scenario?

[2022-03-09 15:28] ncdc commented on #655
@aojea I think this is the root cause: https://kubernetes.slack.com/archives/C021U8WSAFK/p1646836994993419. Summary: once our in-memory RESTMapper retrieves discovery, it never gets refreshed, even on a cache miss, because the DeferredDiscoveryRESTMapper only invalidates the cache if the cache says it's not "fresh", but the in-memory mapper always returns true once it gets at least 1 GV from disco

[2022-03-09 17:36] marun commented on #588
@aojea I suspect you're thinking of testing involving synchronization of resources between kcp and kind clusters. While this is definitely in the cards for the `kcp-dev/kcp` repo, the context of this issue is for validating the apiserver foundations of kcp (`kcp-dev/kubernetes`) rather than the controllers (like scheduling and sync) that will run on top of it.

Regarding testing with kind, we'll g

[2022-03-09 18:13] aojea commented on #588
I saw a demos folder that uses kind for some scenarios, I was thinking initially on having some automation to test that the demos always work to avoid regressions there, and also to guarantee that new users can run the demos without any problem ... I think that is a very bad experience to go to a project, try to run some demo, and that doesn't work or fail ...

yeah, the famous testing pyramid, I

[2022-03-09 20:30] marun opened #674 "Need a way to consistently deploy a kcp server + kind clusters for develop/test/demo"
Currently there is no standard way to bring up a kcp instance and workload clusters so that they could be used for development, testing, or demoing.

Ideally we need a command that, given kind and kcp binaries in the path:

 - can deploy kcp and 0-n (number configurable) kind clusters locally
 - expose the configuration required to use what is deployed in a standard way
   - e.g. copy the kind ser

[2022-03-09 20:36] marun commented on #588
For sure, validating cross-cluster networking will require multiple kind clusters. I imagine e2e could accept one or more `--workload-cluster` arguments, and a cross-cluster ingress test could skip if it didn't get the clusters it needed.

FWIW I think the provisioning of kcp and kind servers should be outside the scope of e2e setup. Having an easy way to deploy kcp and kind clusters in standard c

[2022-03-09 20:41] ncdc commented on #588
Makes sense, but out of scope for this issue, which is just about getting CI set up for the kcp fork of kubernetes.

[2022-03-09 20:56] aojea commented on #674
This can be easily adapted as starting point (remove tmux ... )

https://gist.github.com/aojea/7eb651bf2172a1415cf6576d0baeb9f5

Bash can be used only for setting up the environment, not for adding testing functionality not knobs ... If that is not the case, agree it should be moved to other thing

[2022-03-09 21:01] marun commented on #674
I think the consensus was that bash starts simple but never stays that way. Given that being able to deploy consistently is likely to be something we need for the lifespan of the project, best to do the right thing now and switch to golang.

[2022-03-09 21:04] marun commented on #674
Note that cluster registration and syncer deployment should be optional to enable arbitrary test configuration (including running the syncer in-process for testing).

[2022-03-09 21:06] aojea commented on #588
My bad, I think that the e2e term here is differet for what I think ... I agree with your conclusion

[2022-03-09 23:59] aojea commented on #674
I don't think anybody can argue against that XD

[2022-03-10 12:34] #638 closed

[2022-03-10 13:00] sttts opened #678 ""kubectl kcp workspace current" in root is broken"
As discussed, the "current" command inside the root workspace is broken right now, but will be fixed with a planned cleanup/simplification of the plugin. This is just a reminder to track that.

[2022-03-10 16:35] pweil- commented on #642
Implemented

[2022-03-10 16:35] #642 closed

[2022-03-10 16:52] UtkarshChaurasia commented on #602
Hi @ncdc , Is there any update on how to proceed?

[2022-03-10 18:41] stevekuznetsov commented on #674
The flow of "start kcp, do something that results in a kubeconfig, register using that as a workload cluster in kcp" seems to be covered in e2e - @marun do you think there's an opportunity for reuse there?

[2022-03-10 18:44] stevekuznetsov commented on #588
Right now I think we can:

- run unit tests [see note]
- run integration tests [see note]
- compile everything in the repo
- build a kind node image
- start a kind single-node cluster
- run e2e tests [see note]

note: ok to focus on subset of tests that I have validated for crdb, for now...

[2022-03-10 18:52] stevekuznetsov commented on #632
/assign @varshaprasad96

[2022-03-10 19:16] ncdc opened #685 "Namespace scoped-listers don't honor logical cluster boundaries during List() calls"
When doing a namespaced `List()` call, a lister calls `cache.ListAllByNamespace(indexer, namespace, selector, appendFunc)`. Inside `ListAllByNamespace`, it does this to retrieve all the items for `namespace`:

[code]

Notice the lack of any `clusterName`. The index function used is `cache.MetaNamespaceIndexFunc`. That does take in a full object, so we could modify the index function to be logical

[2022-03-10 19:21] marun commented on #674
@stevekuznetsov While there is some potential for reuse, the current e2e code manages kcp as a subprocess. For this issue, I'm hoping for a command that starts background processes and exits (kind of like `kind start cluster` but for kcp+kind).

[2022-03-10 19:27] ncdc commented on #602
@UtkarshChaurasia can you see about making it show `Most important flags` only shows up when you do `kcp start`?

[2022-03-10 19:48] marun opened #687 "Provide quickstart instructions for using the kubectl workspace plugin"
Currently there is no obvious documentation of use of the kubectl workspace plugin. The only instructions I could find are bound up on the p2 demo script. Ideally there would be simple introductory instructions for new users in time for p3.

[2022-03-10 21:23] ncdc opened #688 "Test flake: TestWorkspaceController/add_a_shard_after_a_workspace_is_unschedulable,_expect_it_to_be_scheduled"
From https://github.com/kcp-dev/kcp/runs/5498833067?check_suite_focus=true

[code]

[2022-03-10 21:24] ncdc commented on #688
FYI @sttts @stevekuznetsov

[2022-03-11 11:24] #550 closed

[2022-03-11 11:31] UtkarshChaurasia commented on #602
Do you mean `kcp option` right ? Because wouldn't it be apt to show `Most important flags` on doing `kcp options`

[2022-03-11 17:45] avinal commented on #221
Hey @ncdc,

I did some digging and found out that `runtime` package provides a [way to get filename and line number](https://pkg.go.dev/runtime#Caller). So maybe embracing `go-logr` results in breaking changes but we can always add some more text to the logs. Renaming the files is not the perfect solution. So here is what I am proposing.

[code]
This gives us output something like this:

[code]

T

[2022-03-11 17:54] marun commented on #221
I'm not sure it's desirable to require every single log call include additional detail like this.

[2022-03-11 17:58] avinal commented on #221
In that case, we just omit the extra information part from te klog logging functions. I guess we need details for errors, or anything other than just info.

[2022-03-11 18:10] avinal commented on #221
Well, there is one more way, may seem too naive 😅 . we just add a constant to every file that stores the path from the project root to the file and pass it to the logging functions. This way there is no function calls just plain string and the rest of the information is already being printed. IIRC header guards in many C/C++ projects use a similar technique to make the header file unique.

[2022-03-11 18:53] ncdc commented on #655
Fixed by #672

[2022-03-11 18:53] #655 closed

[2022-03-13 13:23] IshanSakhuja opened #696 "Panic Using KCP Cluster"
KCP provides a cluster example and us-west.yaml and us-east.yaml cluster as soon I apply the cluster.yaml file in examples/cluster.yaml the error of invalid memory address occurs.

Error Log

[code]

I wanted to create a simple Nginx deployment that was given in the Kubernetes official documentation but the kcp is not starting after I have applied the cluster.yaml file

Cluster.yaml components

[c

[2022-03-14 08:11] #654 closed

[2022-03-14 08:13] sttts commented on #623
@MikeSpreitzer can you open a PR? "Enduser" workspaces is not supposed to be a technical term.

Cluster workspaces is the general term for workspaces accessible at `/clusters/...`, i.e. "end-user" and "cluster" workspaces are supposed to be different.

[2022-03-14 10:24] sttts commented on #570
@kylape please see @s-urbaniak 's linked auth doc PR and comment there is anything is missing.

[2022-03-14 10:24] #570 closed

[2022-03-14 12:22] ncdc opened #701 "Test flake: TestWorkspacesVirtualWorkspaces/In-process_virtual_workspace_apiserver/create_a_workspace_in_personal_virtual_workspace_and_have_only_its_owner_list_it"
Seen in https://github.com/kcp-dev/kcp/runs/5535949487?check_suite_focus=true

[code]

[2022-03-14 14:15] #688 closed

[2022-03-14 14:20] #307 closed

[2022-03-14 14:38] ncdc commented on #275
Replaced by #418

[2022-03-14 14:38] #275 closed

[2022-03-14 16:35] #696 closed

[2022-03-14 17:40] ncdc opened #707 "Split apart our single kubeconfig into multiple"
We have a single kubeconfig that is shared by kcp in-process, humans (admin.kubeconfig), and potentially components of the architecture such as the virtual workspaces apiserver. We need to split these apart:

- [x] The loopback client must be for internal, in-process use only, by kcp & its built-in controllers. It must not take into account `--external-hostname`. It must not have any kubeconfig co

[2022-03-14 20:51] #553 closed

[2022-03-14 21:14] ncdc commented on #602
@UtkarshChaurasia no, I mean `kcp start`. This is what we have now.

[code]

This is what we want. But you also see the `Most important flags` text when you just do `kcp --help`:

[code]

When you do `kcp start --help`, that should show you the most important options. If you want to see all options, you can do `kcp start options`.

[2022-03-15 03:25] kylape commented on #707
Can you explain why the loopback kubeconfig must not have any kubeconfig clients?

For the admin.kubeconfig, are we expecting it to be used in the shared service, or only in local development (or a different use case altogether)?  For our current shared service, I'm only really extracting the token out of it for my own use, and I intend to persist the token in a secret before too long.

For our sh

[2022-03-15 10:25] sttts opened #714 "Reconcilers: reuse roundtripper"
Follow-up of https://github.com/kcp-dev/kcp/pull/712:

We use independent (rest) clients for every controller. This means we don't multiplex over the same http2 connection.

Here is an example from @aojea:
[code]

Also k8s.io/controller-manager/pkg/clientbuilder/client_builder.go looks related.

[2022-03-15 10:25] sttts commented on #714
Slack thread https://kubernetes.slack.com/archives/C021U8WSAFK/p1647337776878819?thread_ts=1647334252.697989&cid=C021U8WSAFK

[2022-03-15 10:27] aojea commented on #714
... or pass the clientset directly to the controllers , but that means they all share the same config user-agent (I guess that can not be tuned per request)

[2022-03-15 10:33] sttts commented on #714
user agent is a header and hence should be possible to set by request, in worst case in the roundtripper.

[2022-03-15 12:00] #631 closed

[2022-03-15 12:58] sttts opened #716 "Authorize ClusterWorkspaceType use in virtual-workspace"
As in https://github.com/kcp-dev/kcp/blob/main/pkg/admission/clusterworkspacetypeexists/admission.go#L261 for `ClusterWorkspace` create admission, but in the virtual workspace apiserver.

[2022-03-15 13:33] ncdc opened #717 "Test flake: TestAPIInheritance"
From e2e-multiple-runs in https://github.com/kcp-dev/kcp/runs/5554061976?check_suite_focus=true

[code]

[2022-03-15 14:21] pweil- opened #719 "Community Meeting March 15, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-03-15 14:21] pweil- commented on #654
Next https://github.com/kcp-dev/kcp/issues/719

[2022-03-15 14:24] pweil- commented on #719
P4 scope discussion

[2022-03-15 14:48] imjasonh commented on #719
- static deployment YAML for syncer installation (#418)
- determining which resources should be synced to clusters (P4)

[2022-03-15 14:58] sttts commented on #719
- service accounts, creation & authentication merged 🎉
- sercice account syncing into workload clusters in the works (@jmprusi)

[2022-03-15 15:02] stevekuznetsov commented on #719
[CRDB](https://github.com/kcp-dev/kcp/issues/591) investigation update.

[2022-03-15 15:19] njhale commented on #719
KCP use case question.

[2022-03-15 15:25] #549 closed

[2022-03-15 15:35] pweil- commented on #719
Prototypes as e2e

[2022-03-15 17:05] UtkarshChaurasia commented on #602
Got it. Thanks for clarifying. I will start the implementation.

[2022-03-15 17:27] kylape opened #721 "Add ability to configure kcp to prevent recreation of admin token after container restart"
**Is your feature request related to a problem? Please describe.**
Would like to manage the admin token outside of KCP.  Also need the admin token to persist between container restarts.

**Describe the solution you'd like**

An example flow:

* you start first time
* get an admin.kubeconfig
* secret is used to store token hash
* you delete the admin.kubeconfig after storing it in some safe locatio

[2022-03-15 17:30] kylape commented on #721
Note that `--admin-kubeconfig=""` can disable writing out the kubeconfig today.

[2022-03-15 17:30] sttts commented on #721
+ client certs for a replacement of the admin token.

[2022-03-16 08:58] slaskawi opened #725 "Remove edit and view verbs from the workspace_content_authorizer.go"
**Describe the bug**

This feature is not yet ready and will probably need to be reconsidered when sharding implementation is complete.

**Expected behavior**

Remove features that doesn't bring any value.

[2022-03-16 11:04] jmprusi opened #727 "Default syncing of ServiceAccounts, ConfigMaps and Secrets."
KCP is currently syncing any serviceaccounts, configmaps, and secrets into workloadClusters by default. We need to understand if that can constitute a security problem and/or a scalability concern (as those objects are created by default when a namespace in kcp gets created).

Or find a better way to only schedule/sync referenced objects (like a Deployment referencing certain configmap/serviceacco

[2022-03-16 13:31] astefanutti opened #730 "API import does not work when adding the same cluster into multiple workspaces"
**Describe the bug**

Create a WorkloadCluster resource in a workspace. The API import works as expected.

Then create the same WorkloadCluster resource, in any other workspaces, the APIs are not imported from the cluster into these other workspaces.

**To Reproduce**

Steps to reproduce the behavior:

[code]

**Expected behavior**

API import should work in the other workspaces.

**Additional con

[2022-03-16 14:12] ncdc commented on #730
@astefanutti I see you're running against older code (Cluster instead of WorkloadCluster, etc.). I don't expect we've necessarily fixed things, but could you please try with the latest from main, making sure to install the latest kubectl-kcp plugin too? (Also with main, you don't need `--workspace-directory-insecure-skip-tls-verify` any more).

[2022-03-16 14:17] astefanutti commented on #730
@ncdc you're right, this is based on the stable `release-prototype-2` branch. However, I've checked in main and it seems the logic of keying API importers by cluster name is still there:

https://github.com/kcp-dev/kcp/blob/6d1c3f4a916ad6896be56ba7b8df30e9beedc66a/pkg/reconciler/cluster/apiimporter/apiimporter_manager.go#L57

That being said, I'm planning to rebase on P3 ASAP, so I'll test it and

[2022-03-16 14:28] ncdc opened #731 "Server is never /readyz after changing the schema of a CRD we bootstrap"
**Describe the bug**
After kcp has started once, it is not possible to redeploy with any changes to any of the CRDs we bootstrap.

**To Reproduce**
Steps to reproduce the behavior:
1. `go run ./cmd/kcp start`
2. Wait for server to start up - e.g. you can successfully run `kubectl get clusterworkspaces`
3. ctrl-c to stop kcp
4. Make a change to ClusterWorkspaceSpec - e.g. add `Test string `json:"te

[2022-03-17 13:19] #602 closed

[2022-03-17 13:46] ncdc opened #739 "Test flake (e2e-multiple-runs): TestIngressController/ingress_lifecycle"
From #702 (it's possibly my changes created a flake scenario, although I don't think so...?)

https://github.com/kcp-dev/kcp/runs/5586190871?check_suite_focus=true

[code]

[2022-03-18 08:11] slaskawi commented on #403
In https://github.com/kcp-dev/kcp/pull/726 I removed lister permissions from sharing.

When discussing this with @davidfestal, we came to the conclusion, that workspace sharing will need to be redesigned and will potentially end up with a completely different solution.

[2022-03-18 10:10] astefanutti commented on #730
@ncdc I confirm I've been able to reproduce on current `main` as well, and have updated the steps with the new commands accordingly.

[2022-03-18 12:48] ncdc commented on #417
Status update:
- APIBinding admission is merged #653
- #702 replaces clusterWorkspace.spec.inheritFrom entirely with APIBinding-based extensions
    - The implementation is mostly done. We probably can make changes in follow-up PRs
        - 1 thing that isn't finished / correct is setting the storage versions in the APIBinding's status
    - Not sure on the conditions & reasons I added. Could use

[2022-03-18 13:10] pweil- commented on #542
Last day of P3, moving to P4

[2022-03-18 13:11] pweil- commented on #591
Last day of P3, moving to P4

[2022-03-18 13:11] pweil- commented on #687
Last day of P3, moving to P4

[2022-03-18 14:40] sttts opened #748 "Make CRDs and APIBindings conflict on each other for overlapping GVRs"
Follow-up #702:

CRDs and APIBindings should not have overlapping GVRs, both because only one can be served obviously, but also because both share the same etcd key space and hence there is some risk (💣) that one steals data of the other.

The idea here is to create an admission plugin on both resources that forbids one or the other when GVRs overlap. This also means that that admission plugin mig

[2022-03-18 19:29] marun commented on #739
I seem to be hitting this a couple times today on #636 and #658. I don't think it's specific to any one PR.

[2022-03-18 19:36] sttts opened #750 "Get rid of "X-Kubernetes-Cluster" header and use /clusters/<lcluster>"
The EnabledMultiCluster function uses some custom roundtripper to intercept multi-cluster requests. We can probably just change the request URI instead of injecting a special header. This will simplify the server handler code.

[2022-03-18 23:29] #716 closed

[2022-03-19 08:42] #725 closed

[2022-03-21 01:48] kylape commented on #707
As I've worked through trying to implement these changes, I've reduced the iplementation to only two kubeconfigs written to disk: `admin.kubeconfig` and `external.kubeconfig`. The loopback client has always been in-memory, so I see no need to start persisting this now.

I am trying to keep `admin.kubeconfig` similar to how it works now for backwards compatibility*. One change to `admin.kubeconfig`

[2022-03-21 09:59] pweil- commented on #280
@jmprusi is this ready to be closed out for p3 work (p3 work merged, remaining items noted as out of scope, moved to other issues, etc)?

[2022-03-21 10:03] pweil- commented on #285
@imjasonh do we consider https://github.com/kcp-dev/kcp/pull/738 as closing this as well as part of the work on pcluster registration?

[2022-03-21 10:07] jmprusi commented on #280
I'm working on cleaning some stuff, and adding some tests, but it works. Hopefully today we can merge the pr and close this issue.

[2022-03-21 10:19] #678 closed

[2022-03-21 13:46] sttts opened #751 "Community Meeting March 22, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-03-21 13:47] sttts commented on #751
Github issues since last week: https://github.com/kcp-dev/kcp/issues?q=is%3Aissue+is%3Aopen+created%3A2022-03-15..*+no%3Amilestone+

[2022-03-21 13:47] sttts commented on #751
<img width="1246" alt="Bildschirmfoto 2022-03-21 um 14 12 13" src="https://user-images.githubusercontent.com/730123/159274525-7532ad10-9c23-4607-8845-cd89791223de.png">

[2022-03-21 14:53] imjasonh commented on #285
Not completely, though it's progress. We still need the syncer to periodically make the heartbeat update. #738 is only responsible for reacting to the lack of recent-enough heartbeats by marking the cluster as un-`Ready`.

[2022-03-21 17:18] maleck13 opened #752 "Support scheduling workloads to multiple clusters"
**Is your feature request related to a problem? Please describe.**

I have attempted to capture a set of use cases below to illustrate the kind of behaviour I think would be useful in a multi cluster scenario. Let me know if we need different issues for these.
These use cases are also captured under the TMC use cases (2.1 and 2.2) https://docs.google.com/document/d/1LeYMt4I1No1W-tj6LCPuXE7kTSD-ugg

[2022-03-22 12:34] pweil- commented on #751
- P3 Closing - what is left, where can the team help
- P3 Closing - feature demos
- P3 Closing - open PR reviews, repo health

time permitting

- P4 - topic clean up
- P4 - design meetings

[2022-03-22 13:53] sttts commented on #731
Fixed in #755.

[2022-03-22 14:51] imjasonh commented on #719
Next: https://github.com/kcp-dev/kcp/issues/751
Recording: https://youtu.be/6ricq5o_YqU

[2022-03-22 14:51] #719 closed

[2022-03-22 15:09] marun commented on #418
I just noticed this work item.  What is the rational for the syncer being responsible for creating a WorkloadCluster resource vs requiring that it exist already?

[2022-03-22 16:00] imjasonh commented on #717
@sttts says it's likely fixed in #755

[2022-03-22 20:17] ahmetb opened #756 "dev: could not apply CRDs in development docs"
**Describe the bug**
Instructions in [development.md](https://github.com/kcp-dev/kcp/blob/main/DEVELOPMENT.md) are potentially  not up to date as some steps don't work.

**To Reproduce**
Steps to reproduce the behavior:
1. clone from ea0953d357b02ea69dba2322c5fbf4170492c73b
2. run `go run ./cmd/kcp start` keep running
3. api-resources

[code]

4. `kubectl apply -f config/` with kubectl 1.21, and i

[2022-03-23 10:35] sttts commented on #707
@kylape I think there is a misunderstanding about the core of this issue: all written kubeconfig should use `--external-hostname` and port. The loopback kubeconfig is leaking into the syncer today (at least there, maybe at other places). @jmprusi is fixing the syncer side in https://github.com/kcp-dev/kcp/pull/670.

The remaining tasks here:
1. either verify that `--external-hostname` is supposed

[2022-03-23 10:40] jmprusi opened #758 "Write missing e2e tests for the transparent SA rewrite in downstream deployments functionality."
The functionality added on https://github.com/kcp-dev/kcp/pull/670 is missing e2e tests.

[2022-03-23 10:47] sttts opened #759 "Code-generate scoping wrappers for arbitrary k8s.io/code-generator generated clients and informers"
This epic is about generating wrappers for client-gen generated clients and informer-gen generated informers (i.e. those e.g. in k8s.io/client-go) which support scoping to a logical cluster, but **do not require changes to the clients and informers (or their generators) themselves**.

1. For clients this means that we want an interface generated like
[code]
automatically generated which support to

[2022-03-23 10:54] csams opened #760 "Schemata collisions when CRDs with identical GVKs are installed in multiple workspaces"
**Describe the bug**

When tenants install CRDs with identical GVK's into more than one workspace, KCP raises an error if their schemata aren't identical:
[code]

This allows any tenant to disrupt the system by installing a CRD with a common GVK and inconsistent schema into their workspace.

**To Reproduce**

1. Create a workspace "test"
2. Create another workspace "test-2"
3. Install a CRD into t

[2022-03-23 10:56] davidfestal opened #761 "Add more context info in all KCP logs, especially the logical cluster name and possibly workload cluster name"
**Is your feature request related to a problem? Please describe.**

On shared KCP environments with a number of organizations, workspaces, and registered workload clusters, it can be really hard to locate logs that relate to a given support problem, because a number of log messages are lacking required context information.
For example:

[code]
doesn't show for which logical cluster and workload cl

[2022-03-23 10:57] davidfestal commented on #761
cc @kylape @csams

[2022-03-23 21:43] sttts commented on #418
I don't think this is set in stone. The syncer will write the status. So it actually would be odd if it also wrote the spec (which it would on create).

In the future we will probably have some tool or even a controller preparing a kubeconfig, service account, roles, role binding. That tool or controller then also create the WorkloadCluster object. Sounds fine.

For the issue here: we need a kcp R

[2022-03-23 23:22] lburgazzoli commented on #162
@ncdc @metacosm added an initial testcontainer impl that spins up a kcp server https://github.com/lburgazzoli/testcontainers-kcp

[2022-03-24 14:47] sttts commented on #761
Beware rebase cost.

[2022-03-24 14:47] sttts commented on #761
Removed the "good first issue". I am not sure we want that. Doing it throughout our kube fork will be costly.

[2022-03-24 16:32] davidfestal commented on #761
I agree about the Kube fork.
I was at first thinking of KCP code at least: the example mentioned is pure KCP code.

[2022-03-24 18:26] stevekuznetsov commented on #761
This IMHO should come after refactoring `kcp` to use `logr/v2` and structured logs.

[2022-03-25 07:38] #731 closed

[2022-03-25 07:39] sttts commented on #714
To be confirmed that we really have a problem here.

[2022-03-25 07:40] sttts commented on #687
This should be based on https://github.com/kcp-dev/kcp/pull/744.

[2022-03-25 07:40] sttts commented on #633
Fixed by https://github.com/kcp-dev/kcp/pull/744.

[2022-03-25 07:41] sttts commented on #632
Fixed by https://github.com/kcp-dev/kcp/pull/744..

[2022-03-25 07:41] sttts commented on #633
Duplicate of #632.

[2022-03-25 07:41] #633 closed

[2022-03-25 07:41] sttts commented on #542
isn't this solved with @marun 's `ClusterWorkspaceType.spec.additionalLabels`?

[2022-03-25 07:50] sttts opened #772 "Forbid CRD creation of kcp.dev groups outside of system:system-crds"
*.kcp.dev CRDs should be reserved for the system, i.e. a user should not be able to install these outside of the shadow workspace `system:system-crds` (compare #755 where it was introduced to host the kcp CRDs). This issue is about adding an admission plugin to stop `*.kcp.dev` CRD creation in any other workspace.

[2022-03-25 07:50] marun commented on #542
Correct. A namespace is only schedulable if its logical cluster is backed with a ClusterWorkspace labeled with `workloads.kcp.dev/schedulable: true`:

https://github.com/kcp-dev/kcp/blob/main/pkg/reconciler/workload/namespace/namespace_reconcile.go#L424

[2022-03-25 07:53] aojea commented on #714
The client-go caches the transport meanwhile there are no custom dialers or transport options, I think we are good

[2022-03-25 09:04] pweil- commented on #542
excellent.  I'll move it back.  Thanks for keep an eye on me.

[2022-03-25 09:11] marun commented on #542
Let's close it, the work is done.

[2022-03-25 09:11] #542 closed

[2022-03-25 12:32] sttts commented on #772
Note: without this, it's easy to brick kcp by creating a kcp.dev CRD of different schema.

[2022-03-26 01:46] pradeepnnv commented on #772
I would like to try this.

[2022-03-28 12:44] imjasonh opened #786 "Community Meeting March 29, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-03-28 12:45] imjasonh commented on #786
https://github.com/kcp-dev/kcp/pull/774#issuecomment-1080377580

---

[2022-03-28 12:45] imjasonh commented on #751
Next: https://github.com/kcp-dev/kcp/issues/786

[2022-03-28 12:45] #751 closed

[2022-03-28 16:22] ncdc commented on #786
- Prototype X vs. semver

[2022-03-28 16:58] #717 closed

[2022-03-28 17:32] imjasonh commented on #786
[**KubeCon NA CFP is open!**](https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/program/cfp/)

- October 24-28 in Detroit
- CFP closes Friday, May 27

Possible topics:
- Steve's CRDB work
- Logical clusters, API multitenancy, API evolution, multi-logical-cluster clients, etc.
- Transparent Multicluster, scheduling, syncing, registration, etc.

[2022-03-29 14:20] davidfestal commented on #786
Demo of **adding syncing strategies** in the syncer virtual workspace, **applied to the deployment splitting** use-case, **without** the deployment splitter.

Questions raised:
- `workloads.kcp.dev/cluster` label oriented to 1:1 syncing and not spreading use-case:
  - changed for `workloads.kcp.dev/cluster.<locationName>`, so that we can have several.
- Using "internal" annotations :
  - required

[2022-03-29 15:13] sttts commented on #786
Epics for prototype 4 aka v0.4.0 sprint: https://docs.google.com/document/d/1jN6BdhUUIESeHw3_f6HwsNwVM2Ytabr6usUQhYMcNd8/edit#heading=h.v0ybspmfdqn3

[2022-03-29 17:01] imjasonh commented on #786
Recording: https://youtu.be/rO-4fwHk7dM

[2022-03-30 04:24] marun opened #796 "apibinding e2e test fails if run more than once against a persistent server"
The [apibinding e2e test](https://github.com/kcp-dev/kcp/blob/main/test/e2e/apibinding/apibinding_test.go) fails if run more than once against a persistent server. This is curious, since the testing appears to be isolated within test-local organizations and workspaces.

**To Reproduce**
1. Start a persistent test server in one terminal:
[code]
2. Run the test in another terminal (it should pass):

[2022-03-30 13:02] ncdc opened #798 "Change base image to e.g. distroless"
I'm not sure if things have changed recently, but at least in the past, alpine builds were not consistently reproducible. Additionally, we should keep our attack surface to a minimum by using a base image with the least amount of extra stuff in it, so something like distroless is a better choice (and consistent with Kubernetes).

[2022-03-30 13:39] kylape opened #799 "Manage service account keys between shards"
There needs to be a way to share service account keys between shards.

From @sttts:

**Additional context**
[PR comment](https://github.com/kcp-dev/kcp/pull/792#discussion_r838467903)

[2022-03-30 15:28] marun commented on #799
Token signing keys are rsa, so each server would either share the same key or have an independent key. There is no option for a certificate-based approach with CA afaik.

[2022-03-30 15:30] ncdc commented on #796
Thanks for filing! Here is what is happening:

1. Test run 1 creates org 1 with all the required resources (2 workspaces, apiresourceschema, apiexport, apibinding)
2. A CRD is created in system:bound-crds corresponding to the apiresourceschema for this org 1
3. Test run 2 creates org 2 with the same resources
4. A 2nd CRD is created in system:bound-crds (different name) corresponding to the apires

[2022-03-30 15:31] ncdc commented on #796
@sttts I guess we need to patch more apiextensions controllers to relax restrictions when evaluating our generated CRDs, i.e. those with the `apis.kcp.dev/bound-crd` annotation?

[2022-03-30 17:01] marun commented on #796
It appears the `TestCrossLogicalClusterList` has a similar problem when run more than once against persistent fixture?

[code]

[2022-03-30 17:10] marun opened #802 "e2e: TestCrossLogicalClusterList fails when run more than once against persistent fixture"
The [TestCrossLogicalClusterList e2e test](https://github.com/kcp-dev/kcp/blob/main/test/e2e/conformance/cross_logical_cluster_list_test.go) fails if run more than once against a persistent server. This is curious, since the testing appears to be isolated within test-local organizations and workspaces.

**To Reproduce**
1. Start a persistent test server in one terminal:
[code]
2. Run the test in a

[2022-03-30 17:17] ncdc opened #803 "Use of github.com/kcp-dev/apimachinery in kcp-dev/kubernetes messes up the k8s go.mods"
github.com/kcp-dev/apimachinery has `k8s.io/apimachinery v0.23.5` in its go mod. When we bring kcp-dev/apimachinery into kcp-dev/kubernetes and run `hack/update-vendor.sh`, it changes the k8s go.mod files so they depend on `k8s.io/apimachinery v0.23.5` instead of `k8s.io/apimachinery v0.0.0` + a replace directive of `k8s.io/apimachinery => ./staging/src/k8s.io/apimachinery`.

This is ok temporaril

[2022-03-30 17:22] sttts commented on #802
We should randomize the resource name, `sheriff23424s`.

[2022-03-30 17:42] ncdc commented on #802
Copying failure output from https://github.com/kcp-dev/kcp/issues/796#issuecomment-1083391697 so we have it here:

[code]

[2022-03-30 18:03] marun opened #805 "e2e: virtual workspace log spew"
A virtual workspace e2e [test failure](https://github.com/kcp-dev/kcp/runs/5758717834?check_suite_focus=true
) revealed a considerable amount of log spew due to an apparent version mismatch between the server and plugin. In the event of version skew, maybe log output could be reduced?

Also, given that this was a ci job with fresh builds, shouldn't the plugin and server be using matching versions?

[2022-03-31 02:05] csams commented on #798
Sounds good. We chose alpine when getting starting so we could shell into the container and poke around to troubleshoot.

[2022-03-31 02:06] marun commented on #802
#811 switches these tests to use private fixture. If/when someone wants to put in the effort we can rewrite the tests for shared fixture compatibility.

[2022-03-31 02:29] marun opened #812 "Flakey e2e: TestWorkspaceController/add_a_shard_after_a_workspace_is_unschedulable,_expect_it_to_be_scheduled"
Saw this test fail on e2e-multiple-runs on #811:

https://github.com/kcp-dev/kcp/runs/5764258751?check_suite_focus=true#step:5:52

[code]

[2022-03-31 02:41] csams commented on #799
@marun @sttts If they all had independent private keys but all shards should accept SA tokens from all other shards, we'd need to distribute the public key portions of the keys for signature validation. We have `--service-account-key-file` in the authentication options, so I guess we could come up with a way to populate the internal list behind it as shards come and go?

[2022-03-31 10:10] sttts opened #813 "Clarify user identity: username, preferred username, uid"
This identity is security relevant, i.e. must be guaranteed to identify a user in the whole of kcp.

[2022-03-31 16:51] #802 closed

[2022-04-01 11:17] csams opened #816 "Error when starting with `--requestheader-client-ca-file`"
**Describe the bug**
On start with `--requestheader-client-ca-file` set, KCP repeatedly logs

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start kcp with the `--requestheader-client-ca-file` option.

[code]

[2022-04-01 11:51] csams opened #817 "KCP aggressively tries to contact unreachable workload clusters"
**Describe the bug**
If a cluster backing a workload cluster resource becomes unreachable, KCP repeatedly tries to contact it every ~20ms.

**To Reproduce**
Steps to reproduce the behavior:
1. Start KCP
2. Create a workspace
3. Attach a kind cluster to the workspace
4. Delete the kind cluster

**Expected behavior**
KCP tries to contact the workload cluster at \<reasonable interval\>.

**Additional

[2022-04-01 13:39] ncdc commented on #817
@marun do you want to try to fix this before we rip out push mode, or just wait?

[2022-04-01 14:35] kylape commented on #798
We should probably just use https://github.com/google/ko.  It used the distroless base image by default.

[2022-04-01 15:28] marun commented on #817
@ncdc Updating that interval should be easy enough, I'll propose a fix today. Push removal depends on an api importer discussion that is happening on Monday.

[2022-04-01 16:53] ncdc commented on #730
Getting rid of push mode will fix this. I believe #810 will close it. If you agree, @marun could you please add the `fixes` verbiage to 810 for this issue?

[2022-04-01 17:09] ncdc commented on #803
Fixed by kcp-dev/kubernetes#56

[2022-04-01 17:09] #803 closed

[2022-04-04 03:02] marun commented on #817
@csams Would it be possible to include log output that is indicating to you the 20ms interval? I'm having trouble tracking down what would part of kcp would be responsible for hitting the cluster that often.

[2022-04-04 16:52] sttts opened #830 "DEVELOPMENT.md is outdated"
https://github.com/kcp-dev/kcp/blob/main/DEVELOPMENT.md is highly outdated. Cluster controllers are not needed anymore and cluster registration is largely redone right now. Maybe we should just remove the outdated sections for now.

[2022-04-04 16:54] sttts commented on #830
Something like this is current:

[code]

In another terminal:
[code]

[2022-04-04 19:48] ncdc opened #831 "kubectl plugin should return friendly errors when trying to run create/list/etc in a workspace that doesn't support nested workspaces"
**Is your feature request related to a problem? Please describe.**
We support a hierarchy of workspaces - root -> org1 -> workspaceA, and sometimes users might feel like they can create an arbitrarily deep nesting of workspaces, e.g. under workspaceA -> foo -> bar -> baz. This is not possible by default unless you create the right type of workspace at each level (e.g. Organization instead of Unive

[2022-04-05 14:54] imjasonh opened #835 "Community Meeting April 5, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-04-05 14:54] imjasonh commented on #786
Next: https://github.com/kcp-dev/kcp/issues/835

[2022-04-05 14:54] #786 closed

[2022-04-05 14:58] astefanutti opened #836 "ClusterWorkspace.tenancy.kcp.dev is invalid: metadata.name in body should be at most 31 chars long"
**Describe the bug**

The following error is reported when creating a ClusterWorkspace resource whose name is longer than 31 characters:

[code]

It used to be working in KCP v0.2.0.

**To Reproduce**

[code]

**Expected behavior**

It would be great to increase the limit as 31 can be limiting, while still composing logical cluster names that are valid DNS subdomain names.

[2022-04-05 15:02] imjasonh commented on #835
[0.4 Milestone](https://github.com/kcp-dev/kcp/milestone/5) topics

[2022-04-05 15:03] ncdc commented on #835
Syncer evolution

[2022-04-05 15:42] imjasonh commented on #817
This should go away when push mode goes away.

[2022-04-05 15:42] #817 closed

[2022-04-05 15:44] ncdc commented on #813
@sttts could you please elaborate on what this is asking for?

[2022-04-05 15:51] imjasonh commented on #756
Related to #830

[2022-04-05 15:54] ncdc commented on #752
Related to some of the location & placement work. Folks working on those APIs - please review the use cases here and see if they align w/those APIs, or if not, please discuss the gaps/differences and if there are any additional changes needed in kcp.

@sttts @davidfestal @jmprusi

[2022-04-05 15:57] #632 closed

[2022-04-05 19:01] imjasonh commented on #835
Recording: https://youtu.be/n_wMyafzu-4

[2022-04-05 19:01] imjasonh opened #837 "Community Meeting April 12, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-04-05 19:01] imjasonh commented on #835
Next: https://github.com/kcp-dev/kcp/issues/837

[2022-04-05 19:01] #835 closed

[2022-04-06 07:59] bnallapeta opened #839 "Added a flag to crd-puller to specify only the required CRDs that needs to be synced"
**Is your feature request related to a problem? Please describe.**
Currently, [crd-puller](https://github.com/kcp-dev/kcp/blob/main/cmd/crd-puller/pull-crds.go) which allows us to pull CRDs from a physical cluster pulls **all** CRDs that are present on the physical cluster. For a typical openshift cluster (for instance provisioned from cluster-bot), there are generally around 180 CRDs that are pul

[2022-04-06 08:02] bnallapeta commented on #839
@davidfestal Could you please assign this issue to me? I have opened PR #840 for the same

[2022-04-06 08:19] sttts commented on #805
This was intentional to notify all old plugin users. It is just too aggressive and super ugly in CI (because we don't set proper version info).

[2022-04-06 11:26] sttts opened #842 "Follow-up APIBindings: set the storage versions in the APIBinding's status"
Follow-up of #417:

Set the storage versions in the APIBinding's status correctly.

[2022-04-06 11:29] sttts opened #843 "Follow-up APIBindings: have more speaking names of CRDs in shadow namespace"
Follow-up of https://github.com/kcp-dev/kcp/issues/417.

Problem: the names of CRDs in the `system:bound-crds` workspace have cryptic names. For debugging it would be very helpful to have the resource and group name **plus** the uid there.

Also see https://github.com/kcp-dev/kcp/pull/702#discussion_r830045834 for details.

[2022-04-06 11:29] sttts commented on #843
cc @ncdc

[2022-04-06 11:35] sttts opened #844 "Follow-up APIBindings: Add admission to only allow `apis.kcp.dev/bound-crd` annotation in `system:bound-crds` workspace"
Follow-up of https://github.com/kcp-dev/kcp/issues/417.

The `apis.kcp.dev/bound-crd` annotation on a CRD disabled name-confilict checks. This is dangerious for CRDs outside of the `system:bound-crds` workspace. We must have admission in place stopping this annotation elsewhere.

Compare https://github.com/kcp-dev/kubernetes/pull/48/files#r827736066.

[2022-04-06 11:38] sttts opened #845 "Add e2e test for rebinding of APIBindings"
Follow-up of #417.

API rebinding happens when an APIBinding has been updated to point to a different APIExport, or the APIExport was changed and now has different values for latestResourceSchemas.

[2022-04-06 11:40] sttts opened #846 "APIBindings: delete CRs when the APIBinding is deleted"
Follow-up of #417.

When an APIBinding is deleted, there is no controller deleting the CRs. The resource will just disappear and leave dead data in etcd.

[2022-04-06 11:41] sttts commented on #417
Moved everything to issues. Closing the epic for p3.

[2022-04-06 11:41] #417 closed

[2022-04-06 12:21] ncdc commented on #842
I have this in my naming conflicts PR

[2022-04-06 12:22] ncdc commented on #843
What about having that data in labels or annotations? Or you think a more meaningful name is needed?

[2022-04-06 13:12] ncdc commented on #843
Makes sense. Will resource+group+uid fit within the maximum name length limit?

[2022-04-06 13:17] imjasonh commented on #837
Just to clarify, the community meeting is still planned for Tuesday April 12th, at the normal time.

[2022-04-06 13:22] guymguym commented on #837
@imjasonh Ah oops, sorry for the mixup.

[2022-04-06 13:48] sttts commented on #843
Good question. Probably 63 chars for names. And that can be exhausted for a resource name alone I guess. But something like `resource.group-<8-alpha-numeric-chars>` is probably good enough. We can have a deterministic shortening of `resource.group` in case it's getting too long.

[2022-04-06 15:24] ncdc opened #848 "Add support for feature gates"

[2022-04-06 18:37] kylape commented on #798
I played with `ko` a little bit, and there are a couple of issues:

1. `ko` only builds one binary per image.  We can accommodate this, but it will require some changes to our deployment manifest and build pipelines.
2. It wasn't obvious to me how to add the build options to get the version info baked into `ko`.  It very well may be possible, but I'll have to spend some more time tinkering with th

[2022-04-06 20:06] #645 closed

[2022-04-07 08:51] astefanutti opened #853 "`kubectl kcp workspace use` with relative logical cluster argument breaks current kubeconfig"
**Describe the bug**

Navigating to a workspace with the workspace CLI plugin using relative logical cluster path breaks the client config.

**To Reproduce**

Steps to reproduce the behavior:

[code]

**Expected behavior**

Navigating to a workspace using its relative logical cluster path should work.

[2022-04-07 09:25] astefanutti opened #854 "Root ClusterWorkspaceShard URLs are not complete"
**Describe the bug**

The default `root` ClusterWorkspaceShard resource, that's created when starting KCP, does not have the default host port reported in its URLs.

This also impacts the URLs of the Workspaces that are attached to this shard.

The root cause seems the URL is initialised before the generic API server config is completed.

**To Reproduce**

Steps to reproduce the behavior:

[code]

[2022-04-07 10:31] fgiloux commented on #730
As discussed yesterday I am looking at implementing a workaround for this issue till the Location API and virtual workspaces are implemented

[2022-04-07 12:12] marun commented on #730
@fgiloux Note that #810 is intended to fix this issue in advance of location api or virtual workspace.

[2022-04-07 12:54] fgiloux opened #857 "server version not correctly reported with oc client"
**Describe the bug**

The kubernetes version of the server is not properly reported with the "oc" client (OpenShift)

**To Reproduce**
Steps to reproduce the behavior:
1. With kcp:
[code]
I made sure the oc client is pointing to the kcp api server:
[code]
[code]

Against an OpenShift cluster
[code]

**Expected behavior**
Server Version is populated
Kubernetes Version is major.minor.z+commit

**Add

[2022-04-07 16:32] imjasonh commented on #798
This is arguably a best practice anyway, over putting a bunch of executables in the same image, but I understand if it works now and isn't worth switching just for that.

There's a couple ways, you can either [set them in the `.ko.yaml` file](https://github.com/google/ko#overriding-go-build-settings) or [use the GOFLAGS env var when building](https://github.com/google/ko#how-can-i-set-ldflags)

If

[2022-04-07 18:32] fgiloux commented on #730
@marun I have been through PR #810 there is a lot there. I am surely missing something but I did not grok how it allows to match a WorkloadCluster to multiple workspaces, apart from creating an additional syncer for each workspace.
It seems [here](https://github.com/kcp-dev/kcp/pull/810/files#diff-0705d04ebc88b239145fe94b232d72bae8460b6cda37c12cd437ef611107be5cL108-L109) that there is a 1-1 match

[2022-04-07 18:50] ncdc commented on #730
@fgiloux I'm guessing that's probably a question for #810 itself - do you want to copy your comment over there? 😄

[2022-04-07 18:53] fgiloux commented on #730
@ncdc yes you are right. Sorry for the mess.

[2022-04-07 18:56] ncdc commented on #730
No worries, not a mess! Just wanted to make sure we have it captured over there, if it means we need to do more work before merging.

[2022-04-07 18:57] ncdc commented on #796
This is getting fixed as part of a larger refactoring of the apibinding controller. Moving to 0.4

[2022-04-07 18:58] #416 closed

[2022-04-07 19:00] fgiloux commented on #857
Fixed by #859 and #860

[2022-04-07 19:00] #857 closed

[2022-04-07 19:30] kylape opened #862 "Add logical cluster annotation to audit events"
**Is your feature request related to a problem? Please describe.**
Currently audit events don't have any context regarding logic cluster.  This should be added to help audit events be more useful.

**Describe the solution you'd like**
[Add an annotation to audit events that includes the logical cluster](https://kubernetes.slack.com/archives/C021U8WSAFK/p1649358931928699?thread_ts=1649358177.770489

[2022-04-07 23:34] #730 closed

[2022-04-08 03:26] csams opened #865 "apiimport_manager, push/pull managers, and heartbeat manager fight over workload cluster readiness"
**Describe the bug**
If a workload cluster becomes not ready, various controllers update the Ready condition with different reasons and messages. This causes them to hotloop fighting over the condition.

**To Reproduce**
1. Create a kind cluster
2. Attach it to a workspace
3. Delete the kind cluster
4. Watch the logs fly

**Alternatively**
1. Create a kind cluster
2. Attach it to a workspace
3. Up

[2022-04-08 06:54] sttts opened #867 "test 1"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-04-08 06:56] #867 closed

[2022-04-08 07:02] sttts opened #869 "test 2"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-04-08 08:06] sttts commented on #657
This is possible now with `kubectl ws --short`, e.g. `PS1='$(kubectl ws --short)'`.

[2022-04-08 09:17] thetechnick commented on #846
I have had a quick dive through the code to see how to implement this, my rough idea would be:
- Ensure a finalizer on the APIBinding object. `finalizers.kc.dev/gc` Is there prior art for the finalizer name?
- Ensure a backref from CRDs to it's "Owning" APIBinding, so we can get it from an indexer for deletion, even when the APIExport object is no longer present
- Add a new reconciler acting only

[2022-04-08 09:19] marun commented on #739
Still occurring: https://github.com/kcp-dev/kcp/runs/5882452976?check_suite_focus=true

[2022-04-08 17:02] #865 closed

[2022-04-08 17:14] #836 closed

[2022-04-08 17:43] sttts opened #875 "1.0 blocker: enable APIBinding CR deletion, namespace deletion, GC, workspace deletion"
All the mentioned deletion mechanisms are necessary for a serious deployment:

1. [x] APIBinding CR deletion https://github.com/kcp-dev/kcp/issues/846
2. [x] namespace deletion
3. [ ] garbage collection
4. [x] workspace deletion

[2022-04-11 13:42] slaskawi opened #879 "Test permission escalation scenarios"
**Describe the solution you'd like**

We should check if it is possible to escalate permissions in the following scenario:

1. Create a user with full permissions within a workspace
2. Check if such a user can delegate permissions further by creating a Service Account and granting wider permissions to it.

Expected behavior is that users should be able to create roles, which are a subset of their

[2022-04-12 00:19] stevekuznetsov commented on #591
Rough plan:
 - [ ] implement storage.Interface and pass all unit tests
     - [ ] upstream fixes to storage tests that were unreliable or poorly factored
     - [ ] build an abstraction to re-use all unit tests
 - [ ] pass integration tests
     - [ ] add crdb support to kube-apiserver start config
     - [ ] add crdb support to all fixtures
     - [ ] pass API machinery tests
     - [ ] pass API

[2022-04-12 14:56] imjasonh commented on #837
An Update on @imjasonh ™️

[2022-04-12 15:01] ncdc commented on #837
0.4 status check

[2022-04-12 15:48] #869 closed

[2022-04-12 17:55] #853 closed

[2022-04-12 17:55] #854 closed

[2022-04-12 17:58] imjasonh commented on #837
Recording: https://youtu.be/xbr0Pf02Jo

[2022-04-12 20:32] ncdc commented on #739
Another: https://github.com/kcp-dev/kcp/runs/5996912324?check_suite_focus=true

[2022-04-13 17:44] stevekuznetsov commented on #591
Also TODO: https://github.com/stevekuznetsov/kubernetes/blob/fa7a91d4421a0466ff64688270d22f32501ffb43/staging/src/k8s.io/apiserver/pkg/storage/generic/watcher.go#L159

[2022-04-13 18:21] ncdc opened #889 "Syncer: issues with how/where --resources-to-sync is used between APIImporter and spec/status syncers"
(caveat: I _think_ I'm interpreting this all correctly, but it's a bit confusing, so please correct me if anything is wrong below)

When a syncer starts up and it starts an APIImporter, it's currently telling the APIImporter to import:

1. GroupResources matching [all the compatible+available `APIResourceImports` in the workspace](https://github.com/kcp-dev/kcp/blob/e49b80782b592ffb187e0aed6be70e5

[2022-04-13 18:29] ncdc commented on #889
I'm not sure if this is right, or if it should just match syncing what's in `--resources-to-sync` (or be a more constrained subset, if the negotiated APIs are fewer)

[2022-04-13 18:34] ncdc opened #890 "Remove syncer management from control plane & switch to external syncers"
- [x] Move syncer manager + all related code
- [x] Implement kubectl plugin code to make it easy to deploy a syncer to a workload cluster

[2022-04-13 18:35] ncdc commented on #890
@marun @jmprusi I filed this to keep track of things. Please feel free to adjust the task list as you see fit. Thanks!

[2022-04-13 18:47] ncdc opened #891 "Determine the future of APIResourceImports & NegotiatedAPIResources"
- [ ] How do they fit into locations and negotiation domains?
- [ ] (Assuming we keep it mostly as is) refactor pkg/reconciler/apis/apiresource.Controller to conform to controller standards (controller reconciles 1 type in 1 queue, other controllers reconcile other types)

[2022-04-13 18:48] ncdc commented on #891
cc @sttts @pweil-

[2022-04-13 18:49] ncdc commented on #75
Clearing milestone to re-triage

[2022-04-13 18:51] ncdc commented on #342
Clearing milestone to re-triage

[2022-04-13 18:51] ncdc commented on #346
Clearing milestone to re-triage

[2022-04-13 18:52] ncdc commented on #348
Clearing milestone to re-triage

[2022-04-13 18:53] ncdc commented on #354
Clearing milestone to re-triage

[2022-04-13 18:53] ncdc commented on #370
Clearing milestone to re-triage

[2022-04-13 18:53] ncdc commented on #371
Clearing milestone to re-triage

[2022-04-13 18:54] ncdc commented on #400
Clearing milestone to re-triage

[2022-04-13 18:54] ncdc commented on #403
Clearing milestone to re-triage

[2022-04-13 18:55] ncdc commented on #447
Clearing milestone to re-triage

[2022-04-13 18:55] ncdc commented on #488
Clearing milestone to re-triage

[2022-04-13 18:56] ncdc commented on #489
Clearing milestone to re-triage

[2022-04-13 18:57] ncdc commented on #498
Clearing milestone to re-triage

[2022-04-13 18:57] ncdc commented on #504
Clearing milestone to re-triage

[2022-04-13 18:57] ncdc commented on #505
Clearing milestone to re-triage

[2022-04-13 18:58] ncdc commented on #525
Clearing milestone to re-triage

[2022-04-13 19:00] ncdc commented on #545
@chirino

This will be addressed when we finish #828 #728 and add a virtual workspace for APIExport identities

[2022-04-13 19:00] ncdc commented on #545
Clearing milestone to re-triage

[2022-04-13 19:00] ncdc commented on #557
Clearing milestone to re-triage

[2022-04-13 19:01] ncdc commented on #588
Clearing milestone to re-triage

[2022-04-13 19:01] ncdc commented on #590
Clearing milestone to re-triage

[2022-04-13 19:11] ncdc commented on #721
Clearing milestone to re-triage

[2022-04-13 19:12] ncdc commented on #707
Clearing milestone to re-triage

[2022-04-13 19:12] ncdc commented on #714
Clearing milestone to re-triage

[2022-04-13 22:19] marun commented on #889
#810 ensures that only the specified resources are imported and synced for deployed (not managed) syncers. As per a conversation with @davidfestal, this is a change from the managed syncer which determines the resources from the set of APIResourceImports in the workspace as you're describing here. It probably makes sense to clarify what behavior is desired of deployed syncers before managed syncer

[2022-04-13 22:20] marun commented on #890
We already have a task list in #881?

[2022-04-14 12:07] maleck13 opened #896 "Ingress is not synced by the namespace syncer"
**Describe the bug**
Ingress objects are not scheduled to a cluster when in synced resources

**To Reproduce**
start kcp with resources to sync (service, deployment, ingress)
create a workspace
create a namespace
create deployment, service and ingress
note service and deployment are synced
Ingress is not synced

**Expected behavior**
Ingress should be synced based on the namespace scheduler label

[2022-04-14 12:18] ncdc commented on #896
@jmprusi

[2022-04-14 13:03] ncdc commented on #890
I at least wanted an issue filed for this - I didn't see one.

[2022-04-14 13:18] ncdc commented on #896
@maleck13 this line exists because for the time being, the namespace reconciler and the ingress splitter conflict with each other (tracking long-term goals in #557). So IIRC you have to manually assign each root ingress to a cluster for the time being (@jmprusi can confirm).

[2022-04-14 13:28] ncdc commented on #889
Ok, so I guess this is limited to only being an issue for push managed syncers?

[2022-04-14 13:32] davidfestal commented on #889
That's also my guess

[2022-04-14 14:40] jmprusi commented on #896
Yes @ncdc, that was the main reason for that line. For the next release, 0.4, that line will be going away.

[2022-04-14 15:33] ncdc opened #897 "Make leader election work transparently"
**Is your feature request related to a problem? Please describe.**
The client-go leader election code typically defaults to the in-cluster namespace (from `/var/run/secrets/kubernetes.io/serviceaccount/namespace` mounted into the pod). For pods in synced namespaces, the namespace name in the workload cluster (kcp<hash>) is different from the namespace name in the control plane in kcp. If the kcp<h

[2022-04-14 15:44] ncdc opened #898 "Remove ListWithContext/GetWithContext from lister-gen & generated listers"
This was a change to support scoping per logical cluster in listers, but we are trying to back away from modifications to client-go or the upstream generators as much as possible. The work in #209/#759 should hopefully replace ListWithContext/GetWithContext.

This will mostly affect the custom resource code in k8s.io/apiextensions-apiserver

[2022-04-14 15:44] ncdc commented on #898
cc @fabianvf @varshaprasad96 @sttts

[2022-04-14 19:40] fgiloux opened #902 "Different ways of building and pushing kcp and syncer images"
**Describe the bug**
Not really a bug. Everything is working but not fully consistent in the tooling being used. I was wondering whether there is any reason for that.
- kcp-image.yaml is using [buildah](https://github.com/kcp-dev/kcp/blob/725095e06cf2426fbc7099efedcda4327836f590/.github/workflows/kcp-image.yaml#L28-L35)
- syncer-image.yaml is using [ko](https://github.com/kcp-dev/kcp/blob/54b21c30

[2022-04-14 23:12] jpeach opened #905 "openshift-goimports tool doesn't build on macOS"
**Describe the bug**

The build wraps various helper tools in build scripts that don't seem to work reliably in all build environments.

**To Reproduce**

[code]

I think that if we switch to the tools pattern, I think that we can resolve this.

https://github.com/golang/go/wiki/Modules#how-can-i-track-tool-dependencies-for-a-module

[2022-04-18 02:09] jpeach opened #907 "kcp creates a config directory with permissions that it doesn't like"
**Describe the bug**

Running kcp emits this error:
[code]

But kcp created this directory using `os.MkdirAll(dir, 0755)`, so it should know what it wants and just do that.

**To Reproduce**

Run kcp.

**Expected behavior**

No error.

[2022-04-18 14:13] ncdc commented on #905
What `go` version are you using?

[2022-04-18 14:33] ncdc commented on #905
We based the current setup on https://github.com/kubernetes-sigs/cluster-api/issues/5569 (also see the referenced Slack thread in there).

[2022-04-18 19:32] stevekuznetsov commented on #591
TODO: failure mode on startup?

<details><summary>logs</summary>

[code]

</details>

[2022-04-18 23:24] jpeach commented on #905
1.18 on macOS M1. The problem is that the imports tool has a `golang.org/x/sys` that is too old.

[2022-04-18 23:28] jpeach commented on #905
Yeh hard to tell from that thread what problems they had. Maybe module dependency hell?

[code]

[2022-04-19 07:04] sttts opened #912 "Multi-Release-Epic: Consume Compute via Transparent Multi Cluster set up in a different workspace"
# Demo Objective
- [ ] User should be able to be able to consume compute defined in a different workspace and potentially by a different person.

# Demo Steps

- [x] https://github.com/kcp-dev/kcp/pull/829 in org-admin role: create workspace N as negotiation domain (aka infrastructure workspace)
- [x] https://github.com/kcp-dev/kcp/pull/829 add WorkloadClusters to N
- [x] https://github.com/kcp-de

[2022-04-19 12:19] jmprusi opened #914 "Advanced scheduling"
# Demo Objective

The objective of this epic is to enable the scheduling of a resource into multiple workloadclusters while allowing external controllers to control some stages of it, being able to apply backpressure/block deletion of resources.

This demo also introduces an experimental annotation to apply jsonPatch diffs for a specific workloadcluster: `experimental.specdiff.workloads.kcp.dev/<f

[2022-04-19 14:11] sttts opened #915 "Community Meeting April 19, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-04-19 14:14] sttts commented on #915
- [0.4 Milestone](https://github.com/kcp-dev/kcp/milestone/5) topics
- Incoming issues: https://github.com/kcp-dev/kcp/issues?q=is%3Aissue+is%3Aopen+created%3A2022-03-08..*+no%3Amilestone+

[2022-04-19 14:21] sttts opened #916 "Revert cluster-admin permissions for syncer in negotiation workspace"
**Describe the bug**

https://github.com/kcp-dev/kcp/pull/881 adds cluster-admin right for the syncer in the negotiation workspace:

[code]

With the virtual workspace work landing https://github.com/kcp-dev/kcp/pull/754, this will not be needed anymore. Hence, we should (must) revert this as it is a major security blocker.

[2022-04-19 14:25] ncdc commented on #905
Are you able to downgrade to go 1.17? Because kcp is based on internals of Kubernetes, it's easiest for us to match the go version that Kubernetes is using.

[2022-04-19 14:25] ncdc commented on #905
Or hopefully the openshift-goimports PR will fix things

[2022-04-19 14:55] stevekuznetsov commented on #915
CRDB benchmarking updates:

- see [the repo](https://github.com/stevekuznetsov/apiserver-benchmarking) for setup
- see [my branch](https://github.com/stevekuznetsov/apiserver-benchmarking) for the k8s code
- preliminary results for client throughput & latency (and server performance)
- preliminary results for high-selectivity queries and indices

[2022-04-19 14:56] ncdc commented on #915
* APIExport virtual workspace demo

[2022-04-19 15:28] marun opened #917 "e2e: Ensure that a synced deployment can contact kcp"
#909 enables kind testing in e2e jobs, and the primary syncer e2e (`test/e2e/syncer/syncer_test.go`) needs to be updated to validate that a synced deployment is configured correctly to contact the kcp api via the 'incluster' configuration path.

cc: @sttts @jmprusi @ncdc

[2022-04-19 15:46] marun commented on #890
* [ ]  Move syncer manager + all related code  - #911
* [ ]  Implement kubectl plugin code to make it easy to deploy a syncer to a workload cluster - #881

[2022-04-19 16:40] marun commented on #917
Of note is that image that is used for the syncer test is currently `bitnami/kubectl`, which is `amd64` only.  This is fine for CI but the test will fail on apple silicon due to the test checking for available pods and the pod crashlooping due to using an image with the wrong arch. Ideally the test would be using an image that was supported on `arm64` and `amd64`.

[2022-04-19 19:57] ncdc commented on #915
Recording: https://www.youtube.com/watch?v=Ca3vh3lS6YI

[2022-04-19 19:57] #915 closed

[2022-04-19 20:46] ncdc opened #919 "Clean up contrib/kcp.code-workspace"
There are a lot of launch configurations that are no longer relevant and should be removed:

- [ ] `Launch all-in-one kcp in push mode` (push mode is almost removed from the codebase)
- [ ] `Launch crd-puller on default cluster` (crd-puller may go away as a standalone tool)
- [ ] `Launch cluster controller - push mode`
- [ ] `Launch cluster controller`

This last one is probably out of date and ma

[2022-04-19 20:49] ncdc commented on #419
Even if we haven't necessarily completed all the tasks above, we are well past 0.3 and into 0.4, so closing this.

[2022-04-19 20:49] #419 closed

[2022-04-19 20:50] ncdc commented on #418
Moving to 0.4. When we next review issues in the milestone, we should either close this (if it's done) or update w/what's left to do.

[2022-04-19 20:50] ncdc commented on #280
Moving to 0.4 to re-assess/update/close/etc.

[2022-04-19 20:51] marun commented on #890
I think this is safe to close now that #881, #909 and #911 have all merged.

[2022-04-19 20:51] #890 closed

[2022-04-19 20:55] marun commented on #280
The code implementing this is already in the tree. I filed https://github.com/kcp-dev/kcp/issues/917 to track the test addition(s) required to verify the behavior and insure against regression.

[2022-04-19 21:27] #837 closed

[2022-04-19 21:36] Roming22 opened #920 "`kubectl kcp workload sync` is not idempotent"
**Describe the bug**
Running `kubectl kcp workload sync` twice with the same set of params triggers a failure on the 2nd run because the resources habe already been declared.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `kubectl kcp workload sync my-test --syncer-image ghcr.io/kcp-dev/kcp/syncer-c2e3073d5026a8f7f2c47a50c16bdbec:41ca72b` -> OK
2. Run `kubectl kcp workload sync my-test

[2022-04-20 04:24] jpeach commented on #905
yeh, let's upgrade when that lands

[2022-04-20 13:01] #756 closed

[2022-04-20 13:03] ncdc opened #922 "Add e2e-shared-server job to ci-docs-only.yaml"

[2022-04-20 13:04] ncdc opened #923 "Make e2e-shared-server required for PR merge"
Need to get #922 done first

[2022-04-20 13:30] #922 closed

[2022-04-20 13:33] ncdc commented on #923
This is now configured

[2022-04-20 13:33] #923 closed

[2022-04-20 14:18] ncdc commented on #905
@jpeach we fixed the test infra to get your openshift-goimports PR to merge. Would you be willing to update kcp to use the latest commit from https://github.com/openshift-eng/openshift-goimports in the Makefile?

[2022-04-20 15:19] #796 closed

[2022-04-20 15:19] #842 closed

[2022-04-21 15:29] ncdc commented on #898
Turns out we need to do this now so that bound CRDs (from APIExports) can function with a synthetic (read: not stored in etcd) identity annotation. I am working on it.

[2022-04-21 15:35] #830 closed

[2022-04-21 16:27] ncdc commented on #143
We are adding support for validating and mutating webhooks for full external URLs (not service URLs), at least as step 1.

[2022-04-25 12:11] #905 closed

[2022-04-25 14:00] shawn-hurley commented on #143
Step 1 Implementation is here: https://github.com/kcp-dev/kcp/pull/818

[2022-04-25 17:54] ncdc commented on #889
Closing, as we no longer have push managed syncers 😄

[2022-04-25 17:54] #889 closed

[2022-04-26 11:25] sttts opened #933 "Community Meeting April 26, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-04-26 11:25] sttts commented on #933
- Incoming issues: https://github.com/kcp-dev/kcp/issues?q=is%3Aissue+is%3Aopen+created%3A2022-03-08..*+no%3Amilestone+
- [0.4 Milestone](https://github.com/kcp-dev/kcp/milestone/5) topics

[2022-04-26 15:01] pweil- commented on #933
enumerating items we should be discussing with a broader community

[2022-04-26 15:25] pweil- commented on #933
Update on generators for controllers form @fabianvf

* open PR for clientset generators
* open PR against api machinery to update round tripper
* in process of getting informer and lister gen scaffolding up, need to get review on clientset generator finished before more is done there

@fabianvf, please add links here for hopefully getting more eyes on PRs since folks are low on time right now

[2022-04-26 15:31] ncdc commented on #721
@kylape please re-review to see if we can close this

[2022-04-26 17:54] ncdc opened #934 "Remove WorkloadClusterSpec.KubeConfig"
This was used for push-mode syncing, which we don't support any more.

After removing the field, make sure to rerun `make codegen`

[2022-04-26 17:58] ncdc commented on #933
Recording: https://www.youtube.com/watch?v=joR39RR2Gwo

[2022-04-26 17:58] #933 closed

[2022-04-26 20:23] #721 closed

[2022-04-27 01:33] #907 closed

[2022-04-27 14:35] sttts commented on #917
This is important and kind of urgent, but doesn't block v0.4.

[2022-04-27 14:37] sttts commented on #739
Not a v0.4 blocker, but a good pick for a topic to look into.

[2022-04-27 14:38] sttts commented on #280
We have to come back to this in v0.5.
1. there is something broken afaik
2. we have no e2e test. Before missing kind in e2e was blocking this. But we have kind now.

[2022-04-27 20:22] csams commented on #902
We're currently building KCP on a non-distroless base image because we need extra tooling at runtime to fetch generated files. cc @kylape

[2022-04-28 09:46] #418 closed

[2022-04-28 14:25] #527 closed, assigned to nobody

[2022-04-28 15:53] ncdc opened #940 "logicalcluster machinery refactoring"
- [x] Create a new repo, github.com/kcp-dev/logicalcluster
    - [x] Move github.com/kcp-dev/apimachinery/pkg/logicalcluster into the root of the above repo, rename `LogicalCluster` to `Name` (put in `name.go`) https://github.com/kcp-dev/logicalcluster/pull/1
    - [x] Add script to verify there are no k8s.io/* imports https://github.com/kcp-dev/logicalcluster/pull/1
    - [x] Enable said script i

[2022-04-28 16:59] ncdc opened #941 "Fix syncer image name"
For some reason, the syncer image name we're building via GitHub Actions is `syncer-c2e3073d5026a8f7f2c47a50c16bdbec` followed by a tag - e.g. `ghcr.io/kcp-dev/kcp/syncer-c2e3073d5026a8f7f2c47a50c16bdbec:main`.

The name of the image should be `ghcr.io/kcp-dev/kcp/syncer:TAG` i.e. without `-c2e3073d5026a8f7f2c47a50c16bdbec`.

I'm guessing we need to adjust something in `.github/workflows/syncer-im

[2022-04-28 18:54] kasturinarra opened #943 "SYNCED & API RESOURCES are empty when "kubectl get workloadcluster -o wide" is run"
**Describe the bug**
I see that SYNCED & API RESOURCES columns are empty when run kubectl get workloadcluster -o wide.

[knarra@knarra kcp]$ kubectl get workloadcluster -o wide
NAME   LOCATION   READY   SYNCED API RESOURCES
kind   kind       True

**To Reproduce**
Steps to reproduce the behavior:
1. Install KCP
2. Add workload cluster using the kubectl kcp workload sync command

**Expected behavio

[2022-04-28 19:03] csams opened #944 "Syncer logs errors while trying to sync p-cluster only resources to KCP"
**Describe the bug**
If a resource exists in the physical cluster but not in KCP, the syncer will try to sync it to KCP and log an error that it can't find a corresponding KCP resource. It should instead ignore all resources for which it is not responsible.

**To Reproduce**
Steps to reproduce the behavior:
1. Install a workload cluster
2. Observe periodic error messages in the syncer pod as it tr

[2022-04-28 19:10] kasturinarra commented on #943
Ah, that is just one term, thanks !!

[2022-04-28 19:13] ncdc opened #945 "If syncer fails to find all the GVRs it needs to sync, it loops forever and doesn't report any status/errors outside of pod logs"
**Describe the bug**
If the syncer is configured to sync resources that don't exist yet in the workspace (i.e. they truly don't exist, or the APIImporter failed to import them, or ...), it loops forever until they do (or not). The only way to know this issue is occurring is to review the syncer pod logs.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a syncer configured with `--resou

[2022-04-28 21:08] sttts opened #946 "Community Meeting May 3, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-04-28 21:09] sttts commented on #946
- Incoming issues: https://github.com/kcp-dev/kcp/issues?q=is%3Aissue+is%3Aopen+created%3A2022-03-08..*+no%3Amilestone+
- [0.4 Milestone](https://github.com/kcp-dev/kcp/milestone/5) topics

[2022-04-28 21:13] sttts commented on #946
kcp logo

[2022-04-29 12:55] ncdc commented on #162
I believe we can close this. If there are still any issues, please let us know.

[2022-04-29 13:24] qiujian16 opened #947 "Race condition in syncer: namespace vs. resource event ordering & cache freshness"
**Describe the bug**
see TestSyncerLifecycle fails sometimes in  e2e-test-sharedserver.

log as below

[code]

**Expected behavior**
the test should pass

**Details**
1. Namespace is scheduled to a workload cluster and has its labels patched

2. Resource (e.g. deployment) is reconciled, but the namespace cache is not up to date, so the deployment is either not scheduled to a workload cluster (name

[2022-04-29 18:02] kasturinarra opened #948 "When workload cluster is deleted from kcp it should delete all associated elements from the physical cluster and kcp"
**Describe the bug**
Currently user needs to go through multiple deletes to remove all the objects that are being created when workload cluster is added and there is no single command which does it all.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy kcp
2. Add workload using the workload sync command
3. Now run command kubectl delete workloadcluster <name>

**Expected behavior**
I ex

[2022-04-29 18:31] kasturinarra commented on #604
I have hit below issue as well during my test:
======================================
1) when updated the deployment spec in kcp to have replica count of 12, i see that number of pods run are around 12 in physical cluster which is fine, when i try to update deployment spec in physical cluster to have 14 replicas i see that pods does get increase in number and running oc get deployment also shows t

[2022-04-29 18:39] ncdc commented on #604
@kasturinarra if you wait a bit, do the deployments go back to 12?

[2022-04-29 18:41] kasturinarra commented on #604
you mean when i update the spec in physical cluster ?

[2022-04-29 18:42] ncdc commented on #604
Yes, when you update physical cluster to 14, if you wait a bit, does kcp eventually reset it back to 12?

[2022-04-29 18:44] kasturinarra commented on #604
Nope, not really.  I have just deleted my cluster, i can try again and get back

[2022-04-30 00:16] ncdc commented on #848
#930

[2022-04-30 00:16] #848 closed

[2022-04-30 00:29] ncdc commented on #205
Closing as we have decided not to maintain demo scripts in the repo

[2022-04-30 00:29] #205 closed

[2022-05-02 10:10] sttts opened #950 "e2e: clusterworkspacedeletion flakes"
[code]

https://github.com/kcp-dev/kcp/runs/6255297079?check_suite_focus=true

[2022-05-02 10:33] kasturinarra commented on #604
I tried again and i see that kcp does not eventually reset it back, waited for about an hour and still hit same issue.

[knarra@knarra kcp]$ kubectl get deployment
NAME    READY   UP-TO-DATE   AVAILABLE   AGE
kuard   12/10   12           12          75m

[knarra@knarra kcp]$ oc get pods --all-namespaces | grep kuard
kcp0f3805e02fedad8e8565e6d18e5cf6e4645663e913590b4752129250       kuard-74967d75cc

[2022-05-02 13:47] sttts commented on #947
Hopefully solved through https://github.com/kcp-dev/kcp/pull/949/commits/5b1335486e1ac2a54fbe579621796f482d8b2786. We keep watching whether it got better.

[2022-05-02 13:52] chrisahl commented on #831
Similar slack conversation, https://coreos.slack.com/archives/C020QAF9D46/p1651497368435569.  Would like it to be a little more user friendly.  So I vote for this enhancement

[2022-05-02 16:13] geoberle commented on #941
hi @ncdc. i would love to work on this.

[2022-05-02 16:15] ncdc commented on #941
@geoberle great, thanks, we'd love the help!

[2022-05-02 17:06] ncdc commented on #143
Closing this now that 818 is merged. We can open additional issues if needed

[2022-05-02 17:06] #143 closed

[2022-05-02 17:09] ncdc commented on #898
Fixed with kcp-dev/kubernetes#62

[2022-05-02 17:09] #898 closed

[2022-05-02 18:17] shawn-hurley commented on #945
/assign @shawn-hurley

I can take this one when I get back on the 9th

[2022-05-02 20:57] #844 closed

[2022-05-02 21:19] ncdc commented on #759
@varshaprasad96 @fabianvf @njhale I updated the description to include the need for a ClusterDiscoveryClient

[2022-05-02 21:50] fabianvf commented on #759
Sounds good, I'll take a look a that tomorrow. Presumably that client would live in the same place that https://github.com/kcp-dev/apimachinery/pull/21 ends up?

[2022-05-03 00:51] ncdc commented on #946
v0.5 planning

[2022-05-03 11:37] #941 closed

[2022-05-03 12:12] sttts opened #966 "e2e-flake: TestCrossLogicalClusterListPartialObjectMetadata"
https://github.com/kcp-dev/kcp/runs/6272450939?check_suite_focus=true:

[code]

[2022-05-03 12:13] ncdc opened #967 "Flake: e2e-multiple-runs: TestCrossLogicalClusterListPartialObjectMetadata"
https://github.com/kcp-dev/kcp/runs/6272450939?check_suite_focus=true

[code]

[2022-05-03 12:16] sttts commented on #966
Duplicate of https://github.com/kcp-dev/kcp/issues/967

[2022-05-03 12:16] #966 closed

[2022-05-03 12:44] rpsene opened #968 "Add support for ppc64le"
Power (ppc64le) is a first class citizen in the cloud space (specially on the enterprise side). As we already have k8s and OCP supporting it (and in order to keep advancing on the OCP ecosystem) we need to ensure that KCP also supports Power.

This is an initial exploratory request to conduct research on what is needed. We, the Power team, will be working on this and contribute any change back to

[2022-05-03 13:21] sttts commented on #968
That's awesome! Thank you!

[2022-05-03 13:22] sttts commented on #946
v0.4.0 is tagged https://github.com/kcp-dev/kcp/releases/tag/v0.4.0-alpha.0  🥳 🎈 🎆

[2022-05-03 14:49] ncdc commented on #943
@sttts just checking - are we planning on having which resources to sync in workloadcluster spec (or similar)? Is it ok to remove this now, and add it back later if needed?

[2022-05-03 15:18] ncdc opened #971 "Clean up demo scripts"
From today's community meeting #946:

- [ ] Remove demo scripts from the repo because they are not maintained, people try them, and they encounter breakages
- [ ] Create doc(s) in the repo that link into end to end tests that show specific features in use
- [ ] Update the readme with links to videos, blog posts, etc. for various features
- [ ] Start writing blog posts (possibly instead of, or in a

[2022-05-03 15:22] itdove opened #972 "kcp use with relative path"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Be able to jump from one ws to another in on step instead of 2.
currently:
[code]
but it could be
[code]

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or s

[2022-05-03 15:39] davidfestal commented on #944
It might be fixed by the upcoming PR https://github.com/kcp-dev/kcp/pull/942.

[2022-05-03 16:37] geoberle commented on #943
by removing the good-first-issue label i assume this one is not suitable for a KCP beginner?

[2022-05-03 16:42] ncdc commented on #943
@geoberle we discussed this in today's community call. We used to populate this field when we had push mode syncers. Then we removed all managed syncers (push and pull), and we aren't setting it any more. However, in the future, we will probably change how to configure which resources to sync. Right now you do it via the syncer command like flag `--resources`. We will probably move to having this

[2022-05-03 18:01] itdove commented on #920
@ncdc
1. What should be updated in the workloadcluster as the method provides only the name of the workload.
2. I guess once we will fix the workloadcluster create issue, we will have the same issue with the SA and clusterRoleBinding

Wonder if it exists we just have to skip because I don't see right away which information must be updated.

[2022-05-03 18:21] ncdc commented on #920
1. Nothing needs to be updated. I'd say if the workloadcluster exists, keep going instead of erroring.
2. You'll probably want to ensure the SA's ownerref is correct. And make sure the CRB has the right subjects + role ref.

[2022-05-03 18:45] #934 closed

[2022-05-03 19:03] fabianvf commented on #759
also linking https://github.com/kcp-dev/code-generator/pull/1 (clientset generator) and https://github.com/kcp-dev/code-generator/pull/2 (listers/informer example)

[2022-05-03 21:54] geoberle opened #977 "Incomplete RBAC cleanup after failed workspace creation"
**Describe the bug**
As describe [here](https://github.com/kcp-dev/kcp/blob/d4720dbf2203179c926d6dc8e70ebb1276054611/pkg/virtual/workspaces/registry/rest.go#L476), the creation logic for workspaces first creates a `ClusterRoleBinding` and a `ClusterRole` before creating the actual workspace. If the `ClusterRoleBinding` already exists, also the corresponding workspace is [assumed to exist](https://

[2022-05-03 22:07] ncdc commented on #977
We definitely should fix this, as the error message is confusing, and the UX is suboptimal.

[2022-05-03 22:26] stevekuznetsov commented on #977
Is there a technical reason that the Workspace can't be created first? Owner references on the RBAC + creating them after should allow for this be solved at a more generic level than the driver code?

[2022-05-04 00:44] ncdc commented on #946
Recording: https://www.youtube.com/watch?v=SsSDlT37l8I

[2022-05-04 00:44] #946 closed

[2022-05-04 07:10] geoberle commented on #977
while i think it is technically not necessary to create the `ClusterRoleBinding` first, it serves as a natural safeguard for workspace pretty name uniqueness in the user personal space, because the CRB name incorporates the pretty workspace name.

https://github.com/kcp-dev/kcp/blob/d4720dbf2203179c926d6dc8e70ebb1276054611/pkg/virtual/workspaces/registry/rest.go#L546

[2022-05-04 12:24] sttts commented on #772
@pradeepnnv are you still interested? Do you need some pointers? Feel free to start a thread in Slack. We can talk.

[2022-05-04 12:27] sttts commented on #545
With identity this should be done, with https://github.com/kcp-dev/kcp/issues/772 as follow-up, shouldn't it?

[2022-05-04 12:30] ncdc commented on #545
identity + restricting non-identity wildcard list/watch to internal kcp controllers

[2022-05-04 12:44] ncdc commented on #947
I've updated the title to reflect this is an actual bug, and included details of the issue in the description.

[2022-05-04 12:51] ncdc opened #981 "Multi-Release-Epic: multi-workspace controller development"
# Stories
- [x] Add APIExport virtual workspace  - https://github.com/kcp-dev/kcp/pull/1132
    -  Find a way to let owner specify additional resources (e.g. secrets) that need to be included
    - [Future] Filter the resources so it’s not “all secrets” etc.
- [x] Add authorization checks for APIBindings https://github.com/kcp-dev/kcp/issues/1013
    - User using bound API can’t modify status, for

[2022-05-04 14:37] ncdc opened #983 "Race condition in our fork of kube's namespaced resources deleter"
[code]

[2022-05-04 15:54] sttts opened #985 "Data race in component-base when running tests with an in-process server"
Likely related to the recent `V(2)` default.
[code]

[2022-05-04 15:55] ncdc commented on #985
Weird, will look

[2022-05-04 15:58] sttts commented on #985
Slightly different, but probably related:
[code]

[2022-05-04 17:19] #983 closed

[2022-05-04 19:54] #920 closed

[2022-05-04 20:52] fabianvf commented on #940
should we also add an item here to remove logicalcluster from github.com/kcp-dev/apimachinery?

[2022-05-05 06:31] sttts commented on #604
Have removed the milestone and the experience-blocker label. This is a nice to have for sure, but it is not a blocker for an MVP.

[2022-05-05 06:33] sttts commented on #206
I don't see how this is a valid use-case. Why would one want to talk to a pcluster, and why isn't that something outside of the standard TMC flow?

[2022-05-05 06:35] sttts commented on #564
This is something for the operation team, not user visible. I would prefer to keep the experience-blocker for consumer-only topics.

[2022-05-05 06:36] sttts commented on #400
cc @qiujian16

[2022-05-05 16:03] ncdc opened #990 "Add e2e test that we store CRs in the right locations"
Normal CRs: `/registry/$group/$resource/customresources/...`

Bound CRs: `/registry/$group/$resource/$identity/...`

[2022-05-05 16:58] ncdc opened #992 "Rework deletion e2e to use pluggable client interface to verify content is actually gone"
See https://github.com/kcp-dev/kcp/pull/989#discussion_r866124843

"Pluggable client interface" so we can support both etcd and cockroachdb

[2022-05-05 17:03] ncdc commented on #947
We think #987 fixes this. Closing and will reopen if needed.

[2022-05-05 17:03] #947 closed

[2022-05-05 17:29] #950 closed

[2022-05-05 17:40] chrisahl commented on #525
Wondering how you are expecting the user to list the workload cluster.  When I first looked at this I was thinking `kubectl kcp workloads` or `kubectl kcp workload list`.  But only option I see for `kcp workloads` is `sync`.  Having to use `kubectl get workloadcluster` to figure out the name does not seem as intuitive to me.  Thoughts?

Also want to be sure that the cordon/drain function you are l

[2022-05-05 18:10] chrisahl commented on #525
@ncdc I am interested in looking at this.  Can you add me to the kcp group so I can assign this to myself?

[2022-05-05 18:28] ncdc commented on #525
Assigned!

[2022-05-05 18:35] stevekuznetsov commented on #992
This has ... obvious drawbacks. :^)

[2022-05-05 20:12] ncdc commented on #748
Note, with #877 now merged, CRs from APIBindings and CRs from normal CRDs are stored distinctly in etcd. So this concern is no longer an issue.

[2022-05-05 20:13] ncdc commented on #992
Updated to include crdb

[2022-05-06 09:43] #618 closed

[2022-05-06 14:33] ncdc commented on #772
@robinbobbitt thanks, please proceed. Hopefully we can find other issues for @pradeepnnv if still interested.

[2022-05-06 15:35] adambkaplan opened #999 "`kcp` Command to Unsync a Workload Cluster"
**Is your feature request related to a problem? Please describe.**

The `kcp workload sync` command makes it easy to configure a workload cluster on kcp, and create a manifest to deploy the syncer on a workload cluster.

Tearing down a workload cluster, however, requires the following manual steps on the kcp side:

1. Delete the WorkloadCluster
2. Delete the associated service account
3. Delete th

[2022-05-06 15:40] ncdc commented on #999
Related: #948 cc @kasturinarra

[2022-05-06 17:34] ncdc opened #1003 "Add tests that kube types added as CRDs show the expected columns"
We have custom code that makes sure that when CRDs are added for built-in kube types (deployments, services, pods, etc.), `kubectl get <resource>` returns the same columns as the user expects, by replacing the CRD table converter with the go code for the printers for the internal built-in types. We should add tests that ensure we don't regress.

Example - deployments - if we regress:
[code]

This

[2022-05-06 18:20] ncdc opened #1004 "Confusing error message when trying to list workspaces in organization workspace that doesn't exist"
**Describe the bug**
When trying to access `/clusters/root:$someOrg` and the request is denied (e.g. that org workspace does not exist), the server returns a confusing error message:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start kcp
2. `kubectl get --raw /clusters/root:someorg/apis/tenancy.kcp.dev/v1beta1/workspaces`
3. `Error from server (Forbidden): workspaces.tenancy.kcp.d

[2022-05-06 18:21] sttts commented on #1004
We cannot leak whether the org exists or access is not allowed. So we need one message for both. But we can say something like "Access to the organization / top-level workspace root:foo not permitted".

[2022-05-06 19:41] ncdc opened #1007 "Add CI job that validates go.mod always points to github.com/kcp-dev/kubernetes"
Fail if it points to any other fork, to avoid accidentally merging a PR that was being tested against a developer's fork.

[2022-05-06 19:51] ncdc opened #1008 "Replace all .ClusterName / GetClusterName() access with logicalcluster package functionality"
ObjectMeta.ClusterName is gone in Kubernetes 1.24. We need to replace our usage of it in kcp-dev/logicalcluster, kcp-dev/kubernetes, and kcp-dev/kcp. We should instead use logicalcluster.From(obj).String() if we need to get it from an object. And we'll need to figure out the best patterns to use for setting it.

[2022-05-08 19:43] #977 closed

[2022-05-09 06:06] kasturinarra commented on #1003
ACK & we will add these tests, thanks !!

[2022-05-09 14:43] jmprusi opened #1012 "Add support for syncer virtual workspace URL, in workloadClusters and Synced."
As there could be multiple virtual syncer controller running, in order to avoid controllers conflicting on workload cluster resource updates, we will need an external controller
to handle the addition of the synced virtual workspace URL to the workloadCluster status resource.

- [x] Add the required field to the WorkloadCluster object (https://github.com/kcp-dev/kcp/pull/1018)
- [x] Create a cross

[2022-05-09 16:58] #772 closed

[2022-05-09 17:05] geoberle commented on #862
i would like to grab this one

[2022-05-09 18:34] shawn-hurley opened #1013 "Add Authorizer that let's APIExport owner restrict what a user can do with objects of an APIBinding"
**Is your feature request related to a problem? Please describe.**
As an exported set of resources owner, I would like to restrict what a user can do with those resources once bound to a workspace.

**Describe the solution you'd like**
There should be a virtual workspace for a policy that an API export owner can create RBAC rules that will be applied by a new authorizer that will use this RBAC.

*

[2022-05-09 18:38] ncdc commented on #1013
Kube's RBAC mechanism only supports adding permissions, not taking them away.

[2022-05-09 18:39] ncdc commented on #1013
Example use case: users generally (always?) must be forbidden from updating status of CRs for bound CRDs (CRDs coming from an APIBinding/APIExport)

[2022-05-09 18:41] shawn-hurley commented on #1013
I agree with that use case but am having a hard time understanding the use of roles for this when we don't have to deny rules.

[2022-05-09 19:48] sttts commented on #1013
The rules will be an upper bound. Compare https://github.com/kcp-dev/kcp/blob/main/docs/authorization.md#authorizers. We would have another block in that flow that checks requests against APIBinding resources.

Note: the new policy is still positive, i.e. adding a role or binding will always allow more or the same, never forbid anything that was allowed before.

[2022-05-09 20:37] shawn-hurley commented on #1013
updated the issue to incorporate my understanding of the ask and the current high-level plan. Please let me know what you think.

[2022-05-09 20:45] ncdc commented on #1013
Why/what for? Why can't this be the workspace in which the APIExport resides?

[2022-05-10 10:19] sttts opened #1016 "Community Meeting May 10, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-05-10 10:19] sttts commented on #1016
- Incoming issues: https://github.com/kcp-dev/kcp/issues?q=is%3Aissue+is%3Aopen+created%3A2022-03-08..*+no%3Amilestone+
- [0.4 Milestone](https://github.com/kcp-dev/kcp/milestone/5) topics

[2022-05-10 10:21] sttts commented on #1016
How to move forward with the logo?

- https://docs.google.com/presentation/d/1je6klVs67_-Ff8hvY9qZyOZqAdhXmzehYPcqR_RyK7w/edit#slide=id.g1274bc93009_0_42
- CNCF landscape: https://landscape.cncf.io/images/landscape.pdf

[2022-05-10 10:24] sttts commented on #1016
How to move forward with the logo?

- https://docs.google.com/presentation/d/1je6klVs67_-Ff8hvY9qZyOZqAdhXmzehYPcqR_RyK7w/edit#slide=id.g1274bc93009_0_42
- CNCF landscape: https://landscape.cncf.io/images/landscape.pdf

[2022-05-10 10:28] sttts commented on #916
This is crucial for the security story. But in v0.5 nobody will work on it. So moving to v0.6.

[2022-05-10 12:51] sttts commented on #1016
`ClusterWorkspaceType` API proposal take two: https://github.com/kcp-dev/kcp/pull/1017/files

- make `ClusterWorkspaceTypes` hierarchical in the sense that the **workspace creation walks up to the root** the find the type.
- add **bootstrap manifests**
- specify initialization authorization
- allow **extensibility of types in sub-workspaces**
- add **default workspace type** for sub-workspaces cre

[2022-05-10 12:51] kasturinarra commented on #1003
Added a test case in polarion and here is the link for the same https://polarion.engineering.redhat.com/polarion/#/project/OSE/workitem?id=OCP-50878

[2022-05-10 14:16] micahhausler opened #1019 "Container image fails to start"
**Describe the bug**

I checked out the main branch, built an image, and it failed to start

**To Reproduce**
Steps to reproduce the behavior:
1. Build the image
[code]
1. Run the image
[code]
1. Failure
[code]
**Expected behavior**
I expect to run the image and for it to work without having to run as root:
[code]

[2022-05-10 15:17] geoberle commented on #758
@ncdc i will take this one as mentioned in the community meeting

[2022-05-10 15:42] robszumski opened #1021 "Vote for a kcp logo (closes May 25th)"
The kcp project needs a logo! This will be used on GitHub, a future website and possibly on social channels.

**Goals:**
Have the logo represent kcp but not conflict too much with other projects in the [CNCF landscape](https://landscape.cncf.io/images/landscape.pdf). A few concepts or topics that could be represented: control plane, applications, building blocks, application-centric, declarative,

[2022-05-10 15:42] robszumski commented on #1021
<img width="1310" alt="image" src="https://user-images.githubusercontent.com/755540/167668429-e00654d1-f790-420f-bd73-4f57c4d60a12.png">

[2022-05-10 15:43] robszumski commented on #1021
<img width="1315" alt="image" src="https://user-images.githubusercontent.com/755540/167668546-8502cadc-cf65-4099-a03d-1ea0aaba3f65.png">

[2022-05-10 15:43] robszumski commented on #1021
<img width="1314" alt="image" src="https://user-images.githubusercontent.com/755540/167668601-cd83b041-16a1-4259-9490-74d734126ea8.png">

[2022-05-10 15:43] robszumski commented on #1021
<img width="1314" alt="image" src="https://user-images.githubusercontent.com/755540/167668637-a5592b86-bf41-44e5-b919-b9fdb5c079b6.png">

[2022-05-10 15:43] robszumski commented on #1021
<img width="1314" alt="image" src="https://user-images.githubusercontent.com/755540/167668672-6c9ae3ac-c26c-49e4-9cb2-291c7677526c.png">

[2022-05-10 15:43] robszumski commented on #1021
<img width="1174" alt="image" src="https://user-images.githubusercontent.com/755540/167668722-88913ee1-7198-42d5-bd31-123d846c8058.png">

[2022-05-10 15:48] ncdc commented on #990
Note, upstream kube has tests that talk to storage (etcd) to verify this. Will want this to be generic enough to work with CRDB too

[2022-05-10 15:55] ncdc commented on #557
Going to close & replace with subtasks/new issues related to the syncer virtual workspace. @davidfestal could you please do that?

[2022-05-10 15:55] #557 closed

[2022-05-10 15:58] ncdc commented on #504
Could be done with some of the finalizer work in #914

[2022-05-10 15:59] ncdc commented on #504
@davidfestal @sttts @jmprusi action item: please come back and provide an example of how this could be achieved with finalizers

[2022-05-10 17:17] stevekuznetsov opened #1022 "Deploy kcp Using CRDB As the Backing Store"
# Demo Objective
- [ ] `kcp` admin should be able to use CRDB as the backing store

# Demo Steps
1. Admin starts `kcp`, pointing `--etcd-servers` to a CRDB instance
1. User does <anything>
1. No user-facing changes, everyone is happy!

# Action Items

- [x] Identify upstream refactoring that is required for this to be generally painless to maintain
- [ ] Execute on upstream refactoring work
- [ ]

[2022-05-10 17:17] stevekuznetsov commented on #591
https://github.com/kcp-dev/kcp/issues/1022

[2022-05-10 20:44] shawn-hurley commented on #1013
@ncdc @sttts update the proposed path without changing the APIExport just using the RBAC that is allowed.

[2022-05-11 01:32] ncdc opened #1026 "add-to-project workflow is failing"
See https://github.com/kcp-dev/kcp/actions/workflows/add-to-project.yml.

@sttts did you set it up with a personal access token that expired after 30 days?

[2022-05-11 02:40] #1019 closed

[2022-05-11 13:00] #1016 closed

[2022-05-11 15:03] chirino commented on #505
@astefanutti I think it's important that this work first for a single cluster.  It's one thing less that the E/W cross cluster traffic implementation would need to worry about.

Is the remapped namespace name the same across clusters (remapped namespace sameness would simplify things for the E/W traffic impl)?

[2022-05-11 16:55] chrisahl commented on #525
NOTE:  Right now for `kubectl kcp workload drain [cluster]`, I did not see a way to know when the draining was complete.  So the current implementation of the command returns immediately, stating that the cluster is `draining`.  As opposed to `kubectl drain [node]` which waits until the drain is complete before returning.

[2022-05-11 17:26] chrisahl commented on #610
@avinal Looking for more info on this. Which issue template are you looking to update in https://github.com/kcp-dev/kcp/tree/main/.github/ISSUE_TEMPLATE?

 For pull request, have you seen https://github.com/kcp-dev/kcp/blob/main/.github/pull_request_template.md ?

[2022-05-11 17:58] ncdc opened #1030 "Personal virtual workspace has issues when the auto-created ClusterRoleBinding has more than 1 subject"
**Describe the bug**
You get "not found" errors when trying to use a workspace when you add a second subject to the auto-generated ClusterRoleBinding.

**To Reproduce**
Steps to reproduce the behavior:
1. kubectl config use-context root
2. kubectl ws create org1 --type Organization --enter
3. kubectl ws create ws1
4. kubectl edit clusterrolebinding owner-workspace-ws1-system:apiserver.
5. Add anot

[2022-05-11 17:58] ncdc commented on #1030
cc @davidfestal @sttts @csams

[2022-05-11 19:00] #1007 closed

[2022-05-11 19:02] guymguym opened #1032 "Unable to connect to the server: x509: certificate is valid for 10.201.133.11, not 192.168.0.4"
**Describe the bug**
I moved my laptop between wifi networks with kcp running and then I get this certificate ip mismatch error, tried to stop and start kcp server but it didn't resolve. Do I need some manual cleanup?

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start kcp at work
2. Drive home
3. Try to use it at home
4. See error

**Expected behavior**
No certificate error

**Add

[2022-05-11 20:21] stevekuznetsov commented on #917
/assign @geoberle

[2022-05-11 20:21] stevekuznetsov commented on #917
This is a dupe of the older #758
/close

[2022-05-11 20:23] stevekuznetsov commented on #758
Of note: https://github.com/kcp-dev/kcp/issues/917#issuecomment-1102863258

No multi-arch manifest for `kubectl` exists, and in general it might be nice to verify explicitly that in-cluster configuration is what is functional, which would be best done with a Go program doing so. That would mean that we need an image build to get that running in the `kind` cluster.

[2022-05-11 20:27] stevekuznetsov commented on #897
As of today, all Pods running in the physical cluster get direct access to `kcp` in their in-cluster configurations, so if this does *not* work, it's a bug, right? As noted, right now the `namespace` key in the secret we mount uses DownwardAPI, but this is the namespace in the physical cluster, so in what case is that actually what we want?

/cc @jmprusi

[2022-05-11 20:28] ncdc commented on #897
It should be the namespace name from kcp

[2022-05-11 20:49] geoberle commented on #758
wdyt about https://hub.docker.com/r/rancher/kubectl/tags? this one is available for multiple archs, including arm64

[2022-05-11 20:51] guymguym commented on #1032
I deleted `.kcp/apiserver.{key,crt}` and restarted the server and it got resovled.

[2022-05-11 20:51] #1032 closed

[2022-05-12 07:32] #985 closed

[2022-05-12 08:30] mikenairn opened #1038 "panic when listing exported crds with wildcard logical cluster (missing 'apis.kcp.dev/identity' annotation)"
**Describe the bug**
After adding a crd to a workspace using an APIBinding, any immediate wildcard requests to list that resource type fail and cause a panic in kcp.

[code]

Server error:
[code]

Making a request to a specific logical cluster will work:
[code]

and subsequent wildcard requests from then on will now work:

[code]

All wildcard requests fail until you make at least one request to a

[2022-05-12 09:27] sttts commented on #1038
This is certainly a bug and should result in some 40x or 50x error. Note that wildcards requests for APIBinding resource need an identity being passed. Compare https://github.com/kcp-dev/kcp/blob/main/test/e2e/apibinding/apibinding_test.go#L194 how this works. cc @ncdc

[2022-05-12 09:44] ncdc commented on #1038
Will be fully fixed when the apiexport virtual workspace is in. Will look into this in the meantime.

[2022-05-12 13:15] ncdc commented on #1038
Here is what's happening:

1. Try to do a wildcard list
    1. It finds the CRD in system:bound-crds (it's from an APIExport/APIBinding)
    2. But because it's a wildcard list request without identity (i.e. it's not `/clusters/*/apis/kuadrant.dev/v1/dnsrecords:$identity`), and we don't have the virtual workspace for APIExports implemented yet, we don't know which APIBinding this is for, so we don

[2022-05-12 19:52] Roming22 opened #1041 "Managing WorkloadClusters using GitOps"
**Is your feature request related to a problem? Please describe.**
Currently registering a cluster as a workload cluster in KCP requires 2 interconnected actions:

1. Run the `kubectl kcp workload sync` command on KCP.
2. Apply the manifest returned as the output of the first command to the cluster to deploy the syncer.

This makes it difficult to fully delegate the registration to ArgoCD.

**Desc

[2022-05-12 21:04] stevekuznetsov commented on #1041
The explicit intent of the current flow is to *not* require that any part of the control plane have the permissions required to deploy and manage the syncer in the physical cluster. Is the current flow hard to execute in a pipeline since the manifests are dynamically generated? Please describe more of your issues in implementing some CD approach.

[2022-05-12 21:16] ibihim commented on #862
Sorry, I reacted in the slack chat and forgot to mention that I am working on it too.

[2022-05-12 21:18] avinal commented on #610
Hello @chrisahl, I am aiming to upgrade all issue templates to use the newer YAML templates as mentioned in the description. The current pull request template is too minimal. We can add more fields. If we agree to what I have proposed above, I will open a PR :)

[2022-05-12 22:08] stevekuznetsov commented on #1041
After chatting with @ncdc it seems like this is about being able to emit the YAML for `kcp` and the physical cluster both, separately, to be checked into a GitOps flow.

[2022-05-13 06:41] geoberle commented on #862
@ibihim no problem. go for it

[2022-05-13 13:56] chrisahl commented on #610
I was looking at issues to see what unassigned ones were out there, did not know you were working on this.  You should assign it to yourself.

As far as the correct format for the templates, others will have to chime in as I am new to this repo/project and not sure.

[2022-05-13 17:43] kasturinarra commented on #1003
@ncdc one question for the API tests would you want me to test the CRD additionalPrinterColumns ??

oc get crd catalogsources.operators.coreos.com -o yaml
...
  - additionalPrinterColumns:
    - description: The pretty name of the catalog
      jsonPath: .spec.displayName
      name: Display
      type: string
    - description: The type of the catalog
      jsonPath: .spec.sourceType
      name:

[2022-05-13 17:44] ncdc commented on #1003
It's fine to test them, but it's not related to this code/issue

[2022-05-13 17:48] kasturinarra commented on #1003
okay, i have added CLI test in polarion to ensure we get all the right columns , but how do we cover the api test  ?

[2022-05-13 17:51] ncdc commented on #1003
For all built in Kubernetes types that someone could import as a CRD, verify that `kubectl get` output between kcp & kube matches.

[2022-05-13 17:52] kasturinarra commented on #1003
ah, okay, thanks !!

[2022-05-13 18:09] kasturinarra opened #1050 "RESTMapper to resolve unqualified resource names (e.g. ingress) to fully qualified ones"
**Is your feature request related to a problem? Please describe.**
With addition of  --resources=ingress to --args in syncer.yaml leads to workloadcluster deployment not being True and syncer logs report errors as below
E0513 15:47:25.098968       1 syncer.go:127] Failed to retrieve GVRs from kcp: The following resource types were requested to be synced, but were not found in the KCP logical clust

[2022-05-14 14:42] #487 closed

[2022-05-16 09:39] qiujian16 opened #1056 "update workspaceshard externalURL will not be reflected to status.URL of clusterworkspace"
**Describe the bug**
I create a workspaceshard with wrong externalURL, and then a clusterworkspace.
Then I update the externalURL on workspaceshard, the url in clusterworkspace status will not change.
It seems clusterworkspace url will only be updated in scheduling phase.

https://github.com/kcp-dev/kcp/blob/main/pkg/reconciler/tenancy/clusterworkspace/clusterworkspace_controller.go#L333

**Expect

[2022-05-16 15:16] ncdc opened #1057 "syncer: ensure downstream namespace labels are synced/up-to-date"
**Describe the bug**
If you have a namespace in a workload cluster that was created by kcp/syncer before the most recently changes to use the label `internal.workloads.kcp.dev/cluster=$workloadClusterName`, it may be missing this label, and it may have no kcp-related labels, or it may have `state.internal.workloads.kcp.dev/$workloadClusterName=Sync`.

The correct label that is required is `interna

[2022-05-16 15:21] ncdc opened #1058 "syncer: synced service account secrets are immediately deleted by the downstream cluster"
**Describe the bug**
Service account secrets that are synced from kcp to a downstream cluster are immediately deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. In the downstream cluster: `kubectl get secret --all-namespaces -w`
2. In kcp: `kubectl create serviceaccount foo`
3. See updates in the downstream cluster watch from (1)
4. Try to `kubectl get` the secret in the downstream clu

[2022-05-16 16:04] stevekuznetsov opened #1060 "virtualworkspace: forwardingregistry: are we at the correct level of abstraction?"
Right now, the implementation in `pkg/virtual/framework/forwardingregistry` is implementing `rest.StandardStorage`, which lives at a level in the stack that is low enough that incoming requests have had their bodies + query parameters parsed into Go-objects and functions. Furthermore, it expects as output Go objects, so there are a couple of implications:

 - we are not able to pass along the inco

[2022-05-16 16:10] ncdc opened #1061 "Epic: Add support for quota"
# Demo Objective
- [x] Set quota in a namespace in a workspace and have the accounting only apply to content in that workspace+namespace
- [x] Make sure quota works correctly for built-in types
- [x] Make sure quota works correctly for normal CRs, especially when 2 different workspaces both define the same GroupResource
- [x] Make sure quota works correctly for bound CRs
- [x] Find a way to do quo

[2022-05-16 16:28] stevekuznetsov commented on #1058
Unless I am mistaken, it does not seem necessary to put _anything_ in the downstream Pod's specification for a service account name. We are mounting in the in-cluster configuration data ourselves, anyway. So, we can just stop creating `ServiceAccount` objects in physical clusters, right?

It's not immediately obvious what it means to even create a `ServiceAccount` downstream - we cannot do so with

[2022-05-16 16:50] davidfestal commented on #1060
At least for the syncer virtual workspace we expect to change the resources "on-the-fly" while forwarding. This is the whole point of the per-workloadcluster transformations that will be performed on the syncer virtual workspace side, and which would be the basis for the future implementation of syncing "strategies" (whatever we call them) like deployment splitter, etc ...

[2022-05-16 16:53] jmprusi opened #1062 "Stop hardcoding the default secret token names when syncing to a downstream cluster"
**Is your feature request related to a problem? Please describe.**
KCP syncs the secret tokens created by the default KCP SA account to the downstream cluster, but modifies its name with a hardcoded one "kcp-default-token":

* `kube-default-XXXX` gets changed downstream to `kcp-default-token`, where "XXXX" is a random suffix set by the k8s controller.

This was done for two reasons:
* Avoid any po

[2022-05-16 17:10] ncdc commented on #1058
Sounds good to me, at least until we find a use case where downstream needs a physical SA

[2022-05-16 17:15] stevekuznetsov commented on #1060
@davidfestal what mutations are you speaking of?

[2022-05-16 17:34] davidfestal commented on #1060
cf https://github.com/kcp-dev/kcp/issues/487:

For now only the 1rst as been prototyped.

cf. also:
- and https://github.com/kcp-dev/kcp/issues/751#issuecomment-1075338469
- https://github.com/kcp-dev/kcp/issues/786#issuecomment-1081933596
- https://kubernetes.slack.com/archives/C021U8WSAFK/p1649367172590119?thread_ts=1649334621.955789&cid=C021U8WSAFK

[2022-05-16 17:43] ncdc commented on #1058
What if we started by deleting these 2 annotations when syncing a secret down:

[code]

[2022-05-16 18:16] ibihim commented on #862
thank you :pray:

[2022-05-16 21:53] ncdc opened #1066 "Add NewFilteredDynamicInformerWithOptions to client-go dynamic/dynamicinformer"
Also add NewFilteredDynamicSharedInformerFactoryWithOptions

Part of #981

[2022-05-17 12:54] ncdc opened #1069 "Epic: User home workspaces"
# Introduction

We've been brainstorming the idea of replacing the current implementation of personal workspaces (+ pretty names) with user home workspaces. The current implementation has some shortcomings:

- Input doesn't necessarily equal output. When you request a personal workspace named "foo", if the parent workspace already has another workspace named "foo," the new workspace is named somet

[2022-05-17 14:49] davidfestal opened #1071 "Make syncer follow `WorkloadCluster.status.URLs`"

[2022-05-17 15:05] stevekuznetsov commented on #1060
Interesting. 1:n sounds very tricky to do in e.g. WATCH. Might be something we should try to design up-front to make sure we get it right.

As it stands, one side-effect of the current approach is that we do `PrepareForUpdate()` in the intermediate server (and validation) - I think this is clearly wrong, as the storage responsible for the object should (e.g.) decide when the generation changes, no

[2022-05-17 15:09] ncdc opened #1072 "Make partial metadata list/get/watch work correctly - wildcard + non wildcard"
TODO fill in details

[2022-05-17 16:10] ncdc opened #1074 "Rename WorkloadCluster to SyncTarget"
WorkloadCluster is a bit misleading and has some overlap with other APIs out there, naming wise. A more appropriate name is something like SyncTarget, because the only thing we're using the API for is as a scheduling target.

[2022-05-17 20:06] #525 closed

[2022-05-18 00:16] #758 closed

[2022-05-18 01:19] #940 closed

[2022-05-18 02:21] fabianvf commented on #940
I've got branch with the cluster struct removed but don't think I got all the references to it cleaned up properly

[2022-05-18 02:31] ncdc commented on #940
I actually need it for #1072 - just realized that today. I updated the description to strike through that line.

[2022-05-18 07:53] philbrookes opened #1083 "Cannot export or bind to resources in protected groups"
**Describe the bug**
Cannot bind to api export of apiresourceschemas in protected groups (e.g. k8s.io)

**To Reproduce**
Steps to reproduce the behavior:
1. create and enter a new workspace (e.g. apigateway)
2. create APIResourceSchemas for a resource in a protected group (e.g. httproutes.gateway.networking.k8s.io)
3. create an APIExport resource that exports this resource
4. create and enter a ne

[2022-05-18 09:16] maleck13 opened #1085 "Org level APIs"
As the provider of a set of APIs, I would like to be able to offer certain APIs at the "org" level. The idea is these APIs would provide capabilities focused around applying configuration and policy across end user workspaces within an org.

Example Use Case:
As an org administrator, I want to specify a set of domains that can be used for exposing services via ingress in my org workspaces. The API

[2022-05-18 09:57] davidfestal opened #1087 "Add an e2e test for the virtualworkspaceurls-controller"
Add an e2e test for the virtualworkspaceurls-controller : we should make sure urls are updated when shard changes.

This is a followup of PR https://github.com/kcp-dev/kcp/pull/1018

[2022-05-18 10:02] ncdc opened #1088 "Workload APIExport controller stomps on user-defined APIExport latestResourceSchemas"
**Describe the bug**
User-created APIExports are modified by the workload apiexport controller unexpectedly, changing latestResourceSchemas.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an APIResourceSchema
2. Create an APIExport that exports the schema
3. Create a WorkloadCluster
4. Start the syncer
5. The spec.latestResourceSchemas in the APIExport from 2 are modified to include

[2022-05-18 10:08] ncdc opened #1089 "make test-e2e WHAT=<anything> is broken"
**Describe the bug**
Unable to do e.g. `make test-e2e WHAT=./test/e2e/syncer/...`

**To Reproduce**
Steps to reproduce the behavior:
1.`make test-e2e WHAT=./test/e2e/syncer/...`
2. Error:

[code]

**Expected behavior**
Tests run

**Additional context**
This is because the `test-e2e` target has `build` as a prerequisite, and they both share/use `WHAT` to control what to compile/test.

[2022-05-18 10:09] maleck13 opened #1090 "Expose workload cluster capabilities via Location API"
Workload cluster my have existing capabilities or gain capabilities via a third party API Provider. As the workload cluster is not exposed directly to the end user workspace, we need a way for these capabilities to filter through the location APIs so that workspaces with access to these locations can make informed decisions about which location to use.

Example Capabilities:
- OpenShift cluster ex

[2022-05-18 10:10] maleck13 commented on #1090
@sttts I have tried to capture use cases for exposing capabilities
cc @ncdc @chirno

[2022-05-18 10:12] sttts commented on #1088
This is expected with the current behaviour (under feature gate). Medium term we probably will need ThingComputeService. Short term we could just care about "compute" APIExport only.

[2022-05-18 10:15] sttts commented on #1088
Alternative: only touch APIExport with `workloads.kcp.dev/compute: true` label.

[2022-05-18 13:03] jmprusi commented on #917
Closing this one in favor of https://github.com/kcp-dev/kcp/issues/758

[2022-05-18 13:03] #917 closed

[2022-05-18 13:25] fgiloux opened #1092 "Adding binaries to the releases"
**Description**
It would be nice to have the kcp and kubectl plugin binaries added to the [releases](https://github.com/kcp-dev/kcp/releases).
Today when I want to distribute the kubectl plugin I need to download the source and compile it. It is surely doable but having the binaries at the distance of a curl would be handy.

**Additional context**
I will be using the kcp plugin inside a container.

[2022-05-18 13:30] ncdc commented on #1092
👍. We should look into using goreleaser

[2022-05-18 15:49] #1066 closed

[2022-05-18 16:19] jmprusi opened #1096 "Downstream PODs can't connect to KCP if proxied with a TLS cert not signed by KCP CA."
**Describe the bug**

When trying to connect from a POD running in a pcluster to KCP, using client-go `inClusterConfig()`, if KCP is using an external certificate the connection will fail with "x509: certificate signed by unknown authority".

#### Why does that happen?

The syncer will mutate the downstream deployment to mount into the pods:
* Secret `kcp-default-token`: URL + Token
* Configmap `k

[2022-05-18 17:01] sttts opened #1097 "e2e: add test for audit logs to have workspaces set"
With https://github.com/kcp-dev/kcp/pull/1042, audit events should have a workspace annotation. This deserves a small e2e test, e.g.:

- [ ] start e2e test server always with audit logs
- [ ] verify that the created audit files contain workspace annotations.

[2022-05-18 19:08] #1089 closed

[2022-05-18 19:51] stevekuznetsov opened #1100 "virtualworkspaces: discovery puts logical cluster name into storage version hash"
Right now we're adding the logical cluster name to the storage version hash:

https://github.com/kcp-dev/kubernetes/blob/d2ffaa089de03af449da7c02170b54aa6df1bccb/staging/src/k8s.io/apiserver/pkg/endpoints/discovery/storageversionhash.go#L28

https://github.com/kcp-dev/kcp/blob/8d8a3ab50622bee6aada2de7567c48da816602a4/pkg/virtual/framework/dynamic/apiserver/discovery.go#L113

The KEP for this seems

[2022-05-18 22:17] stevekuznetsov opened #1103 "test flake: TestNamespaceScheduler/GVRs_are_removed,_and_then_quickly_re-added_to_a_new_workspace"
[code]

https://github.com/kcp-dev/kcp/runs/6497673065?check_suite_focus=true

[2022-05-19 17:42] #1071 closed

[2022-05-19 17:53] #1012 closed

[2022-05-19 21:04] #1103 closed

[2022-05-22 08:46] sttts commented on #1090
Please compare against https://github.com/kcp-dev/kcp/pull/1084, the MVP for location API.

[2022-05-22 08:49] sttts commented on #1085
The workspace type work @stevekuznetsov is one will allow addition of APIBindings. With @ncdc's APIExport virtual workpace you will then be able to access those API objects in all workspaces. tl/dr: we are near.

[2022-05-22 08:50] sttts opened #1116 "Community Meeting May 24, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-05-22 08:50] sttts commented on #1116
- Incoming issues: https://github.com/kcp-dev/kcp/issues?q=is%3Aissue+is%3Aopen+created%3A2022-03-08..*+no%3Amilestone+
- [0.4 Milestone](https://github.com/kcp-dev/kcp/milestone/5) topics

[2022-05-22 08:51] sttts commented on #1116
Location API MVP https://github.com/kcp-dev/kcp/pull/1084

[2022-05-22 08:51] sttts commented on #1116
Reminder: vote for logos https://github.com/kcp-dev/kcp/issues/1021, ending on May 25.

[2022-05-22 09:22] sttts commented on #1116
Lightning Talk @ Rejekt before KubeCon https://youtu.be/6dzE_Zd3o5Y?t=29817

[2022-05-22 09:29] sttts commented on #1116
![image](https://user-images.githubusercontent.com/730123/169688712-46e87fa1-b194-4145-b212-b5d630bd9efc.png)

[2022-05-22 10:10] sttts commented on #1116
Location API MVP https://github.com/kcp-dev/kcp/pull/1084

[2022-05-23 08:45] rgolangh commented on #831
hi, can one of the maintainers assign this to me please?

[2022-05-23 10:19] #1088 closed

[2022-05-23 10:25] #846 closed

[2022-05-23 12:42] #1083 closed

[2022-05-23 13:55] jmprusi commented on #1058
This should be "fixed" by https://github.com/kcp-dev/kcp/pull/1123

[2022-05-23 14:13] jmprusi commented on #897
@ncdc can we close this one? looks like the code is already merged into KCP https://github.com/kcp-dev/kcp/commit/4252b4fa48782930b189c54ecd1edd39a7a5ee53

[2022-05-23 14:13] ncdc commented on #897
Yes, thanks

[2022-05-23 14:13] #897 closed

[2022-05-23 16:12] mvazquezc opened #1130 "Syncer won't connect to KCP when KCP is running in a pod"
**Describe the bug**
We are deploying KCP in a pod and then exposing it using an OpenShift Route. We can access the KCP instance using the kubectl and kcp plugin (although we need to use the `--insecure-skip-tls-verify`).

When we try to add a WorkloadCluster, it fails to start because the certificate is not valid for the external hostname that we configured in KCP. This is the log we see:

[code]

[2022-05-23 16:19] ncdc commented on #1130
@mvazquezc are you using `kubectl kcp workload sync` to set up the WorkloadCluster & then taking the yaml it outputs and passing that to `kubectl apply` in the destination cluster?

[2022-05-23 16:28] mvazquezc commented on #1130
@ncdc correct. This is the command we used:

`kcp workload sync hypershift --syncer-image ghcr.io/kcp-dev/kcp/syncer:main --resources virtualmachineinstances.kubevirt.io --resources virtualmachines.kubevirt.io > syncer-hypershift.yaml`

Then applied the manifest to the pcluster:

`oc --kubeconfig=hosted0.kubeconfig apply -f syncer-hypershift.yaml`

If it helps, we can provide access to the cluster

[2022-05-23 16:47] ncdc commented on #1130
This is different than #1096 because you aren't going through that path (where you create the deployment in kcp, kcp mutates it and sends to to the pcluster)

[2022-05-23 23:44] ncdc opened #1134 "Enable cache mutation detector when running tests"
- set `KUBE_CACHE_MUTATION_DETECTOR=1` when running at least e2e tests
- need to do it for the shared server launched in the e2e-shared-server job
- need to do it for private kcp server's launched by the e2e framework

[2022-05-24 07:28] #1072 closed

[2022-05-24 12:11] csams commented on #1130
As a workaround try terminating TLS at the route (could re-encrypt to the backend) and removing any CA data from the generated workload cluster yaml.

[2022-05-24 12:23] ncdc commented on #1130
I chatted with @mvazquezc and it sounds like this is something specific to how they deployed kcp. Would it be ok to close this (and reopen if needed)?

[2022-05-24 12:45] #1130 closed

[2022-05-24 15:05] ncdc commented on #1116
PSA: wildcard partial metadata (hopefully) fixed #1082

[2022-05-24 15:06] ncdc commented on #206
Agreed, closing

[2022-05-24 15:06] #206 closed

[2022-05-24 18:57] sttts opened #1138 "Lock down kcp labels and annotations"
We use labels and annotations for many security sensitive purposes. We need admission to protect those to be only touched by system components.

[2022-05-24 19:59] ncdc opened #1139 "docs/architecture/README.md is out of date"

[2022-05-24 22:12] kylape opened #1142 "Workspace content deletion fails when virtual workspace is run externally"
**Describe the bug**
When a `ClusterWorkspace` is marked for deletion, the workspace deleter will query discovery to get all the GVRs available in a workspace.  One of those GVRs is `tenancy.kcp.dev/workspace`.  When the workspace deleter lists this GVR, the server is hard-coded to rewrite this specific GVR to go to virtual workspace server.

The VW rewrite works fine when the VW endpoint is hoste

[2022-05-25 04:46] #1142 closed

[2022-05-25 06:12] s-urbaniak commented on #1138
This needs to be solved generically, using a separate admission controller.

[2022-05-25 09:32] sttts commented on #1056
Alternative: make externalURL immutable. Changing the URL is super-disruptive for users if we reconcile cluster workspaces. Their kubeconfigs will all be broken. Hence, I think our rule have to be: keep external visible workspace URLs constant forever.

Note: there might be an exception of namespace moving, moving in the hierarchy of workspaces. That's a user initiated change, and then it is fine

[2022-05-25 09:33] sttts commented on #1056
So in short: I would argue this is not a bug, but by design.

[2022-05-25 10:49] maleck13 commented on #1061
So I think a key thing here is that a service offering an API can define how many of a certain object is allowed per workspace. I imagine this would happen when the APIBinding is created or possibly via an initializer if it is something that needs to be done for every workspace

[2022-05-25 21:18] sttts opened #1149 "Epic: ClusterWorkspaceType Take 2"
# Action Items

- [ ] add virtual apiserver to access ClusterWorkspaces that are initializing https://github.com/kcp-dev/kcp/pull/1141
- [ ] allow workspace content access through the virtual apiserver
- [ ] add authz such that we can allow a service account in the workspace of the ClusterWorkspaceType to access the workspaces that are initializing
- [ ] search for ClusterWorkspaceTypes not only i

[2022-05-25 21:22] #1013 closed

[2022-05-26 09:56] sttts commented on #862
Merged

[2022-05-26 09:56] #862 closed

[2022-05-26 09:57] sttts commented on #748
Disagree that is no issue anymore. It is less security-critical, but the user-experience is still broken.

[2022-05-26 10:50] ncdc commented on #748
Yes, you're right

[2022-05-26 11:03] guymguym commented on #333
From my experience with WebRTC (few years ago) it is very complex (need to set up stun/turn servers to really bypass NAT, and it wasn't ready for enterprise grade systems. Throughput was quite low, which was OK for p2p where each peer was over "slow" internet connections, but definitely not for datacenter connectivity.

Maybe the syncer can be configured to open a persistent connection to KCP, whi

[2022-05-26 11:09] ncdc commented on #333
That's my initial thinking as well

[2022-05-26 12:02] UtkarshChaurasia commented on #1074
Hi @ncdc, I would like to work on this!

[2022-05-26 12:05] #604 closed

[2022-05-26 12:13] ncdc commented on #1074
@UtkarshChaurasia assigned!

[2022-05-26 12:13] ncdc commented on #1074
@kcp-dev/kcp-contributors are we ok with SyncTarget?

[2022-05-26 13:21] shawn-hurley opened #1151 "Add authorization checks (SAR) for APIExport virtual workspace"
We want to make sure that the user's access the Virtual Workspace for an APIExport, that they have permissions.

I believe that that this means the user has access to the sub resource '/content' on the given workspace type being used.

It sounds like this to me, is the check that we will run for every interaction with a given virtual workspace.

[2022-05-26 13:43] ncdc commented on #1151
This is more going to be a ServiceAccount accessing the endpoint, but that's nit-picky 😄

The client will request `/services/apiexport/$clusterContainingAPIExport/$apiExportName/clusters/...`. We need to perform a SAR that the client is authorized for that request. The SAR for this is probably something like

[code]

[2022-05-26 14:46] rgolangh commented on #750
Can you please assign this to me?

[2022-05-26 15:11] sttts commented on #1151
Alternative:
[code]

[2022-05-26 15:35] shawn-hurley commented on #1151
I think it might be good to make sure that I know what the goal is.

IIUC, this Virutal Workspace is for the ServiceProvider to watch/list/update the resources that they are exporting.

I think, that a quick win of the subresource of Content, with a followup on the more "andriod permission" model when binding, should allow more granular control. I could see something where when someone "accepts" t

[2022-05-26 15:39] ncdc commented on #1151
@shawn-hurley can you fill out an AttributesRecord with your proposal?

[2022-05-26 15:47] shawn-hurley commented on #1151
[code]

[2022-05-26 16:13] ncdc commented on #1151
Ok, so it's similar to https://github.com/kcp-dev/kcp/issues/1151#issuecomment-1138684431, but with objects->content, and access->actual-verb

[2022-05-26 16:46] ncdc commented on #1096
@jmprusi does that mean we can close this?

[2022-05-26 16:47] jmprusi commented on #1096
@ncdc Yes! Closing.

[2022-05-26 16:47] #1096 closed

[2022-05-26 17:15] sttts commented on #1151
I like that variant because we can give other service account read access. For example, some controller authors already asked for ClusterWorkspace list/watch.

[2022-05-26 18:46] p0lyn0mial commented on #748
/assign @p0lyn0mial

[2022-05-26 18:48] robszumski commented on #1021
Tallying the results:

[Option 1](https://github.com/kcp-dev/kcp/issues/1021#issuecomment-1122561935): 1 vote
[Option 2]():
[Option 2]():
[Option 2]():

[2022-05-26 19:31] MikeSpreitzer commented on #506
@MikeSpreitzer

[2022-05-26 19:44] sttts opened #1157 "Community Meeting May 31, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-05-26 19:44] sttts commented on #1157
- Incoming issues: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+-label%3Acommunity-meeting+no%3Amilestone
- [0.5 Milestone](https://github.com/kcp-dev/kcp/milestone/2) topics

[2022-05-26 19:46] sttts commented on #1157
v0.6 sprint

[2022-05-26 19:46] sttts commented on #1157
Logo voting https://github.com/kcp-dev/kcp/issues/1021#issuecomment-1138901736

[2022-05-26 20:05] sttts commented on #1021
For further discussion in next week's community call. Form your opinion:

<img width="1283" alt="Bildschirmfoto 2022-05-26 um 22 02 56" src="https://user-images.githubusercontent.com/730123/170569207-c24c4533-e652-4aa8-ba70-7e05b8eaed03.png">

[2022-05-26 21:21] sttts commented on #504
Yes, this is exactly what an ingress coordination controller will do by hooking into the deletion via workload finalizers, compare https://github.com/kcp-dev/kcp/blob/main/pkg/apis/workload/v1alpha1/types.go. We might be ready in v0.5 to actually demo this.

[2022-05-27 00:56] ncdc opened #1158 "Flake: TestClusterController/create_an_object,_expect_spec_and_status_to_sync_to_sink,_then_delete"
https://github.com/kcp-dev/kcp/runs/6606383072?check_suite_focus=true

[code]

[2022-05-27 00:56] #831 closed

[2022-05-27 14:53] stevekuznetsov opened #1159 "A user can create ClusterWorkspaceTypes they cannot reference"
Validation for `ClusterWorkspaceType.ObjectMeta.Name`:

[code]

Validation for `ClusterWorkspace.Spec.Type`:

[code]

These should match/

[2022-05-27 15:16] sttts commented on #1159
:+1:

[2022-05-28 08:52] sttts opened #1169 "ClusterWorkspaceTypes are insecure by design"
**Describe the bug**

Assume ClusterWorkspaceType creation is no privileged operation. Then ClusterWorkspaceTypes with arbitrary initializers can be used to get access to arbitrary ClusterWorkspaces:

1. create a ClusterWorkspaceType X in your org with a system ClusterWorkspaceType (i.e. X.Name == Y.Name), and an initializer I that is also set in Y.
2. wildcard requests are filtered by initializer

[2022-05-30 16:38] davidfestal opened #1172 "Implement SubjectAccessReview for service account with "sync" verb against the WorkloadCluster"

[2022-05-31 06:51] qiujian16 commented on #1056
yeah,  I think make externalURL immutable works.

[2022-05-31 12:58] sttts commented on #1157
vendoring pkg/apis

[2022-05-31 15:45] #1060 closed, assigned to stevekuznetsov

[2022-05-31 15:49] ncdc commented on #1030
Closing as this will go away when we switch to #1069

[2022-05-31 15:49] #1030 closed

[2022-05-31 15:51] #489 closed, assigned to davidfestal

[2022-05-31 15:52] ncdc commented on #488
Replaced by #1069

[2022-05-31 15:52] #488 closed

[2022-05-31 15:53] ncdc commented on #403
Will be replaced by #1069 and for any new UX work, we can add new tasks/issues

[2022-05-31 15:53] #403 closed

[2022-05-31 15:56] ncdc commented on #346
ClusterWorkspaceShard -> Shard?

There is no OrganizationWorkspace or VirtualWorkspace CRD

[2022-05-31 15:58] ncdc commented on #270
This is done with `--use-default-kcp-server`

[2022-05-31 15:58] #270 closed

[2022-05-31 15:59] ncdc commented on #233
Replaced by #1139 and #447

[2022-05-31 19:55] ncdc commented on #1157
Recording: https://www.youtube.com/watch?v=y7dboS3SF7U

[2022-05-31 19:55] #1157 closed

[2022-06-01 00:38] ncdc commented on #1158
https://github.com/kcp-dev/kcp/runs/6677648156?check_suite_focus=true

[2022-06-01 14:10] ncdc opened #1181 "Flake: TestSyncerProcess/SpecSyncer_with_AdvancedScheduling,_sync_downstream_deployment_and_apply_SpecDiff"
https://github.com/kcp-dev/kcp/runs/6689155554?check_suite_focus=true#step:5:257

[code]

[2022-06-01 16:17] #1062 closed

[2022-06-01 16:35] ncdc opened #1183 "APIExport consumer can't wildcard list/watch its schemas until the first APIBinding is created"
**Describe the bug**
A controller using APIExports can't successfully start up and wildcard list/watch the APIs it's exporting until the first APIBinding is created.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an APIResourceSchema
2. Create an APIExport that exports the APIResourceSchema
3. Try to do a wildcard list/watch through the APIExport virtual workspace, such as

[code]

4

[2022-06-01 16:41] sttts commented on #1183
workaround: do APIBinding in the same workspace (we do the same in compute workspaces).

[2022-06-01 16:58] jmprusi commented on #1058
Fixed as https://github.com/kcp-dev/kcp/pull/1127 got merged, and now the SA Secrets are stripped of the ServiceAccount annotations and the Secret type is set to "Opaque" instead of ServiceAccountType.

[2022-06-01 16:58] #1058 closed

[2022-06-01 17:42] davidfestal opened #1187 "Flake: TestSyncerVirtualWorkspace/access_kcp_resources_through_syncer_virtual_workspace"
https://github.com/kcp-dev/kcp/runs/6694296978?check_suite_focus=true

[code]

[2022-06-01 18:38] robszumski opened #1188 "Synced resource names may be longer than allowed by pcluster"
**Describe the bug**
Names generated by kcp are too long and can violate rules in place by other controllers on the pcluster, such as an ingress controller.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add Ingress as a synced resource
2. Add Ingress CRD to the Workspace
3. kcp will sync down the generated name and the ingress controller will consume that name, but add other info s

[2022-06-01 19:14] sttts commented on #1183
cc @davidfestal

[2022-06-01 19:56] ncdc commented on #1183
Would it make sense to create a new controller for apiresourceschema to create bound CRDs?

[2022-06-02 02:16] MikeSpreitzer opened #1189 "`kubectl-kcp ws --help` documents neither `--use` nor `--enter`"
**Describe the bug**
`kubectl kcp workspace --help` allegedly describes the available flags, but does not mention either `--use` or `--enter`.  It also outputs some examples, one of which uses the flag `--use`.  When I try that example, I am told that `--use` is deprecated and I should use `--enter` instead.

**To Reproduce**

1. `kubectl kcp workspace --help`
2. `kubectl kcp workspace create my-w

[2022-06-02 02:42] MikeSpreitzer opened #1190 "`kubectl kcp ws ju:nk` succeeds to create bad state"
**Describe the bug**
The `kubectl kcp ws` subcommand will accept a workspace argument that is nonsense if it contains a colon, leading to a state that is difficult to recover from.

**To Reproduce**
Steps to reproduce the behavior:
1. Start with `Current workspace is "root".`
2. `kubectl kcp ws junk` .  Observe `error: clusterworkspaces.tenancy.kcp.dev "junk" not found`
3. `kubectl kcp ws ju:nk` .

[2022-06-02 05:43] sttts commented on #1190
- `kubectl kcp ws -`
- `kubectl kcp ws root` or any other valid workspaces

bring you back.

A simple check that one can access the workspace, e.g. at least discovery works, certainly makes sense.

[2022-06-02 05:44] sttts commented on #1189
[code]

The flag `--use` is deprecated (in the code) afaik.

[2022-06-02 12:01] ncdc commented on #1183
@sttts ^?

[2022-06-02 12:03] ncdc commented on #1183
Actually I want to go back and look at the vw and see if I can fix it there

[2022-06-02 12:04] sttts commented on #1183
I don't we want a copy of every schema in every cluster.

[2022-06-02 12:04] sttts commented on #1183
Also my intuition.

[2022-06-02 12:09] sttts commented on #1183
there is a problem thought with the vw solution: what about watches? They have to start and then eventually show objects when the first APIBinding is created on that shard. That's tricky. We could have a fake storage for identity based requests always returning empty, or a watch without events. When an APIBinding is added, we would have to terminate the old fake storage (including the fake watch)

[2022-06-02 13:39] ncdc commented on #1183
Yeah, I'll look into it

[2022-06-02 15:52] jmprusi opened #1191 "Using the downward API on deployment causes issues as it leaks the pcluster information"
**Describe the bug**

When using the downward API to expose information to Pods, the information will be the one from the PCluster instead of the KCP one, for ex: the namespace. This causes problems when relying on that information to make calls to the k8s API.

(The downward API can be used in ENV vars or Volumes)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a deployment that sets

[2022-06-02 16:05] sttts commented on #280
Done in v0.5. Remaining task about bounded token moved into https://github.com/kcp-dev/kcp/issues/1192.

[2022-06-02 16:05] #280 closed

[2022-06-02 16:06] sttts opened #1193 "Missing e2e tests for syncing in connection to finalizers"
From https://github.com/kcp-dev/kcp/issues/914:

- [ ] e2e tests for syncer finalizers implemenation
- [ ] e2e tests for per location external soft finalizers (finalizers.workloads.kcp.dev/<workload-cluster-id>)

[2022-06-02 16:10] sttts commented on #914
Remaining e2e tasks moved to #1193.

[2022-06-02 16:10] #914 closed

[2022-06-02 16:33] ncdc commented on #1183
Our custom apiextensions logic to get CRDs looks for a CRD matching `<identity, group, resource>`, where the index data is populated from APIBindings. This is why you get a 404 when doing a wildcard list/watch.

[2022-06-02 18:15] shawn-hurley opened #1194 "Add fixture to create workspace with a cowboy export"
**Is your feature request related to a problem? Please describe.**
I am having to constantly create a provider namespace with export in it.
**Describe the solution you'd like**
I think a helper in the fixtures to be able to easily do this and refactor many of the API binding tests.

[2022-06-02 20:48] ncdc commented on #1194
I have a bunch of private helpers in the conformance e2e that I can move into a shared package.

[2022-06-02 20:48] ncdc commented on #1194
And I'm going to need them for some apiexport virtual workspace e2e, so I will move them

[2022-06-02 22:16] adambkaplan opened #1195 "Sync kcp "KUBECONFIG"s to workloads"
**Is your feature request related to a problem? Please describe.**

Many "off the shelf" controllers and kubernetes client consumers assume that they receive a valid KUBECONFIG from the cluster's service account.
This is fine if the controller creates objects or updates status.
However, if the controller/client deletes objects, the state is not synced properly.
Rather than deleting the object on K

[2022-06-02 22:29] ncdc commented on #1195
Note, we already do this for deployments in the deployment mutator. We'll need something similar for the various other things that are pod-speccable.

[2022-06-03 08:21] sm43 commented on #1190
/assign
hello, I was trying to fix this so if we check if the logical cluster and workspace exist and if not found then return
would that work for this case?
so something like this
[code]

[2022-06-03 09:07] jmprusi opened #1198 "Downward API references in Deployment volumes leak pcluster information"
**Describe the bug**

When using the downward API to expose information to Pods, the information will be the one from the PCluster instead of the KCP one, for example and most important the namespace. This causes problems when relying on that information to make calls to the k8s API.

**To Reproduce**

Steps to reproduce the behavior:
1. Create a deployment that uses a volume to pull information f

[2022-06-03 10:59] #1191 closed

[2022-06-03 11:27] sttts opened #1202 "kcp-dev/kubernetes: cluster_authnetication_trust_controller fails to create extension-apiserver-authentication"
[code]
when run with `go run ./cmd/kcp start --requestheader-client-ca-file=.kcp-front-proxy/requestheader.crt --requestheader-username-headers=X-Remote-User --requestheader-group-headers=X-Remote-Group`.

[2022-06-03 11:28] sttts commented on #1202
We should probably just disable this controller because we don't support aggregation and don't plan to.

[2022-06-03 12:44] #1172 closed

[2022-06-03 15:53] #1151 closed

[2022-06-03 17:20] ncdc commented on #1194
/assign

[2022-06-03 21:02] stevekuznetsov commented on #324
Items left TODO:

 - [ ] finalize image builds, they are published but we need them to be 1:1 with existing ones (cc @kylape )
 - [ ] add jobs etc for release branches
 - [ ] figure out where jUnit files go for multiple-runs tests ...
 - [ ] get the e2e-shared-server setup/run into a reproducible `make` target and get it running in prow

[2022-06-04 10:51] sttts opened #1209 "Document how CI via prow is configured"
A CI.md or TESTING.md at the root would be great, e.g. with a link to the openshift/release repo where everything is configured.

[2022-06-04 10:51] sttts commented on #324
- [ ] https://github.com/kcp-dev/kcp/issues/1209

[2022-06-05 00:55] MikeSpreitzer opened #1211 "README still starts out weak"
**Describe the bug**
I do not yet have a good understanding of what kcp is, or perhaps more importantly, what is the vision of what it is becoming.  But it clearly is more than the stripped-down apiserver & controller-set that is described in the introductory paragraphs of the README.  Clearly kcp includes the transparent multi-cluster functionality too.  I suspect the people on this project consi

[2022-06-05 01:06] MikeSpreitzer commented on #1190
No, trying to change to a valid workspace does not work.  `kubectl kcp ws -` is the _only_ thing that works.  Here is a longer typescript.

[code]

[2022-06-05 01:25] MikeSpreitzer commented on #1190
@sm43 , thanks for the suggestion.  I am new to this code base, so am not sure I understood your suggestion correctly, but I tried it.  I made https://github.com/MikeSpreitzer/kcp-dev-kcp/tree/dontfix-1190 and tested it.  The problem remains.

[2022-06-05 01:50] MikeSpreitzer opened #1214 "Difficult to understand error message when trying to create child workspace named "root""
**Describe the bug**
I tried to make a little mischief.  I was rebuffed, but the error message will not be understandable to someone who is not familiar with the code.

[code]

That last command makes it clear that the string appearing last is not an absolute pathname but just the last step.

**To Reproduce**
Shown above.

**Expected behavior**
When the particular step name is bad, the error messa

[2022-06-05 09:03] sttts commented on #1214
That's an OpenAPI error message. We could move it from the OpenAPI pattern to admission to produce a nicer message.

[2022-06-05 09:06] sttts commented on #1190
`kcp ws root:default` should definitely work. If it doesn't that's a bug.

Btw, we could and maybe should reject `kcp ws ju:nk` because it is not starting with `root:`. In any installation with a front-proxy everything other than `root/root:*` will stop working. It would only work if talking directly to a shard.

[2022-06-05 09:35] #1189 closed

[2022-06-06 15:25] shawn-hurley opened #1219 "Epic: API Export Permissions on Binding"
# Demo Objective
- [x] Service provider should be able to ask for additional permissions when creating an API Export for when the API is bound
- [x] API Binding users must accept or deny the specific permissions when binding to the APIExport
- [x] When accepted and bound, the objects granted access should be projected into the APIExports virtual workspace.

# Demo Steps
1. Service Provider creates

[2022-06-06 17:09] shawn-hurley opened #1221 "Add new API Spec Fields for PermissionClaims that allows for addition of resources to the virtual workspace"
In the initial work, we will only deal with the identity hash and GVR.

When Binding in the first step it will implicitly grant full access to the claims defined in the spec.

If you want to follow along with the more full API Design: https://docs.google.com/document/d/1cGsIXPovMEj-ZgIEY5ZKjpib4wFKuRH02Pwj9ukepd4/edit

[2022-06-06 17:09] shawn-hurley opened #1222 "Add exportPermissionClaims to APIBinding status (copy from APIExport spec)"

[2022-06-06 17:23] shawn-hurley commented on #1221
I wanted to create a place to discuss the shape of the API in the Opens as I am building it to get some early eyes on it.

The spec is pretty much what is described in: https://docs.google.com/document/d/1CB3QEyn90u_S6q_teOoWtk0f_Dp0Obo9JH2AUGbifPg/edit#

[code]

For the status, I am thinking that we need to create a hash/identity for each permission claim, that can be referenced in the APIBinding

[2022-06-06 17:23] shawn-hurley commented on #1221
/cc @sttts @ncdc

[2022-06-06 19:31] ncdc commented on #1195
@adambkaplan I don't believe it's documented, but the code is https://github.com/kcp-dev/kcp/blob/716d71056c8494b5583205936c94c1ec68828570/pkg/syncer/spec/mutators/deployment.go.

If you create a deployment in kcp, when it's synced to a real cluster, the deployment in the real cluster will have

1. Overridden environment variables
    1. `KUBERNETES_SERVICE_PORT` points to kcp, not the real cluste

[2022-06-06 19:32] sttts commented on #1221
Can we move the API discussion into a gdoc? Here it is tedious.

[2022-06-06 20:12] sttts commented on #1149
Informers are by shard. Every VW needs a way to communicate shard-specific URLs. The controllers authors have to make sure that some instance serves each of those URLs.

[2022-06-06 20:17] sttts commented on #1149
Having said that, we have an open design issue that we hit already in a couple of places: the parent workspace is not necessarily in the same shard or region as the workspace itself. This means that controller responsible for a workspace need access to the defining ClusterWorkspace in the parent. We likely need a replica of that object in the shard the actual workspace is defined. Otherwise there

[2022-06-07 07:39] snehakpersistent commented on #968
We are able to build and deploy KCP server locally on Power without any source code changes. All the e2e tests are passing as well. Our PR https://github.com/kcp-dev/kcp/pull/1216 for adding support to KCP image has been merged.
We are currently working on adding support for syncer image.

[2022-06-07 08:52] davidfestal opened #1223 "Delegate to virtual workspace readiness checks in the embedded use-case."
When the virtual workspaces are started in the "embedded" mode, i.e. as part of the `kcp start` command line, the main KCP `/readyz` endpoint should also deletage to the virtual workspace readiness checks, which is not done currently.

[2022-06-07 10:45] sttts opened #1225 "Multi-Release-Epic: Sharding"
# Demo Objective
- [ ] kcp admin should be able to add shards for added capacity, each with its own etcd server.
- [ ] shards should keep working (to be defined what this means exactly) when other shards die or are unavailable.
- [x] https://github.com/kcp-dev/kcp/pull/1203 the front-proxy knows how to forward workspace requests to shards
- add (hard-coded) replication of certain object between sh

[2022-06-07 12:06] sttts opened #1227 "Community Meeting June 07, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-06-07 12:07] sttts commented on #1227
- Incoming issues: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+-label%3Acommunity-meeting+no%3Amilestone
- [0.6 Milestone](https://github.com/kcp-dev/kcp/milestone/6) topics

[v0.5](https://github.com/kcp-dev/kcp/milestone/) closed.

[2022-06-07 12:09] sttts commented on #1227
v0.6 design & planning.

[2022-06-07 15:23] ncdc commented on #1061
/assign

[2022-06-07 15:51] sttts commented on #1223
Fixed in PR. Going to merge.

[2022-06-07 17:22] #1223 closed

[2022-06-08 06:15] sttts commented on #1061
In addition there must be authz that stops the admin user in the workspace to tweak the quota for the APIBinding objects. We at least need a plan for that, implementation can come later.

[2022-06-08 06:16] sttts commented on #1061
I completely miss a discussion about cluster scoped resources. Afaik Kube cannot restrict them at all. But we will need that. OpenShift has ClusterResourceQuota.

[2022-06-08 13:30] ncdc opened #1234 "state.internal.workload.kcp.dev/<cluster>: Sync label not removed when workloadcluster <cluster> is deleted"
**Describe the bug**
When a resource such as a deployment is scheduled to a specific WorkloadCluster, and the WorkloadCluster is subsequently deleted, the `state.internal.workload.kcp.dev/<cluster>: Sync` label is not removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a WorkloadCluster w1
2. Create a Deployment
3. See Deployment has `state.internal.workload.kcp.dev/w1: Sync` lab

[2022-06-08 15:24] davidfestal commented on #1069
Implementation brainstorming doc: https://docs.google.com/document/d/1C1PojxJMrvUc2BBeMg_uyXO-T-A79T-A8GnV1IwylWY/edit

[2022-06-08 21:22] sttts commented on #1021
@Roming22 compare https://github.com/kcp-dev/kcp/blob/f7698650f5787df8da1f81b272286f92416a850c/contrib/logo/README.md in https://github.com/kcp-dev/kcp/pull/1210.

[2022-06-09 12:53] #1227 closed

[2022-06-09 14:29] ncdc opened #1242 "DynamicDiscoverySharedInformerFactory.discoverTypes does not scale"
It currently iterates through all ClusterWorkspaces, gets discovery from each one, and constructs a union of all the GVRs. This will not scale as the number of ClusterWorkspaces increases.

We should be able to do a more efficient implementation based on the distinct set of GVRs from:
- built-in types
- all CRDs in the lister

[2022-06-09 15:06] davidfestal opened #1243 "Split the KCP API server default handler chain to be able to add a handler after Authn but before Authz"
Splitting the `DefaultBuildHandlerChain` function as a carried patch on the Kubernetes fork is required in order to add handlers that need authentication information, but before the authorizer intercepts the request.

[2022-06-09 16:48] davidfestal opened #1245 "Implement the http handler to create a Home workspace on-demand (managing the optional creation of the bucket workspaces)"

[2022-06-09 21:35] #1193 closed

[2022-06-10 04:09] sm43 commented on #1190
Thank you @MikeSpreitzer for trying out. I am also new to the code base 🙃
I have tried again and also added a check as @sttts  suggested in the above comment. I have made https://github.com/sm43/kcp/tree/kcp-1190-fix with my changes.

Based on the changes here is the output

**Current workspaces in the cluster**
[code]

**CLI output for invalid workspaces**
[code]
let me know what do you all think

[2022-06-10 08:32] #748 closed

[2022-06-10 10:28] jmprusi commented on #504
The PR https://github.com/kcp-dev/kcp/pull/1228 has made available per-location virtual-finalizers by default, so your controller can apply backpressure, and block the deletion of a resource by adding an annotation to the resource:

[code]

The syncer expects that annotation to be empty, before deleting the resource.

Does that cover your use-case?

[2022-06-10 11:34] #896 closed

[2022-06-10 16:02] astefanutti opened #1253 "Virtual workspace server panics on create operations"
**Describe the bug**

When performing a POST request via an APIExport virtual workspace URL, the virtual workspace API server panics with the following stack trace:

[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Create an APIExport in workspace A
2. Create an APIBinding in workspace B, referencing APIExport from workspace A
3. Create a resource in workspace B using the APIExport vi

[2022-06-10 16:05] sttts commented on #1253
@stevekuznetsov @davidfestal

[2022-06-10 16:05] sttts commented on #1253
Create requests are supposed to be supported. If not that's a bug.

[2022-06-10 16:42] #1187 closed

[2022-06-13 05:55] snehakpersistent commented on #968
We have contributed changes to add power support to KCP and syncer image - #1216 and #1235
Also published a tutorial blog about deploying a basic application on KCP on Power - https://sneha-kanekar.medium.com/deploying-simple-application-on-kcp-on-power-7553700da10b
@sttts do we need to contribute anything to docs? Or are we good to say that KCP is officially supported on Power? Let us know if any

[2022-06-13 13:38] stevekuznetsov opened #1259 "We Double-Register Endpoints"
[code]

[2022-06-13 17:05] astefanutti commented on #1253
@stevekuznetsov I just assumed it would work initially.

I haven't managed to successfully call discovery via the APIExport virtual workspace server, neither via command nor client-go, e.g., with the CLI:

[code]

[2022-06-14 12:53] shawn-hurley commented on #1221
As part of this work, we will need to create a new controller and admission plugin. These will be responsible for handling labeling the resources in KCP that are allowed by a specific permissionClaim.

We will then re-write the list for any resource that is not the exported resource to filter on the label passed on the permission claim that grants access.

in the future, the binding being accepted

[2022-06-14 13:07] sttts commented on #1221
as addition: in the future, we might inject predicate support into server-side filtering, like label filters and some field selectors are implement. That might allow us to get rid of the controller.

Note: we cannot filter in the vw. That would not scale.

[2022-06-14 14:03] sttts opened #1266 "Community Meeting June 14, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-06-14 14:40] #346 closed

[2022-06-14 14:46] sttts commented on #342
Part of multi-release epic https://github.com/kcp-dev/kcp/issues/1225

[2022-06-14 14:55] #1243 closed

[2022-06-14 14:56] sttts commented on #1266
sharded-test-server demo

[2022-06-14 14:57] stevekuznetsov commented on #1266
Call for `ClusterWorkspaceType` feedback

[2022-06-14 15:32] stevekuznetsov commented on #1253
There seem to be three issues here:

 - [ ] when no CREATE function is registered, we should not have a CREATE verb and we should return a not-supported HTTP code
 - [ ] you should be able to do discovery (and e2e seems to support this)
 - [ ] APIExport virtual workspace should support CREATE (missing feature)

[2022-06-14 15:37] stevekuznetsov commented on #1253
Ah - as seen [here](https://github.com/kcp-dev/kcp/blob/b842cbad598d4985f809c7715076ed3216e2e4ad/pkg/virtual/apiexport/builder/forwarding.go#L128) we are passing through a CREATE function, even though it's `nil`. This should mean that we *do* panic, and CREATE *should* be in discovery - so I'd say we can fix this either by implementing CREATE in one shot, or removing the function for now so the se

[2022-06-14 15:38] davidfestal commented on #1234
Probably not worth working on it until we merge the syncer virtual workspace transformation PR, which will include the removal of the `Sync` label as part of the syncer virtual workspace responsibility.

[2022-06-14 15:42] sttts commented on #371
Superseeded by sharded front-proxy work.

[2022-06-14 15:42] #371 closed

[2022-06-14 15:43] #222 closed

[2022-06-14 15:44] sttts commented on #158
We will come to this when doing location workspaces.

[2022-06-14 15:47] sttts commented on #75
Outdated. Closing.

[2022-06-14 15:47] #75 closed

[2022-06-14 15:49] sttts commented on #25
@aojea can you link this in your epic, or close this one?

[2022-06-14 15:49] davidfestal commented on #156
Merged with https://github.com/kcp-dev/kcp/issues/158

[2022-06-14 15:49] #156 closed

[2022-06-14 15:49] sttts commented on #21
Outdated.

[2022-06-14 15:49] #21 closed

[2022-06-14 17:50] MikeSpreitzer commented on #1190
This looks like an improvement.  At least the error messages are in terms the user is using, rather than coming from deep in the code.

From an outside-in perspective, I see some surprising irregularities in the examples shown above.  `k kcp ws root:abc` _could_ be legitimate, if someone had created a workspace by that name, right?  Does "invalid workspace" mean syntactically invalid (as in a path

[2022-06-14 18:30] MikeSpreitzer opened #1271 "Basic API Priority and Fairness for kcp"
# Demo Objective
- [ ] User should be able to set concurrency limit per workspace and, with not too many workspaces, see that the kcp server is protected from overload by clients
- [ ] User should be able to set concurrency limit per workspace and, with not too many workspaces, see that each workspace gives its designed concurrency to its clients

# Demo Steps
1. Admin turns on the APF feature gat

[2022-06-15 09:18] astefanutti commented on #1253
An update on the issues identified:
* [x]  when no CREATE function is registered, we should not have a CREATE verb and we should return a not-supported HTTP code -> Fixed with #1272
* [x]  you should be able to do discovery (and e2e seems to support this): This is indeed working (I was actually calling the APIExport virtual workspace URL without appending the logical cluster path)
* [ ]  APIExport

[2022-06-16 05:23] xinredhat opened #1274 "commands executed directly after creating workspace with "--enter" option occasionally fail"
**Describe the bug**
I observed that the commands executed directly after creating workspace with the "--enter" option **occasionally** fail. I guess workspace needs a little bit more time. After I added logic in script to check if new workspace is ready. The issue doesn't happen again.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an Universal workspace with `--enter` option
`$ KUB

[2022-06-16 08:55] kasturinarra commented on #1274
@xinredhat AFAIU the minimum we need to wait for the workspace to be intialized and ready before performing next steps so IMO this is not a bug but i will wait for the development team to comment more on it, thanks !!

[2022-06-16 13:30] sm43 commented on #1190
Yeah invalid workspace meant the format is incorrect.
[code]
in this case the workspace doesn't exist, I was explicitly handling the error
but I have updated code in pull req, now it would return not found
```error: clusterworkspaces.tenancy.kcp.dev "g3" not found```

[2022-06-16 13:34] stevekuznetsov commented on #1274
It looks like we do attempt to do that, so this is a bug for sure:

https://github.com/kcp-dev/kcp/blob/9882f39bd32659e7696ac3e49841870727160fc6/pkg/cliplugins/workspace/plugin/kubeconfig.go#L373-L387

[2022-06-16 14:42] chrisahl commented on #999
Will this also remove the syncer pod and namespace/project from the workload cluster?

[2022-06-16 15:37] stevekuznetsov commented on #1074
:shipit:

[2022-06-16 15:38] pweil- commented on #1074
@UtkarshChaurasia let's move forward with SyncTarget, we can change it if we need to.

Are you able to work on this in 0.6?

[2022-06-16 17:23] jmprusi commented on #504
As we talked via chat, this issue can be closed as this seems to cover the use-case! Thanks!

[2022-06-16 17:23] #504 closed

[2022-06-16 17:26] jmprusi opened #1280 "Rework downstream namespace names"
# Introduction

We need to improve how the current downstream namespaces names are generated:

- Shorter namespace names, focus on not going over 32 chars (more chars causes issues with generated ingresses/routes as it hits 63 char limits)
- Have the workspace as part of the namespace name.
- Consistent/reproducible.
- Allow the same k8s cluster to be added as multiple workloadClusters and multipl

[2022-06-16 19:13] sttts commented on #1092
Maybe through https://github.com/softprops/action-gh-release ?

[2022-06-16 21:25] sttts opened #1281 "💣 – workload labels+finalizers are not fully qualified"
- label`state.internal.workload.kcp.dev/<workload-cluster-name>`
- finalizer `workload.kcp.dev/syncer-<workload-cluster-name>`

We should generally fully qualify these, and hash the result (see workspace initializer labels as example).

[2022-06-16 21:25] sttts commented on #1281
cc @jmprusi @davidfestal

[2022-06-17 07:25] aojea commented on #333
Yeah, it is too complex, I've managed to have it working https://github.com/aojea/webrtc-p2p but it requires a custom signaling protocol and integrating it in a `kubectl exec/attach/get`  workflow has a bad UX, the time to setup a connection is considerable.

[2022-06-17 07:36] p0lyn0mial commented on #1259
fixed https://github.com/kcp-dev/kcp/pull/1273

[2022-06-17 07:36] #1259 closed

[2022-06-17 10:46] ppatierno opened #1282 "Minimum golang version needed"
While try to start kcp by using go `v1.16.3` I got the following error:

[code]

AFAIU it's pretty much related to an older golang version so I updated to latest `v1.18.3` and everything started fine.

Maybe the README could report the minimum required golang version needed to run kcp without any troubles but I am not sure from which version the above was fixed. Not sure `v1.17.0` is already fine.

[2022-06-17 11:50] ppatierno commented on #1282
I have just got it's defined in the CONTRIBUTING guide here https://github.com/kcp-dev/kcp/blob/main/CONTRIBUTING.md#prerequisites but would be anyway useful to highlight in the README. I will open a PR for that.

[2022-06-17 14:41] #1282 closed

[2022-06-17 15:52] UtkarshChaurasia commented on #1074
Hi @pweil- , sure. Also the changes have to be made in code as well as in documentation right as I can see the term WorkloadCluster is mentioned in few markdowns as well?

[2022-06-17 15:58] pweil- commented on #1074
doc updates are always appreciated. If you could include those it would be great.  Thanks!

[2022-06-20 11:56] s-urbaniak opened #1307 "Enhance audit logging, especially for authorization"
Currently, we leave little traces about authorizers besides native kube RBAC ones.

Native kube RBAC authorizer creates audit log entries for two cases:

**allowed:**
- _client_: client gets no reason (expected)
- _audit_: reason is encoded in the audit annotation:
`"authorization.k8s.io/reason": "RBAC: allowed by RoleBinding \"foo\" of Role \"bar\" to User \"baz\""`

**denied:**
- _client_: clien

[2022-06-20 11:57] sttts commented on #1307
:+1:

[2022-06-20 11:58] sttts commented on #1307
s/kcp.io/kcp.dev/

[2022-06-20 12:07] s-urbaniak opened #1308 "Support CA rotation in front-proxy"
Currently, we load client cert/key, and root CAs at startup time but don't rotate them:

https://github.com/kcp-dev/kcp/blob/15cbe0f4d43ee0b0cf5f9dd58483ba1a57dd40be/pkg/proxy/proxy.go#L56-L69

I suppose rotation is done by re-deployment currently? We should rather support in-process rotation.

cc @kylape @csams

[2022-06-20 12:50] sttts commented on #1138
Would suggest to go with `system:masters` group membership.

[2022-06-20 16:13] sttts commented on #1087
If we have a reconcile unit tests here, I would not invest time into this issues. Sharding is coming. This might change.

[2022-06-21 09:06] s-urbaniak commented on #1138
@sttts "system components", how can I identify those? (next to the `system:masters` group membership)

[2022-06-21 09:09] s-urbaniak commented on #1138
as discussed OOB just `system:masters` for now.

[2022-06-21 09:14] mikenairn opened #1315 "Kubernetes port environment variables on synced deployments are blank"
**Describe the bug**
Kubernetes port environment variables (KUBERNETES_SERVICE_PORT and KUBERNETES_SERVICE_PORT_HTTPS) are blank if you are using a kcp exposed via the default port (443) and don't explicitly add it to the server url.

Environment that is added by kcp:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start KCP and expose it on the default port (443)
2. Use a kubeconfig

[2022-06-21 13:05] s-urbaniak commented on #1138
In addition we want:
- protecting labels from the `kcp.dev` domain
- have a (hardcoded for now) allow-list of annotatins/labels to skip

[2022-06-21 13:58] ncdc opened #1319 "Workspace sharing"
**Is your feature request related to a problem? Please describe.**
Whenever I want to share a workspace in my org (e.g. root:myorg:myapp) with someone else in my org, I am not able to do it myself. I have to ask an org/root admin to do it for me.

**Describe the solution you'd like**
I'd like to be able to self-service sharing of a workspace.

**Describe alternatives you've considered**
None

**Ad

[2022-06-21 14:07] sttts opened #1320 "Community Meeting Jun 21, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-06-21 14:07] sttts commented on #1320
Incoming issues: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+-label%3Acommunity-meeting+no%3Amilestone

[2022-06-21 14:09] davidfestal commented on #1319
At least workspace sharing of workspaces created inside a user home workspace would work, right (at when, in a near future, the user is cluster-admin in his home workspace)  ?

[2022-06-21 14:11] ncdc commented on #1266
Recording https://www.youtube.com/watch?v=r-7DB0MzoDw

[2022-06-21 14:11] #1266 closed

[2022-06-21 14:12] ncdc commented on #1319
Correct, this is outside of home workspaces

[2022-06-21 14:45] s-urbaniak commented on #1320
- question: how to effectively find labels/annotations meant to be set by users/external controllers, aka not "internal" labels/annotations.

[2022-06-21 14:46] sttts commented on #1274
might be a race between pkg/server/apiextensions logic depending on informers, and the bootstrap controller having created the CRDs and removing its initializer?

[2022-06-21 14:52] stevekuznetsov commented on #1274
Maybe the apiextensions server should have it's own initializer? :)

[2022-06-21 15:06] s-urbaniak commented on #1320
please give suggestions in https://github.com/kcp-dev/kcp/issues/1138

[2022-06-21 15:07] ncdc commented on #1320
Shout out: @davidfestal's demo of WIP user home workspaces: https://www.youtube.com/watch?v=lUBhf261d3I

[2022-06-21 17:25] ncdc opened #1324 "Flake: TestAPIBindingDeletion"
From https://github.com/kcp-dev/kcp/runs/6987176960?check_suite_focus=true

[code]

[2022-06-21 18:18] stevekuznetsov commented on #1169
/close

[2022-06-21 18:18] #1169 closed

[2022-06-21 20:39] #1320 closed

[2022-06-22 02:35] pdettori opened #1326 "Setting an owner reference in a CR and then deleting the owner does not delete the owned CR"
**Describe the bug**
I have been testing Crossplane with KCP, and one of the issues I have found is with deletion of Crossplane composite resources.  When I delete a Crossplane Claim or XR, all Crossplane managed resources that are owned by that XR are not deleted. Crossplane sets an owner reference in each managed resource, so that when the owner is deleted all the managed resources are cascade-d

[2022-06-22 04:10] Bianca2-be opened #1327 "KCP sever is down been trying for over three hours anyone experience this?Unable to connect to the server: dial tcp 192.168.59.100:8443: i/o timeout"
### Discussed in https://github.com/kcp-dev/kcp/discussions/1285

<div type='discussions-op-text'>

<sup>Originally posted by **ppatierno** June 17, 2022</sup>
I have build and started kcp as described in the landing README page and was taking a look at the last demo video.
First off all if I understood correctly (as the video mentions) I should have an Organization workspace created by default bu

[2022-06-22 05:33] kasturinarra commented on #1327
May be you need to do below ?
kubectl kcp ws .. (which will bring you to the root)
kubectl kcp ws create --type Organization green ?

[2022-06-22 07:30] michaeladda commented on #1320
Thanks for making this meeting publicly available on YouTube. I want to suggest a more convenient way of viewing it. At [mtngs.io](http://mtngs.io/) we're huge fans of open meetings. So we built a free public library of recorded meetings. We enrich them with video-synced clickable transcript and other features. There are already about a hundred open source projects on the site. Our system processe

[2022-06-22 12:44] pdettori commented on #1326
Thanks @ncdc, I understand that #510 does not provide workspace-aware gc, any suggestion as possible workaround ? Should I just run an instance of the GC controller per workspace ?

[2022-06-22 17:31] shawn-hurley opened #1331 "validate that the only resources without identity are known core types."
Patch openapi such that if the identity hash is not set, then only the core types can be GRs that are set for a permission claim

[2022-06-22 19:08] ncdc opened #1332 "Add prow postsubmit jobs that run all CI jobs against main + release branches"

[2022-06-23 09:09] astefanutti opened #1334 "Support clients for negotiated APIs from multiple compute service workspaces"
Controllers that rely on core Kubernetes APIs, like Deployment, Service, or Ingress, negotiated via workload clusters, now initialize the corresponding clients using the APIExport virtual workspace server URL, from the compute service workspace, where those workload clusters live. That limits these controllers to operating on the set of user workspaces, that have bound that particular APIExport, m

[2022-06-23 10:11] astefanutti opened #1335 "APIExport RBAC for clients"
Now that controllers should configure their API clients using the corresponding APIExport virtual workspace server URLs, these raises the following questions w.r.t. authorization:

1. The controller is supposed to retrieve the APIExport virtual workspace server URL, by getting the APIExport resource and read its status. While this may be fine for APIExports owned by the controller, generally the c

[2022-06-23 11:23] jmprusi opened #1336 "test-e2e-shared relies on service account tokens which has changed in k8s 1.24"
**Describe the bug**
When trying to run the test-e2e-shared against a Kind cluster using the k8s v1.24 it fails.

**To Reproduce**
Steps to reproduce the behavior:
1. kind create cluster
2. make test-e2e-shared
4. See errors:
[code]

**Expected behaviour**
It should work.

**Additional context**

a solution for now is to revert to k8s 1.23.0:
`kind create cluster --image kindest/node:v1.23.0`

[2022-06-23 13:04] davidfestal opened #1337 "Resources accessed through `PermissionClaim`s cannot allow privilege escalations"
Resources accessed through `PermissionClaim`s cannot allow privilege escalations - see [this comment](https://github.com/kcp-dev/kcp/issues/1337#issuecomment-1229093358) for details

[2022-06-23 13:04] davidfestal commented on #1337
cc @ncdc @shawn-hurley

[2022-06-23 15:42] stevekuznetsov opened #1339 "Define Proper Controller Author Behavior re: Connection URLs"
In some future, a controller will be able to use `ThingReplicationClaim` to request local copies of data. We expect controller authors in that new world to hold two clients - one against their local cache and another against the shard front-proxy for live lookups and mutations.

Similarly, we have a VirtualWorkspace URL per shard, and perhaps controllers using these will also use `ThingReplication

[2022-06-23 16:55] robinbobbitt opened #1340 "Internal error when creating a ClusterRole while authenticated as a ServiceAccount"
**Describe the bug**
I am authenticated to KCP (main branch instance) as a service account that I created and gave a bunch of permissions to, including creating ClusterRoles and working with WorkloadClusters. When I attempt to create a ClusterRole, I am getting a permission error that seems incorrect and the Internal error seen below:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Cr

[2022-06-24 09:33] astefanutti commented on #1335
After some discussions, here are the actions I can see:

- [ ] For 1) / compute service APIExport: A solution has to be devised, possibly with a local APIExport claiming resources from the compute service workspace APIExport
- [ ] For 2): Document the solution to use a ClusterRole with the following rule:
[code]
- [ ] For 2): Adding support for `create`, `delete` and `deletecollection` operations

[2022-06-24 13:06] #1138 closed

[2022-06-24 17:31] ncdc opened #1350 "Dynamic discovery shared informer factory: fix problems :smile:"
(1) The "dynamic discovery" nature won't scale beyond a small number of workspaces.

We are currently iterating through every workspace, getting discovery for it (live http call), collecting all the namespace-scoped GVRs that support list+watch, creating a big union of all of the GVRs (to dedupe), and then ensuring informers are started for any newly-seen GVRs, and stopped for any now defunct GVRs

[2022-06-24 17:32] stevekuznetsov commented on #1350
@ncdc is _d._ possible without first adding `CustomResourceDefinition` to a workspace?

[2022-06-24 17:55] ncdc commented on #1350
@stevekuznetsov no, you still have to add a CRD to a workspace. What are you thinking?

[2022-06-24 18:15] ncdc commented on #1337
I don't think we want to do this. The user is required to accept a permission claim before the associated resource(s) are visible through the APIExport virtual workspace. Once that claim is accepted, it's the equivalent of granting [verbs] to the APIExport serviceaccount.

[2022-06-24 18:17] ncdc commented on #1242
Replaced with more details in #1350

[2022-06-24 18:17] #1242 closed

[2022-06-24 20:20] ncdc opened #1351 "hotloop in placement reconciler"
The patch hand-crafted in https://github.com/kcp-dev/kcp/blob/02dcb4ae2cc87e00d1e59c730a71c6df125a4a39/pkg/reconciler/scheduling/placement/placement_reconcile_scheduling.go#L91 is not always correct, leading to no-op changes and hot-looping because kcp constantly wants to remove an annotation, but it never succeeds.

[2022-06-24 20:37] ncdc opened #1353 "Some workspaces stuck in permanent failure to delete"
1. Start kcp
2. Run `go test ./test/e2e/reconciler/scheduling -args --use-default-kcp-server`
3. Wait for test to finish (and pass)
4. Check kcp log

It'll look similar to this:

[code]

The `workload.kcp.dev/syncer-*` finalizers are not being removed. It is currently the responsibility of the syncer to do that. But if the syncer stops working, cluster goes away, etc., we can get stuck in this sta