[2022-06-24 20:53] ncdc commented on #1353
FYI @jmprusi @davidfestal @sttts @qiujian16

[2022-06-24 21:20] stevekuznetsov opened #1354 "Clean Up Our Controllers"
Right now, we're using old-school Kubernetes boilerplate and the like for our controllers. This leads to a lot of boilerplate copy-paste and by my count we've got even three different implementations of `Start()`. Not to mention, the code flows around creating informers and the like in the correct order are very fragile and multiple dev hours/days have been spent debugging informers that won't syn

[2022-06-24 21:20] stevekuznetsov commented on #1354
/cc @sttts @ncdc

[2022-06-24 21:34] #1351 closed

[2022-06-25 06:40] sttts commented on #1354
controller-runtime has been discussed before. We cannot. It depends on kube and we cannot bound our fork life-cycle to some libraries' life-cycle.

Other than that, I am open to some kind of slim controller plumbing library. Generic will certainly make that much easier.

[2022-06-25 20:22] stevekuznetsov commented on #1354
At a minimum Andy and I were hoping to get the JSON patch construction and logic around spec/status updates shared. It's currently copied around per-type everywhere.

[2022-06-26 07:40] sttts commented on #1354
Yes, please. That bit is most painful.

[2022-06-27 06:51] harshanarayana commented on #1336
@jmprusi The alternative is to use the `token-request` API which is supported all the way from 1.18+. But 1.18 and 1.19 needs the feature flags to be enabled.

I would be happy to take a stab at it. What is the minimum version supported for e2e-tests ?

[2022-06-27 07:57] sttts opened #1361 "virtual/workspaces: authorizer not implemented"
The virtual workspace apiserver for workspaces logs:
[code]

[2022-06-27 08:30] sttts opened #1366 "prow: Github action based CI branch jobs are marked optional continuously"
The required CI jobs for a branch in Github are continuously reset by prow. The two jobs "e2e-sharded" and "e2e-shared-server" are supposed to be required, but become optional automatically after some time.

<img width="739" alt="Bildschirmfoto 2022-06-27 um 10 28 23" src="https://user-images.githubusercontent.com/730123/175895168-38766803-ab31-4887-8409-6b9a0a5eadf0.png">

[2022-06-27 09:08] davidfestal commented on #916
Seems to me it has been done in the following [commit of PR 1176](https://github.com/kcp-dev/kcp/pull/1176/commits/287c0346292ec62b4302f47b1cfd5e363e9ab05b)

@sttts Do you see anything left to be done to close this issue ?

[2022-06-27 14:15] stevekuznetsov commented on #1366
@sttts I think this is our own foot-gun - we need to add [`required_status_checks`](https://github.com/kubernetes/test-infra/blob/master/prow/cmd/branchprotector/README.md#fields) or they get stomped.

/close

[2022-06-27 14:15] #1366 closed

[2022-06-27 14:35] #1190 closed

[2022-06-27 15:30] ncdc commented on #1354
We could do controllers in kcp proper using controller-runtime, couldn't we? Just not in kcp-dev/k?

[2022-06-27 15:38] ncdc commented on #1336
Or manually create a secret with the appropriate annotation to get the controller to turn it into a token secret

[2022-06-27 16:15] ncdc commented on #1074
@UtkarshChaurasia checking in - will you have time to do this soon? Or should we reassign it? Thanks!

[2022-06-27 16:26] #759 closed

[2022-06-28 07:50] s-urbaniak commented on #1336
The question is for what versions of k8s we want to stay compatible in terms of e2e tests. A secret annotated with `kubernetes.io/service-account.name` still works however has the drawback of not being a bound token (it has no expiry, has no target audience)

@harshanarayana if you have cycles give it a stab 👍 My preference is to use the token request API with the drawback of being less backwards

[2022-06-28 10:16] sttts commented on #1336
token-requests are done by kubelet afaik. So this probably means we have to take over that role in the syncer.

[2022-06-28 11:51] matzew opened #1380 "No version information on kubectl kcp plugim"
**Describe the bug**

I am missing a `version` information on the `kubectl-kcp` plugin

**To Reproduce**

`kubectl-kcp --help` does not list a version

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-06-28 14:57] sttts opened #1385 "Community Meeting June 28, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-06-28 15:23] ncdc commented on #1327
@Bianca2-be any updates on your end?

[2022-06-28 15:29] ncdc commented on #1337
Discussed in community meeting today. Need to flesh out the details (this is a possible privilege escalation). @sttts @davidfestal

[2022-06-28 15:36] ncdc commented on #1361
Move the SARs inside the workspaces virtual workspace code and make them an authorizer

[2022-06-28 16:48] stevekuznetsov commented on #1149
@sttts re:

You mentioned admission checks... what is the policy we want there?

[2022-06-28 21:09] #1385 closed

[2022-06-29 08:22] davidfestal opened #1388 "Completely cleanup support of personal workspaces in top-level organizations"
As an outcome of the [User Home Workspaces](#1069) work, and a follow-up of PR #1374, we should completely remove the support of personal workspaces in top-level organizations.
This includes:
- [ ] Remove the special case that still supports the old permission model (checking the `access` and `member` verbs in the `deprecatedAuthorizeOrgForUser` method)
- [ ] Remove the support of the `personal` s

[2022-06-29 08:29] davidfestal opened #1389 "Define default permissions for workspace actions through the `workspaces` virtual workspace"
As part of the [User Home Workspaces](#1069) work, and a follow-up of PR #1374, we should think what default permissions for the workspace access through the `workspaces` virtual workspace.
Probably reading workspaces is fine for everybody.

[2022-06-29 14:37] MatousJobanek opened #1398 "Inconsistent requirements for ClusterWorkspaceType name"
**Describe the bug**

I've been playing with CWTs and found a small complication with the expected name formats. As expected, the name of the actual CWT resource needs to meet the standard format for `metadata.name` field. So let's say that I create CWT called `foo`. However, when I want to create a workspace of the type `foo`:
[code]
then it fails with
[code]
because it expects that the name shou

[2022-06-29 16:09] stevekuznetsov commented on #1398
I can't reproduce this.

[code]

[2022-06-29 16:09] stevekuznetsov commented on #1398
test

[2022-06-29 16:09] #1398 closed

[2022-06-29 19:26] stevekuznetsov opened #1404 "admission plugins should not be opinionated on object version"
https://github.com/kcp-dev/kcp/pull/1375#discussion_r910304043

`clusterworkspacetypeexists` does this

/assign @sttts

[2022-06-29 19:30] ncdc opened #1405 "Flake: TestScheduling"
From https://github.com/kcp-dev/kcp/runs/7118346784?check_suite_focus=true.

The Kubernetes APIBinding never sees the bound CRDs as established.

[code]

[2022-06-29 19:46] ncdc opened #1406 "kcp image build is failing"
From e.g. https://github.com/kcp-dev/kcp/actions/runs/2585302323

[code]

[2022-06-29 20:33] #1406 closed

[2022-06-30 07:38] MatousJobanek commented on #1398
May I know why the name has to start with capital? Couldn't we just use lower-case names as is used across the whole k8s?
This format - that I create CWT with a lower-case name, but the reference in ClusterWorksapce starts with capital - is a bit confusing TBH.

[2022-06-30 08:01] MatousJobanek commented on #1398
ok, now I see that you used `--type Foo` and when I try it it works:
[code]
_(after creating the CWT and the workspace in root)_

I think that I tried it yesterday and that it failed and that it did not exist... It was probably a typo in the name or another error between my chair and my keyboard.

Anyway, making the names more consistent would really help.

[2022-06-30 09:42] sttts commented on #1398
The capital case comes from kube constants to be CapitalCamlCase.

[2022-06-30 10:04] fgiloux opened #1412 "Possible to use a "non-existent" workspace"
**Describe the bug**
It is possible to use and create objects in a workspace that "does not exist".

**To Reproduce**
Steps to reproduce the behavior:

1. Check the workspaces that exist
[code]

2. Use a workspace that does not exist
[code]

3. Create a resource in the workspace
[code]

4. Check the resource and see `clusterName: root:pipelines-service:bbbb`
[code]

5. go one level above and check

[2022-06-30 12:32] davidfestal opened #1415 "workspaces VW: remove the need of a SAR against CTW"
We should completely remove the need of issuing a SAR against ClusterWorkspaceType in the `Create` implementation of the `workspaces` virtual workspace.

This SAR simply forces the VW to set a static default CTW reference, which should be done by the admission controller.

But removing this SAR  requires updating the CWT admission controllers to take in account the `owner` annotation set by the VW

[2022-06-30 12:48] MatousJobanek commented on #1398
ok, didn't realize it. Thanks for your answer.
Do you think that we could make the plugin a bit more flexible: https://github.com/kcp-dev/kcp/pull/1416

[2022-06-30 13:45] davidfestal commented on #1415
This a followup of https://github.com/kcp-dev/kcp/pull/1414

[2022-06-30 13:54] #1380 closed

[2022-06-30 17:54] doru1004 opened #1417 "Invalid version string reported when using the kcp executable"
I'm performing the following steps:

1. Clone the repo
2. git checkout tag/v0.5.0-alpha.1
3. cd kcp
4. make build
5. add newly built executable to PATH
6. kcp --help

Step 6 outputs this:
[code]

I am using go version 1.17 on MacOS.

[2022-06-30 18:00] stevekuznetsov commented on #1417
[code]

I can't seem to reproduce this.

[2022-06-30 18:47] stevekuznetsov commented on #1149
OK, re: fully qualifying the types - we want to do this, and when a type is created these references must be checked after type aliases are resolved, in order to ensure that:

- `root:org:team:MyApp` cannot be a child of `root:Organization` unless `root:Organization` allows `Any` child, or `root:org:team:MyApp` is an alias for a child type that `root:Organization` does allow
- `root:Organization`

[2022-06-30 20:01] doru1004 commented on #1417
Yes, opening a PR right now.

[2022-06-30 20:09] lionelvillard opened #1419 "kubectl version produces an error"
**Describe the bug**
Running `kubectl version` against kcp produces an error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
- git clone
-  start kcp as documented: `go run ./cmd/kcp start`
-  export KUBECONFIG
- run `kubectl version`

**Expected behavior**
A clear and concise description of what you expected to happen.

No error

**Additional context**
Add any other context about the

[2022-06-30 21:15] sttts commented on #1074
We want this before tagging of v0.6.

[2022-06-30 21:30] lionelvillard commented on #1419
It works when using `make build`.

Maybe the doc should be updated: https://github.com/kcp-dev/kcp#how-do-i-get-started. WDYT?

[2022-07-01 13:29] MatousJobanek opened #1421 "Make APIBinding readible in APIExport VirtualWorkspace"
**Is your feature request related to a problem? Please describe.**
Consider that we have a service provider called "build". That service provider needs some things to be present in the user's workspace to fully function. Let's say that these resources are:
* namespace
* ConfigMap & Secret
* NetworkPolicies, plus maybe something more

The first thought of how to meet this requirement is to use CWT

[2022-07-01 16:27] #1417 closed

[2022-07-01 17:17] ncdc opened #1425 "Flake: embedded etcd falls over"
From e.g. https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kcp-dev_kcp/1423/pull-ci-kcp-dev-kcp-main-e2e-multiple-runs/1542910917962895360

[code]

Seeing this in a variety of test cases / not sure it's specific to any particular one.

[2022-07-01 17:18] ncdc commented on #1425
Excerpt from kcp.log

[code]

[2022-07-01 17:41] sttts commented on #1421
+1 for this

[2022-07-01 18:34] MikeSpreitzer opened #1426 "The data volume limit of the embedded etcd server should be configurable"
**Is your feature request related to a problem? Please describe.**
I want to be able to control the amount of data that the etcd server embedded in the `kcp` process is willing to hold.

**Describe the solution you'd like**
Let the `kcp` process take a command line flag named `--embedded-etcd-quota-backend-bytes` and pass it along as `--quota-backend-bytes` to the embedded etcd server.

**Describe

[2022-07-01 18:34] MikeSpreitzer commented on #1426
/assign

[2022-07-01 18:43] MikeSpreitzer opened #1427 "The Prometheus metrics from the etcd server embedded in kcp should be available"
**Is your feature request related to a problem? Please describe.**
I want to understand the resource usage and performance of the etcd server embedded in a kcp process.  Today, that etcd server seems to be configured to listen at a fixed IP address of 127.0.0.1, which makes it inaccessible (perhaps by design) from outside when run in a k8s Pod.

**Describe the solution you'd like**
I would be sati

[2022-07-03 05:09] MikeSpreitzer commented on #1426
I looked around in the etcd source code, and it looks to me like the embedded server takes its configuration only from the Config object, not also environment variables.

[2022-07-03 05:10] MikeSpreitzer commented on #1427
/assign

I looked around in the etcd source code, and it looks to me like the embedded server takes its configuration only from the Config object, not also environment variables.

[2022-07-03 14:31] apoorvajagtap commented on #1380
Hello @stevekuznetsov , @varshaprasad96 , I think `--version` for `kubectl-kcp` is still missing after #1409, so I just raised another PR #1432 with the similar changes for kubectl-kcp.

I have been just exploring a little, so it'd be great if someone can take a look. Let me know in case I am missing something... Thanks!

[2022-07-03 20:07] sttts opened #1434 "Syncer (seems to) connects to kcp with wrong URL"
[code]

[2022-07-04 06:48] UtkarshChaurasia commented on #1074
Hi @sttts really sorry, would not be able to complete it before v0.6 due to some other commitments.

[2022-07-04 17:06] MikeSpreitzer opened #1445 "`make codegen` fails"
**Describe the bug**
In the current `main`, `make codegen` fails.  Following is a demonstraction.

[code]

**To Reproduce**
Shown above.

**Expected behavior**
I expected a success.

**Additional context**
N/A

[2022-07-04 17:16] MikeSpreitzer commented on #1445
FYI, I was able to work around by continuing as follows.

[code]

[2022-07-04 20:14] stevekuznetsov commented on #1445
Please rebase on `main` to get #1422

[2022-07-04 20:15] stevekuznetsov commented on #1445
(and run `make build`)

[2022-07-05 02:19] #1427 closed

[2022-07-05 08:26] xingxingxia opened #1446 "`kubectl explain` is broken for kcp api-resources"
**Describe the bug**
`kubectl explain` is broken for kcp api-resources, e.g. locations, clusterworkspaces, workspaces et al. Works well for other k8s traditional resources, though, clusterroles.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to kcp "stable" service as of this issue is filed
2. Show current ws:
$ kubectl kcp ws
Current workspace is "root:rh-sso-158xxxx".
$ kubectl api-

[2022-07-05 14:04] astefanutti opened #1449 "`kubectl apply` and `kubectl create` on APIExport virtual API server do not work"
**Describe the bug**

Executing the `kubectl apply` or `kubectl create` commands using an APIExport virtual workspace URL do not work.

**To Reproduce**

Steps to reproduce the behavior:

[code]

The following trace is printed with the `--v=9` option:

[code]

**Expected behavior**

The `kubectl apply` command should work.

**Additional context**

The `kubectl get` command works:

[code]

The issu

[2022-07-05 14:59] sttts opened #1450 "Community Meeting July 5, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-07-05 15:00] sttts commented on #1450
Incoming issues: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+-label%3Acommunity-meeting+no%3Amilestone

Milestone epics: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+label%3Amilestone-blocker+label%3Aepic

[2022-07-05 15:18] ncdc commented on #1405
Might be fixed by #1447

[2022-07-05 15:20] ncdc commented on #1412
Step 2 was fixed by #1278.

Are you running this as the admin user?

[2022-07-05 15:23] ncdc commented on #1419
We should do a doc update:

1. Do `make install` instead of `go run`
2. Make sure you PATH is correct

[2022-07-05 15:42] ncdc commented on #1449
OpenAPI on virtual workspaces is not supported for now, so this is known not to work.

[2022-07-05 15:50] astefanutti commented on #1449
Using `kubectl apply --validate=false` as suggested by @davidfestal makes it work.

Maybe a short-term option would be to improve the return the error message if that's possible, to something like `operation not supported`, instead of `Error from server (NotFound): the server could not find the requested resource`.

[2022-07-05 18:49] doru1004 opened #1452 "Support for multiple IPs for certificate of locally deployed KCP server"
I am running a KCP server locally but it seems that if I deploy the server and I am connected to a particular network, then that KCP server really only works when I am connected to that same network since the IP is connected to the certificate.

Is there a way (or a plan to add a way) to have multiple valid IPs associated with 1 certificate? Or maybe some other solution to this problem?

For examp

[2022-07-05 21:28] #1426 closed

[2022-07-05 22:03] #1419 closed

[2022-07-06 08:19] davidfestal opened #1454 "Create the required `ClusterWorkspaceType`s: a `HomeRoot`, a `HomeBucket`, a `Home` and their required logic and initialization."

[2022-07-06 09:23] davidfestal opened #1457 "Add KCP CLI arguments to enable home workspaces as well as specific options, especially the groups bound to the get/create `~` permissions."

[2022-07-06 10:56] #1454 closed

[2022-07-06 12:04] kasturinarra opened #1458 "KCP Server Version gitTreeState shows dirty when run kubectl version"
**Describe the bug**
gitTreeState for server version is shown as dirty when kubectl version is run

**To Reproduce**
Steps to reproduce the behavior:
1. export kcp kubeconfig
2. Run command ‘kubectl version’
[knarra@knarra openshift-tests-private]$ kubectl version
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.0", GitCommit:"45460a55f50834ff18308b13b4569a6c89b9d37a", GitTree

[2022-07-06 13:41] ncdc commented on #1074
/assign

[2022-07-06 17:04] ncdc commented on #1450
Recording: https://www.youtube.com/watch?v=yV293OUsMLM

[2022-07-06 17:04] #1450 closed

[2022-07-06 20:56] lionelvillard opened #1465 "Same namespace fully qualified service DNS resolution in pcluster"
**Is your feature request related to a problem? Please describe.**
Pods cannot connect to services when using fully qualified service names (e.g. `mysvc.mynamespace.svc.cluster.local`) because kcp does not preserve the original namespace (which is expected).

This issue is related to https://github.com/kcp-dev/kcp/issues/505. The same problem exists for pods within the same namespace. Application

[2022-07-06 21:36] #1074 closed

[2022-07-07 12:55] pdettori commented on #1032
Deleting `.kcp/apiserver.{key,crt}` helps with re-generation of certs, however if there are existing workspaces they keep the old IP in the URL and they are no longer accessible without manually editing the `admin.kubeconfig` file.

[2022-07-07 17:18] stevekuznetsov commented on #1452
The GoDoc on `clusterworkspaceshard.tenancy.kcp.dev` field `.spec.externalURL` reads:

	// Changing this will break all existing workspaces on that shard, i.e. existing
	// kubeconfigs of clients will be invalid. Hence, when changing this value, the old
	// URL used by clients must keep working.

So, it seems like the reboot-into-a-new-IP case is not really something we want to support. I wonder i

[2022-07-07 19:56] pdettori commented on #1452
I noted however that certificates are not signed for the hostname provided at startup with external-hostname, which is a different issue, so that would not work either at this time.

[2022-07-08 01:43] pdettori opened #1471 "When kcp start is used with the --external-hostname flag, serving certificates are not signed for that hostname"
**Describe the bug**
When kcp start is used with the --external-hostname flag, serving certificates are not signed for that hostname

**To Reproduce**
Steps to reproduce the behavior:
1. run `kcp start --external-hostname=<hostname>`
2. verify that `.kcp/admin.kubeconfig` is using the external hostname in the server URL
3. Run `KUBECONFIG=.kcp/admin.kubeconfig kubectl get ns`
4. Get error `Unable

[2022-07-08 01:56] pdettori commented on #1452
Also created a PR https://github.com/kcp-dev/kubernetes/pull/80 to address it

[2022-07-08 08:35] #1245 closed

[2022-07-08 13:42] ncdc commented on #1471
@sttts is there any harm in this, or do we want to direct people to a topology that requires a front proxy that is aligned with a serving cert w/the external hostname?

[2022-07-09 09:36] sttts opened #1476 "Syncer against root workspace fails with discovery errors"
[code]

This matters because ppl trying kcp from source will land in the root workspace and try to run workload from there.

[2022-07-09 09:38] sttts opened #1477 "Report syncer status through conditions before it is ready"
Debugging syncer problems is hard because it does not report anything until it is fully ready. We want it to set conditions much earlier.

[2022-07-10 04:33] sm43 commented on #1477
Can you please assign this to me?
I would like to give it a try :)

[2022-07-11 09:43] #1412 closed

[2022-07-11 09:44] fgiloux commented on #1412
Yes I was testing with the admin user

[2022-07-11 09:58] philbrookes opened #1482 "Soft Finalizers not honoured when workload scheduling is updated"
**Describe the bug**
When a workload is scheduled to a workload cluster (cluster1), with a soft finalizer created for cluster1 and then the workload scheduling is changed to a different cluster (cluster2). The workload is immediately deleted from cluster1 rather than waiting for the soft finalizer for cluster1 to be removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Disable automatic s

[2022-07-11 10:21] philbrookes commented on #1482
cc @jmprusi this is a follow on from our discussion on slack

[2022-07-11 18:23] ncdc commented on #1477
@sm43 sure! Could you please write down a little bit about what/where you plan to implement the condition updates, so we can get rough agreement on the approach before you dive in to coding? Thanks!

[2022-07-11 22:19] varshaprasad96 opened #1490 "Epic: Scoping client calls in KCP"
These are the places where client calls need to be modified to accept scoped contexts. For further changes which need to be done in each of these locations, refer: https://github.com/kcp-dev/kcp/pull/1376

======================== DONE - v0.8 =========================================
- [x] cluster-controller - https://github.com/kcp-dev/kcp/tree/main/cmd/cluster-controller
- [x] Ingress-controller

[2022-07-12 12:05] sttts opened #1497 "Community Meeting July 12, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-07-12 12:29] pweil- commented on #1497
0.7 timeline & focus discussion

[2022-07-12 14:54] shawn-hurley opened #1500 "Refactor permission claim object labelling to own controller"

[2022-07-12 14:54] shawn-hurley opened #1501 "Test: APIExport should be able to update permission claims at any time"
We need to add a test case, to prove that when an APIExports permission claims change, the VW no longer gets access to the resources that it is asking for.

[2022-07-12 14:56] sttts commented on #1497
Overview of test-e2e-sharded connections
<img width="1130" alt="Bildschirmfoto 2022-07-12 um 16 55 45" src="https://user-images.githubusercontent.com/730123/178520343-f9771bbe-6760-4cf7-ac21-0ba5b2ca0635.png">
 https://docs.google.com/drawings/d/1RzX6QjXYzj59cLFFlKNY7Yoysw888JIkxPPG4GZ8jTY/edit

[2022-07-12 15:02] s-urbaniak commented on #1497
- https://github.com/kcp-dev/kcp/pull/1376 broke a few things (recognized in https://github.com/kcp-dev/kcp/pull/1448)

[2022-07-12 15:02] davidfestal opened #1502 "Kubectl `workspace` plugin semantic change proposal"
Kubectl `workspace` plugin change proposal, now that Home workspaces PR is merged:
- Change a bit the semantic of the `ws` command to  better match the typical `cd` semantics:
  - `ws` without parameters == `ws '~'` == use the home workspace
  - `ws .` == show the current workspace
  - `ws ..`  == use the parent workspace
  - `ws -`  == use the previous workspace

[2022-07-12 15:07] csams commented on #1497
sporadic segfaults during e2e

[2022-07-12 15:25] stevekuznetsov commented on #1502
- `cd` takes me home
- `cd .` takes me nowhere
- `cd ..` takes me up one
- `cd -` takes me to last

sgtm

[2022-07-12 15:51] stevekuznetsov commented on #1458
[code]

Even though we're building `kcp` with clean state, `kubectl version` shows dirty state for server.

[2022-07-12 15:52] sttts commented on #1471
@csams

[2022-07-12 16:16] sttts commented on #545
done

[2022-07-12 17:03] liggitt commented on #1336
https://github.com/kcp-dev/kcp/issues/1336#issuecomment-1167509423 is a good starting point for keeping parity with the existing code in a way that works with all versions

[2022-07-12 17:13] #1221 closed

[2022-07-12 18:35] sttts commented on #333
Slipping into v0.7.

[2022-07-12 18:36] sttts commented on #1149
Blocked on review of https://github.com/kcp-dev/kcp/pull/1474.

[2022-07-13 09:55] jmprusi opened #1506 "Allow coordination controllers to modify the scheduling state of resources."
Some components require the ability to modify the scheduling of a resource, which requires access to the "state.workload.kcp.dev/<SyncTarget>" label.

- The sync label should be protected to avoid users that are not part of a specific group (ex: `system:kcp:workload:coordination`) to modify its value.

- This should allow the members of the group to modify the label "state.workload.kcp.dev/<SyncTa

[2022-07-13 09:56] jmprusi commented on #1506
Some extra context: https://kubernetes.slack.com/archives/C021U8WSAFK/p1657635523445049

[2022-07-13 10:16] sttts commented on #1506
That being a group is not set in stone. Maybe we will have a `ThingCoordination`resource for coordinated to register for certain resources (plus a service account where we do a SAR against ThingCoordination for), or we have a `ThingWorkloadResource` where we do a `verb=coordinate` SAR against.

[2022-07-13 11:23] sttts commented on #1502
+1 from me for the change

[2022-07-13 13:52] akoserwal opened #1509 "*v1alpha1.ClusterWorkspaceType: json: cannot unmarshal string into Go struct"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Using the main branch
2. ` go run ./cmd/kcp start`
3. Watch the logs

**Expected behavior**
A clear and concise description of what you expected to happen.
no errror

**Additional context**
Add any other context about the problem here.

[2022-07-13 14:09] akoserwal opened #1510 "make codegen: bash: /generate-groups.sh: No such file or directory"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run `make codegen`
`bash: /generate-groups.sh: No such file or directory`

**Expected behavior**
is generate-groups.sh is required or the make file need update?

**Additional context**
Add any other context about the problem here.

[2022-07-13 14:27] jmprusi opened #1512 "Community Meeting July 19, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-07-13 14:30] #1280 closed

[2022-07-13 14:31] ncdc commented on #1510
The `go mod download` command downloads the dependency that contains `generate-groups.sh`. It's possible this isn't working with gvm.

[2022-07-13 14:32] #1188 closed

[2022-07-13 14:34] #1497 closed

[2022-07-13 16:04] akoserwal commented on #1510
no, still same

[2022-07-13 19:29] ncdc commented on #1509
@akoserwal I'm not able to reproduce this. It's possibly you might have some old data in your `.kcp` directory - we did recently tweak the struct definitions for ClusterWorkspaceType. I would recommend deleting your `.kcp` directory, starting kcp again, and see if you are still able to reproduce the error. Please report back when you get a chance to test - thanks!

[2022-07-13 19:43] ncdc opened #1514 "Flake: TestAPIExportPermissionClaims"
From https://github.com/kcp-dev/kcp/runs/7327466802?check_suite_focus=true

[code]

[2022-07-14 07:53] MatousJobanek opened #1517 "Option to not use SyncTarget UID when generating namespace names"
**Is your feature request related to a problem? Please describe.**
After the latest changes in the syncer code, the logic generates different namespace names for both the syncer and the workspace namespaces. The main reason is that takes the UID of the SyncTarget which is always different https://github.com/kcp-dev/kcp/blob/main/pkg/cliplugins/workload/plugin/sync.go#L141-L145 This means that when

[2022-07-14 08:18] MatousJobanek opened #1518 "To use CWT the user needs to have "access" permissions in workspaces where the CWT exists"
**Describe the bug**
Consider that there is a CWT `Foo` in a workspace `root:org:plane`. The workspace contains also a CR & CRB granting `use` permissions to the `system:authenticated` group.
Then a user `bob` wants to create a workspace of the type `Foo` in his home workspace, but this fails:
[code]
the kcp logs contain:
[code]
This is because the user `bob` doesn't have any permission in the `ro

[2022-07-14 08:31] akoserwal commented on #1510
Used native golang installed instead of gvm. it is working for me.

[2022-07-14 09:04] sttts commented on #1502
We better change this with v0.6 such that users don't get a breaking change in a few weeks.

[2022-07-14 10:50] maleck13 commented on #1334
@ncdc @sttts is support for this planned as part of 0.7 ?

[2022-07-14 12:49] samyak-jn opened #1526 "Adding readiness checkups in KCP"
**Is your feature request related to a problem? Please describe.**

When deploying ArgoCD to KCP, one of the initial blocker we face is due to the readyz and health checkups by ArgoCD on the cluster, which as per my knowledge KCP still don't support.
So while deploying the argocd, the argo looks for some health and readiness checks from the cluster, while doing so it looks for a port service for c

[2022-07-14 14:28] philbrookes opened #1528 "namespace scoped softfinalizers"
**Is your feature request related to a problem? Please describe.**
While investigating workload migration using the advanced scheduling introduced in 0.5.0, I found that soft finalizers can be used (in 0.6.0) to allow me to schedule the removal of resources from the losing cluster, to allow a graceful migration with no downtime.

However with further thought we've realised that the pods running fr

[2022-07-14 14:29] philbrookes commented on #1528
ping @jmprusi @maleck13

[2022-07-15 11:56] sttts opened #1531 "PCluster pods can port scan service and pod network and look for open servers"
Without NetworkPolicies in place, a tenant workload can connect to any IP in the location. This means it can port scan and maliciously interact with other tenants' workloads and services.

[2022-07-15 12:59] Roming22 opened #1532 "Workspace creation is not idempotent"
**Describe the bug**
Creating a workspace of type `organization` fails with an error about it already existing as type `root:organization`.

**To Reproduce**
[code]

**Additional context**
It works as expected if the type is set as `root:organization`.

[code]

**Expected behavior**
I would expect the same behavior as the one shown in `Additional context`.

[2022-07-15 14:26] #1532 closed

[2022-07-15 15:16] #1502 closed

[2022-07-15 18:16] #1457 closed

[2022-07-15 19:21] robinbobbitt commented on #1219
@shawn-hurley the controller my team is building currently needs to be able to create a service account, cluster role, and cluster role bindings through the virtual workspace. Please let me know if you need additional detail. Thanks!

[2022-07-15 19:58] shawn-hurley opened #1544 "Add known internal types to internalschemas for the virtual workspace to use (RBAC)"
The main set of tests that we need to consider is {Cluster}RoleBindings and {Cluster}Roles.

[2022-07-15 20:02] ncdc commented on #1544
Need to discuss if this should be for all virtual workspace types, or only for APIExport/permission claims

[2022-07-18 11:31] MatousJobanek commented on #1518
This technically applies to all SARs that are executed for any other resource - for example an APIExport

[2022-07-18 12:39] MatousJobanek opened #1553 "Universal initializer is not cleaned (and probably not even called) when extended by a child CWT"
**Describe the bug**
When a new CWT is created by extending the `universal` one:
[code]
and when the new CWT is used, then the creation gets stuck on waiting to be ready. After some time it fails with timeout:
[code]

When looking at the Workspace `bar` CR, it still contains the initializer:
[code]

I tried to get all APIBindings in the workspace, but the list is empty:
[code]

so I assume that th

[2022-07-18 12:54] MatousJobanek opened #1555 "There is no way to get the owner/creator of a home workspace as the tenancy.kcp.dev/owner annotation is cleaned"
**Is your feature request related to a problem? Please describe.**
Consider that I have an admission webhook that needs to decide if a creation of a particular APIBinding is allowed in a given ClusterWorkspace. The admission webhook needs to know who owns the workspace, or the main parent workspace (eg. home workspace) - who created it. It doesn't matter who made the call to create the APIBinding.

[2022-07-18 15:34] pweil- opened #1557 "kcp OWNERS files"
As we keep growing it may make sense to start implementing more granular OWNERS files so that we can build our cadre of reviewers and approvers like other upstream communities.

References
* kubernetes review/approver roles: https://github.com/kubernetes/community/blob/master/community-membership.md#reviewer
* kubernetes owners file process: https://www.kubernetes.dev/docs/guide/owners/

Goals:

*

[2022-07-18 15:35] pweil- commented on #1512
owners files https://github.com/kcp-dev/kcp/issues/1557

[2022-07-18 15:36] ncdc commented on #1557
At least in the repo root

[2022-07-18 17:33] #1350 closed

[2022-07-19 02:39] shawn-hurley commented on #1557
I think this would be really helpful, another thing to consider would be to implement a reviewer to approver guidelines and maybe seed the root files with reviewers?

[2022-07-19 02:45] shawn-hurley commented on #1544
It sounds like the fix is:

1. a way for a given virtual workspace to ask for a set of APIs that it considers to be internal.
2. Add RBAC resources for the APIExport virtual workspace.
3. Update the CEL validation for permission claims (#1529) to allow claiming the RBAC resources.

If a cluster admin is accepting these claims, I would like them to see what rules the services provider will be contr

[2022-07-19 07:30] sttts opened #1559 "Community Meeting July 19, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-07-19 07:31] #1559 closed

[2022-07-19 07:31] sttts commented on #1512
Timebombs https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+label%3Aseverity%2Ftimebomb

[2022-07-19 07:32] sttts commented on #1512
Incoming issues: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+-label%3Acommunity-meeting+no%3Amilestone

Milestone epics: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+label%3Amilestone-blocker+label%3Aepic

[2022-07-19 13:21] itdove opened #1564 "apibinding falls in error after kcp restart"
**Describe the bug**
After restarting kcp, the apibinding falls in error
[code]
however the APIEXport is
[code]

**To Reproduce**
1. Launch the kcp start v0.6.0-alpha.0
2. Create my org under root (root:org).
3. Create the apiexport.
4. Create my ws under the org (root:org:ws)
5. Create there the apibinding.
6. Kill kcp
7. Relaumch kcp start
8. Check apibinding status

**Expected behavior**
Apibin

[2022-07-19 13:38] ncdc commented on #1564
/priority awaiting-more-evidence

[2022-07-19 15:00] sttts commented on #1512
@p0lyn0mial sharding demo

[2022-07-19 15:13] ncdc commented on #875
Replacing with individual issues

[2022-07-19 15:13] #875 closed

[2022-07-19 15:23] ncdc commented on #1514
Probably fixed by #1550

[2022-07-19 15:23] #1514 closed

[2022-07-19 15:26] ncdc commented on #1518
This might be helped with a generic Export mechanism, where users could export things (CWT, APIExport) into a "catalog" in the root

[2022-07-19 15:31] ncdc commented on #1528
@philbrookes @jmprusi could please provide a reference to what a "soft finalizer" is?

[2022-07-19 15:32] sttts commented on #1528
Related, the current state machine: https://docs.google.com/drawings/d/1LyQD0qM62z6HfMRsYqNKpSaIrE4xAO3c-Yn-XoyXWe8/edit

[2022-07-19 15:37] jmprusi commented on #1528
@ncdc updated the issue with additional context on the Soft finalizers.

[2022-07-19 15:37] ncdc commented on #1544
@robinbobbitt do you still have bandwidth to work on this?

[2022-07-19 15:39] ncdc commented on #1553
@MatousJobanek could you please share logs from the kcp server if you're able to reproduce?

[2022-07-19 15:40] ncdc commented on #1553
Idea: universal bootstrap code pre-dates the recent updates to initializers, so it's possible it's specifically looking for type=Universal and not seeing children that extend it

[2022-07-19 15:47] itdove commented on #1564
[code]

[2022-07-19 15:51] ncdc commented on #1564
If you wait long enough, does the error clear up?

[2022-07-19 20:16] sttts opened #1567 "Meta-issue with subtasks for promoting APIs to beta"
# apis.kcp.dev
- APIBinding
  - [ ] rename workspace reference from `path` to `workspace`.

# tenancy.kcp.dev
  - [ ] rename CWT type reference from `path` to `workspace`.

# scheduling.kcp.dev

[2022-07-20 19:10] #1331 closed

[2022-07-21 02:05] MikeSpreitzer opened #1579 "Incomplete Usage message from kubectl kcp workspace plugin"
**Describe the bug**
The usage message is incomplete.

[code]

That listing does not mention `use` or `current`.

**To Reproduce**
Steps to reproduce the behavior:
1. `kubectl ws --help`
2. Observe the incomplete synopsis

**Expected behavior**
The synopsis includes all the available commands, or none of them, or an explicit indication that the list is incomplete.

**Additional context**
N/A

[2022-07-21 02:08] MikeSpreitzer opened #1580 "kubectl kcp workspace plugin tells me to use deprecated command "list""
**Describe the bug**
[code]

**To Reproduce**
See above.

**Expected behavior**
I am not sure it is wrong to list a deprecated command, but maybe?
Note also that there is another deprecated command, `delete`, and it is _not_ listed in the synopsis.

**Additional context**
N/A

[2022-07-21 02:18] MikeSpreitzer opened #1581 "`kubectl get workspaces` lies "No resources found""
**Describe the bug**
[code]

**To Reproduce**
See above

**Expected behavior**
Clearly there are workspaces.  I expected to be told about them.

**Additional context**
Commit 8a36261dd4a653961bd9029eb29f7dd01172147b

[2022-07-21 02:24] MikeSpreitzer opened #1582 "`kubectl ws ~` fails"
**Describe the bug**
`kubectl ws ~` is supposed to switch to my home workspace (which _does_ exist and is accessible via a different command).  Instead it gives an error message and makes no change.

[code]

**To Reproduce**
See above

**Expected behavior**
I expected `kubectl ws ~` to do the same thing as `kubectl ws`.

**Additional context**
kcp commit 8a36261dd4a653961bd9029eb29f7dd01172147b .

[2022-07-21 02:47] MikeSpreitzer opened #1583 "ws navigation downward is impossible"
**Describe the bug**
I can not navigate downward, neither with relative nor absolute references, neither with explicit `use` nor without it.

[code]

OTOH, if I `kubectl ws` and then `kubectl ws create`, then I can navigate to the one created (both by absolute reference and by relative reference to my home workspace).

**To Reproduce**
See above.

**Expected behavior**
I expected to be able to nav

[2022-07-21 13:32] stevekuznetsov commented on #1583
/assign @davidfestal

[2022-07-21 14:59] davidfestal commented on #1582
That's probably due to the fact that the `~` character is expanded by the system.

On Linux and Mac, using quotes to block expansion works : `kubectl ws '~'`
That's not nice but in this case the simple `kubectl ws` is there.

[2022-07-21 15:08] MikeSpreitzer commented on #1582
D'Oh!

[code]

[2022-07-21 15:08] #1582 closed

[2022-07-21 16:59] stevekuznetsov commented on #1581
/assign @davidfestal

Could this be RBAC?

[2022-07-21 17:50] itdove commented on #1564
After 20 min, still in error.

[2022-07-21 18:17] MikeSpreitzer commented on #1581
I used the kubeconfig that kcp created, at `.kcp/admin.kubeconfig`.

[2022-07-21 18:37] stevekuznetsov opened #1592 "Clarfiy / Simplify Home Bucket Options"
e.g. choosing bucket length > 2 leads to a performance issue. So, we have the following options:

User-names have `[a-z][a-zA-Z0-9-.]{0,61}[a-zA-Z0-9]` -> (26 * [(26 + 10 + 2) * 61] * 36 = 2169648) permutations, and buckets are made up of lowercase-alpha chars, so:

|length|depth|sub-buckets|users|valid|
|------|-----|-----------|-----|-----|
|1     |1    |26 * 1 = 26|2169648 / (26) = 83448 | :red

[2022-07-21 18:37] stevekuznetsov commented on #1592
/assign @davidfestal
/cc @sttts @pweil-

[2022-07-21 19:19] adambkaplan commented on #1195
/label appstudiokcp

[2022-07-22 09:46] pweil- opened #1599 "Remove bucket configuration options"
Per [this discussion](https://github.com/kcp-dev/kcp/pull/1561#discussion_r926886232) there are very few configuration options that are valid for bucket configurations and quite a few (ie most) that would be detrimental to performance.

We can consider:

1. strong flag value validation
2. named configuration sets (ie. can we classify when one valid config might be better than the other and have CO

[2022-07-22 09:54] pweil- commented on #1599
duplicate of https://github.com/kcp-dev/kcp/issues/1592

[2022-07-22 09:54] #1599 closed

[2022-07-22 09:55] pweil- commented on #1592
copying over from my dupe issue:

Per https://github.com/kcp-dev/kcp/pull/1561#discussion_r926886232 there are very few configuration options that are valid for bucket configurations and quite a few (ie most) that would be detrimental to performance.

We can consider:

* strong flag value validation
* named configuration sets (ie. can we classify when one valid config might be better than the othe

[2022-07-22 09:55] MatousJobanek commented on #1555
based on the latest discussions, we will probably restructure the signup/gating CRs so we won't need to have that information available at the ClusterWorkspace level.

Instead of mapping ClusterWorkspace CR to a user, we will rely on the internal kcp mapping from user/claim to a home workspace.

[2022-07-22 09:56] MatousJobanek commented on #1555
Closing this issue for now - I'll reopen it when we figure out that we still need it.

[2022-07-22 09:56] #1555 closed

[2022-07-22 10:10] MatousJobanek commented on #1553
Yeah, it's very easy to reproduce - just run kcp locally and execute this set of commands:
[code]
Here are the logs from the `Finished bootstrapping root workspace phase 1` line until the waiting for the bar workspace timed out.
https://gist.github.com/MatousJobanek/3c1130d256f065be096b02e8a9768fe4

[2022-07-22 15:59] stevekuznetsov commented on #1553
@sttts are we planning on moving the hard-coded bootstrap controllers onto the VW?

[2022-07-23 08:16] sttts opened #1604 "WaitForClusterReady panics"
[code]

[2022-07-23 08:20] sttts commented on #1604
fixed in rebase PR

[2022-07-23 19:04] #1604 closed

[2022-07-25 01:45] GrahamDumpleton opened #1610 "kcp and extensions failing version verification"
**Describe the bug**

With no kubeconfig file in `~/.kube.cofig` run:

[code]

The extension panics with an error:

[code]

Same thing with `ws` and `workspaces` extensions.

A nicer error message would be better, and when just getting the help it perhaps should display the help still even when there is no kubeconfig file.

[2022-07-25 01:46] GrahamDumpleton commented on #1610
This actually be nothing to do with kubeconfig. I actually don't have kcp running at this point either when doing that test.

[2022-07-25 02:04] GrahamDumpleton commented on #1610
Or it could be something totally different.

So the process I have followed is to build from GitHub source code, but I have only copied select binaries from that build into a distinct container.

[code]

The errors come from running the standalone binaries in the container. The expectation here is that none of the source code is needed and only the binaries.

Since I didn't have `kcp` running, I f

[2022-07-25 02:25] GrahamDumpleton commented on #1610
Using last tagged version doesn't help either.

[code]

[2022-07-25 02:47] GrahamDumpleton commented on #1610
Resolved by building using:

[code]

In issue #1417 it suggests a fix had been merged for the underlying issue of `jq` not being available, yet when I initially built against the head of the repo it still failed which brings into question whether the merged change is helping.

[2022-07-25 08:54] pweil- opened #1611 "Community Meeting July 26, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-07-25 13:00] stevekuznetsov commented on #1610
@GrahamDumpleton do you have example build output logs from a failed build, please? It would be good to see the `-ldflags` settings and preamble to the build.

[2022-07-25 13:02] stevekuznetsov commented on #1610
https://github.com/kcp-dev/kcp/pull/1612 should improve this

[2022-07-25 16:57] guymguym opened #1615 "Epic: Storage volumes placement"
# Demo Objective

- [ ] Admin sets up the control plane with several workload clusters in the same location, connected to the same shared network storage (e.g NFS server).
- [ ] User deploys an application that uses dynamic storage provisioning (e.g [DokuWiki helm chart](https://github.com/bitnami/charts/tree/master/bitnami/dokuwiki)).
- [ ] The application placement is relocated between clusters

[2022-07-25 17:22] maysunfaisal commented on #1553
I think I maybe hitting the same thing?

Workspace create
[code]

Workspace describe
[code]

[2022-07-25 17:49] sttts commented on #1336
Stopping the bleeding in https://github.com/kcp-dev/kcp/pull/1613.

[2022-07-25 17:49] #1336 closed

[2022-07-25 18:48] #1610 closed

[2022-07-25 19:46] MikeSpreitzer commented on #1611
Is this really on the 25th?

[2022-07-25 20:36] ncdc commented on #1611
26th 😄

[2022-07-26 00:21] pradeepnnv commented on #1526
I would like to work on this please.

[2022-07-26 07:42] maleck13 commented on #1334
@sttts I believe your design https://docs.google.com/drawings/d/1aiX_1xc-dpvYJZBXVhD8g0maKFNFT-M3M31DjFWsZSo/edit for supported APIs is the solution to this issue

[2022-07-26 08:24] pweil- commented on #1611
thanks for fixing that @ncdc and calling it out @MikeSpreitzer

[2022-07-26 08:35] sttts commented on #1334
It is being worked on. See https://github.com/kcp-dev/kcp/pull/1571 for the API changes.

[2022-07-26 08:42] pweil- commented on #1611
Looking for remaining 👍 on https://github.com/kcp-dev/kcp/pull/1601 - would like to commit this week if there are no objections

[2022-07-26 14:51] #1512 closed

[2022-07-26 14:52] sttts commented on #1611
Incoming issues: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+-label%3Acommunity-meeting+no%3Amilestone

Milestone epics: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+label%3Amilestone-blocker+label%3Aepic

[2022-07-26 14:54] sttts commented on #1611
Rebase landed 🎉🥳🍾

https://github.com/kcp-dev/kcp/pull/1568

[2022-07-26 15:02] philbrookes commented on #1611
https://github.com/kcp-dev/kcp/issues/1528

[2022-07-26 15:31] ncdc commented on #1512
Recording: https://www.youtube.com/watch?v=epPpwZEo_sI

[2022-07-26 15:38] sttts commented on #1583
Probably this will get better when personal workspaces get removed cc @davidfestal

[2022-07-26 15:39] ncdc commented on #1583
When in a home workspace, `kubectl ws ..` should probably take you directly to `root` instead of to an intermediate home bucket

[2022-07-26 15:40] sttts commented on #1581
Revisit when personal workspaces are gone. Related #1583.

[2022-07-26 16:00] wangke19 opened #1621 "Update CLI for listing sub-workspaces in the current workspace example"
**Describe the bug**
The following command line in `kubectl kcp ws --help` doesn't work.
…
    # list sub-workspaces in the current workspace
    kubectl kcp get workspaces
$ kubectl kcp get workspaces
error: unknown command "get" for "kcp"

**To Reproduce**
Steps to reproduce the behavior:
[code]

We can see without parameter kcp, it works fine.
[code]

**Expected behavior**
We need update the kc

[2022-07-26 18:48] ncdc commented on #1611
Recording: https://www.youtube.com/watch?v=Kni3MQ1WJIs

[2022-07-26 18:48] #1611 closed

[2022-07-27 09:54] markmc opened #1622 "Document SyncTarget "cells" concept"
`SyncTarget.Spec.Cells` was added in #1571

`locations-and-scheduling.md` would be a good place to document this

Pasting the breadcrumbs of design discussion I can find ...

[Meeting conclusion](https://kubernetes.slack.com/archives/C021U8WSAFK/p1658138320873169?thread_ts=1658127849.906039&cid=C021U8WSAFK) describing API variants and cells

[Google doc](https://docs.google.com/document/d/10Tloa3I

[2022-07-27 10:48] xingxingxia opened #1623 "The certificate-authority-data of /etc/kcp/config/admin.kubeconfig shows "CA:FALSE" causing kubectl hits Unable to connect to the server: x509: certificate signed by unknown authority"
**Describe the bug**
After successfully deploying KCP using the "kcp" folder's helm chart of https://github.com/kcp-dev/shared-resources, copy `/etc/kcp/config/admin.kubeconfig` from the kcp pod to local for use, kubectl hits `Unable to connect to the server: x509: certificate signed by unknown authority`. Decrypt `certificate-authority-data` of the admin.kubeconfig and use `openssl` to check it,

[2022-07-27 11:25] kasturinarra opened #1625 "kubectl get locations --show-labels displays two columns with same name LABELS"
**Describe the bug**
When kubectl get locations --show-labels command is run i see that there are two columns with same name LABELS and one of them actually displays the labels that are assigned to location another one is blank, it might be confusing to the user on what the other column is actually for.

**Version**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a workspace us

[2022-07-27 13:52] ncdc opened #1626 "Workspace creation inside a not-yet-existing user home workspace can incorrectly intermittently fail"
From https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kcp-dev_kcp/1614/pull-ci-kcp-dev-kcp-main-e2e-multiple-runs/1552182580948766720

[code]

Root cause: homebucket workspace root:users:bi was still being bootstrapped.

[2022-07-27 14:06] ncdc commented on #1626
[code]

[2022-07-27 14:11] ncdc commented on #1626
It looks like in CI, it was a combination of things being "slow" (saw many "apply request took too long" log messages) and the workspace scheduler and the kcp-home-workspaces bootstrapper fighting over patching status

[code]

[2022-07-27 14:12] ncdc commented on #1626
Note that the test failed at 7:16:41.17, and the bootstrap controller was still trying to do work at 7:16:42

[2022-07-27 16:46] #1557 closed

[2022-07-27 17:24] shawn-hurley opened #1631 "APIExport VW should restrict for a given workspace based on bindings acceptance or rejection"

[2022-07-27 17:24] shawn-hurley opened #1632 "APIExport VW should restrict for a given workspace based on bindings acceptance or rejection"

[2022-07-27 17:24] shawn-hurley commented on #1632
Duplicate

[2022-07-27 17:24] #1632 closed

[2022-07-27 19:27] ncdc opened #1634 "Server never fully bootstrapped"
During an e2e test run, kcp never fully bootstrapped, and the test never considered the server ready, so the test failed.

Failed in https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kcp-dev_kcp/1236/pull-ci-kcp-dev-kcp-main-e2e-multiple-runs/1552052493460967424.

Probably not super easy to reproduce, but here's what is happening (excluding tasks that are likely unrelated).

1. `kc

[2022-07-27 19:33] sttts commented on #1634
:+1:

cc @p0lyn0mial

[2022-07-27 19:33] sttts commented on #1634
Na, timebomb is a big label for this :)

[2022-07-27 20:57] #1626 closed

[2022-07-28 11:26] sttts commented on #333
A drawing showing the plumbing into the handler chain: https://docs.google.com/drawings/d/1KCqpg5XJPa7QTJPBKY2RO2Na6HGVspJtVepyqjBsu5o/edit

[2022-07-28 13:28] #1625 closed

[2022-07-28 18:34] #1634 closed

[2022-07-29 08:59] kasturinarra opened #1644 "Editing the namespaceSelector in the placement and setting it back to the old one make workload in the syncTarget gets stuck in containerCreating state"
**Describe the bug**
Editing the namespaceselector and setting it back to the old one makes the pod in syncTarget get stuck in ContainerCreating state until a new syncTarget is added and pod is moved to that.

[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy kcp on openshift cluster
2. Create a workspace using the command `kubectl ws create test1 --enter`
3. Use the same

[2022-07-29 09:28] kasturinarra commented on #1644
Also deleteing the existing deployment and recreating it on the same syncTarget gives similar error

KCP:
===============
[knarra@knarra root-org]$ kubectl create deployment hello-openshift2 --image=quay.io/openshifttest/hello-openshift@sha256:1e70b596c05f46425c39add70bf749177d78c1e98b2893df4e5ae3883c2ffb5e --dry-run=client -o yaml > hello-openshift.yaml
[knarra@knarra root-org]$ vi hello-openshif

[2022-07-29 10:43] kasturinarra commented on #1234
I tested the bug with latest code and do not see this happening. Below are the steps i performed:

[knarra@knarra root-org]$ kubectl ws create knarratest3 --enter
Workspace "knarratest3" (type root:universal) created. Waiting for it to be ready...
Workspace "knarratest3" (type root:universal) is ready to use.
Current workspace is "root:rh-sso-15878744:knarratest3".
[knarra@knarra root-org]$ kubect

[2022-07-29 14:01] #1580 closed

[2022-07-29 14:27] sttts opened #1646 "Placement.spec.resourceLabelSelector"
Placements today select namespaces through a label selector. There are cases where it would be helpful to use labels on resources and a resource label selector in a placement to select those that should land on a given location cluster.

Idea: the kcp resource controller now just blindly tags all resources with the SyncTargets the namespace is scheduled to (compare https://github.com/kcp-dev/kcp/b

[2022-07-29 17:52] kasturinarra opened #1647 "Deployment’s creationTimestamp should not be mutable"
**Describe the bug**
kuard.yaml metadata is creationTimestamp: null , and kubectl get deployment -o yaml shows metadata creationTimestamp: null , this indicates creationTimestamp is not immutable and if you kubectl edit deployment to any invalid value for example creationTimestamp: "2000-07-29T08:50:59Z" and save, this can be successful!! And the AGE shows 22y

**To Reproduce**
Steps to reproduce

[2022-07-30 19:18] apoorvajagtap commented on #1579
Hello, I would like to work on this one. @sttts should it be ok, if I assign this to myself?
Also, if you can let me know, which approach we are gonna follow to be displayed for the usage (all the commands, or none)?

[2022-07-31 09:34] sttts commented on #1579
Welcome @apoorvajagtap! have assigned it.

[2022-07-31 17:34] dseapy opened #1650 "Contributing doc Go version older than version in go.mod"
`CONTRIBUTING.md` lists Go version `1.17+` as a prerequisite, but `go.mod` has `1.18`

[2022-07-31 20:16] #1650 closed

[2022-08-01 11:19] kasturinarra opened #1654 "kcp log is being flooded with message “quota monitor not synced”"
**Describe the bug**
Kcp log is being flooded with below message
I0801 10:48:01.339684       1 resource_quota_monitor.go:288] root:rh-sso-6340056: quota monitor not synced: tenancy.kcp.dev/v1beta1, Resource=workspaces

**Version**
[knarra@knarra ~]$ kubectl version -o yaml
clientVersion:
  buildDate: "2022-07-07T20:21:05Z"
  compiler: gc
  gitCommit: f17f1aa456e00569e88a0e8206c5b360e44055dd
  gitT

[2022-08-01 11:36] ncdc commented on #1654
/assign

[2022-08-02 11:17] #1353 closed

[2022-08-02 11:27] sttts opened #1661 "Community Meeting Aug 2, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-08-02 11:27] sttts commented on #1661
Incoming issues: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+-label%3Acommunity-meeting+no%3Amilestone

Milestone epics: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+label%3Amilestone-blocker+label%3Aepic

[2022-08-02 11:29] sttts commented on #1661
Update on workload labels and annotation.

[code]
We call this `SyncTargetKey`. It's used everywhere in scheduling and workload logic.

[2022-08-02 11:30] sttts commented on #1661
Sharding component/network topology overview:

<img width="1478" alt="Bildschirmfoto 2022-08-02 um 13 30 20" src="https://user-images.githubusercontent.com/730123/182364419-1f01a29d-8ec1-42cf-b7e0-5b08eacbe15d.png">

https://docs.google.com/drawings/d/1GSOjc83Y4BKL7qa4v8j_FuOhjFwprcF8R-9M972iJfs/edit

[2022-08-02 12:07] pweil- commented on #1661
0.8 planning expectations and themes

[2022-08-02 15:48] ncdc commented on #387
We are starting to trend toward adding more privileges to the syncer (e.g. PV manipulation), so we are going to close this for now. We can open a new issue if/when we need an unprivileged syncer.

[2022-08-02 15:48] #387 closed

[2022-08-02 15:49] ncdc commented on #916
This is done

[2022-08-02 15:49] #916 closed

[2022-08-02 15:51] ncdc commented on #1281
This was fixed in #1600

[2022-08-02 15:51] #1281 closed

[2022-08-02 15:55] ncdc commented on #1553
@MatousJobanek can you retest with current main to see if the issue still exists?

[2022-08-02 16:44] ncdc commented on #1661
https://www.youtube.com/watch?v=NdPfXH7aa28

[2022-08-02 16:44] #1661 closed

[2022-08-02 19:21] sttts opened #1666 "insecure: claimed.internal.apis.kcp.dev/<hash> is not APIExport dependent"
Attack vector:
1. APIExport A claims resource R and workspace W bound against A has accepted the claim.
2. APIExport B claims resource R and workspace W bound against B has **NOT** accepted the claim.
3. The APIExport VW filters by `claimed.internal.apis.kcp.dev/<hash[:8]>: hash`, which is equal for A and B. Hence, owner of B gets access despite the user not accepting its claim.

[2022-08-03 12:19] sttts commented on #948
This is not a bug, but by design on a task of a SyncTarget or its controller. The expected behaviour can/should be part of some high level mechanism that owns the life-cycle of SyncTargets and syncers on the physical clusters.

[2022-08-03 12:19] #948 closed

[2022-08-03 13:55] ncdc opened #1671 "Epic: API evolution"
- [ ] Add fields to APIResourceSchema that contain CEL that is called during API version conversion
- [ ] Add CEL converter to apiextensions-apiserver
- [ ] Bound CRDs will need a way to point back at the actual CEL (annotation?)
- [ ] Conversions must go through a single hub version
- [ ] Feature gated

Demo:
- `kubectl apply` yaml with v1alpha1
- `kubectl get` returns v1alpha2, see results of co

[2022-08-03 18:14] ncdc opened #1674 "Hold for logical cluster annotation change"

[2022-08-03 18:22] ncdc opened #1675 "Lots of test flakes due to slow kcp server startup/bootstrapping"
The `e2e` and `e2e-multiple-runs` jobs use `E2E_PARALLELISM=3`, which translates to `-p 3 -parallel 3`.

`-p 3` means build/run 3 separate test packages simultaneously.

`-parallel 3` means run up to 3 tests opting in to parallelism via `t.Parallel()` simultaneously.

Both `e2e` and `e2e-parallel` start at least 1 kcp instance per package (and sometimes more, for a small handful of tests that can'

[2022-08-03 18:23] ncdc commented on #1675
Example failure https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kcp-dev_kcp/1663/pull-ci-kcp-dev-kcp-main-e2e-multiple-runs/1554539330989461504

[2022-08-03 19:57] #1674 closed

[2022-08-04 06:11] kasturinarra opened #1679 "When synctarget is being deleted and added back all the pods running in the previous syncer namespaces starts to run again"
**Describe the bug**
When the synctarget is deleted and added back i see that pod comes back and starts running in the previous syncer namespaces

[knarra@knarra ~]$ oc get pods --all-namespaces | grep kuard
kcp-27tnpxttv54u                                   kuard-5bdc44b494-hf62w                                                      1/1     Running             0              13m
kcp-hv00zupix4tz

[2022-08-04 11:09] sttts commented on #1679
Today a new SyncTarget UID means a new set of downstream namespaces (because the namespace locator changes by UID).

What we definitely want:
1. `kubectl kcp workload sync` must be idem-potent if the SyncTarget UID does not change.
2. if the UID changes, the syncer namespace changes. We should not reuse the service account.

Two options I see
1. we could get rid of the UID in the namespace locator

[2022-08-04 11:24] kasturinarra opened #1682 "After a synctarget is drained deployment still shows it is running even though workload in synctarget is gone"
**Describe the bug**
After a synctarget is drained deployment still shows it is running even though workload in synctarget is gone.
[knarra@knarra root-org]$ kubectl get deployment
NAME    READY   UP-TO-DATE   AVAILABLE   AGE
kuard   1/1     1            1           26m

knarra@knarra root-org]$ oc get pods --all-namespaces | grep kuard
[knarra@knarra root-org]$

**To Reproduce**
Steps to reproduc

[2022-08-04 11:27] kasturinarra opened #1683 "Currently there is no way to check if a cluster has been drained successfully and workload has been moved completely."
**Describe the bug**
Currently there is no way for user to check if a cluster has been drained successfully and workload has been moved completely to another synctarget

[knarra@knarra ~]$ kubectl version -o yaml
clientVersion:
  buildDate: "2022-07-29T17:25:01Z"
  compiler: gc
  gitCommit: 70750898e45ff4a349995b08e1d64a359e4c4880
  gitTreeState: clean
  gitVersion: v1.24.1
  goVersion: go1.18.4

[2022-08-04 11:31] jmprusi commented on #1679
@sttts, as we discussed on slack, let's go with the second option but add a flag to the syncer deployment with the "original" synctarget UID, so the syncer will refuse to sync if it detects that the synctarget UID doesn't match.

[2022-08-04 14:53] stevekuznetsov commented on #1675
What's our thought on having one (shared, sharded) server for all tests? We're eating the cost of not cleaning up correctly already, so the non-shared e2e does not have a huge benefit in CI.

[2022-08-04 15:19] ncdc commented on #1675
I am 💯 in favor of getting rid of the CI tests that spin up 1 kcp per test package, i.e. switch to shared everywhere we can

[2022-08-04 15:24] ncdc commented on #1675
in what regard?

[2022-08-04 15:36] fgiloux opened #1684 "Issue navigating with "kubectl kcp workspace use""
**Describe the bug**
After creating a workspace (org in this case) navigating back to root I am not able to navigate back to the organisation using `kubectl kcp workspace use`

**To Reproduce**
[code]

[2022-08-04 15:37] fgiloux commented on #1684
cc @davidfestal

[2022-08-04 15:43] fgiloux commented on #1684
For the sake of completeness:
[code]

[2022-08-04 16:02] stevekuznetsov commented on #1675
The way I see it, the cost of shared tests is that test logic needs to handle multi-tenancy. The benefit of single-kcp-per-test is that it's hermetic. Since we run shared tests in CI anyway, we already need to handle the extra issues, so the hermetic benefit is kind of moot, since you only merge when all suites pass.

[2022-08-04 16:16] davidfestal commented on #1684
In order to have the `test` organization listed by `kubectl get workspaces`, you will need to be bound to the following permissions in the `root` workspace:
[code]
In addition with the typical permission you need to have access to the `test` workspace content:
[code]
Listing/getting **workspaces definitions** and having access to **workspace contents** are now 2 things orthogonal. And the permissi

[2022-08-04 16:17] davidfestal commented on #1684
@fgiloux Can you check that adding the 2 permissions mentioned [above](https://github.com/kcp-dev/kcp/issues/1684#issuecomment-1205469791) in a cluster role bound to your user fixes your problem ?

[2022-08-04 16:20] stevekuznetsov commented on #1684
Does `kubectl kcp workspace create --enter` handle the RBAC for the user? Do users always need to remember to do the RBAC>

[2022-08-04 17:05] astefanutti commented on #1335
The main tasks have been delivered as part of the 0.6.0 release:

- [x] For 1) Compute service APIExport: fixed with #1244 as part of #1219.
- [x] For 2): Adding support for create, delete and deletecollection operations in the virtual workspace API server, so it's not limited to read-only operations (see https://github.com/kcp-dev/kcp/issues/1253).

Let me close this.

[2022-08-04 17:05] #1335 closed

[2022-08-04 17:53] davidfestal commented on #1684
Good question @stevekuznetsov.

`kubectl kcp workspace create --enter` creates the required named `get` and `delete` permissions for the created workspace.

So in the initial org the user can `get` the newly-created worspace or `delete` it any without additional action.
And if the user already had the `list` permission on `clusterworkspaces/workspace` in the initial org, he would also see the newl

[2022-08-04 19:54] fgiloux commented on #1684
Thanks @davidfestal and @stevekuznetsov both worked and both are good to know.

[2022-08-05 13:17] chrisahl opened #1689 "kcp CLI should support --kubeconfig parameter"
**Is your feature request related to a problem? Please describe.**
When having to issue a series of multiple `kubectl` commands to multiple different kube servers it can sometimes be easier to pass in the `--kubeconfig=` parameter to each command instead of having to set env. var. KUBECONFIG.  It would be helpful if  `kubectl kcp` supported the `--kubeconfig=` parameter

**Describe the solution yo

[2022-08-05 13:28] ncdc commented on #1689
/assign

[2022-08-05 16:08] ncdc opened #1690 "Enable audit logging for e2e-launched kcp servers"
cmd/test-server enables the audit log via https://github.com/kcp-dev/kcp/blob/ae51c2b1d6161391a09ddbc03756b7b7daa89eac/cmd/test-server/kcp/shard.go#L73-L84 and https://github.com/kcp-dev/kcp/blob/ae51c2b1d6161391a09ddbc03756b7b7daa89eac/cmd/test-server/main.go#L83.

It would be helpful to also have audit logging enabled for e2e-launched kcp servers (started via https://github.com/kcp-dev/kcp/blob/

[2022-08-05 16:41] ncdc opened #1693 "Home workspace creation failure"
In https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kcp-dev_kcp/1673/pull-ci-kcp-dev-kcp-main-e2e-multiple-runs/1554909491965726720, we saw the attempt to create a child workspace in a not-yet-created home workspace hierarchy fail. This test usually succeeds, so it's presumably some sort of issue where informers are slow to catch up, and we are in an unintentional permanent failur

[2022-08-05 17:37] stevekuznetsov opened #1694 "Use Structured Logging to Facilitate Better Observability"
# Demo Objective
- [ ] Admin should be able to filter and query `kcp` logs to determine what actions were taken for a specific workspace, a specific object, or as a result of a specific event.
- [ ] End-to-end tests should filter & clarify the logs to provide a dev with only the pertinent logs on failure

# Demo Steps
1. Developer runs an end-to-end test that fails
1. Built-in code determines whic

[2022-08-05 19:51] stevekuznetsov commented on #1694
Logging level suggestions from @sttts

- stopping/starting controller - V(0)
- enqueue key - V(2)
- dequeue key - V(4)
- per-key comments
  - processing - V(1)
  - client calls - V(2)
  - something not done - V(4)
- errors - logger.Error()

[2022-08-05 21:09] lionelvillard commented on #1465
I'm happy to take a stab at this one. I'm quite close to have a fully working prototype.

I don't want to step on anyone toes, let's me know if that's ok, thx! @sttts @ncdc

[2022-08-05 21:54] sttts opened #1697 "permissionclaim: SubjectAccessReview and other non-CRUD APIs shouldn't be claimable"
SubjectAccessReview and other similar APIs can now be claim. This shouldn't be the case.

_Originally posted by @sttts in https://github.com/kcp-dev/kcp/pull/1676#issuecomment-1206893589_

[2022-08-06 00:06] #1544 closed

[2022-08-06 00:19] robinbobbitt commented on #1697
@sttts no problem. Can you tell me the list that shouldn't be there and/or how I can determine them? Thanks!

[2022-08-06 08:32] sttts commented on #1697
[code]

[2022-08-06 08:32] sttts commented on #1697
[code]

[2022-08-08 16:26] ncdc commented on #1654
Unable to reproduce locally. My current theory is it has something to do with the deployment topology where there is a separate virtual workspaces container. Might not be it, but it's hard to do an apples-to-apples test without that.

[2022-08-08 16:28] ncdc opened #1702 "Add option to cmd/test-server and/or cmd/sharded-test-server to deploy the virtual workspaces server standalone"
This should be optional, and match the way the Helm chart deploys the virtual workspaces server in a standalone container, e.g.

https://github.com/kcp-dev/helm-charts/blob/d3c0a50c6dc3f61421305156b5c7e93fd83c35db/charts/kcp/templates/kcp.yaml#L205-L206

https://github.com/kcp-dev/helm-charts/blob/d3c0a50c6dc3f61421305156b5c7e93fd83c35db/charts/kcp/templates/kcp.yaml#L283-L304

[2022-08-08 16:29] ncdc commented on #1654
Just filed #1702 for the virtual workspaces standalone test mode

[2022-08-08 18:10] stevekuznetsov commented on #1702
@sttts and I were talking about this - sounds like we might want three tests in the end:

- non-sharded e2e for control plane, in-process
- sharded e2e for control plane, deployed to a k8s cluster (this issue would fit here)
- e2e for TMC, deployed to k8s

[2022-08-08 19:08] #1388 closed

[2022-08-09 14:56] sttts opened #1714 "Community Meeting Aug 9, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-08-09 14:56] sttts commented on #1714
Incoming issues: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+-label%3Acommunity-meeting+no%3Amilestone

Milestone epics: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+label%3Amilestone-blocker+label%3Aepic

[2022-08-09 15:00] ncdc commented on #1714
Slack channel rename?

[2022-08-09 15:02] shaunaksen09 commented on #541
I can take it up and do some deep dive @ncdc

[2022-08-09 15:03] p0lyn0mial commented on #1714
the `e2e-sharded` CI job runs with two shards.

to run a multi-shard environment on your local machine use:  `./bin/sharded-test-server --number-of-shards=2`

[2022-08-09 15:04] stevekuznetsov commented on #541
We should not implement this anymore, IMHO. With structured logging not only do we get `reonciler="whatever"` labels, but we get we also get filename/caller annotations as well.

[2022-08-09 15:04] stevekuznetsov commented on #541
@ncdc are you OK with closing this?

[2022-08-09 15:04] stevekuznetsov commented on #221
Implemented with #1694

[2022-08-09 15:06] shaunaksen09 commented on #1644
I would like to take it up and do some deep dive @ncdc

[2022-08-09 15:09] ncdc commented on #1714
0.7 released!

[2022-08-09 15:22] ncdc commented on #1684
The remaining work to improve the UX here is tracked in #1319
/close

[2022-08-09 15:22] #1684 closed

[2022-08-09 15:27] ncdc commented on #1679
Fixed by #1687
/close

[2022-08-09 15:27] #1679 closed

[2022-08-09 15:30] ncdc commented on #1271
@MikeSpreitzer just checking in - any updates to report on this?

[2022-08-09 15:36] #1069 closed

[2022-08-09 15:49] ncdc commented on #541
Yes, thanks for checking
/close

[2022-08-09 15:49] #541 closed

[2022-08-09 17:05] #1697 closed

[2022-08-09 18:32] MikeSpreitzer commented on #1271
No top-level progress yet, I was on vacation and before that focused on the Q2 edge PoC.
I am fighting in https://github.com/kubernetes/kubernetes/pull/111222 and https://github.com/kubernetes/kubernetes/pull/111422 to move plumbing in a good direction.

--
Regards,
Mike

From: Andy Goldstein ***@***.***>
Reply-To: kcp-dev/kcp ***@***.***>
Date: Tuesday, August 9, 2022 at 11:30 AM
To: kcp-dev/kcp

[2022-08-09 19:34] itdove opened #1720 "Can not delete ns in a workspace having a workload"
**Describe the bug**

using kcp local kcp start from main branch, deleting a ns get stuck as some resources are not deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch kcp start
2. Create a workspace
3. Create an APIBinding for compute (in my case I used a kind cluster)
4. Create a workload
5. Apply the syncer.yaml on the physical cluster (kind)
6. The workload is correctly deplo

[2022-08-09 20:23] ncdc commented on #1714
https://www.youtube.com/watch?v=tu79PaXl9KI

[2022-08-09 20:23] #1714 closed

[2022-08-09 21:27] guymguym opened #1722 "create resource with field not declared in schema should return error (instead of just logging `[SHOULD NOT HAPPEN] ...`)"
### Describe the bug

I tried to create a deployment with an extra spec field "serviceName", which not declared in schema
(it was by mistake, I forgot to remove it when converted from statefulset ...)

Creating this deployment in a namepace on kcp did not return any errors and the deployment created, but when I tried to apply it a second time, I got this error in the logs:

[code]

With kind clust

[2022-08-10 04:22] Phaow opened #1723 "Delete specific worksapce multi times, server output fake messages"
**Describe the bug**
Delete worksapce multi times, server output fake messages since the second time
If we already delete 1 ws, delete the second time it should report `not found` err info. But actually  the result is still `[workspace.tenancy.kcp.dev](http://workspace.tenancy.kcp.dev/) "xxxx" deleted` makes confusing.
kcp server version is v0.7.1

**To Reproduce**
Steps to reproduce the behavior:

[2022-08-10 04:31] Phaow opened #1724 "Delete a non-exist workspace the server output fake err info"
**Describe the bug**
Delete a non-exist workspace the server output fake err info.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to user home workspace.
2. Get the workspaces under the home workspace.
3. Delete a non-exist workspace.

**Expected behavior**
At step 3 err message resouce kind not found should be `workspace` not `clusterworkspace`.

**Actual result**
At step 3 err message

[2022-08-10 11:08] philbrookes commented on #1528
== example scenario
- Admin creates some synctargets and assigns them to various locations (loc1, loc2)
- Admin employs the HCG to manage DNS on the applications.
- Admin creates a "developers" workspace for developers in his org and creates a placement there which uses loc1
- Developer uses the "developers" workspace
- Developer creates application using ingress, service and deployments
- Develop

[2022-08-10 20:07] Roming22 opened #1734 "Deliver kubectl-kcp in a container"
**Is your feature request related to a problem? Please describe.**
Our project is using the kubectl-kcp plugin. We'd like to have access to a pre-built binary.

**Describe the solution you'd like**
We'd like to be able to copy the binary from an image delivered by the kcp project.

**Describe alternatives you've considered**
We currently build the plugin ourselves in each of our Dockerfiles.
We co

[2022-08-10 20:10] ncdc commented on #1734
Xref #1092

[2022-08-11 05:15] chetan-rns commented on #1644
[code]

I've observed the same issue intermittently without updating any namespaceSelector

[2022-08-11 10:33] MatousJobanek commented on #1553
Hi, sorry for my late response.
It seems that it works for this particular simple use case.

I wanted to verify that it also works when I define my own initializer in the new CWT, however, since last week I haven't been able to make the initializer controller work - it's built on top of controller-runtime code, but I was the same issue as Michal reported here: https://coreos.slack.com/archives/C02

[2022-08-11 19:55] lionelvillard commented on #498
I'd like to work on this.

/assign

[2022-08-12 10:23] #1500 closed

[2022-08-12 13:00] stevekuznetsov opened #1740 "kubectl kcp --kubeconfig does not work"
[code]

/assign @davidfestal @sttts

[2022-08-12 13:14] stevekuznetsov opened #1741 "kubectl kcp workspace create ... how?"
[code]

What, exactly, am I doing wrong here?

/assign @davidfestal
/cc @sttts @ncdc

[2022-08-12 13:14] ncdc commented on #1740
This is a dupe. I'm working on it

[2022-08-12 13:15] ncdc commented on #1741
Try doing 'make install'

[2022-08-12 13:15] stevekuznetsov commented on #1741
(kcp and plugins are downloaded from the artifacts of v0.7.4)

[2022-08-12 13:15] ncdc commented on #1740
#1689
/close

[2022-08-12 13:16] #1740 closed

[2022-08-12 13:16] stevekuznetsov commented on #1741
Nevermind, bad `$PATH` ... :facep

[2022-08-12 13:18] #1741 closed

[2022-08-12 15:10] stevekuznetsov opened #1742 "syncer stuck on "the server could not find the requested resource""
Reproduce:

[code]

This gets stuck waiting on a Deployment to sync over to the pcluster, but I'm not doing anything special here ... after repro, logs are in `.test/{kcp,syncer}.log`. Attaching logs from my run.

Notably, syncer logs loop forever on:

[code]

[kcp.log](https://github.com/kcp-dev/kcp/files/9320774/kcp.log)
[syncer.log](https://github.com/kcp-dev/kcp/files/9320775/syncer.log)

[2022-08-15 13:21] sttts commented on #1501
Moved back into epic https://github.com/kcp-dev/kcp/issues/1219.

[2022-08-15 13:21] #1501 closed

[2022-08-15 13:43] ncdc commented on #1222
Folded into epic
/close

[2022-08-15 13:43] #1222 closed

[2022-08-15 18:51] #1742 closed

[2022-08-15 21:21] robinbobbitt opened #1751 "APIExport status should indicate when apiresourceschema doesn't exist"
**Describe the bug**
When an APIExport references an apiresourceschema that is not found, status still indicates all is well (IdentityValid "True" and VirtualWorkspaceURLsReady "True"). It's not until you create an APIBinding referencing the export that you get any indication the APIExport is unhealthy. The APIBinding will show "Invalid APIExport. Please contact the APIExport owner to resolve".

*

[2022-08-15 21:49] ncdc opened #1752 "APIExports virtual workspace broken when virtual workspaces are run standalone and an APIExport has permission claims"
When the virtual workspaces process is run standalone, the virtual workspace for an APIExport with permission claims is broken because `indexers.IndexAPIExportByIdentity` is not configured (this only currently happens when the APIExport controller is instantiated, which does not happen in the virtual workspaces process).

[2022-08-15 21:50] ncdc commented on #1752
FYI @sttts @shawn-hurley

[2022-08-15 21:50] ncdc commented on #1752
We need a better/more organized way of installing custom index functions 😄

[2022-08-15 21:51] ncdc commented on #1752
The index is needed here https://github.com/kcp-dev/kcp/blob/137c9c5a2327aa8099a8b242677b8a25e02a9295/pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_reconcile.go#L124

[2022-08-15 21:52] ncdc commented on #1752
Possible quick fix: we could add the index function in this controller too (if it doesn't already exist).

[2022-08-16 04:03] wangke19 opened #1755 "Failed to delete one APIBInding tenancy.kcp.dev object"
** Describe the bug **
When delete one APIBInding tenancy.kcp.dev object, it was stuck in the process of deletion.

[code]

** To Reproduce **
1. Create one personal workspace.2.
[code]

3. Check all APIBIndings
[code]

4. Delete all apibindings
[code]

Checked the yaml file, deletion status as below,
[code]

** Expected Results **
Apibinding object tenancy.kcp.dev can be removed.

[2022-08-16 05:59] sttts commented on #1752
IMO we should have shared and idempotent index adding code used by all controllers/components.

[2022-08-16 06:42] sttts commented on #1506
This currently falls under `reservedmetadata` admission, i.e. only `system:master` users/controllers can change the sync labels. Hence, we are currently on the safe side and this issue is about opening it up.

[2022-08-16 06:43] sttts commented on #813
This will be a requirement when we add nested SSO authn. It's not something we can act on now.

[2022-08-16 06:43] #813 closed

[2022-08-16 06:48] sttts commented on #665
The only left lister based call is for list. The others don't use the auth cache. Having the filtered list lister-based is not perfect but good enough.

Authz of the other requests uses SAR. So I think we can close this timebomb.

[2022-08-16 06:48] #665 closed

[2022-08-16 07:31] jmprusi commented on #1506
@sttts yes! after the `reservedmetadata` changes we are safe, as you say, now we should add a mechanism to for allow external actors to modify this label.

[2022-08-16 07:38] apoorvajagtap commented on #1579
Thanks, @sttts! I have used the generic approach to just keep is as `workspace [command] [flags]`. Let me know your thoughts about #1756

[2022-08-16 10:28] sttts opened #1758 "Community Meeting Aug 16, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/ohf-kwvd-mrp
Or dial: ‪(US) +1 617-675-4444‬ PIN: ‪936 182 087 7398‬#
More phone numbers: https://tel.meet/ohf-kwvd-mrp?pin=9361820877398
Or join via SIP: sip:9361820877398@gmeet.redhat.com

Meetin

[2022-08-16 10:29] sttts commented on #1758
Incoming issues: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+-label%3Acommunity-meeting+no%3Amilestone

Milestone epics: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+label%3Amilestone-blocker+label%3Aepic

[2022-08-16 13:29] s-urbaniak opened #1759 "e2e flake: TestWatchCacheEnabledForBuiltinTypes"
**Describe the bug**
The `TestWatchCacheEnabledForBuiltinTypes` e2e test failed unexpectedly.

**To Reproduce**
Executing `TestWatchCacheEnabledForBuiltinTypes` does not reproduce unfortunately.

**Expected behavior**
e2e to pass green.

**Additional context**
some clue from logs:
![image](https://user-images.githubusercontent.com/375856/184891597-79bdd675-44db-4935-9e37-1cc570d7b4fd.png)

[code]

[2022-08-16 13:32] ncdc commented on #1759
/kind flake

[2022-08-16 13:37] p0lyn0mial commented on #1759
[code]

^ suggest that the test failed on waiting for all informers to synced, for some reason some weren't.

I'll try to see if I can find something that would explain slow informers in the logs

[2022-08-16 13:37] p0lyn0mial commented on #1759
/assign @p0lyn0mial

[2022-08-16 13:50] philbrookes commented on #1758
Added example scenario to: https://github.com/kcp-dev/kcp/issues/1528

[2022-08-16 14:11] shawn-hurley commented on #1752
I agree. Also probably should have a test case that runs the VW server standalone and runs the e2e tests against it.

I wonder if it can still be shared code from the indexer's package, but each controller during construction calls the add this index function.

is that what y'all were thinking?

[2022-08-16 14:16] jmprusi opened #1760 "Syncer doesn't remove the downstream namespace once delete upstream"
**Describe the bug**
When deleting a namespace in kcp (upstream) the resources are removed from the downstream namespace, but the downstream namespace itself is not removed.

**To Reproduce**
Steps to reproduce the behavior:
1. setup kcp with one synctarget
2. create a namespace
3. delete the namespace
4. See the downstream namespace still existing in the synctarget cluster.

**Expected behavior**

[2022-08-16 14:23] ncdc commented on #1752
Agreed, but what does it look like? Do we have some central place where we collect all the index functions along with a one-line call we can invoke to add them?

#1702

[2022-08-16 14:33] sttts commented on #1752
we do. You added it :D pkg/indexers

The code would try to add and skip the complaint if it already exists. If we make the index names unique enough, no unwanted conflict should ever happen, i.e. around `kcp-global-byFooBar`.

[2022-08-16 14:41] p0lyn0mial commented on #1759
https://github.com/kcp-dev/kcp/pull/1761 - will put less load on the server

[2022-08-16 14:42] ncdc commented on #1752
Right, although I was more asking about the overall structure/invocation pattern. e.g. do we remove every index addition from individual controller files and centralize the setup in pkg/indexers?

[2022-08-16 14:55] ncdc commented on #1752
/assign

[2022-08-16 14:58] shawn-hurley commented on #1752
Adding my two cents, I think it would be helpful if each controller made sure to ask for the indexers that it needs during construction. It would allow, say API export virtual workspace to be run standalone someday if that was ever needed.

[2022-08-16 14:58] ncdc commented on #1758
cluster-scoped quota design doc https://docs.google.com/document/d/15LR7fecEwh0Fupo5m3Yh3rtGy81eEGSZhh8heHqttAQ/edit#

[2022-08-16 15:05] stevekuznetsov opened #1763 "kubectl kcp workload sync: default a syncer image"
As a user installing a `SyncTarget` using `kubectl kcp workload sync`
I want the version/image of the syncer being deployed to have a sensible default
So that I do not have to worry about determining the correct version or understanding version skew policies

/cc @davidfestal

[2022-08-16 15:06] philbrookes commented on #1528
@philbrookes to set up a call to discuss potential implementations.

[2022-08-16 15:11] davidfestal commented on #1528
I'm interested in attending the call.

[2022-08-16 15:17] stevekuznetsov opened #1764 "kcp should warn version-skewed clients"
As a user of `kubectl kcp` or the `syncer`
I want the `kcp` server to let me know that I'm not going to function correctly when my version is out-of-date
So that I spend less time debugging random failures

note: we *could* also be bumping our API versions much more quickly, and do this at the API level, but that may be much more heavyweight. For now, enforcing version equality (to the Z stream) b

[2022-08-16 15:27] ncdc commented on #1722
@guymguym could you please create a CRD (any CRD will do), install it in kind, then try to create a CR with a field that doesn't exist in the CRD's schema, and report back what it does?

[2022-08-16 15:39] ncdc commented on #1752
@shawn-hurley see what I've started in #1762 & let me know what you think

[2022-08-16 16:00] ncdc commented on #1758
https://www.youtube.com/watch?v=Y3S8rw-jhF8

[2022-08-16 16:00] #1758 closed

[2022-08-16 16:03] guymguym commented on #1722
@ncdc Sure, I used the CRD from the kubernetes example -

https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/
and created this resource yaml:

[code]

And got this error on kind:

[code]

[2022-08-16 16:35] wangke19 commented on #398
Reproduced on v0.7.1

$ k version -o yaml
clientVersion:
  buildDate: "2022-06-15T14:22:29Z"
  compiler: gc
  gitCommit: f66044f4361b9f1f96f0053dd46cb7dce5e990a8
  gitTreeState: clean
  gitVersion: v1.24.2
  goVersion: go1.18.3
  major: "1"
  minor: "24"
  platform: darwin/amd64
kustomizeVersion: v4.5.4
serverVersion:
  buildDate: "2022-08-09T18:22:25Z"
  compiler: gc
  gitCommit: c4c1214
  gitTre

[2022-08-16 16:49] ncdc commented on #1760
@jmprusi is this a duplicate of #398?

[2022-08-16 17:00] ncdc opened #1768 "Unable to determine from audit log why workspace access was not permitted"
Given an audit event such as (some fields omitted/redacted):
[code]

it's not possible to determine why access was not permitted. We need to add more audit annotations to provide additional details.

/assign

[2022-08-16 19:35] ncdc commented on #1307
#1767 implements annotations for content & toplevel

[2022-08-16 20:35] ncdc opened #1770 "image building is broken re verifying go versions"
See e.g. https://github.com/kcp-dev/kcp/runs/7865988023?check_suite_focus=true:

[code]

/kind bug
/assign

[2022-08-16 20:42] ncdc commented on #1666
This was fixed in #1617
/close

[2022-08-16 20:42] #1666 closed

[2022-08-16 20:49] ncdc commented on #1008
This is done
/close

[2022-08-16 20:49] #1008 closed

[2022-08-16 20:55] #1752 closed

[2022-08-16 20:57] ncdc commented on #1134
/assign

[2022-08-16 22:43] sttts commented on #1723
Fixed in https://github.com/kcp-dev/kcp/issues/1776.

[2022-08-16 22:45] #1770 closed

[2022-08-17 08:24] qiujian16 opened #1777 "specify apiexport in synctarget"
it should be able to specify apiexports of another workspace in synctarget. The controller should updated the status.syncedResource in syncatarget indicating whether the resource schema from the APIExport is compatible with the API schema on the physical cluster.

This is part of the epic https://github.com/kcp-dev/kcp/issues/912 to support location(compute) workspace.

- [x] synctarget API update

[2022-08-17 08:29] qiujian16 opened #1778 "only serve compatible APIs from synctarget virtual workspace"
followup of https://github.com/kcp-dev/kcp/issues/1777

the synctarget virtual workspace should only serve compatible APIs to the synctarget.

This is part of the epic https://github.com/kcp-dev/kcp/issues/912 to support location(compute) workspace.

[2022-08-17 08:32] qiujian16 opened #1779 "Schedule synctarget based on compatible API"
followup of https://github.com/kcp-dev/kcp/issues/1777

in the user workspace, when user creates a placement to schedule workloads to a synctarget in a location. The scheduler should select the synctarget that has the compatible API with workload APIBinding in this user workspace.

This is part of the epic https://github.com/kcp-dev/kcp/issues/1895 to support compute type management.

[2022-08-17 11:32] bipuladh commented on #1097
I would like to take this if no one is working on this.

[2022-08-17 12:40] stevekuznetsov commented on #1097
/assign @bipuladh

[2022-08-17 14:33] ncdc commented on #1693
Seen again in https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kcp-dev_kcp/1767/pull-ci-kcp-dev-kcp-main-e2e-multiple-runs/1559894589958000640, but sadly the kcp log files are missing 😦

[2022-08-17 14:40] ncdc commented on #1693
Found one with logs: https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/pr-logs/pull/kcp-dev_kcp/1739/pull-ci-kcp-dev-kcp-main-e2e-multiple-runs/1557721098336866304/artifacts/e2e-multiple-runs/e2e-multiple-runs/artifacts/TestUserHomeWorkspaces/Create_a_workspace_in_the_non-existing_home_and_have_it_created_automatically_in-workspace_request/1242573310/artifacts/kcp/main/

[2022-08-17 18:49] lionelvillard opened #1784 "Cannot sync horizontalpodautoscalers.autoscaling"
**Describe the bug**

I'm getting this error when trying to sync `horizontalpodautoscalers.autoscaling`:

[code]

This is strange because it works for `deployments.apps` and `poddisruptionbudgets.policy`.

**To Reproduce**
Steps to reproduce the behavior:

Create a syncer with `--resources=horizontalpodautoscalers.autoscaling`, apply it and observe error aforementioned.

**Expected behavior**
A cl

[2022-08-17 18:56] ncdc commented on #1784
Need to add `autoscaling` to https://github.com/kcp-dev/kcp/blob/11138a2647f6bd4fb636746b6a1f093ffab988d1/pkg/admission/apiresourceschema/validation.go#L41

/help
/good-first-issue

[2022-08-17 19:51] lionelvillard commented on #1784
/assign

[2022-08-17 22:12] ncdc opened #1786 "Confusing error message when trying to create an APIBinding that points to a workspace whose top-level workspace does not exist"
If you create an APIBinding with `.spec.reference.workspace.path` to a non-existent top-level workspace (or descendent thereof), you get the following error:

[code]

This comes from https://github.com/kcp-dev/kcp/blob/1b6cde3443ae9fc2710cd4680258dd30ec8c4eb1/pkg/admission/apibinding/apibinding_admission.go#L203

We are not currently including the reason from the call to `authz.Authorize` on L200.

[2022-08-17 22:15] ncdc opened #1787 "Syncer deletes the kcp-root-ca.crt downstream configmap when its upstream kube-root-ca.crt still exists"
The syncer is deleting the kcp-root-ca.crt configmap from the downstream cluster when kube-root-ca.crt still exists upstream. Not sure yet why.

Original description:
~As seen on one of @robinbobbitt's OpenShift clusters, a syncer was up for 4+ days, but it didn't appear to be doing resyncs (which are supposed to be every 10 hours). The user-facing issue is that in kcp workspaces, we have the `kub

[2022-08-17 22:22] #1784 closed

[2022-08-18 08:17] s-urbaniak commented on #1786
@ncdc to separate the two cases you mentioned:

1. `error: failed to create configmap: namespaces "asdf" not found`

This does not come from the internal k8s authorizer but rather from client code https://github.com/kubernetes/kubernetes/blob/83c98542aa4b09198ec3c399666b5798f314cbd2/staging/src/k8s.io/kubectl/pkg/cmd/create/create_configmap.go#L240.

Here, the authorizer passed succesfully. Simila

[2022-08-18 13:56] vidyanambiar opened #1792 "Unable to edit labels on a workspace"
**Describe the bug**
I'm unable to edit labels on my workspace.

**To Reproduce**
Steps to reproduce the behavior:
1. Install kcp plugin using the kcp repo's `main` branch
2. Switch context to `kcp-unstable` (The same behavior was seen on `kcp-stable` with v0.7.4 as well)
4. Go to the home workspace `kubectl ws '~'`
5. Create a workspace under here `kubectl kcp workspace create test-edit`
6. Run `

[2022-08-18 15:49] stevekuznetsov commented on #1792
Did we remove update status from the virtual workspace on purpose, @davidfestal ? Do we expect users to be able to e.g. label workspaces?

[2022-08-18 16:19] ncdc opened #1793 "Add APIBinding initialization to ClusterWorkspaceType"
Let's make it possible for the ClusterWorkspaceTypeSpec to define APIBindings that are created when a ClusterWorkspace is initialized.

Proposed API change:

- Add the following to `ClusterWorkspaceTypeSpec`
[code]

Proposed implementation change:

- Option 1: modify clusterworkspacetype admission to create the bindings when a clusterworkspace is created
    - This would increase the amount of tim

[2022-08-18 16:22] stevekuznetsov commented on #1793
If option 2 is going through the initializing workspaces virtual workspace (say that ten times ... ), it will implicitly have the write-once contract you want.

[2022-08-18 16:22] stevekuznetsov commented on #1793
Supersedes #1341

[2022-08-18 16:38] ncdc opened #1794 "Add support for group membership via the front-proxy"
For setups where an identity provider does not necessarily provide user groups that align with the workspace hierarchy in kcp, it would be nice to have a stop-gap solution to manage group membership in kcp itself.

The idea we'd like to explore is modifying the front proxy so it can read group membership data from somewhere with kcp itself, such as one or more configmaps. When a user makes a reque

[2022-08-18 16:38] ncdc commented on #1794
cc @s-urbaniak

[2022-08-18 17:03] stevekuznetsov opened #1795 "Run End-to-end Tests With Minimal Permissions"
Right now, we're not really testing all of the branches of the authorizer(s) and/or getting feedback on how normal users will need to interact with the system, as we're using the `kcp-admin` account (part of `system:masters`) to run all end-to-end tests.

We should instead create `ServiceAccounts` with explicit, minimal privileges for tests.

/cc @sttts @s-urbaniak @ncdc

[2022-08-18 17:11] aojea commented on #333
I have the implementation working https://github.com/kcp-dev/kcp/pull/873, however, I can not find the right place to plumb it in the handlers chain.

If someone can pair program with me for 1 or 2 hours we can have it in,

[2022-08-18 17:17] ncdc commented on #333
Please set up a time with me today or tomorrow if that works for you

[2022-08-18 17:18] stevekuznetsov opened #1796 "Deploy KCP Proof-of-Concept on CRDB"
# Demo Objective
- [ ] `kcp` should run with a CRDB backend

# Action Items

- [ ] land a refactor to `kcp-dev/kubernetes` that abstracts the client used by `*etcd3.store{}` based on work from Han [here](https://github.com/logicalhan/kubernetes/commit/334e4735758625f66ebd625886f3127507ac61b4)
- [ ] [async] upstream the refactor to `kubernetes/kubernetes`
- [ ] implement the interface with CRDB in

[2022-08-18 17:21] stevekuznetsov commented on #221
/close

[2022-08-18 17:21] #221 closed

[2022-08-18 17:22] stevekuznetsov commented on #1694
For user-facing (terminal) logs, refer to @sttts experiments with [`zap`](https://github.com/sttts/kcp/commit/f2ee2d19084353819442bd78d60f823abff50493) and [`zerolog`](https://github.com/sttts/kcp/commit/1a4555e0403b3f8761f1faef0c276a8836a2c1a4)

[2022-08-18 17:25] stevekuznetsov commented on #1694
FWIW, finding items that need to be updated:

[code]

[2022-08-19 11:45] ncdc commented on #1654
Am able to reproduce now. The partial metadata informer is trying to request `/clusters/*/apis/tenancy.kcp.dev/v1beta1/workspaces` from the kcp process, which gets redirected via the front proxy to the virtual-workspaces container, and we see this error

[code]

[2022-08-19 11:56] ncdc commented on #1787
From @robinbobbitt - syncer logs showing the syncer deleting it!

[code]

[2022-08-19 13:07] ncdc commented on #1787
/retitle Syncer isn't applying name transformations before checking if a resource exists downstream

[2022-08-19 13:24] ncdc opened #1801 "npe in schemacompat"
[code]

https://github.com/kcp-dev/kcp/blob/65ef698085ce5c5f848fab4e174d531d4cdec6c4/pkg/schemacompat/schemacompat.go#L364

`new.AdditionalProperties` can be nil - need to guard against that

[2022-08-19 15:25] #1801 closed

[2022-08-19 16:25] ncdc commented on #1654
This is happening because the partial metadata informer client is the loopback client, which is not valid against an external virtual workspaces process

[2022-08-19 19:00] ncdc opened #1806 "Redirect issues with Workspaces and standalone virtual-workspace server"
When the partial metadata informer is trying to request `/clusters/*/apis/tenancy.kcp.dev/v1beta1/workspaces` from the kcp process, this gets redirected to the front proxy, and we see this error

[code]

We need to figure out how to handle situations where the loopback client might get redirected to another URL where it can't validate the certificate.

_Originally posted by @ncdc in https://github

[2022-08-19 19:01] ncdc commented on #1806
FYI @sttts @p0lyn0mial
@stevekuznetsov @csams from our discussion today

[2022-08-19 19:07] ncdc opened #1807 "Front-proxy topology: cluster_authentication_trust_controller error"
Seeing this happen multiple times (and then periodically) in a topology with the front-proxy (`sharded-test-server`):

[code]

Do not see this without the proxy (`test-server`)

[2022-08-19 19:10] ncdc commented on #1807
I'm not sure we need this controller running?

// that holds information about how to aggregated apiservers are recommended (but not required) to configure themselves.

We don't support aggregated apiservers.

Oh... but I just found this:

So it sounds like webhooks should be checking this configmap?

@sttts

[2022-08-19 19:39] ncdc commented on #845
/help
/good-first-issue

[2022-08-19 19:41] ncdc commented on #1647
Am able to reproduce

[2022-08-19 19:50] #1654 closed

[2022-08-19 20:57] ncdc commented on #1647
This is happening only for built-in Kubernetes types that we are supporting as CRDs, such as Deployments. It does not happen with "normal" CRDs. The root cause is from https://github.com/kcp-dev/kubernetes/blob/b6a732dbd0139dc4a1f14ca188befc9bd56ade5b/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go#L526:

Because we support using CRDs to represent built-in Kubernetes types (e.g. deplo

[2022-08-19 21:23] ncdc commented on #1647
Kube fork fix: https://github.com/kcp-dev/kubernetes/pull/92

[2022-08-20 01:16] #1647 closed

[2022-08-21 17:49] jmprusi commented on #1760
yes! sorry!

[2022-08-21 17:49] #1760 closed

[2022-08-22 09:18] #1720 closed

[2022-08-22 12:02] pweil- commented on #1219
@shawn-hurley 0.8 check in here.

*Demo objectives*
`Service provider should be able to ask for additional permissions when creating an API Export for when the API is bound` - I believe this can be checked off as complete.  The remaining tasks seem to be about limiting scope and security.  Correct?

*Stories*

are these scoped for delivery in 0.8?  If not can you update the description with expect

[2022-08-22 12:10] pweil- commented on #1271
0.8 check in here.  It looks like we're 2 weeks out for 0.8 closure and are waiting on upstream PRs.  I am going to shift this to 0.9 but please correct me if you still plan on delivering something for 0.8.

[2022-08-22 12:25] pweil- commented on #1615
I see we bumped this to 0.9.  Thanks for updating that.  @guymguym Quick question, is anything completing in 0.8 that we should update the description to reflect?  Specifically, the first story is Define & document new apis , is that going to land in the next 2 weeks before 0.8 closes?

[2022-08-22 12:36] stevekuznetsov commented on #1615
Are we expecting explicit user intent (via `Location`) to determine that failover is possible, or should the system understand compatibility based on the networking/PV availability?

[2022-08-22 12:47] #610 closed

[2022-08-22 13:55] MatousJobanek commented on #1553
I'm sorry for the delay - it seems to be fixed. Thanks a lot

[2022-08-22 13:55] #1553 closed

[2022-08-22 14:55] MatousJobanek opened #1812 "bug: Custom workspace initializer fails with "cluster <workspace> had no user recorded" when doing API discovery"
### Describe the bug

I created a custom CWT with an initializer. As the first thing, the initializer makes an API discovery call in the workspace that is being initialized, but it fails with an error:
[code]

### Steps To Reproduce

1. create a custom CWT with an initializer that makes a discovery call to the workspace that is being initialized
2. deploy the initializer
3. create a workspace of t

[2022-08-22 16:30] stevekuznetsov commented on #1812
How did you create the new `ClusterWorkspace`? Can you confirm that it does not actually have any annotation?

[2022-08-23 08:43] MatousJobanek commented on #1812
I used the standard `k ws create` command:
[code]
from the logs of the initializer:
[code]

[code]

[2022-08-23 11:49] stevekuznetsov opened #1814 "Community Meeting August 23, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/mpd-cypd-sdp
Or dial: ‪(DE) +49 30 300195060‬ PIN: ‪500 599 130 5702‬#
More phone numbers: https://tel.meet/mpd-cypd-sdp?pin=5005991305702
Or join via SIP: sip:[5005991305702@gmeet.redhat.com](mail

[2022-08-23 13:21] pweil- commented on #1814
General announcement:  0.8 target closing date is 2 Sep.  It's time to think about 0.9 work items.  I've seeded the work packages doc with our continue/new topics for people to revise: https://docs.google.com/document/d/1jN6BdhUUIESeHw3_f6HwsNwVM2Ytabr6usUQhYMcNd8/edit#heading=h.xcoe1xfb45ca

[2022-08-23 15:02] stevekuznetsov commented on #1814
Incoming issues: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+-label%3Acommunity-meeting+no%3Amilestone

Milestone epics: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+label%3Amilestone-blocker+label%3Aepic

[2022-08-23 15:13] stevekuznetsov commented on #1795
Outside of the authorizer tests, we are basically going to benefit from unprivileged clients from a DX perspective.

[2022-08-23 15:18] stevekuznetsov commented on #1794
cc @csams

[2022-08-23 15:19] stevekuznetsov commented on #1792
From the community meeting: sounds like this was just not implemented in the past, we need to figure out what the user should be able to change about a Workspace and what RBAC would allow them to do this.

[2022-08-23 15:23] stevekuznetsov commented on #1777
@qiujian16 it looks like this might be finished - if that's true, are we ready to close this out?

[2022-08-23 15:35] #1814 closed

[2022-08-23 16:00] pweil- commented on #1814
Recording: https://drive.google.com/file/d/1PpPt-ivEYx6SJmw0oe4Dt-BtbkwDfelH/view?usp=drive_web

(will need shared once the owner is back)

[2022-08-23 17:20] stevekuznetsov opened #1816 "feat: expose the list of available workspace types to a user"
### Feature Description

As a user creating a new workspace
I would like to see the workspace types which I can use for my new workspace
So that I can choose one when creating it

### Proposed Solution

Type definitions you can use can exist at an arbitrary number of workspaces in the hierarchy you're in (and I guess outside of it?), so it's not clear to me how a user would go about this. A virtua

[2022-08-23 17:59] stevekuznetsov opened #1818 "bug: kcp apiserver does not serve openapi specifications"
### Describe the bug

The `/clusters/foo/openapi` endpoints for kcp apiserver return the kubernetes OpenAPI spec.

### Steps To Reproduce

[code]

### Expected Behaviour

We generate the definitions, so I imagine we want to serve them? This would also be nice to allow downstream users to generate clients in non-Go SDKs.

### Additional Context

_No response_

[2022-08-23 18:05] stevekuznetsov commented on #1812
@davidfestal determined that the workspaces virtual workspace simply does not add the annotation when creating the workspace. Should be an easy fix.

[2022-08-24 00:51] qiujian16 commented on #1777
yes. it can be closed
/close

[2022-08-24 00:51] #1777 closed

[2022-08-24 08:43] chetan-rns opened #1820 "feat: Allow syncing of special resources from the SyncTarget to the workspace."
### Feature Description

In some cases, operators expect specific standard resources/namespaces to be already present in the Cluster. For e.g, the gitops-operator assumes the `admin` ClusterRole and other OpenShift config resources are existing and tries to access them. And the gitops-service tries to access the `kube-system` namespace resource. This assumption holds when the operator is deployed

[2022-08-24 10:04] pweil- commented on #1337
@davidfestal this looks like it still needs details.  Still on the 0.8 list or do we need to push to 0.9?

[2022-08-24 10:07] pweil- commented on #1671
0.8 Check in here.  I don't see anything scoped per milestone, can we break down this epic more to see what is expected when?  Thanks!

[2022-08-24 10:12] pweil- commented on #209
0.8 check in here.  Still on track to land in 0.8?

[2022-08-24 10:17] pweil- commented on #348
0.8 check in, on track to land?

[2022-08-24 10:24] pweil- commented on #981
0.8 check in.  It is unclear what is to be delivered in the 0.8 milestone.  Can we specify in the description?

[2022-08-24 10:32] pweil- commented on #1219
cc @stevekuznetsov for 0.8 check in

[2022-08-24 10:38] pweil- commented on #1490
0.8 check in here.  Are all remaining items expected to land?  If not can we put a milestone breakdown the description?  Thanks!

[2022-08-24 10:40] pweil- commented on #1490
one more quick question, is this part of https://github.com/kcp-dev/kcp/issues/981?

[2022-08-24 10:42] pweil- commented on #1631
@shawn-hurley @s-urbaniak is this part of https://github.com/kcp-dev/kcp/issues/1219?  Still on track for 0.8?

[2022-08-24 10:44] p0lyn0mial commented on #348
I think this will be part of https://github.com/kcp-dev/kcp/issues/1225 effort when we start using the cache server from shards.

Some work already has been done, like reading identities from a local config map https://github.com/kcp-dev/kcp/pull/1727

[2022-08-24 11:38] p0lyn0mial commented on #1806
unfortunately, this issue hits also any controller that needs to deal with an external vw server, like the `apibinding_deletion_controller` (controllers use `c.identityConfig = rest.CopyConfig(c.GenericConfig.LoopbackClientConfig)`

[code]

it also affects users accessing workspaces, i.e.
[code]

[2022-08-24 11:44] p0lyn0mial commented on #1806
Maybe we need a proxy rather than a simple redirection? The proxy could verify the vw server cert.

[2022-08-24 12:15] stevekuznetsov commented on #1820
It's not entirely clear to me how we would work around these types of "object" requirements, since for e.g. `ClusterVersion` they also would mean that the controllers could only run against one pcluster?

cc @davidfestal @jmprusi

[2022-08-24 12:55] ncdc commented on #1806
Unable to connect to the server: x509: certificate is valid for 192.168.32.104, not 127.0.0.1

This is dependent upon the deployment topology. We have a topology where this URL redirects to the front proxy (which then maps it into the virtual workspaces container). In this setup, a client is able to validate the front proxy's certificate correctly and everything works.

[2022-08-24 13:06] ncdc commented on #1814
Recording: https://www.youtube.com/watch?v=k7DbS5sHlnY

[2022-08-24 13:24] ncdc commented on #1820
@chetan-rns could you give a specific list of resources and use cases for each one?

[2022-08-24 14:00] s-urbaniak opened #1821 "docs: enhance virtual workspaces/apiserver documentation"
### Feature Description

Currently we have https://docs.google.com/document/d/1LDVQkCrX2Euu538XuH_cY8UbSnoKCLPJ-hEM1PHa3zE/edit#heading=h.qu0ei7nbzxvn which gives a high level overview about virtual workspaces and virtual apiservers.

### Proposed Solution

We should update this document, add and fix missing terminology, and move the content into https://github.com/kcp-dev/kcp/blob/main/docs/virtu

[2022-08-24 14:41] ncdc opened #1822 "bug: APIBinding with naming conflicts is not automatically fixed when the older/conflicting APIBinding is removed"
### Describe the bug

If you create a 2nd APIBinding that conflicts with another valid APIBinding, and then delete the older APIBinding, the 2nd APIBinding is not automatically reprocessed to see if the conflicts are resolved

### Steps To Reproduce

1. Create an APIBinding A that binds some GroupResource GR
2. Create another APIBinding B that binds to a different APIExport that also exports GR
3.

[2022-08-24 14:48] ncdc commented on #1615
A `Location` is generally meant to act like a single cluster, i.e. workloads should be able to move among `SyncTargets` in a `Location`. This means networking and storage need to be fluid and compatible. There is also the idea of "cells" (xref #1622) that allows for a `Location` to be further subdivided, if you don't want to consider an entire `Location` to be 100% fluid.

[2022-08-24 14:51] pweil- commented on #1631
ack, thanks!  We'll leave the fix version as is for now.

[2022-08-24 14:56] ncdc commented on #1671
I started looking into this before my PTO. I will get it updated this week. Going to move to 0.9 for the time being.

/milestone v0.9

[2022-08-24 15:07] stevekuznetsov commented on #209
This requires #1813 ... hard maybe.

[2022-08-24 15:08] stevekuznetsov commented on #1821
In case you're not going to be the one to pick this up, what kinds of questions should the new doc aim to answer? What items / concepts / workflows should someone walk away with after reading the doc?

[2022-08-24 15:10] stevekuznetsov commented on #1490
yes

[2022-08-24 15:23] astefanutti opened #1823 "feat: Transparent Discovery API calls to APIExport virtual workspace server"
### Feature Description

Currently, the APIExport VW API server rejects any requests that does not specify a logical cluster, i.e., that does not have the `/clusters/<logical_cluster>` segment:

https://github.com/kcp-dev/kcp/blob/a1cbfc55ef10d9671f824de8f7921ebd59465ae9/pkg/virtual/apiexport/builder/build.go#L97-L103

That prevents some existing controllers / operators to run on kcp, as they cons

[2022-08-24 15:25] guymguym commented on #1722
BTW I see that the feature gate for `ServerSideFieldValidation` was changed to default true in 1.25 although my kind cluster is still 1.24 and does not have this feature gate in the api server args -

https://kubernetes.io/blog/2022/08/23/kubernetes-v1-25-release/#promoted-server-side-unknown-field-validation-to-beta

[2022-08-24 15:27] stevekuznetsov commented on #1823
A round-tripper in the `*rest.Config` should be able to rewrite the host correctly for this case. There are related questions about creating "bare" controller-runtime clients and using them

/cc @ncdc

[2022-08-24 16:18] pweil- commented on #981
updated to add #1490 and move unfinished, un-milestoned items to a separate list

[2022-08-24 17:10] nrb opened #1824 "Add a linter for structured logging to CI"
CI checks should enforce changes made in #1694 so that we don't regress.

We can use https://github.com/kubernetes-sigs/logtools for this, though https://github.com/kubernetes-sigs/logtools/pull/3 is needed to make it work within KCP.

[2022-08-24 17:15] varshaprasad96 commented on #1490
It maybe a bit difficult, but I'll make sure that at least the PRs are up for all.

[2022-08-24 18:40] ncdc commented on #1823
An existing controller/operator that you want to run without code changes must be pointed at a single workspace. You can't point it at the APIExport virtual workspace URL and have it work. Even if we fix discovery to support `/api` and `/apis` without requiring `/clusters/<something>`, the existing code won't know how to act across different workspaces.

The APIExport virtual workspace URL is not

[2022-08-24 19:58] astefanutti commented on #1823
I'm aiming at porting an existing operator to work on kcp, with a single instance able to work across workspaces, while minimising the code changes required, to increase their "acceptability". Naively, I have initially assumed that changing the controller-runtime manager, configured with the APIExport VW URL, and propagating the logical cluster context would be enough. I've faced that issue with d

[2022-08-24 20:12] ncdc commented on #1823
Is your code using discovery directly?

[2022-08-24 20:26] astefanutti commented on #1823
Yes.

To give a bit more details, here is the existing operator: https://github.com/apache/camel-k, and an example of how discovery is called:

https://github.com/apache/camel-k/blob/36076ffc257ab62e265c9d45c9c97f697a3cefc8/pkg/util/kubernetes/discovery.go#L26

The current approach I'm exploring first, in order to avoid forking the operator code if possible, is to wrap the operator in a separate p

[2022-08-25 08:47] p0lyn0mial commented on #1759
resolved by https://github.com/kcp-dev/kcp/pull/1761

/close

[2022-08-25 08:47] #1759 closed

[2022-08-25 08:59] pweil- commented on #1490
@varshaprasad96 no problem.  I think the description of the epic will be clear enough since this is the first pass.  My request to you is once you think you've finished what you can you make it obvious what was delivered in 0.8 so when we're looking at 0.9 release notes it's obvious.

Just something simple like `====== above delivered in 0.8, below in 0.9 =======` or similar.  I updated https://gi

[2022-08-25 10:28] s-urbaniak commented on #1821
@stevekuznetsov oh i didn't see the checkbox, i can definitely work on that, no problem 👍

We have different kinds of virtual apiservers serving different purposes, hosted unter different paths (i.e. virtual apiexport apiserver, home workspaces and its virtual apiserver, syncer virtual workspace).

These different virtual apiserver concepts and their underlying workspace concepts are currently not

[2022-08-25 10:55] s-urbaniak commented on #1631
design ideas: https://docs.google.com/drawings/d/1_sOiFZReAfypuUDyHS9rwpxbZgJNJuxdvbgXXgu2KAQ/edit

[2022-08-25 12:15] p0lyn0mial opened #1829 "bug: cache-server misses the scope client"
### Describe the bug

The [ApiExtensionsClusterClient](https://github.com/kcp-dev/kcp/blob/fe9bf899d5b95029fe50ed44258628b781c5bde9/pkg/cache/server/config.go#L147) in the cache server should use scope clients instead of `NewClusterForConfig`

### Steps To Reproduce

I tried to wire in a context-based client as advised in https://github.com/kcp-dev/kcp/pull/1815#discussion_r954151311 by using `Set

[2022-08-25 12:17] p0lyn0mial commented on #1829
/cc @varshaprasad96

I'm happy to prepare a PR if you could provide some input here. Thanks!

[2022-08-25 18:25] kylape opened #1836 "feat: add --profiler-address to virtual workspace server and front proxy"
### Feature Description

This would be valuable to do memory profiling on more than just kcp.

### Proposed Solution

Make the --profiler-address flag work on the VW and front proxy commands just like it does in kcp.

### Alternative Solutions

_No response_

### Want to contribute?

- [ ] I would like to work on this issue.

### Additional Context

_No response_

[2022-08-25 18:31] ncdc commented on #1836
/help
/good-first-issue
/kind feature

[2022-08-25 18:49] ncdc commented on #1836
See https://github.com/kcp-dev/kcp/blob/d3c2260fabecaececb5c339c46504a52ea90f57c/pkg/server/config.go#L153-L156

[2022-08-25 22:14] varshaprasad96 commented on #1829
@p0lyn0mial The process which I usually follow to scope clients is:
Option 1:
1. Wrap an existing config with the cluster round tripper - (ie) using https://pkg.go.dev/github.com/kcp-dev/apimachinery/pkg/client#SetMultiClusterRoundTripper
2. Pass a scoped context while making client calls (`logical cluster.WithContext(ctx, someCluster)`

Option 2:
1. Set the cluster in the rest config directly (ie

[2022-08-26 04:25] bipuladh commented on #1836
I would like to take this if no one is working on this.

[2022-08-26 04:49] sm43 commented on #1477
hello, due to time constraints I won't be able to do this.
If this is urgent please unassign so that someone else can pick it up.
Sorry for the delay. If not urgent I will give it try soon. Thanks.

[2022-08-26 09:57] ncdc commented on #1836
Please go ahead, thanks!

[2022-08-26 12:15] ncdc commented on #1836
/assign @bipuladh

[2022-08-26 12:15] ncdc commented on #1477
/unassign @sm43

[2022-08-26 12:19] lburgazzoli opened #1838 "feat: add a workspace tree subcommand"
### Feature Description

It would be nice to have a workspace tree subcommand to visualize the hierarchy of workspaces, i.e.

[code]

There are some similar tools:
1. https://github.com/ahmetb/kubectl-tree
2. https://github.com/nimakaviani/knative-inspect/

### Proposed Solution

Ass a kubectl-ws tree subcommand

### Alternative Solutions

_No response_

### Want to contribute?

- [X] I would like

[2022-08-26 12:26] ncdc commented on #1838
FYI, as of today, this will require multiple requests (1 per level)

[2022-08-26 12:43] ncdc commented on #1061
Recording for posterity (we've chatted about this but not written it here): ClusterResourceQuota lets you quota namespace-scoped resources per cluster (e.g. "only allow 10 ConfigMaps in the entire cluster"). It does not quota cluster-scoped resources.

https://docs.google.com/document/d/15LR7fecEwh0Fupo5m3Yh3rtGy81eEGSZhh8heHqttAQ/edit is a design document for a short-term approach for quota of cl

[2022-08-26 12:44] stevekuznetsov commented on #1838
@ncdc or access to the tenancy APIExport?

[2022-08-26 12:47] ncdc commented on #1838
That doesn't give you a list of all workspaces hierarchically though

[2022-08-26 12:53] ncdc opened #1840 "feat: ability for an API provider to fully own resources in a consumer's workspace"
### Feature Description

As an API provider (i.e. the owner of an APIExport), I want full control over certain resources in a consumer's workspace, and not even a user with cluster-admin permissions in the consumer's workspace is allowed to edit these resources.

For example, an API provider that exports a Queue API resource might want to create a ResourceQuota instance that limits the number of Q

[2022-08-26 12:55] ncdc commented on #1840
We also likely will need a way for kcp platform admins and/or kcp controllers to fully own resources in user workspaces. Depending on the solution for this issue, we may or may not need to create a separate issue for this use case.

[2022-08-26 13:00] lburgazzoli commented on #1838
Yes I had a look at the code and it is probably be a little bit convoluted to implement so may need some help, but I'll :)

[2022-08-26 13:10] stevekuznetsov commented on #1838
@ncdc not sure I understand what you mean - it gives you a cross-cluster list, which you could then reorder in hierarchical order?

[2022-08-26 13:24] ncdc commented on #1838
hmm, maybe? although when we have 2+ shards, that might require multiple calls?

[2022-08-26 13:53] jmprusi commented on #1787
I can't reproduce this issue; I guess this got fixed by a related PR that got merged where I set the missing name transformations: https://github.com/kcp-dev/kcp/pull/1743

Closing it, if it happens again in current main, please reopen.

[2022-08-26 15:05] MatousJobanek opened #1843 "bug: Syncer namespace with label value exceeding 63 characters"
### Describe the bug

When generating the syncer namespace manifests, the `kubectl kcp workload sync` uses the current workspace path and the workspace name for `workload.kcp.io/logical-cluster` label. However, this can easily exceed 63 characters (mainly in home workspaces) which is the limit for label values.
Creating such a namespace fails with:
[code]
This makes any testing in some home worksp

[2022-08-26 15:17] stevekuznetsov commented on #1843
cc @davidfestal @jmprusi

[2022-08-26 18:32] johnmcollier opened #1845 "bug: APIs bound through Permission Claims not available when using identityHash"
### Describe the bug

When specifying another APIExport's identityHash in a permission claim in an APIExport / APIBinding, the APIBinding will create successfully:

E.g.:
[code]

with the following status conditions:
[code]

But if I run `kubectl get environments` the command fails, saying `error: the server doesn't have a resource type "environments"
`

### Steps To Reproduce

I've created a repo

[2022-08-26 22:02] ncdc commented on #1845
/assign

[2022-08-27 01:29] ncdc commented on #1845
@johnmcollier please try adding another APIBinding in your workspace, to the gitops APIExport.

/priority awaiting-more-evidence

[2022-08-27 01:37] ncdc commented on #1337
Filling in the details:

Let's say there are 2 API providers, in workspaces A and B.

A has an APIExport for Things and sets a local maximal permission policy that grants system:authenticated read-only verbs (get/list/watch).

B has an APIExport for Widgets, and it claims Things from A's APIExport.

A consumer in workspace C creates APIBindings for both A (Things) and B (Widgets, Things(claimed &

[2022-08-29 08:17] MatousJobanek commented on #1337
Just out of curiosity - couldn't this scenario be solved at the phase of accepting the claims? That the user could accept only those claims the user has permissions for? So if the user can only read the A Things, then the user cannot accept claims for write?

[2022-08-29 08:34] sttts commented on #1820
There is some foundational misunderstanding about TMC and cluster access there I believe. An operator deployed "on kcp" will be synced to the downstream OpenShift cluster, but it will "talk back" via its service account to kcp, not that OpenShift. This is crucial. So that operator will not even be aware of the OpenShift cluster.

Hence, (inverse) syncing of CustomResources from/to OpenShift does n

[2022-08-29 10:19] sttts commented on #1793
+1 for a very small API surface as proposed here.

Not sure about `apisv1alpha1.APIBindingSpec`. Would keep that appart from the binding type. Am not convinced a complete permission claim list is what we want, but rather a bool: `AcceptPermissionClaims: true | false`.

[2022-08-29 10:45] sttts commented on #1823
Has been discussed before and it was intentionally removed / disabled. The fact that a virtual workspace serves the same APIs for every cluster or for clusters and wildcards requests is a conincidence that cannot be guaranteed. There might be a virtual workspace servicing different resources on each cluster.

[2022-08-29 10:55] astefanutti commented on #1823
Thanks, I thought that in the case of APIExport virtual workspaces, the discovery was entirely defined by the APIExport spec.

I'll override the client config to use wildcard clusters requests in our case.

[2022-08-29 10:55] #1823 closed

[2022-08-29 11:12] ncdc commented on #1337
No - this is about access through the APIExport virtual workspace by an API provider. This is currently done using the loopback client, which has `system:masters` access.

[2022-08-29 13:39] ncdc commented on #1337
@s-urbaniak FYI, @sttts wanted you to be aware of this. Probably can do this with a SAR of some sort against maximal permisison

[2022-08-29 13:45] johnmcollier commented on #1845
@ncdc Yes, if I add another APIBinding the APIs in the gitops APIExport become available. But I thought the permission claims meant that wasn't needed?

[2022-08-29 13:52] stevekuznetsov commented on #1845
Is this #1183 ?

[2022-08-29 13:54] ncdc commented on #1845
@johnmcollier both bindings are required

[2022-08-29 13:55] ncdc commented on #1845
This is not a bug

[2022-08-29 13:55] ncdc commented on #1845
Closing

[2022-08-29 13:55] #1845 closed

[2022-08-29 14:05] johnmcollier commented on #1845
@ncdc So a controller running in my APIExport's virtual workspace should have the API(s) available there without a separate APIBinding?

If so, my controller still fails on start up since those APIs aren't available in the virtual workspace.

[2022-08-29 14:06] ncdc commented on #1845
Now that is #1183 😄

[2022-08-29 15:47] #1824 closed

[2022-08-29 18:54] ncdc commented on #1793
How about doing both `all` and `specific` claims (mutually exclusive options)?

[2022-08-29 19:59] ncdc commented on #1793
What if we started with this:

[code]

The go type for `apiBindings` (each slice element) could be a standalone type and not `APIBindingSpec`, such as
[code]

We could start by going one of three ways:
1. We do not allow the CWT/APIBinding initializer to accept permission claims on behalf of the user. After the workspace is created, the user must go in and accept any/all claims they choose.
2. We

[2022-08-29 20:22] ncdc commented on #1793
/assign @nrb

[2022-08-29 23:03] varshaprasad96 commented on #1490
@pweil- modified the description to reflect what has already been done. Based on the discussion with @stevekuznetsov, it was decided to put a hard stop on this particular epic by end of v0.8. Refactoring code right now is not effective as we can't replace the code-generator right away which is indirectly allowing PRs with older format to merge. It will be more efficient to remove the lister/inform

[2022-08-30 07:56] p0lyn0mial commented on #1829
@varshaprasad96 yes, it looks like I applied both options at the same time.

Would you accept a PR that would allow for overwriting the cluster set by `Option 2` when a cluster is also set in the context (`Option 1`)?

/cc @stevekuznetsov

[2022-08-30 07:59] sttts commented on #1806
Do we really do that? That's wrong. We must go directly to the vw address.

[2022-08-30 08:01] sttts commented on #1806
Do we actually want that the ddsif lists projections?

[2022-08-30 08:20] p0lyn0mial commented on #1806
To sum up a discussion with Stefan in slack. The `ddsif` and the `apibinding_deletion_controller` shouldn't use projection resources. Instead of workspaces they should use ClusterWorkspaces.

For local development, we should use some domain name so that we can validate the server. It should be possible since we have self-signed certs and CAs.

[2022-08-30 09:30] vincent-pli opened #1848 "question: sync a controller pod to physical cluster"
### Describe the bug

Actually, it's not bug.
Just want to know if sync pod of a controller from `ws` to physic cluster, how could it work?
I saw `KUBERNETES_SERVICE_HOST` was set as hostname of upstream kcp cluster rather than the url of  that `ws`.

Thanks

### Steps To Reproduce

N/A

### Expected Behaviour

Get a clarification

### Additional Context

_No response_

[2022-08-30 10:13] pweil- opened #1849 "Community Meeting August 30, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/mpd-cypd-sdp
Or dial: ‪(DE) +49 30 300195060‬ PIN: ‪500 599 130 5702‬#
More phone numbers: https://tel.meet/mpd-cypd-sdp?pin=5005991305702
Or join via SIP: sip:[5005991305702@gmeet.redhat.com](mail

[2022-08-30 10:15] pweil- commented on #1849
@adambkaplan do you want to talk about https://github.com/kcp-dev/kcp/issues/1847 at the meeting?

[2022-08-30 10:15] pweil- commented on #1849
@varshaprasad96 do you want to mention details on https://github.com/kcp-dev/kcp/issues/1490#issuecomment-1230956599 in relation to 0.9 work?

[2022-08-30 10:17] pweil- commented on #1849
@dinhxuanvu for catalog design overview https://kubernetes.slack.com/archives/C021U8WSAFK/p1661348947897289?thread_ts=1661284823.509559&cid=C021U8WSAFK

[2022-08-30 10:20] sttts commented on #1849
Proposal: two **doc-days** after tagging v0.8.

[2022-08-30 12:06] lburgazzoli commented on #1838
can you point me to some code ?

[2022-08-30 12:25] pweil- commented on #1849
@stevekuznetsov request for feedback on client-go changes for cluster-aware clients: https://github.com/kcp-dev/apimachinery/pull/53

[2022-08-30 13:21] astefanutti opened #1852 "bug: Server-side apply requests to virtual workspace API server fail for non-existent objects"
### Describe the bug

A SSA patch request to the APIExport virtual workspace API server returns 404 when the corresponding object does not already exists.

### Steps To Reproduce

[code]

### Expected Behaviour

SSA patch requests should succeed even when objects do not already exist.

### Additional Context

_No response_

[2022-08-30 13:42] dinhxuanvu commented on #1849
Catalog API: https://github.com/kcp-dev/catalog/pull/3

[2022-08-30 14:03] ncdc commented on #1849
cluster-scoped quota #1846

[2022-08-30 14:23] sttts commented on #1852
Is this a regression against kube? Does it happen with kube too?

[2022-08-30 14:32] astefanutti commented on #1852
I don't think it's a regression in kube. My current understanding is that it's caused by the forwarding registry implementation that does not cover that use case and assumes the object must exist.

[2022-08-30 14:44] sttts opened #1857 "bug/cleanup: kcp-front-proxy should use flags for shard forwarding"
### Describe the bug

kcp-front-proxy uses a mapping file that suggests freedom to configure backends like shards in a flexible way, while in reality the behaviour for shards (i.e. URLs like `/clusters/<ws>/...`) is hardcoded and special.

### Steps To Reproduce

-

### Expected Behaviour

We should turn the shard forwarding configuration into well-defined, well-documented flags instead of relying

[2022-08-30 14:47] ncdc opened #1858 "cmd/sharded-test-server/virtual.go: log the full command line with all parameters"
Suggested at https://github.com/kcp-dev/kcp/pull/1800#discussion_r958570270

/help
/good-first-issue

[2022-08-30 14:49] ncdc commented on #1852
@astefanutti could you please test this against a kube server and report back what the behavior is? Thanks!

[2022-08-30 14:57] astefanutti commented on #1852
I confirm this works against a vanilla kube server. This can also be tested with `kubectl apply --server-side ...`.

Quoting https://kubernetes.io/docs/reference/using-api/server-side-apply/#introduction that explicitly mentions the "create or patch" behavior:

[2022-08-30 14:58] ncdc commented on #1852
Thanks!

[2022-08-30 14:58] varshaprasad96 commented on #1849
Update on https://github.com/kcp-dev/kcp/issues/1490#issuecomment-1230956599

[2022-08-30 15:03] lionelvillard commented on #1849
DNS Support https://github.com/kcp-dev/kcp/pull/1708

[2022-08-30 15:10] ncdc commented on #1490
Brainstorming doc: https://docs.google.com/document/d/12RtZL9rnEYGYUjhkZbxc_qbXSuUFULuRXArpJvoqOo4/edit#heading=h.uts53tyl4jgs

See also: https://github.com/kcp-dev/apimachinery/pull/53

[2022-08-30 15:18] #1097 closed

[2022-08-30 15:38] stevekuznetsov commented on #1829
Hm, I thought both at once should have worked. In any case, I think for now we are pausing this so let's re-consider it when we have more clarity about how we're moving forward.

[2022-08-30 15:41] ncdc commented on #1818
Need to make sure we do this properly so we don't overload the server with too much OpenAPI generation across potentially hundreds/thousands of workspaces

[2022-08-30 15:42] stevekuznetsov commented on #1818
In addition to dynamically determining this based on bound APIs within a workspace, I think we can also get a lot of value today from having (semi-static) published definitions for the core `kcp` APIs so that devs could explore the API surface and e.g. generate clients for non-Go SDKs.

[2022-08-30 15:48] lburgazzoli commented on #1838
Just that I'm not yet deeply expert in KCP so some exemplar code could be very helpful :)

[2022-08-30 15:55] ncdc commented on #333
@aojea could you please put this behind a feature gate this is off by default?

[2022-08-30 16:14] ncdc commented on #1061
/close

[2022-08-30 16:14] #1061 closed

[2022-08-30 16:41] ncdc commented on #1183
Chatted with @sttts and here's what we want to do:

1. Because APIExports will have to be replicated from their source shard to all other shards that have APIBindings for them, we don't want to automatically create a bound CRD as soon as an APIExport is created
2. Instead, we only want to preserve the current behavior of only creating the bound CRD when the first APIBinding is created, AND
3. We o

[2022-08-30 16:41] sttts commented on #1183
cc @p0lyn0mial

[2022-08-30 16:42] stevekuznetsov commented on #1183
DX of a crash-looping controller until an APIBinding exists is ... not ideal? :)

[2022-08-30 16:42] stevekuznetsov commented on #1183
Or even ops-X - that will likely trigger alerts on any/all clusters

[2022-08-30 16:48] stevekuznetsov commented on #1183
I was responding to:

We likely want some user-facing way to expose this waiting state, ultimately.

[2022-08-30 16:52] sttts commented on #1183
Just sit there and wait until a shard appears, like a controller not seeing any object in a watch.

[2022-08-30 17:01] #1702 closed

[2022-08-30 17:01] #1849 closed

[2022-08-30 17:08] p0lyn0mial commented on #1183
I think the same issue applies to the kcp server, not only to the vw server.

is this due to some performance issue? having a single CRD object per shard doesn't sound too heavy.

btw: do we want to change the reply from the server to something like `404: you need to create an APIBinding first to use this api` (if the export exists, otherwise we would return plain `404`) ?

[2022-08-30 17:36] ncdc commented on #1183
Yes, this is for APIExports in general, so it's not specific to the vw server.

It's 1 CRD per APIResourceSchema. An APIExport can export 1..n APIResourceSchemas.

Maybe?

[2022-08-30 17:42] ncdc opened #1859 "Document APIExports/APIBindings"

[2022-08-30 17:59] ncdc commented on #1806
https://github.com/kcp-dev/kcp/pull/1805 stops the ddsif from using v1beta1 Workspaces. But this is hard-coded for the time being.

[2022-08-30 18:06] sttts commented on #1806
This is fine for now until we come up with a generic projection concept.

[2022-08-30 18:07] sttts commented on #1806
What we could do now is to introduce a pkg/projection package and have a list there with projected GRs, and a map where to map to.

[2022-08-30 18:41] sttts commented on #1183
There can be many. And there is just no need to tell controllers to list/watch shards without bindings.

[2022-08-30 18:42] sttts commented on #1183
also creating APIExports could create a storm of storage creations and list/watches. Doing that on demand when a binding shows up is much much better.

[2022-08-30 18:43] sttts commented on #1183
And we can safely assume that only very very few APIExports will actually be bound to more than one workspace.

[2022-08-30 19:36] ncdc commented on #1631
The intent of this issue is to make sure that an APIExport virtual workspace only shows claimed resources from workspaces where the corresponding APIBinding has accepted the claim. This has been implemented in https://github.com/kcp-dev/kcp/pull/1617.

Making sure the epic tracks that we need to ensure we have e2e coverage for this.

/close

[2022-08-30 19:36] #1631 closed

[2022-08-30 19:58] ncdc commented on #1806
On it (need it to fix another issue)

[2022-08-30 20:29] ncdc commented on #1806
#1860

[2022-08-30 21:18] aojea commented on #333
yes

[2022-08-31 06:53] sttts commented on #1793
`All | None | Specific` is fine

[2022-08-31 07:53] p0lyn0mial opened #1865 "Document the cache server"

[2022-08-31 07:55] astefanutti commented on #1818
This should also fix #1449.

[2022-08-31 08:17] p0lyn0mial opened #1866 "Document mapping a URL path to a storage prefix"
mapping of:

- standard requests with a cluster set
- wildcard
- wildcard with identity
- wildcard with the `PartialObjectMetadata` HTTP header set.

[2022-08-31 12:01] ncdc commented on #1793
Can you confirm this is what we are building? -- the ClusterWorkspaceType author is specifying which claims should be accepted when the initialization process creates APIBindings, and until we have a more fleshed out UX, the user who is creating a workspace won't necessarily know these acceptances in advance?

[2022-08-31 12:09] stevekuznetsov commented on #1859
- how do I correctly reference an APIExport?
- when do I use a PermissionClaim?
- how do I correctly reference a resource from another APIExport in a permission claim?

[2022-08-31 12:31] astefanutti commented on #1335
Documentation should be addressed in #1859.

[2022-08-31 12:36] astefanutti commented on #1859
Would be great to have a section covering RBAC requirements, e.g.:
* As a controller, I need to be granted permissions on the APIExport `content` sub-resource
* As a user / workspace admin, I need to be granted `bind` verb to the APIExport I want to consume the APIs

[2022-08-31 12:45] stevekuznetsov opened #1868 "Investigate Performance Implications of Using Label Selectors / Delegated Filtering in Virtual Workspaces"
When we first wrote the virtual workspace scaffolding, we chose to use label selectors to defer the filtering of values to the underlying shards, instead of any other approach that would have required in-memory presence of the larger object corpus.

We need to understand better the implication of this decision. To what extent are indices present in the watch cache able to make this decision ~perfo

[2022-08-31 13:52] #1307 closed

[2022-08-31 14:13] sttts commented on #990
Compare https://github.com/kubernetes/kubernetes/blob/master/test/integration/etcd/etcd_storage_path_test.go in kube. Openshift has another one.

[2022-08-31 14:15] sttts commented on #990
1. everything created in a workspace shows up byte-by-byte in the right keys in etcd
2. everything under a key path in etcd for one workspace is expected, no unexpected keys

[2022-08-31 14:53] ncdc commented on #1693
Have identified the root cause:

- the home workspace is successfully created, BUT
- it is still in phase=initializing
- we get here https://github.com/kcp-dev/kcp/blob/6833c4c4beb0889356fa9cdd6969c7b7855a6346/pkg/server/home_workspaces.go#L347
- ... because in https://github.com/kcp-dev/kcp/blob/6833c4c4beb0889356fa9cdd6969c7b7855a6346/pkg/server/home_workspaces.go#L472-L516
    - the workspace e

[2022-08-31 14:54] ncdc commented on #1693
This is a somewhat special "need to issue a retry-after if the request is for clusterworkspaces and the tenancy apibinding isn't ready yet" case, I think

[2022-08-31 14:58] #1858 closed

[2022-08-31 15:02] s-urbaniak opened #1870 "feature: adjust conservative pod security label on namespaces created downstream by the syncer"
### Feature Description

Currently, the syncer creates namespaces in downstream clusters without adjusting pod security admission labels (https://kubernetes.io/docs/concepts/security/pod-security-admission/).

We should be very conservative and just set the pod security level to `restricted` on namespaces created in downstream so we don't accidentally launch privileged pods.

Once we see the need

[2022-08-31 19:35] ncdc opened #1873 "bug: no user feedback when syncer fails to sync to downstream"
### Describe the bug

If the syncer fails to sync from kcp to a downstream cluster, it may encounter https://github.com/kcp-dev/kcp/blob/2ef2efdcf280707a6054f0381f9e66b7c0cd2e88/pkg/syncer/spec/spec_process.go#L389-L391

This error is only logged in the syncer's log and never surfaced to the user.

### Steps To Reproduce

1. Set up kcp with a SyncTarget and a running syncer
2. Create a deployment

[2022-08-31 20:11] ncdc commented on #1671
Started some API brainstorming https://hackmd.io/_EnPemBUTF-b7WFs8o6Gjw

[2022-08-31 21:03] #1693 closed

[2022-08-31 21:15] stevekuznetsov commented on #1873
Is this generally something we expect `SyncTarget` status/conditions to expose?

[2022-08-31 21:29] ncdc commented on #1873
I don't know that's sufficient. I don't believe we anticipate users always having access to the SyncTarget CR

[2022-08-31 22:14] ncdc opened #1874 "Update golangci-lint to latest version"
If we update to v1.49.0 (or whatever is latest), it renables the `nilerr` linter.

[2022-08-31 22:14] ncdc commented on #1874
/help
/good-first-issue

[2022-08-31 22:15] ncdc commented on #1874
/area repo-health

[2022-09-01 08:03] sttts commented on #1873
We definitely want this. But as Andy says there is also the user side. The Placement object would be basically (modulo during migration to a new cluster) a per-synctarget resource and could hold conditions.

[2022-09-01 09:15] p0lyn0mial opened #1875 "consider refactoring adjustClusterNameIfWildcard method"
The [adjustClusterNameIfWildcard](https://github.com/kcp-dev/kubernetes/blob/a5ea09c15899e3bbf45bc30c66f08b55aa7b2309/staging/src/k8s.io/apiserver/pkg/storage/etcd3/store_patch.go#L54) method extracts a cluster name from an etcd key under an object is stored.

At the moment the method uses regular expressions for extracting names.
[A suggestion ](https://github.com/kcp-dev/kubernetes/pull/96/files

[2022-09-01 11:22] #1579 closed

[2022-09-01 15:30] ncdc opened #1878 "test flake: TestKubeQuotaCoreV1TypesFromBinding"
From https://github.com/kcp-dev/kcp/runs/8137476634?check_suite_focus=true

Note that `Waiting for condition, but got: 0` is a misnomer: the zero value when reading from the map is `0`, but we check for key existence + value, so it's just the log message that's "wrong".

[code]

[2022-09-01 15:39] ncdc opened #1879 "Possible NPE in resource_controller.go"
[code]

if `ns, err := c.namespaceLister.Get(key)` returns a not-found error, execution moves past the following `if err != nil && !errors.IsNotFound(err) {` block, passing `nil` to `c.enqueueResourcesForNamespace`.

`c.enqueueResourcesForNamespace` then panics here because `ns` is `nil`:
[code]

We need to return early if `errors.IsNotFound` is true.

[2022-09-01 15:56] stevekuznetsov commented on #1873
Great - that was a leading question to figure out what the implementation might look like here ;)

[2022-09-01 18:20] #1879 closed

[2022-09-01 20:29] #1875 closed

[2022-09-02 11:56] markmc commented on #1592
Maybe I'm terribly misunderstanding, but isn't this:

[code]

which is a rather more large number!

[code]

That's roughly a bajillion, right? I think we should plan a scaling limit other than the capacity of the username field!

[2022-09-02 12:45] #1852 closed

[2022-09-02 15:03] #398 closed

[2022-09-02 15:10] ncdc commented on #1812
@nrb & I are working on this
/assign @nrb

[2022-09-02 16:04] ncdc commented on #1812
We have this working in #1877 but could pull it out standalone if desired?

[2022-09-02 17:36] ncdc commented on #1219
Moved #1337 to after 0.8. All claim-related work for 0.8 is now done. Moving epic milestone to v0.9

[2022-09-02 17:37] ncdc commented on #1337
Moving to 0.9

[2022-09-02 17:41] #1723 closed

[2022-09-02 17:42] sttts commented on #1778
Fixed in https://github.com/kcp-dev/kcp/pull/1828.

[2022-09-02 17:42] #1778 closed

[2022-09-02 18:05] csams commented on #1857
@sttts What cardinality do you envision between virtual-workspace servers and kcp instances? Between the front proxy and kcp instances?

[2022-09-03 02:08] mohitsaxenaknoldus commented on #1874
Hey, can I work on this?

[2022-09-03 08:12] sttts commented on #1857
Logically 1:1 for shard:VW, physically potentially n:1, but only if we see value there.

front-proxy:shards n:m

[2022-09-05 02:03] stevekuznetsov commented on #1592
Yes, sorry, there are a) shorter user-names and b) upper-case letters ... so the number of possible names is as you say:

$$ \sum_{n=0}^{61} 26 \times (26+26+10+2)^n \times (26 + 26 + 10) = 246140384690398299890694028403364898986965757161420743538925505982003749285611605226933737920365528944151027407180 $$

This is roughly $26^80$, so if we want ~1k sub-buckets per bucket, we want two chars per bu

[2022-09-05 08:08] davidfestal commented on #1779
Linked with the wrong PR.
Let's reopen.

[2022-09-05 08:36] qiujian16 opened #1888 "feature: syncer should sync all resources exposed in syncer virtual workspace."
### Feature Description

This is part of the epic https://github.com/kcp-dev/kcp/issues/1895 to support location(compute) workspace.

### Proposed Solution

Currently syncer syncs resource based on `resource-to-sync` flag. The syncer should sync resources that are all discovered in virtual workspace.

Syncer also should create apiResourceImport on syncTarget workspace based on `syncTarget.Status.S

[2022-09-05 12:52] hardys commented on #919
Looks like this was resolved via https://github.com/kcp-dev/kcp/pull/1390 ?

[2022-09-05 14:55] jmprusi opened #1890 "feature: Scheduling of cluster-wide resources"
### Feature Description

Cluster-wide resources (non-namespaced) are not currently scheduled by KCP, some transparent multicluster cases require handling this type of resources, for example in the case of Storage with PhysicalVolumes.

### Proposed Solution

1. Implement a cluster-wide resource controller that adds (labels) all the possible SyncTargets, based on the workspace placements, to the no

[2022-09-05 15:43] davidfestal commented on #1890
cc @sttts

[2022-09-05 19:01] philbrookes opened #1891 "bug: Infinite loop of reconciles when finalizer applied to deleting resource"
### Describe the bug

In the scenario where a synctarget is set to use advanced scheduling, and a resource has been created with a finalizer, and that resource is then deleted, the resource will reconcile (adding and removing the deletion timestamp annotation) so rapidly that it is impossible for another controller to remove the finalizer, and so preventing the deletion of this resource.

Tested a

[2022-09-05 19:02] philbrookes commented on #1891
After further investigation, this appears to happen regardless of whether or not the sync target has advanced scheduling enabled.

[2022-09-06 08:45] hardys commented on #687
/assign @hardys

Discussed with @davidfestal and agreed to take this - AFAICS the [current docs](https://github.com/kcp-dev/kcp/blob/main/docs/kubectl-kcp-plugin.md) are outdated, and need to be updated to reflect the UX implemented via #778 - it'd also be good if the plugin install was linked/mentioned in the top-level readme and developer quickstart docs.

[2022-09-06 09:04] pweil- opened #1893 "A drawing showing the plumbing into the handler chain: https://docs.google.com/drawings/d/1KCqpg5XJPa7QTJPBKY2RO2Na6HGVspJtVepyqjBsu5o/edit"
Pulling out this comment as a possible doc addition

A drawing showing the plumbing into the handler chain: https://docs.google.com/drawings/d/1KCqpg5XJPa7QTJPBKY2RO2Na6HGVspJtVepyqjBsu5o/edit

_Originally posted by @sttts in https://github.com/kcp-dev/kcp/issues/333#issuecomment-1198015104_

[2022-09-06 09:54] kasturinarra commented on #1682
I have found similar issue while testing another case as below:
=================================================
When a placement is referring a location from different workspace i see that deployment still shows running even after the actual sync target has been removed

Version :

Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v0.22.6", GitCommit:"b49c285c2a30f0dec38b83083e4aaa

[2022-09-06 10:47] kasturinarra commented on #1682
Deployment still shown as Running  when the placement has been deleted. Below are the steps i followed to repro the issue.

1.  Login to kcp-stable env
2.  create apibinding to use shared compute using the command below
          echo "apiVersion: apis.kcp.dev/v1alpha1
kind: APIBinding
metadata:
  name: acm-kubernetes
spec:
  reference:
    workspace:
      path: root:redhat-acm-compute
      expo

[2022-09-06 11:11] hardys commented on #687
@sttts @davidfestal I have a couple of questions having dug into this:

1. The workspace plurality aliasing seems to be inconsistent, because we only install the `ws` and `workspaces` plugins (not `workspace`)  - Do we want to fix this, and if so would another duplicate plugin be preferred, or else perhaps a Makefile target that can create symlinks instead?

[code]

2. Somewhat related to the abov

[2022-09-06 12:06] davidfestal opened #1895 "epic: Compute type Management"
### TL;DR

Centrally manage the standard Compute API resources used in SyncTargets

Mostly what is sketched in [this drawing](https://docs.google.com/drawings/d/1aiX_1xc-dpvYJZBXVhD8g0maKFNFT-M3M31DjFWsZSo/edit)

### Progress tracking <a href="#progress-tracking" id="progress-tracking">#</a>

EPIC detailed issues and overall progress can be tracked with the following [project view](https://github.

[2022-09-06 12:06] davidfestal commented on #1895
cc @sttts @qiujian16

[2022-09-06 13:03] snehakpersistent commented on #968
@sttts @ncdc I have modified test workflow to execute tests on Power. The sample workflow in my fork is located at https://github.com/snehakpersistent/kcp/blob/588b2d387df7cba7d776bde58330cb408360a7a7/.github/workflows/ci.yaml. It would be great to contribute this upstream. Are you open to add support to more architectures to e2e test workflow? Let me know your inputs/suggestions on this.
Workflow

[2022-09-06 13:08] davidfestal commented on #912
Removed https://github.com/kcp-dev/kcp/issues/1779 and https://github.com/kcp-dev/kcp/issues/1888 from the EPIC here to include them in the newly-created EPIC about [Compute type Management](https://github.com/kcp-dev/kcp/issues/1895)

[2022-09-06 13:18] davidfestal commented on #912
Action item "the user can see Location objects as projections (and aggregations?) of WorkloadClusters." has also been moved to the new EPIC about [Compute type Management](https://github.com/kcp-dev/kcp/issues/1895)

[2022-09-06 13:34] ncdc commented on #919
👍
/close

[2022-09-06 13:35] #919 closed

[2022-09-06 13:37] ncdc commented on #687
I am working on this in https://hackmd.io/-YpPqiVsQZyiPIjyoxLiKw

[2022-09-06 13:40] davidfestal opened #1898 "epic: Multiple SyncTarget support and basic coordination controllers"
### Demo Objective

- [ ] Always consistently maintain syncer-specific views of KCP synced resources, when a resource is synced to several SyncTargets (either inside a location in specific cases, such a move of specific resources, or through several placement to several locations)
- [ ] Provide a way for coordination controllers to get the syncer-specific views of KCP syncer resources, especially

[2022-09-06 13:44] davidfestal commented on #912
Removed the following action items from the current EPIC:
- coordination controller support and demo
-  Finish and merge Syncer virtual workspace transformations (and replace Syncer advanced scheduling feature by transformations)
- Reenable the splitter use-cases

to move them to the new EPIC about [Support for multiple SyncTargets syncing and coordination controllers](https://github.com/kcp-dev/k

[2022-09-06 14:10] ncdc opened #1899 "bug: Mac binaries don't run out of the box"
### Describe the bug

When you download Mac assets from one of our GitHub releases and try to run them, you can't because they're not signed.

![image](https://user-images.githubusercontent.com/354/188657105-33de00a3-525b-4b21-ace8-646318df17aa.png)

### Steps To Reproduce

1. Download Mac assets from a release
2. Extract them
3. Try to run them e.g. `bin/kcp start`

### Expected Behaviour

Runnin

[2022-09-06 14:13] ncdc commented on #1899
If you open the settings app and go to Security & Privacy, you can override this:

![image](https://user-images.githubusercontent.com/354/188657816-f88b2472-0727-4aac-824d-b1838dd2e8dc.png)

But that isn't an experience we want end users to need to go through...

[2022-09-06 14:14] nrb commented on #657
The `--short` switch does what's expected, but the change notice that's currently included probably isn't desirable.

Maybe the `--short` switch should remove the notice? When was it introduced?

[code]

[2022-09-06 14:16] ncdc commented on #657
👍 it would be nice if that wasn't printed all the time

[2022-09-06 14:47] hardys commented on #687
Ok I pushed https://github.com/kcp-dev/kcp/pull/1901 aiming to fix the inconsistencies mentioned above, while that doesn't fix this issue it may enable some clearer and/or more consistent docs (I'm assuming we want to switch to referring to the `kubectl ws|workspace|workspaces` plugin, and eventually deprecate the `kcp workspace` subcommand?)

[2022-09-06 14:51] ncdc opened #1902 "Community Meeting September 6, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/mpd-cypd-sdp
Or dial: ‪(DE) +49 30 300195060‬ PIN: ‪500 599 130 5702‬#
More phone numbers: https://tel.meet/mpd-cypd-sdp?pin=5005991305702
Or join via SIP: sip:[5005991305702@gmeet.redhat.com](mail

[2022-09-06 14:55] ncdc commented on #1902
* 0.8 🎉
* README hackmd: https://hackmd.io/-YpPqiVsQZyiPIjyoxLiKw?both

[2022-09-06 14:58] philbrookes commented on #1902
https://github.com/kcp-dev/kcp/issues/1891

[2022-09-06 15:06] davidfestal commented on #1902
Split of EPIC [Multi-Release-Epic: Consume Compute via Transparent Multi Cluster set up in a different workspace](https://github.com/kcp-dev/kcp/issues/912).
Some remaining issues moved to new epics:
- [Compute type Management](https://github.com/kcp-dev/kcp/issues/1895)
- [Support for multiple SyncTargets syncing and coordination controllers](https://github.com/kcp-dev/kcp/issues/1898)

[2022-09-06 15:08] stevekuznetsov commented on #1891
Sounds like this is not a well-supported use-case today. Filed as a bug for 0.9

[2022-09-06 15:18] ncdc commented on #1899
Some useful info:
- https://localazy.com/blog/how-to-automatically-sign-macos-apps-using-github-actions
- https://github.com/mitchellh/gon

[2022-09-06 15:20] stevekuznetsov commented on #1890
part of #1615

[2022-09-06 15:50] stevekuznetsov commented on #1873
We might need a more generic approach for objects without status/conditions fields (like a ConfigMap)

[2022-09-06 15:54] stevekuznetsov commented on #1866
Mostly implemented in https://github.com/kcp-dev/kcp/pull/1086

[2022-09-06 16:46] ncdc commented on #1843
@apoorvajagtap sure thing, thanks!

/assign @apoorvajagtap

[2022-09-06 17:21] ncdc commented on #1859
We should probably have multiple docs in this space:

- From the perspective of an API provider
- From the perspective of an API consumer

[2022-09-06 18:05] nrb commented on #1793
Current state:

APIBindings are getting made initially, but I think there's currently a conflict between this PR's `APIBinder` controller and the `APIBindings` controller over the ClusterWorkspaceType.

Given this CWT:

[code]

And a workspace using it (I've done this both in `root` and `root:users:zu:yc:kcp-admin`, same result):

`kubectl kcp ws create targetws --type bindingtest`

I get the foll

[2022-09-06 18:05] ncdc commented on #1902
Recording: https://www.youtube.com/watch?v=6zK66ajsZPI

[2022-09-06 18:05] #1902 closed

[2022-09-06 18:40] stevekuznetsov commented on #1793
What's going on with

[code]

[2022-09-06 20:44] ncdc commented on #1219
@sttts how is this different from the local MaximalPermissionPolicy?

[2022-09-06 20:46] ncdc commented on #1219
re
[code]

I'd say the most basic use case here is "API provider must only be allowed to see the resources it needs and no more", or to be more specific: "you can't see all my secrets" 😄.

[2022-09-07 06:35] cmoulliard commented on #1899
The side effect of this non signed binary is also that you have to configure the Firewall on your mac too to allow `kcp` to accept the incoming traffic

![Screenshot 2022-09-07 at 08 33 58](https://user-images.githubusercontent.com/463790/188805943-00ccdfe3-8b23-47e3-8233-c77555687814.png)

[2022-09-07 12:15] cmoulliard opened #1906 "[Suggestion] Improve the usage documentation of "kcp workload sync""
## Suggestion

Improve the usage documentation of "kcp workload sync" around the following points:

- Is it possible to be more verbose about the description "Manages KCP sync targets" of the command `kubectl kcp workload -h` as this is not clear for a user to figure out what is a workload, how it is related to a sync target, what is a sync target, etc ?
- The command `k kcp workload sync -h` repo

[2022-09-07 13:32] ncdc commented on #1874
@mohitsaxenaknoldus it looks like @xrstf has a PR for this...

[2022-09-07 14:33] stevekuznetsov commented on #1622
#912

[2022-09-07 14:43] cmoulliard opened #1909 "feature: Add new commands to the kubectl kcp client"
### Feature Description

The cli and specifically `kubectl kcp workspace` command should be improved to :
- Display the tree of the workspaces from root or sub-level
- List the synctarget associated to a workspace (or several workspaces),
- Show the status of a synctarget,
- Display the resources sync with a physical cluster and their workspace

### Proposed Solution

N/A

### Alternative Solution

[2022-09-07 14:52] ncdc commented on #1909
Hi @cmoulliard, thanks for the suggestions! A few comments:

This is already filed as #1838

This is not the model we're aiming for. SyncTargets are an internal detail that compute/cluster administrators need to know about, but it's not something end users will see. We _do_, however, want them to know about `Locations`, which may be coming from other workspaces, and we'll need a way for `kubectl g

[2022-09-07 14:53] ncdc commented on #1909
Also, I'd recommend filing 1 issue per feature request, if possible 😄

[2022-09-07 14:55] cmoulliard opened #1910 "bug: Some namespaces are not deleted when we uninstall syncer yaml resources"
### Describe the bug

Some namespaces are not deleted when we uninstall the syncer yaml resources.

Here are the namespaces that we can see
[code]
after we executed
[code]

### Steps To Reproduce

1. Create a kind cluster
2. Generate the syncer yaml file `KUBECONFIG=KCP_KUBECONFIG kubectl kcp workload sync kindy --syncer-image ghcr.io/kcp-dev/kcp/syncer:v0.8.0 -o syncer-kind.yml`
3. Apply the yaml

[2022-09-07 14:59] ncdc commented on #1910
I'm not sure we necessarily want to remove content that was synced from kcp to the physical cluster when the syncer is deleted. I think if you want to delete that, you need to delete the content in kcp, and the syncer handles deleting it from the physical cluster. If you delete the syncer, maybe you're going to recreate it - there's no way for us to know that, and I'm not sure we want content dele

[2022-09-07 15:22] #1361 closed

[2022-09-07 15:29] #581 closed

[2022-09-07 17:21] davidfestal opened #1913 "User-facing document about Locations and Placements"
We should provide user-facing document about Locations and Placement that:
- Briefly explain the personas involved in the overall flow
- Focus only on the concepts useful for the user of the KCP workspace who wants to have his workloads schedule on some available locations.

Note: this might be worth waiting for the full Location Workspace story to be implemented before writing this doc.

[2022-09-07 17:33] ncdc commented on #1913
I'm guessing this is different than what's already in locations-and-scheduling.md?

[2022-09-07 17:35] davidfestal commented on #1913
Yes, the idea is to provide only the required level of information for a user to have its workload scheduled and running, without necessarily understanding "how it all works"

[2022-09-07 18:25] stevekuznetsov commented on #1913
I'd argue that whatever is implemented, is documented. If and only if there is no user-facing flow at all, do we not have user-facing docs.

[2022-09-08 05:42] cmoulliard commented on #1913
The overall idea around this documentation improvement is to explain what the different users (Developer, Project or Architect Managers, Cloud Infrastructure engineer) using kcp are supposed to do ?

Example: Is a developer supposed to create a placement ? If yes, what should then the placement includes as information (I want to access a cluster, I want to access a namespace supporting my CRDs or

[2022-09-08 06:22] cmoulliard commented on #1909
The information should be displayed in a more user-friendly format like:

[code]

[2022-09-08 06:57] cmoulliard commented on #1909
The most important is to be able to show the appropriate information to the user according to their role:
- user => list and read workspace(s) they can access like the resources they can apply for,
- logical clusters managers =>claim to create a logical cluster (= workspaces) that users (= developers) will consume
- physical cluster managers => manage the `syncer` deployment on their k8s cluster a

[2022-09-08 08:04] cmoulliard opened #1914 "[Contribution] bash script to start/stop/install/.... kcp"
## Contribution

I designed for demo purposes a bash script to start/stop/install/clean kcp on a mac or linux machine. If kcp' project is interested, the code of this script is available here and can be donated: https://github.com/ch007m/kcp/blob/main/kcp.sh

[code]

The only prereq to use it is to have access to a physical cluster: kind, ...

[2022-09-08 12:52] davidfestal opened #1916 "epic: Transparent access to physical cluster pod definitions and sub-resources"
### TL;DR

Provide access to Physical cluster Pods definitions and sub-resources transparently through KCP at the expected API endpoint

### Progress tracking <a href="#progress-tracking" id="progress-tracking">#</a>

EPIC detailed issues and overall progress can be tracked with the following [project view](https://github.com/orgs/kcp-dev/projects/1/views/39)

### Demo Objective

=== first step

-

[2022-09-08 13:20] ncdc commented on #1910
All `kcp-*` workspaces in a physical cluster have a `internal.workload.kcp.dev/cluster` on them that can be used to identify them.

(The way to list workspaces is using `kubectl get workspaces`. The plugin is being updated)

[2022-09-08 14:27] ncdc commented on #1909
We display the following columns for `kubectl get synctarget -o wide`:
[code]

Example:
[code]

A couple of comments:
1. We probably should show these without needing to specify `-o wide`. @davidfestal would you agree?
2. The format for "Synced API Resources" needs improvement

We show the following for `kubectl describe synctarget`:
[code]

I'd recommend filing this as its own feature request

[c

[2022-09-08 14:42] cmoulliard commented on #1910
This is not really easy to find ALL the workspaces to be deleted as it is needed to navigate through all the hierarchy in order to figure out the ws to be deleted
[code]

[2022-09-08 14:55] csams opened #1919 "panic in apibindings authorizer"
### Describe the bug

[code]

### Steps To Reproduce

Unsure

### Expected Behaviour

No panic :)

### Additional Context

_No response_

[2022-09-08 14:58] stevekuznetsov commented on #1840
Notably, this needs to work not only for the GRs that are exported in the APIExport, but also other namespaces that exist in the workspace (and are part of permission claims)

[2022-09-08 15:43] #1919 closed

[2022-09-08 16:05] cmoulliard commented on #1909
I personally agree :-)

[2022-09-08 16:27] ncdc commented on #1061
Not yet. We need new epics/issues

[2022-09-08 16:35] astefanutti opened #1922 "bug: Claiming permissions on SAR or SRR fail"
### Describe the bug

Trying to add permission claims for `authorization.k8s.io/selfsubjectaccessreviews` or `authorization.k8s.io/selfsubjectrulesreviews` fail, with the APIBinding reporting the following `PermissionClaimsApplied` condition:

[code]

### Steps To Reproduce

Create an APIExport with:
[code]

And an APIBinding with:
[code]

### Expected Behaviour

It should be possible to claim per

[2022-09-08 16:49] ncdc commented on #1139
We removed the outdated docs in #1892
/close

[2022-09-08 16:50] #1139 closed

[2022-09-08 17:04] ncdc commented on #1922
It's because the controller uses the dynamic discovery shared informer factory to get an informer, and that only supports a specific list of built-in types (those that support list+watch) -  https://github.com/kcp-dev/kcp/blob/e14b8caeb0fb2f693cc33b362a83feb53c1ff0f7/pkg/informer/informer.go#L389-L414

_IF_ we wanted to support claiming types like this, we need to make some adjustments so
1. we do

[2022-09-08 18:51] astefanutti opened #1924 "bug: API server panics on SelfSubjectRulesReview requests"
### Describe the bug

SSR requests to a workspace API server return abruptly.

The stack trace points to the `github.com/kcp-dev/kcp/pkg/authorization.(*LocalAuthorizer).RulesFor` method:
[code]

### Steps To Reproduce

[code]

### Expected Behaviour

It should be possible to perform SSR requests.

### Additional Context

SAR requests return successfully, e.g.:

[code]

[2022-09-08 19:50] ncdc commented on #1910
That's what documentation is for 😄.

You can technically run multiple syncers per physical cluster. So I don't think deleting all `kcp-*` workspaces without some sort of check is a good idea.

I'd probably be ok with a `kubectl kcp` plugin command of some sort that can deletesynced namespaces for a single specific syncer. It would need to list what it would do first and require user confirmation t

[2022-09-08 22:29] stevekuznetsov commented on #1910
What are the user flows that lead to this situation? If we assume that the workloads have some value and disruption is not something the user wants, would the user not cordon the `SyncTarget` first to get the workloads to move off? Can we maybe have some sort of deregistration process for a `SyncTarget` that would have the `syncer` in question cleaning up after itself in the physical cluster once

[2022-09-09 06:54] cmoulliard commented on #1910
I agree with you that we need a `deregistration` process able to clean properly kcp on a physical cluster. Something like `k kcp workload desync cluster1`. During this process the kcp namespaces on the cluster should be deleted
[code]
**Remark**: The syncer should be deleted/removed using `kcp workload delete cluster1`.

[2022-09-09 12:12] sttts commented on #1922
I don't think these resources should be claimable. It is not clear to me what the semantics would even be.

[2022-09-09 12:26] stevekuznetsov commented on #1922
Multi-faceted controllers in k8s today may use SSR to determine which parts of their functionality are turned on - what might be analogous in our case to a specific permission claim being accepted or not. How will they do this flow in kcp?

[2022-09-09 12:29] ncdc commented on #1922
We could enable them by default instead of requiring a claim

[2022-09-09 13:12] astefanutti commented on #1922
This 😃!

[2022-09-09 14:05] ncdc opened #1931 "Implement PR title indicators"
Similar to how controller-runtime, cluster-api, etc. do it:

:sparkles: feature
:bug: bug fix
:book: docs
:memo: proposal
:warning: breaking change
:seedling: other/misc
:question: requires manual review

- [ ] update docs/developers/releasing.md to document [how to generate release notes](https://github.com/kubernetes-sigs/kubebuilder-release-tools#release-notes-generation)
- [x] install the [PR

[2022-09-09 15:01] ncdc opened #1932 "Revisit "creating a workspace under a universal type workspace is not supported" error"
From https://github.com/kcp-dev/kcp/blob/8e8e985b5f57e0d8522f93e0380d95a1186c8bab/pkg/cliplugins/workspace/plugin/kubeconfig.go#L465

The error message is not necessarily correct any more, as universal workspaces can/do support child workspaces.

[2022-09-09 17:15] ncdc opened #1933 "bug: multiple controllers share the "kcp-apibinding-controller" user-agent"
All the controllers defined in https://github.com/kcp-dev/kcp/blob/d3c32c4d76009eb27d9a9b187aa72978c921468c/pkg/server/controllers.go#L589-L679 share the same user-agent. This makes it hard to distinguish which one is making which requests in the logs.

[2022-09-09 18:18] stevekuznetsov commented on #1922
@ncdc that does seem reasonable to me - it's not clear that access to these read-only virtual resources is similar in any way to what `PermissionClaims` are doing, which is allowing the user a level of control over their own data. Users don't "own" SAR responses in their workspaces.

[2022-09-09 18:30] ncdc commented on #1922
Exactly, they're built-in APIs that everyone should be able to use

[2022-09-09 18:38] astefanutti commented on #1922
I've amended the description with the above. as I realise I forgot to mention the original use case:

[2022-09-09 18:49] stevekuznetsov opened #1934 "feature: Warn Users of Pending Permission Claims On Entering A Workspace"
### Feature Description

Users have not clear way to tell that unaccepted permission claims exist on APIBindings in their workspaces.

### Proposed Solution

As a user entering one of my workspaces with `kubectl kcp workspace use`,
I would like to be warned of pending `PermissionClaims` on any `APIBindings` that need to be accepted
So that I can make sure that bound APIs in my workspace are functi

[2022-09-09 18:53] stevekuznetsov opened #1935 "feature: A Command-Line Interface For Managing API Bindings"
### Feature Description

Users need to mutate the `APIBinding` YAMLs in order to do many common actions on them. We should help make this easier with a CLI.

### Proposed Solution

Provide CLI under `kubectl kcp apis` to:
- `bind` to an `APIExport`
- `list` pending and accepted `PermissionClaims` for an `APIBinding`
- `accept` one or many pending `PermissionClaims` on an `APIBinding`
- `reject` on

[2022-09-09 18:55] stevekuznetsov opened #1936 "feature: Specify Which Permissions Are To Be Claimed"
### Feature Description

An API provider today must claim permissions for all verbs & subresources on a resource in a `PermissionClaim`. They should be able to ask for the most minimal set of permissions necessary.

### Proposed Solution

As an API provider
I can specify which verbs and sub-resources I require access to in a `PermissionClaim`
So that I can minimize my permission in a user's worksp

[2022-09-09 18:59] stevekuznetsov opened #1937 "feature: Specify Which Objects Of A Resource A PermissionClaim Applies To"
### Feature Description

Today, and API provider can only request permissions on all objects of a given GR. Similarly, the future reverse permission claims in #1840 will have the same limitation. We need to allow both of these mechanisms to select some small subset of objects.

### Proposed Solution

As an API provider,
I want to specify exactly which objects I need access to in a user's workspace

[2022-09-09 19:00] stevekuznetsov commented on #1219
I've expanded on the remaining bullets here to create full issues and migrated this issue to a [project view](https://github.com/orgs/kcp-dev/projects/5/views/1).

[2022-09-09 19:35] stevekuznetsov opened #1938 "bug: It's Possible to Break Our Generated API Resource Schemas"
### Describe the bug

If you change the Go types and also change the generated `APIResourceSchemas` to perfectly match what the generator would have created, the result is that the generator won't know that the name of the APIRS needs to be bumped (generated values are equal to previous on-disk values).

### Steps To Reproduce

Update a comment on a type. Update the API Resource Schema to have the

[2022-09-09 19:35] stevekuznetsov commented on #1938
cc @ncdc

[2022-09-09 19:35] #1219 closed

[2022-09-09 19:38] ncdc opened #1939 "bug: admin permissions and resourceNames=* don't take effect for apibinding admission"
### Describe the bug

When creating an APIBinding, the APIBinding admission logic performs a SAR with the following attributes:

[code]

if the user has admin permissions and/or a ClusterRole that grants bind to `resourceNames: ["*"]`, their attempt to create the APIBinding is rejected with `apibindings.apis.kcp.dev "test" is forbidden: unable to create APIImport: missing verb='bind' permission on

[2022-09-09 19:39] ncdc commented on #1939
@sttts @s-urbaniak @stevekuznetsov

[2022-09-09 20:23] stevekuznetsov commented on #981
I've moved this to https://github.com/orgs/kcp-dev/projects/6/views/1?layout=board

[2022-09-09 20:23] #981 closed

[2022-09-09 20:23] stevekuznetsov commented on #1490
This is now going to be tracked as parts of https://github.com/orgs/kcp-dev/projects/6/views/1?layout=board

[2022-09-09 20:23] #1490 closed

[2022-09-09 20:24] stevekuznetsov commented on #209
There's a rough design doc [here](https://docs.google.com/document/d/12RtZL9rnEYGYUjhkZbxc_qbXSuUFULuRXArpJvoqOo4/edit#heading=h.uts53tyl4jgs) and a draft/WIP PR [here](https://github.com/kcp-dev/apimachinery/pull/53)

[2022-09-09 20:27] stevekuznetsov opened #1942 "feature: Build Tooling To Automatically Migrate Users to Cluster-Aware Listers and Informers"
### Feature Description

When we merge in the cluster-aware listers and informers from #209 , we're going to incur a huge refactoring cost. Furthermore, when *any* controller author attempts to migrate their single-cluster-context controller to `kcp`, they will incur the same cost. This can be done programatically and should be automated.

### Proposed Solution

As an author of a pre-existing cont

[2022-09-09 20:27] stevekuznetsov commented on #1942
Provisional implementation in https://github.com/kcp-dev/code-generator/pull/53

[2022-09-09 20:29] stevekuznetsov opened #1943 "feature: Design & Implement Strongly-Typed, Cross-Cluster Client-Go Clients"
### Feature Description

We would like to have the user benefits of strongly-typed cluster-aware clients, without the onerous need to depend on the `kcp` fork of Kubernetes like we had before.

### Proposed Solution

Brainstorming doc: https://docs.google.com/document/d/12RtZL9rnEYGYUjhkZbxc_qbXSuUFULuRXArpJvoqOo4/edit#heading=h.uts53tyl4jgs

See also: https://github.com/kcp-dev/apimachinery/pull/

[2022-09-09 20:30] stevekuznetsov opened #1944 "feature: Build Tooling To Automatically Migrate Users to Cluster-Aware Clients"
### Feature Description

When we merge in the cluster-aware clients from https://github.com/kcp-dev/kcp/issues/1943 , we're going to incur a huge refactoring cost. Furthermore, when any controller author attempts to migrate their single-cluster-context controller or program to kcp, they will incur the same cost. This can be done programatically and should be automated.

### Proposed Solution

As a

[2022-09-10 16:49] sttts opened #1946 "Community Meeting September 13, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/mpd-cypd-sdp
Or dial: ‪(DE) +49 30 300195060‬ PIN: ‪500 599 130 5702‬#
More phone numbers: https://tel.meet/mpd-cypd-sdp?pin=5005991305702
Or join via SIP: sip:[5005991305702@gmeet.redhat.com](mail

[2022-09-10 16:51] sttts commented on #1946
How to get to better user docs

Some thoughts from Slack https://kubernetes.slack.com/archives/C021U8WSAFK/p1662735653971629:
- avoid silos and low bus factors
- we desperately need user-facing docs
- we need cross-discipline doc review
- well written user docs are hard, and doc days are not enough.  User docs shouldn't be a side-effect or do-it-later of development.

[2022-09-10 16:54] sttts commented on #1946
Incoming issues: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+-label%3Acommunity-meeting+no%3Amilestone

Milestone epics: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+label%3Amilestone-blocker+label%3Aepic

[2022-09-10 18:50] apoorvajagtap commented on #1843
Hello @ncdc @MatousJobanek I was able to reproduce the issue. In order to proceed, I would like to have your inputs on a preferred value for `workload.kcp.io/logical-cluster`. As per the current design, it basically concatenates the name of parent workspaces with the current one, and assigns the same string as value:
[code]

So, what should be the preferred pattern to opt for a unique value?
1. Sh

[2022-09-12 05:29] sparkoo commented on #1939
is there some workaround until it's fixed?

[2022-09-12 08:42] cmoulliard opened #1948 "bug: Deleting a deployment under a workspace do not delete the pod within the physical clusters"
### Describe the bug

A scenario where 1 workspace can publish a deployment on 2 physical clusters is working fine (see steps  to reproduce hereafter) but the deployment fails as ultimately the pods are still running within the physical clusters

[code]

### Steps To Reproduce

1. Execute the following scenario2.sh script to create the pclusters, 2 placements, 2 locations and 2 synctargets
2. Chec

[2022-09-12 10:32] pweil- opened #1950 "feature: kcp public site"
### Feature Description

Let's decide on how we will contribute and build to a public site to start providing better visibility into our project.  Opening this issue to record decisions.

Please also note that https://github.com/kcp-dev/kcp.io repo has been created as a suggestion of where we could accept contributions since that is a common pattern in communities already.

### Proposed Solution

[2022-09-12 10:32] pweil- commented on #1946
public site contributions https://github.com/kcp-dev/kcp/issues/1950

[2022-09-12 10:54] sttts commented on #1950
Next to the main site, there is the side topic: user documentation and API reference docs. Most other projects have both of them in the same system, e.g. using https://gohugo.io/ and one of the API reference generators. Hugo afaik is by far the most common solution for open source projects these days.

[2022-09-12 11:06] sttts commented on #1948
What about the downstream deployment? Is that deleted?

[2022-09-12 12:51] sparkoo commented on #1939
workaround is to create ClusterRole + ClusterRoleBinding like this, in a workspace where trying to bind to API:

[code]

[2022-09-12 13:02] ncdc commented on #1950
cluster-api hosts via netlify (https://github.com/kubernetes-sigs/cluster-api/blob/main/netlify.toml) and uses mdbook (https://github.com/kubernetes-sigs/cluster-api/blob/main/docs/book/Makefile). (I don't have any preferences for what we use to generate.)

[2022-09-12 14:08] cmoulliard commented on #1948
I did some investigations and I discovered that the deployment has been well deleted on the target/physical cluster but not the owned resources

Example:

[code]

[2022-09-12 14:32] cmoulliard commented on #1948
I did a new test right now and the pod/replicaset and deployment are well deleted within the target clusters after executing
[code]

[2022-09-12 14:44] stevekuznetsov opened #1955 "Tooling, Examples And Documentation For Cross-Cluster Controller Authors"
This epic is concerned with making it straightforward & simple to build controllers against `kcp` and to migrate existing controllers to be multi-cluster aware.

Tasks for this epic are tracked in [this](https://github.com/orgs/kcp-dev/projects/1/views/26) project view.

[2022-09-12 14:48] ncdc commented on #1843
Neither `workload.kcp.io/logical-cluster` nor `workload.kcp.io/sync-target` is currently used by our code for anything. Maybe we should make these annotations instead?

[2022-09-12 14:53] stevekuznetsov opened #1956 "Precise & Minimal Permissions for Service Providers in User Workspaces"
This epic is concerned with API interactions between service providers and user workspaces. Service providers need to access instances of their resources and related resources in the workspaces of users that have bound their APIs. They may also need to limit the permissions of the user on instances of those resources. These permissions need to be minimal.

Tasks for this epic are tracked in [this]

[2022-09-12 15:59] stevekuznetsov commented on #1950
I've had good experiences with netlify + hugo in the past.

[2022-09-12 17:08] #1891 closed

[2022-09-12 17:22] sttts commented on #1956
"user workspaces" is confusing. This is not about user home workspaces, but rather any kind of workspace with bindings.

[2022-09-12 17:39] sttts commented on #1950
@stevekuznetsov Why not github pages? Probably gets us going much quicker.

[2022-09-12 18:47] stevekuznetsov commented on #1950
It took a previous team ~3h to bootstrap those two, but any approach is fine honestly.

[2022-09-13 06:25] qiujian16 opened #1959 "Setup a root compute workspace where global compute APIExports will live,"
### Feature Description

for transparent workload service, we should have a global APIExport defining kubernetes apis.

### Proposed Solution

create a root:compute workspace, and kubernetes APIExport in it. The schema should include ingress/service/deployment as the minimum.

### Alternative Solutions

_No response_

### Want to contribute?

- [X] I would like to work on this issue.

### Addition

[2022-09-13 06:26] qiujian16 commented on #1959
/assign @qiujian16

[2022-09-13 08:24] davidfestal commented on #1909
I'm not against it, as far as it is consistent with the common Kube behavior, and if we fix the `Synced API resources` format.

[2022-09-13 08:35] davidfestal opened #1960 "Add the global `kubernetes` APIExport by default in the SyncTarget `supportedAPIExports`"
- Remove the default value in the `SyncTarget` API for field `supportedAPIExports`
- Keep the `--resource` argument for now in the `workload sync` CLI command
- Update the `workload sync` CLI to specify a list of supported `apiexport`s, and add them in the `supportedAPIExports` field of the applied `SyncTarget`
- In an admission controller, add the global and local `kubernetes` `APIExport`s in the

[2022-09-13 08:42] cmoulliard commented on #1914
WDYT about my proposition ? @ncdc @sttts

[2022-09-13 10:26] sttts commented on #1946
Propsal: TBD milestone -> project "in progress"

[2022-09-13 14:31] qiujian16 commented on #1959
still have some questions about this:
1. should we create a specific workspace type for this workspace?
2. RBAC requirement?

[2022-09-13 14:59] stevekuznetsov commented on #1959
Let's keep it simple to start. If we end up with N workspaces like this and they share some functionality we can pull into a type, so be it.

[2022-09-13 15:32] ncdc commented on #1922
From community meeting discussion today: only allow SAR/SRR against resources the APIExport owns or claims

[2022-09-13 15:36] ncdc commented on #1938
At the very least, we should have CI verify that if a generated APIResourceSchema has diffs, metadata.name is included

[2022-09-13 15:50] ncdc opened #1964 "bug: user loses access to workspace being deleted if content has finalizers remaining"
### Describe the bug

When deleting a workspace, if any of the content in the workspace, its namespaces, its subworkspaces, etc. has finalizers, it may take time for all the content to be deleted. Or sometimes the finalizers might never be removed (for whatever reason).... this is all fine, except our workspace deletion logic deletes the owner ClusterRole and ClusterRoleBinding as soon as the dele

[2022-09-13 15:52] davidfestal commented on #1959
Yeah, that was my thought as well, but I don't want to exclude that, for various reasons, as security / restriction reasons for this internal "read-only" workspace, a dedicated CWT and specific RBAC rules would be required.
Of course this could possibly be done in a dedicated issue later on.
cc @sttts

[2022-09-13 17:18] varshaprasad96 commented on #1935
@stevekuznetsov I can work on this issue!

[2022-09-13 17:23] ncdc opened #1965 "feature: display SyncTarget columns by default instead of needing to specify -o wide"
### Feature Description

I'd like to see the SyncTarget details when I run `kubectl get synctargets` without having to specify `-o wide`

### Proposed Solution

Remove the nonzero priority values from https://github.com/kcp-dev/kcp/blob/ea31363ae8d683175e435421c4597646e1a317e8/pkg/apis/workload/v1alpha1/synctarget_types.go#L36-L39. `kubectl get` only displays columns whose priority is 0/unset. Any

[2022-09-13 17:23] ncdc commented on #1909
Created https://github.com/kcp-dev/kcp/issues/1965 to remove the `-o wide` need

[2022-09-13 17:28] ncdc commented on #1909
And https://github.com/kcp-dev/kcp/discussions/1966 for chatting about how to know which workspaces are getting synced to a SyncTarget

[2022-09-13 17:29] ncdc commented on #1909
I'm closing this as it's hard to track multiple distinct requests in a single issue. @cmoulliard please feel free to create new discussions or issues for any remaining items you have. Thanks!

/close

[2022-09-13 17:29] #1909 closed

[2022-09-13 17:36] ncdc commented on #1946
Recording https://www.youtube.com/watch?v=gcvaXw_7LaI

[2022-09-13 17:36] #1946 closed

[2022-09-13 17:36] stevekuznetsov commented on #1959
Why would a CWT be required? Wouldn't bootstrapping some RBAC be sufficient on startup?

[2022-09-13 18:31] cmoulliard commented on #1914
A bash script is not a Makefile ;-) The reason why I was proposing this bash script why not the demo or scenario sh script of my project is to simplify the process for the users to play with the technology, to setup new use cases/scenario while the lake file is more confused around testing purposes for the developers/contributors or github actions. Such bash scripts could become part of a contrib

[2022-09-13 18:36] ncdc commented on #1914
We had bash scripts for demos in the repo, and they quickly got out of date as the code evolved because no one maintained them.

Our Makefile currently supports starting and stopping kcp but it's tied up in the `test-e2e-shared` target. We could split that apart into separate targets, 1 to start a kcp server, and 1 to stop it.

But we are generally not looking to incorporate bash scripts to start/

[2022-09-13 19:42] sttts commented on #1959
There is one compute workspace. No need for a type, no need for special RBAC beyond that everybody can bind the export.

[2022-09-13 19:44] sttts commented on #1959
Yes, pure bootstrapping of that workspace within `kcp start` is enough. And I would call that a "battery included" and make it possible to disable it. In a prod deployment one likely does not want to have it pre-created.

[2022-09-13 21:37] stevekuznetsov opened #1967 "Publish Helpful Information For Users on a Website"
We now own `kcp.io`. This epic is concerned with the mechanical process(es) of getting a website published there and setting up the framework/workflow for adding user-facing documentation.

Tasks for this epic are tracked in [this](https://github.com/orgs/kcp-dev/projects/1/views/35) project view.

[2022-09-13 21:39] stevekuznetsov opened #1968 "feature: bootstrap a documentation subdomain docs.kcp.io with a content framework and publishing flow"
### Feature Description

We need the mechanisms to exist for creating content on the documentation subdomain and publishing it, having the routing work, etc.

### Proposed Solution

We had discussed using Hugo+Docsy & Netlify, but other options exist.

### Alternative Solutions

_No response_

### Want to contribute?

- [ ] I would like to work on this issue.

### Additional Context

_No response_

[2022-09-13 21:49] stevekuznetsov commented on #1968
cc @sttts

[2022-09-13 21:53] stevekuznetsov opened #1969 "feature: generate and publish API reference documentation from our core kcp types"
### Feature Description

We need to publish an API reference for our types.

### Proposed Solution

The tooling behind [Giant Swarm](https://docs.giantswarm.io/ui-api/management-api/crd/catalogs.application.giantswarm.io/) docs seems to be really excellent. We might use it.

### Alternative Solutions

_No response_

### Want to contribute?

- [ ] I would like to work on this issue.

### Additional

[2022-09-13 23:54] #1874 closed

[2022-09-14 06:25] sttts commented on #1968
Have asked our colleagues who hold the domain to point docs.kcp.io to kcp-dev.github.io via a CNAME.

[2022-09-14 08:38] davidfestal commented on #350
This is an old issue, superseded by new epics like this one: https://github.com/kcp-dev/kcp/issues/1898.
Closing.

[2022-09-14 08:38] #350 closed

[2022-09-14 11:19] ncdc commented on #495
Closing as it doesn't look like we actually want to do this any more

[2022-09-14 11:19] #495 closed

[2022-09-14 11:19] ncdc commented on #496
Closing as it doesn't look like we actually want to do this any more

[2022-09-14 11:19] #496 closed

[2022-09-14 13:53] stevekuznetsov commented on #1968
https://github.com/kcp-dev/kcp-dev.github.io/pull/1

[2022-09-14 14:52] davidfestal opened #1972 "epic: Multi-level Authorization for pod access"
### TL;DR

Block unauthorized access to physical cluster Pods from KCP, through a multi-level authorization implementation.

### Progress tracking <a href="#progress-tracking" id="progress-tracking">#</a>

EPIC detailed issues and overall progress can be tracked with the following [project view](https://github.com/orgs/kcp-dev/projects/1/views/38)

### Demo Objective

- [x] No unauthorized user ca

[2022-09-14 15:12] davidfestal opened #1973 "Implement pod access authorization at the KCP API level (accessing to the pod sub-resource)."

[2022-09-14 15:13] davidfestal opened #1974 "Implement pod access authorization at the level of the `services/syncer-tunnels/...` endpoints"

[2022-09-14 15:13] davidfestal opened #1975 "implement pod access authorization in the Syncer itself."
Currently the syncer trust blindly the proxied request sent via the tunneler reverse connection, this can be a security issue.

There should be a validation at the syncer side that ensures that the proxied requests targets:

- A pod subresource
- On a valid namespace, owned by the syncer
- On a valid POD, that is owned by the syncer and in Upsynced state.

[2022-09-14 15:31] davidfestal opened #1976 "Wire pod API Handler in KCP handler chain for direct access to the existing pod sub-resources"

[2022-09-14 15:32] davidfestal opened #1977 "Provide access to physical cluster pod definitions from upstream KCP, possibly relying on inverse syncing"

[2022-09-14 15:33] adambkaplan commented on #1195
@ncdc is there a notion that the mutator can be generalized to things that are "pod-speccable", or any custom resource?

Tekton TaskRuns come to mind here. If a TaskRun needs to create other Kubernetes resources (to say, deploy an application), it may need a KCP ServiceAccount.

[2022-09-14 16:15] davidfestal opened #1979 "Storage - Define and document the new APIs - PVC, PV, labels, annotations, etc."

[2022-09-14 16:17] davidfestal opened #1980 "Storage - Upsync controller (syncer)"
- Create an UpSync controller (similar to the Status controller), but which would create / update resource in upstream according to watched resource downstream
  - The downstream resources watched by the UpSync controller (to be upsynced) should:
    - have an `UpSync` label
    - have a `NamespaceLocator` annotation if they are Cluster-wide resources (to mark the SyncTarget + uer workspace they w

[2022-09-14 16:19] davidfestal opened #1981 "Storage controller (syncer)"

[2022-09-14 16:20] davidfestal opened #1982 "PVC coordination controller (kcp)"

[2022-09-14 16:27] davidfestal opened #1983 "Storage - PV coordination controller (kcp)"

[2022-09-14 16:29] davidfestal opened #1984 "Storage transformations functionality"

[2022-09-14 16:30] davidfestal commented on #1984
Opened by error

[2022-09-14 16:30] #1984 closed

[2022-09-14 16:56] davidfestal opened #1986 "epic: Complete In Cluster Networking"
### TL;DR

Extend the limited In Cluster Network support provided in PR #1708, in order to add:
- Support for Syncing from multiple User Workspaces from given Syncer
- NetworkPolicy-based protection of the accesses to the CoreDNS services installed for each user orkspace

### Progress tracking <a href="#progress-tracking" id="progress-tracking">#</a>

EPIC detailed issues and overall progress can

[2022-09-14 17:02] davidfestal opened #1987 "Fix InCluster networking when Syncer syncs from multiple user workspaces"
- Change the creation of the CoreDNS Deployment and associated resources from a static creation (in the workload sync CLI command) to have the syncer itself create it dynamically, one dpeloyment per user-workspace synced to this Syncer.
- Cleanup the CoreDNS Deployment when no more namespaces are related the corresponding user workspace.

This is a followup of PR https://github.com/kcp-dev/kcp/pul

[2022-09-14 17:02] davidfestal opened #1988 "Protect the access to the CoreDNS pods installed in the physical cluster through NetworkPolicies"

[2022-09-14 17:21] stevekuznetsov opened #1991 "bug:"
### Describe the bug

[code]

### Steps To Reproduce

[code]

### Expected Behaviour

Correct preconditions are set.

### Additional Context

_No response_

[2022-09-14 17:37] davidfestal opened #1992 "Finish and merge Syncer virtual workspace transformations (and replace Syncer advanced scheduling feature by transformations)"

[2022-09-14 17:39] davidfestal opened #1993 "Implement Deployment Splitter based on Syncer VW transformations"

[2022-09-14 17:54] stevekuznetsov opened #1994 "bug: flake: Test_integration_multiple_connections"
### Describe the bug

[code]
https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kcp-dev_kcp/1985/pull-ci-kcp-dev-kcp-main-test/1570092330344517632

### Steps To Reproduce

[code]

### Expected Behaviour

success

### Additional Context

_No response_

[2022-09-14 20:57] kylape commented on #1219
@stevekuznetsov that link gives me a 404

[2022-09-14 21:03] stevekuznetsov commented on #1219
Updated link: https://github.com/orgs/kcp-dev/projects/1/views/31

[2022-09-15 12:28] kasturinarra opened #1997 "bug: [shared compute] When placements are deleted and readded back i do not see deployment going to 1/1 from 0/1"
### Describe the bug

When placements are deleted and readded back i do not see deployment going to 1/1 from 0/1 in case of shared compute and this does not happen with BYO cluster.

### Steps To Reproduce

1. Login to stable-env
2. Create a workspace using the command ‘kubectl kcp workspace create kcpqetest1 --enter’
3. Add shared compute to the workspace using the command below
[code]
4. A place

[2022-09-15 13:24] ncdc commented on #1183
@sttts & I chatted a couple of weeks ago about what to do about this. We decided that the APIExport status should only get virtual workspace URL(s) set if and only if there is at least 1 APIBinding referencing the APIExport.

[2022-09-15 15:49] s-urbaniak commented on #1840
note to myself: augmenting https://docs.google.com/document/d/1CB3QEyn90u_S6q_teOoWtk0f_Dp0Obo9JH2AUGbifPg/edit# with a very first sketch but i want to create a separate doc.

[2022-09-15 19:41] stevekuznetsov commented on #1922
@ncdc @sttts interesting questions coming from @alechenninger today - what does it meant to issue a SSR or SAR against a virtual workspace?

Precondition: if a controller/SA has some permission to do something through a virtual workspace, it does not mean they have permissions to do the same request "raw" against the underlying workspaces that the virtual workspace aggregates. In reality, it is al

[2022-09-15 19:59] alechenninger commented on #1922
Adding on some context for above in case it is helpful.

**Hypothesis**: If I'm an API provider (e.g. AcmeDB), and I want to let users manage RBAC for my service's (e.g. AcmeDB's) data plane connections & access, users will appreciate being able to manage that with k8s RBAC API and enjoy all the associated tooling, access control (to the RBAC itself), API familiarity, identities, etc, that comes w