[2022-09-15 20:53] stevekuznetsov opened #1999 "Shard the kcp Control Plane"
`kcp` bring a lot of value from being one unified control plane. This will require a sharded deployment, whether it's to drive availability & resiliency across regions/geographies, or to facilitate scaling needs inside of one region.

Tasks for this epic are tracked in [this](https://github.com/orgs/kcp-dev/projects/1/views/44) project view.

[2022-09-16 01:41] #1959 closed

[2022-09-16 12:53] stevekuznetsov commented on #342
@p0lyn0mial FYI for tracking, this is the issue for implementing the cache server, would be cool to link PRs to it as new ones come in

[2022-09-16 13:44] stevekuznetsov commented on #354
Superseded by #342

[2022-09-16 13:44] #354 closed

[2022-09-16 14:12] stevekuznetsov opened #2004 "feature: Implement Authentication & Authorization For The Caching Server"
### Feature Description

Reading directly from the caching server should be a highly privileged (`system:masters`) task. Writing to it should only be possible by a shard, and shards can only write to their own subset of the cache space.

### Proposed Solution

To be designed. Access for controllers and others using `ThingReplicationClaim` is not in scope.

### Alternative Solutions

_No response_

[2022-09-16 14:14] stevekuznetsov opened #2005 "feature: Shard Lifecycle In The Caching Server"
### Feature Description

We need to handle the creation of new shards, the removal of existing shards, etc. for their data in the caching server.

### Proposed Solution

To be designed. Open questions:

 - how do we know a shard has been removed, and how do we remove all the data for it in the caching server (etcd range request is most efficient here)
 - how do we know a new shard exists & should

[2022-09-16 14:16] stevekuznetsov opened #2006 "feature: Shard Lifecycle in KCP"
### Feature Description

We need to determine how new shards are added to the system and how the rest of the system is made aware.

### Proposed Solution

To be designed. Open questions:

- who decides when a new shard should added?
- do we need something like CSR for shard registration in the future? whats' our stand-in short-term?
- how do we make other shards & the cache server aware of the new

[2022-09-16 14:19] stevekuznetsov opened #2007 "feature: Provide Users With an API to Request Cached, Global/Regional Views of Data (ReplicationClaims)"
### Feature Description

A service provider / controller against `kcp` needs to see "all" objects of a certain GVR across "all" shards, or "all" shards in a region. We need to provide them with an API to request the caching of this data and an endpoint from which they can LIST+WATCH it, as well as an endpoint where they can monitor the liveness/staleness of the underlying shard->cache connections.

[2022-09-16 14:37] stevekuznetsov opened #2008 "feature: Wire Cache-based Listers Into Tenancy Reconcilers"
### Feature Description

We know that a number of the `tenancy.kcp.dev` reconcilers require global views of `ClusterWorkspaceTypes` and `ClusterWorkspaces`. We need to hard-code these types into the cache server & get cache-based listers and informers into these controllers.

### Proposed Solution

Hard-coding the push of the types into the server is fine. We need to make sensible choices about ha

[2022-09-16 14:41] stevekuznetsov commented on #1225
Superseded by #1999

[2022-09-16 14:41] #1225 closed

[2022-09-16 14:46] stevekuznetsov opened #2009 "Manage Exported APIs"
Service providers (owners of `APIExports`) need to be able to mutate and evolve their offerings.

Tasks for this epic are tracked in [this](https://github.com/orgs/kcp-dev/projects/1/views/45) project view.

[2022-09-16 14:49] stevekuznetsov opened #2010 "feature: Allow Removing an APIResourceSchema from an APIExport"
### Feature Description

As a service provider owning an `APIExport`, I want to remove an `APIResourceSchema` from my exported set of resources, as I will no longer support the functionality provided by that resource in my API.

### Proposed Solution

To be designed. Some open questions:

 - how is this exposed to the user via their `APIBinding`? prior art exists for `PermissionClaim` changes
 - w

[2022-09-16 14:53] stevekuznetsov opened #2011 "feature: Move An APIResourceSchema From One APIExport to Another"
### Feature Description

As a service provider, I would like to restructure the set of controllers I use to provide API functionality. To that end, I would like to move an `APIResourceSchema` provided by one `APIExport` I own to another.

### Proposed Solution

To be designed, some open questions:

- if we move the identity concept from the `APIExport` to a singular `APIResourceSchema`, we allow t

[2022-09-16 14:55] stevekuznetsov opened #2012 "feature: Move An APIExport From One Workspace To Another"
### Feature Description

A company providing some service through some `APIExport` is acquired by another company. The acquiring company would like to continue providing the same service, but move the `APIExport`, controllers, etc, into their own workspace hierarchy.

### Proposed Solution

We record the identity hash inside of an `APIExport` for exactly this reason - if another `APIExport` is cre

[2022-09-16 14:58] stevekuznetsov opened #2013 "feature: Merge And Fork APIExports"
### Feature Description

As a service provider, I determine that my monolithic service definition in an `APIExport` can be split into N independent exports, each to be consumed separately (or all together).

As a service provider, I find little value in my existing set of small service definitions and would like customers to get "all" of my APIs together - I want to merge N `APIExports` into one.

[2022-09-16 15:00] stevekuznetsov opened #2014 "feature: Evolve an APIResourceSchema From One Version To Another"
### Feature Description

As a service provider, I want to move my provided API from `v1alpha1` to `v1beta1`, changing the schema to add and/or remove fields, and migrating users automatically.

### Proposed Solution

Lots of open questions.

[Design HackMD](https://hackmd.io/_EnPemBUTF-b7WFs8o6Gjw)
[Design Google Doc](https://docs.google.com/document/d/1k72fgGBNJzbY1Rkxj9_1WksHZR0cNT5OeadCpWuc-zM/

[2022-09-16 15:02] stevekuznetsov opened #2015 "feature: Manage The Rollout Of Evolved APIResourceSchemas (APIDeployment)"
### Feature Description

As a service provider, I want to control how users are exposed to a new version of my API.

### Proposed Solution

Lots of open questions here - we need to lock down the user stories for service providers.

[Design Google Doc](https://docs.google.com/document/d/1k72fgGBNJzbY1Rkxj9_1WksHZR0cNT5OeadCpWuc-zM/edit#heading=h.5hl04ap2sjps)

### Alternative Solutions

_No respons

[2022-09-16 15:03] stevekuznetsov commented on #2015
@sttts I know you have a lot of these stories in your head - can we put some of them in this issue? What  types of things are service providers attempting to do when they define deployment of an API?

- thundering herd
- canary / blue+green
- keeping users on a particular version for $reason

[2022-09-16 15:20] stevekuznetsov opened #2016 "feature: Automatically Propagate Subset Permission Claims"
### Feature Description

As a service provider, I want to scope down/minimize the permissions I am claiming in consumer workspaces. This should require no explicit action from the consumer.

### Proposed Solution

If an `APIExport` has two `PermissionClaims`, `a` and `b`, and `b` is a strict subset of `a`, when a user binds the export and accepts claim `a`, they should automatically accept claim `

[2022-09-16 15:23] stevekuznetsov opened #2017 "feature: Delegated Claimed Permissions"
### Feature Description

As a service provider that owns multiple `APIExports`, if a user accepts a `PermissionClaim` on one of my exports, I should be able to delegate this permission to other exports I own.

### Proposed Solution

Lots to design here. Specifically:

- We need some mechanism to determine shared ownership of multiple `APIExports` with potentially different identities (keep in mind

[2022-09-16 17:25] markmc opened #2018 "bug: single character lowercase workspace names are valid"
Create workspaces `root:foo:bar`, all good!

[code]

Try to repeat with `root:a:b` - you can do it, but get weird errors!

[code]

The restriction comes from:

[code]

Which was first introduced in commit 68f4e6d7 via kcp-dev/kcp#744 and has since proliferated to kcp-dev/logicalcluster

and we seem pretty determined that single-character workspace names are not valid:

[code]

But what exactly is

[2022-09-16 19:54] stevekuznetsov commented on #2018
@sttts unless you have some larger context for us to worry about, I think the fix proposed by @markmc seems reasonable?

@markmc thank you for taking the time to dig into this! I think this is what we dream every bug report would look like, right? :)

[2022-09-19 10:00] p0lyn0mial opened #2021 "refactor the cache server's options/config"
At the moment the cache server contains too many options by default. These options are needed to run the server in standalone mode. Only some of them are necessary when it is run in the embedded mode.

Thus the cache server should only contain the minimal set of options the rest should be composed/provided by the upper layers/servers.

[2022-09-19 10:33] maleck13 opened #2022 "feature: share instances of an API with other workspaces"
### Feature Description

Some APIs and service are intended to be shared and can have different creators and consumers that may span multiple workspaces. An example of this would be a messaging system or a gateway. I would like to have a mechanism for sharing/ making an instance of an API visible (read only) with other workspaces where I have the permissions to do so.

**Stories**

I have provisio

[2022-09-19 12:59] ncdc commented on #2018
I'd like a few minutes to dig into this to make sure everything ends up consistent, will report back in a bit

[2022-09-19 13:01] p0lyn0mial commented on #2021
changes suggested by @sttts can be found here https://gist.github.com/sttts/bafd277eb6cb5ce626f3f188ac55085d

[2022-09-19 13:22] ncdc commented on #2018
Ok, there are 2 validations at play here:

[code]

This comes from https://github.com/kcp-dev/kubernetes/blob/eeba459ad2a11c1472a84f0b33042d9c479c6aeb/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go#L215 and is the standard validation that applies to all metadata.name values for custom resources.

[code]

This comes from kcp: https://github.com/kcp-dev/kcp/blob/b583994d0ccd7aecae

[2022-09-19 13:49] stevekuznetsov commented on #209
OK, rough items to do:

 - [ ] update the generator to create cluster-aware listers and informers "on top" of other generated clients (like for k8s client-go) in a way that users who choose to generate those, do NOT need to pass around cluster-unaware types and cast
 - [ ] publish the above for k8s client-go in `kcp-dev/client-go`
 - [ ] update the AST refactor tool to move from k8s client -> kcp

[2022-09-19 13:59] stevekuznetsov commented on #2022
@sttts this sounds like another use-case for generic projection?

[2022-09-19 14:03] stevekuznetsov commented on #209
We need a refactor to grab the cluster from the controller-runtime key and to inject it into controller-runtime requests as well. For that we need to refactor the controller-runtime client request object I think.

[2022-09-19 15:10] #1838 closed

[2022-09-20 06:18] s-urbaniak opened #2028 "bug:"
### Describe the bug

We observe a panic in kcp-stable:

[code]

[2022-09-20 07:26] #2028 closed

[2022-09-20 09:11] markmc commented on #2018
The other issue I notice is that a name with a beginning with `0-9` is allowed for things like namespaces, but we're rejecting it for workspaces

[code]

It's an easy fix if we're agreed there's no reason for us to be rejecting these?

[2022-09-20 10:35] maleck13 commented on #2022
yes there was some discussion on slack around this https://kubernetes.slack.com/archives/C021U8WSAFK/p1663229464646029

[2022-09-20 10:41] sttts commented on #2022
@stevekuznetsov no, projections cannot solve this. Projections are for all-or-nothing cases, i.e. to redirect a complete GVR to another service, a bit like aggregation in Kube, but hopefully without the operational implications on stability.

If we are talking about single objects, this must be about syncing in some way and some authorization mechanism to make those objects read-only. Anything els

[2022-09-20 14:11] sttts opened #2035 "Community Meeting Sept 20, 2022"
At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/mpd-cypd-sdp
Or dial: ‪(DE) +49 30 300195060‬ PIN: ‪500 599 130 5702‬#
More phone numbers: https://tel.meet/mpd-cypd-sdp?pin=5005991305702
Or join via SIP: sip:[5005991305702@gmeet.redhat.com](mail

[2022-09-20 14:20] sttts commented on #2035
Incoming issues: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+-label%3Acommunity-meeting+no%3Amilestone – https://github.com/orgs/kcp-dev/projects/1/views/22

Milestone epics: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+label%3Amilestone-blocker+label%3Aepic

[2022-09-20 14:27] sttts commented on #1950
x-ref some content gathering for the front-page https://docs.google.com/document/d/1kyKgZXnkolvLB-mrDbeQB0FmJY4k63LaY8IzrjLf-GQ/edit#heading=h.9kwldvxi5zq7

[2022-09-20 14:28] sttts commented on #2035
kcp.io front page content gathering https://docs.google.com/document/d/1kyKgZXnkolvLB-mrDbeQB0FmJY4k63LaY8IzrjLf-GQ/edit#heading=h.9kwldvxi5zq7

[2022-09-20 14:55] sttts opened #2036 "feature: make /readyz /live /healthz /version available in every workspace"
### Feature Description

The mentioned endpoints should return the same status as the global one.

### Proposed Solution

Redirect those endpoints under a workspace URL to the top-level one. This could implemented via a function `WithPerWorkspaceStaticEndpoints` in https://github.com/kcp-dev/kcp/blob/main/pkg/server/handler.go, and wired into the handler chain.

### Alternative Solutions

_No resp

[2022-09-20 15:03] stevekuznetsov commented on #2035
- logging update #1694
- keyfunc update #1958

[2022-09-20 15:03] pweil- commented on #2035
milestone reminder

[2022-09-20 15:04] ncdc opened #2037 "Turn off goreleaser from PRs"
We only need it for tags

[2022-09-20 15:29] MikeSpreitzer opened #2038 "What about /openid, /.well-known/openid-configuration ?"
What should the kcp server do about the /openid and /.well-known/openid-configuration URL paths?

[2022-09-20 15:32] MikeSpreitzer opened #2039 "feature: /metrics"
### Feature Description

A kcp server should offer Prometheus metrics per workspace.  That is, a workspace-specific URL that can be GETted to produce workspace-specific metrics.

### Proposed Solution

This will be challenging in the code, because metrics production is currently not object-oriented.  Perhaps the solution will be to replace the standard functions with ones that dispatch on workspac

[2022-09-20 17:44] #2035 closed

[2022-09-21 10:08] mikenairn opened #2041 "bug: Syncer deleting downstream namespaces unexpectedly on syncer startup"
### Describe the bug

Downstream namespaces (the ones on the physical cluster) are being deleted when they shouldn't be. This appears to be caused by the syncer thinking that the upstream workspace (the one in KCP) no longer exists when it checks for it's existence on startup . We have also observed the syncer going into a loop of constantly deleting and re-creating namespaces, although I've been

[2022-09-21 12:38] pweil- commented on #1615
@guymguym 0.9 check in.  Are any of the stories listed out here expected to land for 0.9?

[2022-09-21 16:56] stevekuznetsov commented on #2041
/assign @davidfestal @jmprusi

[2022-09-22 10:12] MatousJobanek opened #2048 "bug: Statuses of OpenShift Routes are synced to wrong upstream instances"
### Describe the bug

 As you may already know, we have two syncers in the same cluster - one for kcp-stable and one for kcp-unstable. As for UIDs:

kcp-unstable:
[code]

kcp-stable:
[code]

We configured the syncers to sync also OpenShift routes to easily unblock our controllers that rely on Routes for now:
[code]

We deployed AppStudio SPI component in `spi-system` namespace in both CPS instance

[2022-09-22 10:14] MatousJobanek commented on #2048
providing the syncer logs:

[unstable-kcp-syncer-appstudio-internal-jbrk5z54-59f555f7c5-vpmlt-kcp-syncer.log](https://github.com/kcp-dev/kcp/files/9624693/unstable-kcp-syncer-appstudio-internal-jbrk5z54-59f555f7c5-vpmlt-kcp-syncer.log)

[stable-kcp-syncer-appstudio-internal-209j7z8n-7c9464f8d9-h8s64-kcp-syncer.log](https://github.com/kcp-dev/kcp/files/9624695/stable-kcp-syncer-appstudio-internal-2

[2022-09-22 11:50] MatousJobanek commented on #2048
Deployment manifests:
kcp-unstable:
[code]

kcp-stable:
[code]

[2022-09-22 11:53] gbenhaim commented on #1859
The suggested documentation is much appreciated.

[2022-09-22 14:23] s-urbaniak opened #2051 "bug: inconsistent state of API bindings having bound resources but no bound API export"
### Describe the bug

We observed a nil panic in https://github.com/kcp-dev/kcp/blob/cd9b93cb654695152b3d4c62ed5e225d35f3456c/pkg/admission/webhook/generic_webhook.go#L105

reported in https://github.com/kcp-dev/kcp/issues/2028.

Having a nil value for `apiBinding.Status.BoundAPIExport` is unexpected as it has bound resources being looped over: https://github.com/kcp-dev/kcp/blob/cd9b93cb654695152

[2022-09-22 14:27] fgiloux opened #2052 "bug: Resourcequotas can't be claimed"
### Describe the bug

APIBinding fails when trying to claim resourcequotas:

[code]

### Steps To Reproduce

1. Create an APIExport claiming a resourcequota
2. Create an APIBinding to the APIExport accepting the resourcequota
3. See that the claim fails
4. The controller does not get notified of changes made to resourcequotas

### Expected Behaviour

The claim succeeds
The controller gets notified

[2022-09-22 14:29] fgiloux commented on #2052
Adding
[code]
to the list of internal resources seem to fix the issue

[2022-09-22 14:34] ncdc commented on #2052
@stevekuznetsov do you want to look at this or assign?

[2022-09-22 14:35] ncdc commented on #2052
Note, https://github.com/kcp-dev/kcp/blob/3c4e7937b80aac7b2f20878393e957417702969a/pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_reconcile.go#L300 already has ResourceQuotas. Need to dig into why it's not working for you.

[2022-09-22 15:54] stevekuznetsov commented on #2052
@fgiloux do you have logs from the `kcp` API server here?

[2022-09-22 18:36] ncdc opened #2056 "Update test code to support standalone virtual workspace servers"
Having a standalone virtual workspace topology requires an extremely detailed, specific configuration to ensure that requests originating from loopback clients to the virtual workspace server are proxied correctly from the shard to the virtual workspace server (a redirect won't work, because the virtual workspace server won't be able to verify the loopback client cert).

[2022-09-22 18:53] #1337 closed

[2022-09-22 18:56] ncdc commented on #2056
WIP in https://github.com/ncdc/kcp/tree/cwt-apibinding-sharding

[2022-09-22 19:47] ncdc opened #2057 "bug: kubectl override flags do not work for most/all 'kubectl ws' commands"
### Describe the bug

kubectl override flags such as `--token` do not work for most/all `kubectl ws` commands.

### Steps To Reproduce

1. `kubectl ws --token some-valid-token`
2. It tells you you're in the home workspace for whatever user is associated with your current context in your kubeconfig

### Expected Behaviour

The token & all other kubectl override flags are honored

### Additional Con

[2022-09-22 21:01] ncdc commented on #2018
Do we expect that a workspace's `metadata.name` would ever be used as part of a routable DNS entry? @sttts

[2022-09-23 05:08] fgiloux commented on #2052
I tested twice with a fresh new install (latest version of main branch) and it worked. I am not sure what I did wrong yesterday and how I managed to get this:
[code]

Also I saw yesterday that other people had similar issues with apibindings referencing other resources (with identityhash), deleting the apibinding and recreating it (identical) solved the issue with the claim. For them the first cre

[2022-09-23 05:12] fgiloux commented on #2052
@stevekuznetsov sorry I don't have my logs anymore. However I have the entry on the kcp side for the other person having a similar issue (but not knowing if it is the same):
[code]
At the time I did check and there was an apibinding called jvmbuildservice-binding in the workspace root:default:pipeline-service-compute

[2022-09-23 06:38] mjudeikis opened #2059 "bug: Cross-workspace binding without ancestor does not work"
### Describe the bug

If you try create binding from `:corp:compute:services` to `:corp:services:warehouse` it fails with:
`error starting server: apibindings.apis.kcp.dev "kubernetes" is forbidden: spec.reference.workspace.path: not pointing to an ancestor or child of an ancestor of "root:corp:services:warehouse"exit status 1`

due to this https://github.com/kcp-dev/kcp/blob/main/pkg/admission/ap

[2022-09-23 12:42] sttts commented on #2018
We have no choice. Kube decided long ago that a CRD is a RFC 1123 label. But I wasn't aware that digits are allowed at the beginning of such a label:

[code]

Am not aware of technical reasons why we cannot allow digits as first character. No strong opinions.

[2022-09-23 13:03] ncdc commented on #2018
Rephrase: do we need the workspace name to be part of a DNS domain/subdomain such that it's part of a DNS query? i.e. `<somews>.something.example.io/api/v1/configmaps`

[2022-09-23 13:40] jmprusi opened #2065 "bug: flake e2e test TestUserHomeWorkspaces"
### Describe the bug

full logs: https://github.com/kcp-dev/kcp/actions/runs/3107414098/jobs/5035494764

[code]

### Steps To Reproduce

1. make test-e2e-shared

### Expected Behaviour

not a flake.

### Additional Context

_No response_

[2022-09-23 13:46] ncdc opened #2066 "Replace +kubebuilder:Required with +kubebuilder:validation:Required"
The former is not valid/has no effect

[2022-09-23 13:59] #2059 closed

[2022-09-23 16:29] #2066 closed

[2022-09-23 19:59] ncdc commented on #2065
Unfortunately, GitHub actions doesn't currently provide a way to download artifacts from previous test runs. Once you rerun a failed job, we lose the old logs. I don't have any way to triage this.

We do have code that looks for a not-found error and handles that correctly. The format of this error looks a bit strange though:

[code]

[2022-09-23 21:08] #2018 closed

[2022-09-24 13:52] mjudeikis opened #2073 "bug: `workspace use` panic"
### Describe the bug

`kcp workspace use root:foo` panics with flowcontroll on `main`
[code]
works without kubectl:
[code]

[code]

### Steps To Reproduce

1. build `kubectl-workspace` from `main`
2. use with kubectl (1.24.3 was mine)
3. Use for any nested workspace (not root)

### Expected Behaviour

Should work :)

### Additional Context

_No response_

[2022-09-24 15:11] mjudeikis commented on #2073
took a random commit few days ago `4498ad7b6d86750af3906eb5ccc4c45aafc25b71` and it works :shrug:

[2022-09-26 03:22] andybraren commented on #1950
I vaguely remember the KubeVirt and Metal3 communities debating GH Pages/Jekyll, Netlify, maybe Hugo, etc.

@matthewcarleton do you remember anything related to those that might be worth considering for KCP's site?

Examples:
* http://kubevirt.io
* https://metal3.io
* https://open-cluster-management.io

[2022-09-26 11:31] maleck13 commented on #1090
So on location we have an `AvailableSelectorLabels` but this looks to be populated by "hand" and not based on capabilities expressed by the synctarget.
Would it make sense for a synctarget to support capability labels that can be aggregated to the location?
I am thinking about a use case where a controller needs to understand something about the synctarget and a developer needs to understand somet

[2022-09-26 13:58] maleck13 commented on #1090
Right this makes sense and had thought that might be the way to do it, so when installing the syncer configure it with a set of label values that meet the convention and those get added to the corresponding synctarget

Yes I think this could work. So once a synctarget is chosen, then any attributes that are set and meet the required convention could be added to that placement object and this would

[2022-09-26 14:08] ncdc commented on #2073
From the stack trace, the code that is panicking is

[code]

Somehow, `ctx` is nil (?). Not really sure how that is possible.

I'm not sure this is a with/without kubectl invocation issue. I think you'll only hit the panic if you get throttled. But I just hacked my local copy to throttle, and it isn't panicking.

If you're able to reproduce this reliably, please let us know. The exact git commit y

[2022-09-26 14:18] sttts commented on #1090
Think of `availableSelectorLabels` as a allow-list of what of SyncTarget's labels to expose to the user.

[2022-09-26 14:27] mjudeikis commented on #2073
I just build `kubectl-workspaces` from `d6a0e24b889ac60b4d9cd347d851721062ce9aa2` (commit I was using when faced this first time) and it fails with the same error,  BUT current `main` does not.

This so interesting I can't get my head around what is happening. Gonna try debug this particual commit locally to see if this give me something else.

[2022-09-26 14:33] sttts commented on #1021
Decision has long been made and commited to the repo https://github.com/kcp-dev/kcp/tree/main/contrib/logo.

[2022-09-26 14:33] #1021 closed

[2022-09-26 14:44] maleck13 commented on #1090
Not to get bogged down on this one thing, but would a convention not also work as an allow list? E.G `kcp/location/attribute`?

If we did reflect these attributes onto the placement object would it be keyed by cluster similar to how we do the status?

[2022-09-26 14:50] mjudeikis commented on #2073
Tried tracking from start to end and looks like everywhere is `ctx` is passed right. But with this commit for me its quite consistent. The only plosible explanation I can think of is that at this commit we have shared memory somewhere and it overrides context object somwhere. And only in the nested worksapce case.

As now `main` is not showing this again, I'm tempted to close  this one if you can'

[2022-09-26 14:53] #2037 closed

[2022-09-26 14:57] mjudeikis commented on #2073
lets close as this is not an issue on main anymore. But still mistery

[2022-09-26 14:57] #2073 closed

[2022-09-26 16:12] ncdc opened #2075 "flake: TestSyncerLifecycle"
https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kcp-dev_kcp/2070/pull-ci-kcp-dev-kcp-main-e2e/1574422966102396928

[code]

/kind flake

[2022-09-26 16:16] ncdc commented on #2075
https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kcp-dev_kcp/2069/pull-ci-kcp-dev-kcp-main-e2e-multiple-runs/1574403789060837376

[2022-09-26 16:20] ncdc commented on #2075
Maybe due to https://github.com/kcp-dev/kcp/pull/2055/files ?

[2022-09-26 17:53] ncdc commented on #2075
More details:
[code]

[2022-09-26 17:54] ncdc commented on #2075
Similar, but with #1991 mixed in
[code]

[2022-09-26 17:59] matthewcarleton commented on #1950
ya I've been a couple of these sites. They're not all using the same stuff so I can't say what the recommendation is. Netlify is pretty common across all of them though.
How does redhat.com factor in here? Aren't we trying to keep everything central there now?

[2022-09-26 20:48] ncdc commented on #2075
It looks like the spec and status syncers are fighting over the upstream deployment to add/remove the finalizer?

[2022-09-26 21:01] MikeSpreitzer opened #2076 "bug: Dockerfile does not build with Docker"
### Describe the bug

I tried building v0.8.2 with `docker build` and it failed.  Following is the error message:

[code]

[kcp-docker-fail.log](https://github.com/kcp-dev/kcp/files/9649655/kcp-docker-fail.log)

### Steps To Reproduce

1. `git clone` kcp
2. `cd kcp`
3. `git checkout v0.8.2`
4. `docker build .`

### Expected Behaviour

I expected a successful build, like I get with podman.

### Add

[2022-09-26 21:12] andybraren commented on #1950
@matthewcarleton Thanks! And this'll be a site for the KCP community, outside of Red Hat.

[2022-09-27 09:37] qiujian16 commented on #1960
When we default the global kubernetes apiexport in synctarget, we would also need to remove the `--resources` flag in syncer. That will change the user experience when installing syncer:

Currently `kubectl kcp workload sync` has `--resources` flag also, we cannot directly remove this flag, since it also sets the correct rbac for syncer on physical cluster.

Should we use another flag to specifica

[2022-09-27 14:19] #2076 closed

[2022-09-27 15:00] sttts opened #2080 "Community Meeting Sept 27, 2022"
### Overview

At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/mpd-cypd-sdp
Or dial: ‪(DE) +49 30 300195060‬ PIN: ‪500 599 130 5702‬#
More phone numbers: https://tel.meet/mpd-cypd-sdp?pin=5005991305702
Or join via SIP: sip:5005991305702@gmeet.red

[2022-09-27 15:01] sttts commented on #2080
Incoming issues: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+-label%3Acommunity-meeting+no%3Amilestone – https://github.com/orgs/kcp-dev/projects/1/views/22

Milestone epics: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+label%3Amilestone-blocker+label%3Aepic

[2022-09-27 15:08] ncdc commented on #2038
@MikeSpreitzer could you please update the description with more details as to what this ask is about? Thanks!

[2022-09-27 15:12] nrb commented on #2052
Closing for now, but if you re-encounter it, please reopen and provide logs.

[2022-09-27 15:12] #2052 closed

[2022-09-27 15:13] #2075 closed

[2022-09-27 18:56] #1793 closed

[2022-09-27 18:56] #1812 closed

[2022-09-28 07:01] bipuladh commented on #2036
I would like to work on this if no one is working on it.

[2022-09-28 08:37] qiujian16 opened #2088 "bug: cannot build withe the latest code on Mac"
### Describe the bug

seems relate to this https://github.com/kcp-dev/kcp/pull/2019

it returns error

[code]

[code]

os: MacOS Moterey 12.5.1
cpu: Intel Core i7

go env:

[code]
### Steps To Reproduce

pull the lates code and run `make build` on Mac

### Expected Behaviour

`make build` should succeed.

### Additional Context

_No response_

[2022-09-28 11:52] markmc opened #2092 "bug: ClusterAuthenticationTrustController ConfigMap listing error - "invalid context cluster value: cluster name is empty""
### Describe the bug

On startup and intermittently afterwards, I'm seeing:

[code]

At startup, it occurs just after:

[code]

And sure enough this controller is listing configmaps

### Steps To Reproduce

...

### Expected Behaviour

...

### Additional Context

_No response_

[2022-09-28 13:39] ncdc opened #2094 "bug: apibinder controller fails to startup in a front-proxy topology"
### Describe the bug

When kcp is deployed with a front-proxy, the apibinder controller fails to start up.

### Steps To Reproduce

1. Deploy kcp with a front-proxy
2. See errors in log

[code]

and

[code]

### Expected Behaviour

Startup succeeds

### Additional Context

The apibinder controller is currently hard-coding using the external address.

[2022-09-28 14:21] #2094 closed

[2022-09-28 16:51] #2088 closed

[2022-09-28 17:19] lionelvillard commented on #1987
/assign

[2022-09-28 17:26] lionelvillard commented on #1977
In addition to `pods`, Knative is also getting `endpoints` definitions, so those objects should also be synced to kcp.

[2022-09-28 17:31] #2048 closed

[2022-09-29 07:44] #1836 closed

[2022-09-29 10:10] bipuladh commented on #2036
/assign @bipuladh

[2022-09-29 12:33] jmprusi commented on #2041
I think that's the expected behavior if it goes like this:

1. SyncTarget Ready == true (as syncer is running)
2. Resources are scheduled (label) to that SyncTarget, referenced by its SynctargetKey.
3. Syncer is scaled down.
**4. Scheduler detects that the SyncTarget is not Ready, then removes the Synctarget Label on those resources.**
5. Syncer is scaled up.
6. Reconciles current downstream resou

[2022-09-29 12:38] hasheddan commented on #1964
@ncdc I'd be happy to pick this one up

[2022-09-29 13:22] davidfestal commented on #1960
In a next PR, we would effectively add the `--exports` argument in the CLI. In this case we would add the correct RBAC for all the GVR related to the `exports` passed to the command line. And if none is passed, we would create the correct RBAC for the resources associated with the default global APIExport (`kubernetes`).

[2022-09-29 15:26] ncdc commented on #1964
@hasheddan go for it! Happy to discuss first if you'd like for how to approach (I'll admit I haven't thought about it yet).

/assign @hasheddan

[2022-09-29 15:30] davidfestal opened #2101 "Update the `kubectl kcp workload sync` CLI to specify the compute exports, and add them in the SyncTarget."

[2022-09-29 15:30] davidfestal opened #2102 "Implement a CLI command to bind a user workspace to some compute."
We should implement a KCP CLI command that allows "bind" a user workspace to some compute.
More precisely this command would allow providing:
- at least the location workspace that contains locations and sync targets the user workspace resources should be synced to
- optionally the location selectors, namespace selectors
- optionally a list of workload `APIExport`s of resources we want to sync.

C

[2022-09-29 16:55] davidfestal commented on #2101
Integrated into issue https://github.com/kcp-dev/kcp/issues/1960

[2022-09-29 16:55] #2101 closed

[2022-09-29 18:41] nrb commented on #1937
A draft question for the survey:

I think that covers what we're looking for, but before I send something out I'd like input from @sttts and @ncdc to see if there's anything else we should ask.

[2022-09-29 18:42] kylape commented on #324
When this issue is ready to be closed, does that mean we can remove the Github Action tasks that build images?

[2022-09-29 18:52] ncdc commented on #324
If we're moving to Prow for image builds, yes

[2022-09-29 19:28] #1934 closed

[2022-09-29 20:07] stevekuznetsov commented on #2102
Creating the APIExport - not sure. I could see a flow like:

1. oh, I have a workspace
2. cool, let me add in k8s 1.24 + whatever else
3. great, now let's see which locations I can schedule to

We might also think about what happens when someone upgrades their export from k8s-1.24 to k8s-1.25 - a CLI that can handle existing exports & do validation for you might help there too.

[2022-09-29 20:11] #2080 closed

[2022-09-30 06:12] akoserwal opened #2107 "bug: error looking up virtual workspace URL "controller-runtime-example-data.my.domain\" not found""
### Describe the bug

1.664517613124293e+09   ERROR   setup   error looking up virtual workspace URL  {"api-export-name": "controller-runtime-example-data.my.domain", "error": "error getting APIExport \"controller-runtime-example-data.my.domain\": apiexports.apis.kcp.dev \"controller-runtime-example-data.my.domain\" not found"}

### Steps To Reproduce

make install
make run

### Expected Behaviour

[2022-09-30 08:41] fgiloux commented on #2107
This looks like a duplicate of https://github.com/kcp-dev/controller-runtime-example/issues/22

[2022-09-30 08:43] akoserwal commented on #2107
@fgiloux one additional issue I see

I0930 11:31:37.805817   86139 round_trippers.go:553] GET https://192.168.29.16:6443/services/apiexport/root:kafkatest/controller-runtime-example-data.my.domain/clusters/%2A/apis/data.my.domain/v1alpha1/widgets?limit=500&resourceVersion=0 404 Not Found in 7 milliseconds

[2022-09-30 11:31] ncdc commented on #2107
Let's keep this issue in controller-runtime-example - thanks.
/close

The 404 is #1183

[2022-09-30 11:31] #2107 closed

[2022-10-02 00:14] hasheddan commented on #1821
@s-urbaniak is the linked google doc publicly accessible?

[2022-10-02 01:28] hasheddan commented on #1964
Thanks @ncdc! It looked like there was a relatively lightweight option for providing a solution here, so I went ahead and opened https://github.com/kcp-dev/kcp/pull/2113 which I am happy to discuss on!

[2022-10-02 16:34] cooktheryan commented on #1615
@guymguym just wanted to bump this due to @pweil- ask

[2022-10-03 02:30] hasheddan commented on #1822
@ncdc I'd love to pick this one up 👍🏻

/assign @hasheddan

[2022-10-03 08:25] davidfestal commented on #1615
I don't think it will make it for 0.9

[2022-10-03 09:38] davidfestal commented on #1615
Only the first docs PR will be merged: https://github.com/kcp-dev/kcp/pull/1971

[2022-10-03 13:48] hasheddan commented on #1214
/assign @hasheddan

[2022-10-03 14:14] ncdc commented on #1821
@hasheddan it is now (to kcp-dev google group members) 😄

[2022-10-03 14:15] hasheddan commented on #1821
@ncdc thank you!

[2022-10-03 14:26] ncdc commented on #1822
Sweet, thanks!

[2022-10-03 15:37] #1964 closed

[2022-10-03 15:39] avinal opened #2119 "bug: wrong variable substitution in `kubectl kcp workspace` example"
### Describe the bug

The `cliName` is defined as per this logic

https://github.com/kcp-dev/kcp/blob/32fac8a42a32616bc56e653af15b47de022f2165/pkg/cliplugins/workspace/cmd/cmd.go#L72-L75

and is substituted here

https://github.com/kcp-dev/kcp/blob/32fac8a42a32616bc56e653af15b47de022f2165/pkg/cliplugins/workspace/cmd/cmd.go#L81

the doc-generator has no way of deciding what is the path/argument. S

[2022-10-03 16:20] hardys commented on #2119
This is related to my PR #1901 - that renamed the plugins so that `kubectl workspace` is now valid (does the same as `kubectl kcp workspace`, and the previous aliases `kubectl ws` and `kubectl workspaces` should also still work)

The docs now reference the new `kubectl workspace` syntax which is valid, but I note that the first section of `docs/cli/kcp_workspace.md` does still say `kubectl kcp wor

[2022-10-03 16:34] ncdc commented on #2119
I would prefer that we not generate docs and store the generated output in this repo. We can generate and store in the kcp.io or docs.kcp.io repos.

But, to answer your question, I don't think we've decided if we have a preferred option yet. Given that `kubectl kcp workspace` and `kubectl workspace` are equivalent, and people are free to choose, I think anything is ok? I'd actually be fine closing

[2022-10-03 17:54] hardys commented on #2119
That was my initial reaction too, since the CLI help usage works fine - but if we do want to maintain `./hack/generate/cli-doc/gen-cli-doc.go` then the approach I took using the binary name in #1901 won't work.

An alternative would be to use a different FlagSet name for each CLI path, I pushed #2121 for consideration if we want to go with that approach

[2022-10-03 17:54] hardys commented on #2119
/assign

[2022-10-03 17:59] avinal commented on #2119
Yes, that would be good. Should I remove them with #2120?

[2022-10-03 18:03] ncdc commented on #2119
Yes please. cc @varshaprasad96 FYI

[2022-10-03 18:47] #2119 closed

[2022-10-03 20:07] #1214 closed

[2022-10-04 08:14] maleck13 opened #2123 "feature: privileged annotations and labels for API providers"
### Feature Description

**Priority Low**
APIExports allow us to express permissions over exported API resources, however it can be the case that the provider of the API also leverages labels and annotations as part of providing the API and places those on the claimed objects. It would be useful to be able to declare a set of annotations and labels that may be applied to a resource claimed via the

[2022-10-04 13:33] stevekuznetsov commented on #1943
Follow-ups:

 - [ ] move the `logicalcluster.RootCluster` call into the `apimachinery` client cache constructor

[2022-10-04 14:34] #1786 closed

[2022-10-04 14:57] sttts commented on #2123
this reminds me of the upstream discussion about finegrained metadata field permissions, e.g. to add finalizers. cc @s-urbaniak

[2022-10-04 15:00] ncdc opened #2127 "Community Meeting October 4, 2022"
### Overview

At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/mpd-cypd-sdp
Or dial: ‪(DE) +49 30 300195060‬ PIN: ‪500 599 130 5702‬#
More phone numbers: https://tel.meet/mpd-cypd-sdp?pin=5005991305702
Or join via SIP: sip:5005991305702@gmeet.red

[2022-10-04 15:01] sttts commented on #2127
Incoming issues: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+-label%3Acommunity-meeting+no%3Amilestone – https://github.com/orgs/kcp-dev/projects/1/views/22

Milestone epics: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+label%3Amilestone-blocker+label%3Aepic

[2022-10-04 15:04] clubanderson opened #2128 "Community Meeting October 11, 2022"
### Overview

At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/mpd-cypd-sdp
Or dial: ‪(DE) +49 30 300195060‬ PIN: ‪500 599 130 5702‬#
More phone numbers: https://tel.meet/mpd-cypd-sdp?pin=5005991305702
Or join via SIP: sip:5005991305702@gmeet.red

[2022-10-04 15:04] clubanderson commented on #2128
Incoming issues: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+-label%3Acommunity-meeting+no%3Amilestone – https://github.com/orgs/kcp-dev/projects/1/views/22

Milestone epics: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+label%3Amilestone-blocker+label%3Aepic

[2022-10-04 15:05] clubanderson commented on #2128
- Edge workload distribution using location, placement, deployment, kustomize (15 min)

[2022-10-04 15:07] ncdc commented on #2127
@fgiloux: would like 👀 on https://github.com/kcp-dev/controller-runtime/pulls and https://github.com/kcp-dev/controller-runtime-example/pulls

[2022-10-04 15:09] ncdc commented on #2127
CEL conversion demo: https://www.youtube.com/watch?v=Fc52Eo_WDf4

[2022-10-04 15:16] #1888 closed

[2022-10-04 15:17] ncdc commented on #1843
Discussed in community call today. Let's remove these.

[2022-10-04 15:22] ncdc commented on #2092
We need to fix this. We only need 1 instance of the CA trust configmap. Should put it in `root` and then have docs/library code so webhook server authors know where to get it. Also make sure RBAC is in place.

[2022-10-04 15:25] hasheddan commented on #2017
This would be extremely helpful for some of our use cases. I'd be happy to work on this -- I'm wondering if we would consider introducing something like an `APIExportGroup`?

[2022-10-04 16:06] stevekuznetsov commented on #2017
Would the group be solving the first bullet point in my list above? I think we were hoping for a cryptography-based approach given that we expect APIExports to have globally-unique identifiers via secret data.

[2022-10-04 16:11] stevekuznetsov commented on #2123
@maleck13 is it important to allow users to mutate the rest of these objects, but not some particular annotation? Can a more coarse-grained implementation where the provider (and only the provider) is able to mutate any part of the object suffice?

[2022-10-05 07:29] maleck13 commented on #2123
It is important users can mutate the rest of the object.  The best example I have actually comes from KCP. There are several currently experimental annotations used by the syncer when supporting TMC that reflect status and a transformed spec.
` "experimental.spec-diff.workload.kcp.dev/" ` etc this should be tightly controlled and I believe they will be, but it is likely that API Providers will als

[2022-10-05 14:14] ncdc commented on #1615
Moved to v0.10

[2022-10-05 14:14] ncdc commented on #1271
Moving to v0.10

[2022-10-05 14:15] ncdc commented on #1806
Cleared milestone and put in backlog

[2022-10-05 14:19] hasheddan opened #2133 "feature: Expose logic to generate APIExport from APIResourceSchema"
### Feature Description

Currently, the `apigen` tool offers the useful functionality of generating an `APIExport` for each group in the set of `APIResourceSchemas`. This is after generating the `APIResourceSchemas` from `CustomResourceDefinitions` -- logic that is exposed to third parties in the [`apisv1alpha1`](https://github.com/kcp-dev/kcp/blob/b96cf4e08e12e42e250d86482df34874a5caea79/pkg/apis

[2022-10-05 14:21] ncdc commented on #1787
Fixed by #2096 #2049

[2022-10-05 14:23] #2127 closed

[2022-10-05 15:16] #1843 closed

[2022-10-05 18:55] ncdc commented on #2092
xref #1807 - sort of / maybe a duplicate

[2022-10-05 23:07] stevekuznetsov opened #2136 "bug: softimpersonation has likely mutation issues"
### Describe the bug

https://github.com/kcp-dev/kcp/blob/main/pkg/softimpersonation/softimpersonation.go#L39

@enj says that `.Wrap` below this line might mutate the original config, and the round tripper mutates the original request. This might cause errors and we should look into it.

### Steps To Reproduce

na

### Expected Behaviour

na

### Additional Context

_No response_

[2022-10-05 23:07] stevekuznetsov commented on #2136
cc @s-urbaniak @sttts

[2022-10-06 12:32] jmprusi opened #2138 "Resource controller: Initial state of resources should be set to empty state instead of "Sync"."
Currently the resource controller will set all the resources to "Sync" state by default as its initial state.

In order to allow the upcoming coordinator controllers to work properly, the initial state of a resource should be empty, allowing the coordination controllers to decide when to set the state to "Sync".

[2022-10-06 12:35] hasheddan commented on #1822
Just hit this in the wild. Example of what the error looks like for posterity:
[code]

[2022-10-06 12:43] jmprusi opened #2139 "Coordination controllers: Design registration process"
Pending design on how are coordination controllers going to get registered (bind with a resource, or resources).

[2022-10-06 12:46] jmprusi opened #2140 "Cluster wide resource controller (kcp)"

[2022-10-06 13:23] jmprusi opened #2141 "Implement Invert Syncing Virtual Workspace with transformations"
Implement the Upsync Virtual Workspace that will be used by the Syncer Upsync Controller to create (and update) downstream resources into KCP.

Related to: #1980

More context: https://docs.google.com/drawings/d/1ODyRwO8RbvzDxO90jpKjYvo1KC4m-LsQqgkRtz1cQJw/edit?ths=true

[2022-10-06 15:43] #505 closed

[2022-10-06 15:43] #1465 closed

[2022-10-06 20:06] Roming22 opened #2146 "bug: 'default' ServiceAccount has an invalid secret name on the compute synced namespace"
### Describe the bug

* The default secret named `default-token-*****` is renamed to `kcp-default-token-*****` when synchronized to the compute namespace.
* However the `default` service account still references the `default-token-*****` on the compute resource, leading to errors when instanciating PipelineRuns.

### Steps To Reproduce

1. Create a workspace.
2. Bind any APIBinding so that the def

[2022-10-06 20:12] Roming22 opened #2147 "bug: Annotations on the SyncTarget object may break the synchronization"
### Describe the bug

* Status of resources managed by the SyncTarget are not synced back to the kcp workspace.

### Steps To Reproduce

1. Create a SyncTarget
2. Verify that resources are synced properly
3. Update the SyncTarget to add an annotation:
[code]
4. Verify that resources (possibly only new resources?) are not synced anymore

### Expected Behaviour

Adding an annotation to the SyncTarge

[2022-10-06 20:25] stevekuznetsov commented on #2147
Is this any annotation, or is it specifically advanced scheduling feature gate?

[2022-10-06 20:26] stevekuznetsov commented on #2147
If you remove the annotation, does syncing begin again?

[2022-10-06 21:30] stevekuznetsov commented on #2146
OK, seems like this is the flow:

 - `kcp` is now creating the `default` service account in the pcluster namespace, with the values from kcp
 - SA controllers in pcluster add in the SA tokens for the `default` SA from the pcluster
 - you end up with an SA in the pcluster that refers to the token secret from `kcp`

[2022-10-06 21:31] stevekuznetsov commented on #2146
The syncer has `--resources=serviceaccounts` set, so this seems like a foot-gun

[2022-10-06 21:33] stevekuznetsov commented on #2146
The user did not pass this to the syncer input, `v0.8.2` - the `kubectl kcp workload sync` must have added the defaults for `configmaps/deployments/serviceaccounts/secrets` etc.

[2022-10-06 21:36] ncdc opened #2148 "bug: root phase 0 bootstrapping can fail and return early from the kcp-start-informers poststart hook"
### Describe the bug

root phase 0 bootstrapping can fail and return early from the kcp-start-informers poststart hook.

**/readyz** returns not ready forever

### Steps To Reproduce

1. Start kcp, let it fully bootstrap and become ready
2. Shut it down
3. Start it up again
4. You might see `failed to bootstrap root workspace phase 0` in the log with an error that an APIBinding could not be update

[2022-10-07 05:33] bnallapeta commented on #2147
@stevekuznetsov So far, we have only faced this issue with the annotation mentioned above as we were trying to use kcp glbc in our service.

No, removing the annotation is not resuming sync. In fact, I deleted the deployment and ran it again. Still no sync. Only way I could get it to work is :
- remove the synctarget
- Run kcp workload sync command
- Apply syncer.yaml on the physical cluster thus

[2022-10-07 06:34] fgiloux commented on #2147
side note: you are now likely to have a new identity hash for the apiexport of synctarget, which will require a reconfiguration of kcp-glbc

[2022-10-07 13:12] hasheddan opened #2152 "bug: failure to provide identity hash in APIExport / APIBinding permission claims fails silently"
### Describe the bug

I had an `APIExport` that included `permissionClaims` for `deployments/apps`. `Deployments` are not a built-in type, and are only available in a given workspace after setting up a `SyncTarget` to a pcluster (which creates an `APIExport` with name `kubernetes`).

[code]

The `permissionClaims` in my `APIExport` looked like the following:
[code]

Because I did not have the iden

[2022-10-07 13:12] hasheddan commented on #2152
/assign

[2022-10-07 13:50] mjudeikis opened #2154 "bug: synctargets not accessible via multi-tenant controller"
### Describe the bug

This might not be supported use-case, so if so, lets just close this one as "by-design" as I'm cautions that im going very close to "this is not how this suppose to be used" type of work here.

Idea would be that users would be able to "bring your own" syncTargets into workspaces and we help to controll interactions with them. So existance of syncTarget is "pre-existing".

##

[2022-10-07 14:03] #2146 closed

[2022-10-07 14:03] ncdc commented on #2154
You need to include the identityHash in the permission claim for synctargets in both the APIExport and the APIBinding

[2022-10-07 14:33] avinal opened #2156 "feature: add concurrency to the GitHub Actions"
### Feature Description

The GitHub Actions do not have concurrency enabled, resulting in many redundant GitHub Actions running for the same change and not relevant notification of failed actions. See screenshot
![image](https://user-images.githubusercontent.com/74113200/194577521-33e79b7d-0a6d-44ba-91d3-e91fe86a0876.png)

Ideally, when a commit is ammended or a PR is updated, there must be only o

[2022-10-07 15:18] Roming22 commented on #2146
We would like to see a release with that fix. We have automation running, so fixing the manifests manually is going to be an issue.

[2022-10-07 18:36] Roming22 commented on #2146
@stevekuznetsov This seems related to https://github.com/kcp-dev/kcp/issues/727.

[2022-10-09 12:03] mjudeikis commented on #2154
Ouch, yes you are right. Just in my case Im trying to consume `SyncTarget" API exposed by the platfroms APIBindings.

Gonna close as duplicate as it worked if I added the hash:
[code]
@hasheddan  let me know if you want/need any help with #2152

[2022-10-09 12:03] #2154 closed

[2022-10-09 15:57] mjudeikis commented on #2152
As I was debugging this for my own situations export was partially working and native types like secrets and configMaps responded, but SyncTargets were giving me 404 errors. Which led me to quit a rabit hole while debugging and false-positive controller behaviour where it was working, but some flow was not.

I suspect this partial working state might create  quite an interesting set of bugs/outage

[2022-10-10 00:32] hasheddan commented on #2152
@mjudeikis thanks for the write-up!

I'm currently thinking of the following strategy:
- identity hash is not provided for non-internal type: deny at admission
- if partial export happens for some other reason: surface in conditions

I could also see not surfacing the `virtualWorkspace` URL if export is not functioning properly, but we would need to account for the case where an issue is intermitt

[2022-10-10 10:40] #1979 closed

[2022-10-10 13:57] hasheddan opened #2161 "bug: APIExport controller uses first encountered `GroupResource` match for internal APIs, but separate schemas exist for built-in APIs with multiple versions"
### Describe the bug

`APIResourceSchema` for all built-in APIs are generated [here](https://github.com/kcp-dev/kcp/blob/525b29592b773f16f408f805a3f8b044e8e1e8a6/pkg/virtual/apiexport/controllers/apireconciler/apiexport_apireconciler_reconcile.go#L293) and then [stored in a slice](https://github.com/kcp-dev/kcp/blob/525b29592b773f16f408f805a3f8b044e8e1e8a6/pkg/virtual/apiexport/controllers/apireco

[2022-10-10 14:57] hasheddan commented on #2161
Verified that exporting `FlowSchemas` only exports `v1beta1`:

[code]

With my forthcoming change that combines versions in an `APIResourceSchema`:
[code]

[2022-10-11 07:12] cmoulliard commented on #1965
Ideally the resources synchronized should be sorted and displayed as:
[code]

[2022-10-11 07:20] cmoulliard opened #2165 "feature: Display the tree of the workspaces from root or sub-level"
### Feature Description

As I user managing the workspaces on a kcp control plane, I would be interested to display as a tree the workspaces starting from root or a `level` passed as parameter.

### Proposed Solution

Add a new command to `kubectl kcp ws` such as `kubectl kcp ws tree`, `kubectl kcp ws tree --level <level>`

### Alternative Solutions

_No response_

### Want to contribute?

- [ ] I

[2022-10-11 08:36] Bianca2-be commented on #1327
Hi Andy, yes I got passed the server issue. However, I am still unable to create a deployment because each time I syn the kind cluster image it shows the changes. But when I do the command : k api- resources | grew deployments.
 There is no deployments in the workspace.  I see that the pod is being created but I can’t find where and can’t get it to show up. So, I haven’t made it to complete the fu

[2022-10-11 12:07] stevekuznetsov opened #2167 "feature: clean up the use of fake clients"
This is not strictly necessary but a very nice to have for #1943

 - [x] pkg/admission/namespacelifecycle/admission_test.go:     "k8s.io/client-go/kubernetes/fake" @ncdc (https://github.com/kcp-dev/kcp/pull/2162)
 - [ ] pkg/authorization/workspace_content_authorizer_test.go: kubefake "k8s.io/client-go/kubernetes/fake"
 - [x] pkg/client/clientset/versioned/fake/clientset_generated.go:     fakedisco

[2022-10-11 13:48] ncdc commented on #1327
@Bianca2-be if you're able to, please post every exact command that you are running, along with the output. Thanks.

[2022-10-11 15:00] s-urbaniak commented on #2128
reverse permission claims: https://docs.google.com/presentation/d/1u3YY71GXUxJAIqrrIlFYGrFYM1B0ZbFMpl0VQmDqSOA/edit#slide=id.g1648e8bbd33_0_0

[2022-10-11 15:01] stevekuznetsov commented on #2128
fake clients: https://github.com/kcp-dev/kcp/issues/2167

[2022-10-11 15:27] nrb commented on #2128
Reverse permission claims presented by @s-urbaniak: https://docs.google.com/presentation/d/1u3YY71GXUxJAIqrrIlFYGrFYM1B0ZbFMpl0VQmDqSOA/edit#slide=id.g1648e8bbd33_0_0

WIP PR: https://github.com/kcp-dev/kcp/pull/2089

Related issue for object selection for permissionclaims: https://github.com/kcp-dev/kcp/issues/1937

[2022-10-11 15:40] stevekuznetsov commented on #2128
From Paolo, about TMC use-cases:

- think through a more resilient connection between the syncer and kcp, to allow for network fragmentation or disconnected states
- allow scheduling one workload to N placements/locations, perhaps with placement-specific edits (https://github.com/kcp-dev/kcp/issues/752)
- allow opting kcp-scheduled workloads out of connections back to kcp itself
- ensure that scal

[2022-10-11 16:08] davidfestal commented on #752
You're mainly covering the whole TMC story here :-)

The first use-case (stateless application deployed across multiple clusters) is something which is already available through `Location`s and `Placement`s and the scheduling logic.

The second use-case is something related to coordination controller, and an ongoing work, whose basis is contained in EPIC https://github.com/kcp-dev/kcp/issues/1898.

[2022-10-11 17:52] nrb opened #2172 "bug: flake: TestPlacementUpdate condition fails"
### Describe the bug

https://github.com/kcp-dev/kcp/actions/runs/3228156420/jobs/5283883200#step:7:8421

[code]

### Steps To Reproduce

Currently unknown

### Expected Behaviour

Passing test

### Additional Context

_No response_

[2022-10-11 18:57] nrb commented on #2172
I can't reproduce this locally, and re-running the shared e2e tests passed.

[2022-10-11 22:02] #1183 closed

[2022-10-12 09:35] sttts commented on #1421
This is already implemented. @mikenairn @fgiloux @MatousJobanek please confirm.

[2022-10-12 09:54] MatousJobanek commented on #1421
I've just tested it and the APIBinding is missing in the APIs of the VirtualWorkspace:
[code]

so when I try to list them, then it fails:
[code]
Am I missing something there?

[2022-10-12 10:43] sttts commented on #1421
Probably discovery is broken.

I would claim discovery is broken also for claims. cc @ncdc

[2022-10-12 10:54] ncdc commented on #1421
Will look today

[2022-10-12 11:34] maleck13 commented on #1937
I need to manage secrets with tls secrets in them that are referenced from an ingress (they also share a label and annotations)

[2022-10-12 14:29] #1890 closed

[2022-10-12 17:06] nrb commented on #2165
What would the value be for `kubectl kcp ws tree --level <level>`, a workspace name? Or a number?

[2022-10-12 17:07] #2128 closed

[2022-10-12 19:05] mjudeikis opened #2181 "bug: workloads APIBinding stays failed if fails"
### Describe the bug

Sometimes on startup APIResourceSchema lister fails in apibinding reconciler:
[code]
and Binding is marked as Failed (error message was appended while debugging, orginal message says just "internal error")
[code]

And after subsequancial restarts/edits status is not cleared down or modified to `status: True`

For this reason APiBinding shows failed, when it is not.

https://g

[2022-10-12 19:07] mjudeikis commented on #2181
[code]

[2022-10-12 19:22] nrb commented on #2152
If I'm understanding correctly, you're both talking about some logic that would look kind of like what's in #2046, but in the controller and managing a condition or the virtualWorkspaceURL. Is that that right?

[2022-10-13 04:01] stuartwdouglas commented on #1937
For the JVM build service we need to be able to
- Create a deployment with a specific name (this may be handled by an external service, although if we can have create/edit permission just for a single object that might give us a lot more flexibility and allow our operator to handle it rather than an external service)
- Some named config maps and secrets (ATM jvm-build-service-filter and jvm-build-

[2022-10-13 06:33] mjudeikis opened #2182 "feature: Add status column to APIBinding/APIExports CLI"
### Feature Description

There are multiple improvments in flight at the moment to add better status reporting to APIExport and APIBindings as such.

Current behaviour of those object can lead to partially working component (lack of identity, informers issues, etc).

In proper production environments this should be picked by monitoring tools, but in development sometimes its hard to pick-up if som

[2022-10-13 07:05] astefanutti commented on #1937
Our controller needs to create and update different kind of resources, like Ingress, Route, KnativeService, KEDA's ScaleObject etc., but should only be able to update / patch / delete these resources if it "owns" them.

These resources have one of our controller API resource in their owning references ancestors, so this would be a way to express the permission claim subset.

Two corollaries:
* Thi

[2022-10-13 08:15] cmoulliard commented on #2165
One of the level name. Example: `kcp-admin`

[2022-10-13 11:31] mjudeikis opened #2184 "bug: Double identity decorations on URLs"
### Describe the bug

If you are binding resources from 3rd party APIs with identityHash, sometimes you end-up with double decorations on URL.

In example `APIExport` :
[code]
`APIBinding`:
[code]

And we have 2 requests from verbose level 8:
THis one we can see singple "decorations with identity"  `Path:"/apis/edge.faros.sh/v1alpha1/namespaces/default/registrations:b833587a82b737a93c56b67771d0a98

[2022-10-13 15:16] ncdc commented on #2182
What specific data from status would you include?

[2022-10-13 15:18] ncdc commented on #2165
Maybe we could do an option `--from PATH` e.g. `k ws tree --from root:my-org`?

[2022-10-13 15:18] mjudeikis commented on #2182
Ready/not ready condition aggregate. So if we get false possitive - we fix
conditions :)

On Thu, Oct 13, 2022, 6:16 PM Andy Goldstein ***@***.***>
wrote:

[2022-10-13 15:44] cmoulliard commented on #2165
I like a lot `--from` :-)

[2022-10-13 16:33] #2051 closed

[2022-10-14 12:22] MatousJobanek opened #2187 "bug: server URL in the generated secret of a syncer is missing :443 port when the SyncTarget was created in previous releases"
### Describe the bug

We have a SyncTarget that was created using a command from previous versions of kcp and we need to update it to the latest version of kcp.
After running `kubectl kcp workload sync` command in the same workspace, the server URL in the generated secret doesn't contain the `:443` port:

[code]

as a result, then synced deployments are missing values of the env vars:
[code]
which

[2022-10-14 12:23] stevekuznetsov commented on #2187
/assign @davidfestal

[2022-10-14 13:03] MatousJobanek commented on #2187
I forgot to mention one more thing - the `kubectl kcp workload sync` command was executed in a workspace that already contained a SyncTarget.
it was used in order to update the syncer to the latest version.

[2022-10-14 13:13] MatousJobanek commented on #2187
The content of the already existing SyncTarget:
[code]

[2022-10-14 13:50] MatousJobanek commented on #2187
I have new findings:
It looks like that the sync command reads the kcp URL from the kubeconfig, is that correct?
When I switch between the kcp-stable & kcp-unstable contexts and enter directly the `root:redhat-appstudio-internal-compute` workspace and execute the `sync` command, then the generated URL is without the port. Also the URL in the kubeconfig of the current context/cluster is without por

[2022-10-17 07:36] lburgazzoli commented on #1937
Today, permission claims are API provider driven but there are cases where you want a mix of provider/consumer rules.
As example, an API provider can add a permission claim on secrets and eventually in the future, to some specific secrets i.e. by label selection or name however, it may be useful to let the consumer to define what secrets the service has access to so I would add to the  _Proposed S

[2022-10-17 10:56] davidfestal commented on #2102
@stevekuznetsov I understand your point, and I don't think that implementing this command would prevent the flow you're proposing. It wouldn't prevent you to create a binding without running this CLI command.
Similarly it wouldn't prevent additional (future) code to present you all the locations compatible with a given APIExport, and use the result of such a search when applying this CLI command.

[2022-10-17 12:02] #1960 closed

[2022-10-17 13:10] stevekuznetsov commented on #348
We should get a better idea of what constitutes "done" for this - are we going to create a test suite that injects chaos into the cache server?

[2022-10-17 13:13] stevekuznetsov commented on #1944
https://github.com/kcp-dev/code-generator/pull/53

[2022-10-17 13:14] stevekuznetsov opened #2194 "feature: implement a ResourceBootstrapper initializer-as-a-service"

[2022-10-17 13:14] stevekuznetsov opened #2195 "feature: remove the current bootstrap controllers and replace them with initializer services"

[2022-10-17 13:14] stevekuznetsov commented on #2195
Depends on #2194

[2022-10-17 13:14] #209 closed

[2022-10-17 13:55] ncdc opened #2196 "Replace "virtual workspace" terminology with "view" everywhere"
|Old|New|
|-|-|
|virtual workspace|service|
|APIExport virtual workspace|APIExport service|
|Syncer virtual workspace|Syncer service|
|Workspaces virtual workspace|Workspaces service|
|Initializing workspaces virtual workspace|Initializing workspaces service|
|pkg/virtual|pkg/service|
|cmd/virtual-workspaces|cmd/kcp-services (?)|
|docs/virtual-workspaces.md|docs/services.md|

+ global search for "

[2022-10-17 13:56] stevekuznetsov commented on #2196
+10000

[2022-10-17 16:59] stevekuznetsov opened #2200 "reconciler/apibindingdeletion: improve integration tests to ensure correct resources are deleted"
_Originally posted by @ncdc in https://github.com/kcp-dev/kcp/pull/2173#discussion_r997296224_

[2022-10-17 17:20] kasturinarra commented on #1755
@wangke19 just a quick check, this might be working, but how do we know this has already been fixed ? Did we have any other PR tracking this work ? Also as per QE process please help add /label qe-approved and then add the detailed steps that you used for verification, thanks !!

[2022-10-17 18:55] #2161 closed

[2022-10-17 18:57] ncdc opened #2204 "Flake: pkg/tunneler Test_integration_multiple_connections"
[code]

From https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kcp-dev_kcp/2202/pull-ci-kcp-dev-kcp-main-test/1582073726726311936

[2022-10-17 20:28] ncdc opened #2207 "go interface low-level code segfault"
Happened in https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kcp-dev_kcp/2205/pull-ci-kcp-dev-kcp-main-e2e-multiple-runs/1582095144843218944 for #2205 but I doubt anything in there is causing this. And it only happened in 1 of 3 e2e runs.

[code]

[2022-10-17 20:34] MikeSpreitzer opened #2208 "Confusing language in docs/locations-and-scheduling.md"
The current version (https://github.com/kcp-dev/kcp/blob/6979131ad3fd1ca311cc6641925cfbeea9859b5a/docs/locations-and-scheduling.md) is not entirely clear to me.

1.  There is a "main concepts" section, and it does not define "location workspace".  But this concept is used later without being defined (e.g., in the Placement objects exhibited in the "Placement and resource scheduling" section).
2. E

[2022-10-17 20:47] ncdc commented on #2207
Weird, this appears to be an issue with a go type assertion. Should never happen... Only issue I've found so far was from 2017 - https://github.com/golang/go/issues/20901 - and it was never reproducible.

[2022-10-18 08:59] davidfestal commented on #2147
Yes that's it. Exactly.

[2022-10-18 09:03] MatousJobanek opened #2211 "feature: labels at kcp- namespaces in workload clusters"
### Feature Description

The kcp syncer generates namespaces with cryptic names in the workload clusters and the additional information about the source of the namespace is stored in an annotation. This is:
* hard to use when listing the namespaces
* hard/impossible to use in Prometheus query

In addition, consider a situation when the same deployment is deployed in two instances of kcp (kcp-stabl

[2022-10-18 09:19] p0lyn0mial commented on #348
After discussing it with @sttts we can close this issue. Most of the objectives will be replaced by the caching layer.

Reporting stale/old data from an informer is only outstanding, which is captured in a separate issue. @stevekuznetsov could you share a link to that issue?

[2022-10-18 09:25] pweil- commented on #348
Couple links that might be helpful:

[Sharding Project View](https://github.com/orgs/kcp-dev/projects/1/views/44)
[Provide Users With an API to Request Cached, Global/Regional Views of Data (ReplicationClaims)](https://github.com/kcp-dev/kcp/issues/2007) (mentions monitoring liveness/staleness)
[Caching Proxy MVP](https://github.com/kcp-dev/kcp/issues/342) (mentions stale reads)

[2022-10-18 09:48] pweil- commented on #2196
Some of these make me wonder if we'll be muddying up the term `service`.  A service, in my head, encapsulates the entirety of:

1. The exposed API
2. The virtual workspace view
3. The implementation that fulfils requests
4. Maybe other things specific to how I implement my service

But I like where this is going.  Is there value in keeping the workspace concept in there?  Like `virtual workspace`

[2022-10-18 10:11] akoserwal opened #2212 "bug: Issue with RBAC for strimzi-operator"
### Describe the bug

Forbidden!Configured service account doesn't have access. Service account may have been revoked. pods "my-cluster-zookeeper-0" is forbidden: Internal error occurred: unable to get cluster for list key "/registry/core/limitranges/kafka/"

### Steps To Reproduce

# kcp terminal (version release:0.9.0)
kubectl ws create strimzi
kubectl ws use strimzi
kubectl kcp workload sync ki

[2022-10-18 11:00] ncdc commented on #2196
@pweil- we need to remove "workspace" from this term - these "things" are not workspaces 😄

[2022-10-18 11:53] pweil- commented on #2196
😆

[2022-10-18 12:15] davidfestal commented on #2147
Let me summarize:

The experimental Advanced Scheduling annotation added on the `SyncTarget`, and used by `kcp-glbc` is not expected to be used in a shared environment. It enables the mechanism explained by @mikenairn above where, for all resource types, the Status will not be updated in the upstream object anymore, but in SyncTarget-specific annotations.
So once this annotation has been added, yo

[2022-10-18 12:17] davidfestal commented on #2147
Let me close this issue then, since it is not a bug, but related to an in-progress feature

[2022-10-18 12:17] #2147 closed

[2022-10-18 12:45] ncdc commented on #348
/close

[2022-10-18 12:46] #348 closed

[2022-10-18 14:41] ncdc opened #2216 "feature: add leader election for controllers"
### Feature Description

As a kcp platform operator, I would like to be able to run multiple copies of the kcp process for high availability.

As a kcp platform operator, I need to ensure that multiple copies of the controllers do not fight with each other.

### Proposed Solution

We can enable leader election (optionally) so only 1 copy of each controller is active at a time.

### Alternative Sol

[2022-10-18 14:44] nrb opened #2217 "Community Meeting October 18, 2022"
### Overview

At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/mpd-cypd-sdp
Or dial: ‪(DE) +49 30 300195060‬ PIN: ‪500 599 130 5702‬#
More phone numbers: https://tel.meet/mpd-cypd-sdp?pin=5005991305702
Or join via SIP: sip:5005991305702@gmeet.red

[2022-10-18 14:45] nrb commented on #2217
Incoming issues: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+-label%3Acommunity-meeting+no%3Amilestone – https://github.com/orgs/kcp-dev/projects/1/views/22

Milestone epics: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+label%3Amilestone-blocker+label%3Aepic

[2022-10-18 14:46] sttts commented on #2216
There are probably a thousand implementations. Here is one using client-go https://github.com/kube-bind/kube-bind/blob/main/cmd/konnector/cmd/leaderelection.go

[2022-10-18 14:48] ncdc commented on #2216
Right, no need to reinvent the wheel, since client-go has it already

[2022-10-18 14:59] astefanutti opened #2218 "Placement stays in `Unbound` phase if `namespaceSelector` is nil"
### Describe the bug

When creating a Placement, without specifying `namespaceSelector`, it stays in `Unbound` phase, while the documentation states the field is optional and all namespaces are matched by default.

### Steps To Reproduce

[code]

### Expected Behaviour

The Placement should be bound even if `namespaceSelector` is nil

### Additional Context

It works by adding `namespaceSelector:

[2022-10-18 15:02] sttts commented on #2217
https://github.com/kube-bind/kube-bind

[2022-10-18 15:17] nrb commented on #2184
Can you provide client-side steps to reproduce please?

[2022-10-18 15:18] nrb commented on #2133
@hasheddan Is this in progress?

[2022-10-18 15:20] p0lyn0mial commented on #2148
/assign @p0lyn0mial

[2022-10-18 15:22] nrb commented on #2172
@davidfestal Can you delegate this?

[2022-10-18 15:24] nrb commented on #2194
@stevekuznetsov Could you provide more context?

[2022-10-18 15:24] ncdc commented on #1149
All remaining tasks moved to individual GH issues

[2022-10-18 15:27] davidfestal commented on #2172
@qiujian16 Any idea what it could be ?

[2022-10-18 15:27] nrb commented on #2207
Per community meeting, we'll keep this open to track flakes in case it happens again.

[2022-10-18 15:34] #912 closed

[2022-10-18 16:16] hasheddan commented on #2133
@nrb yep! Should have PR soon 👍🏻

[2022-10-18 16:25] #2217 closed, assigned to nobody

[2022-10-18 18:08] andybraren commented on #2165
I can imagine API-level support for this being useful for GUIs as well.

[2022-10-19 07:28] zxiao-redhat opened #2220 "bug: [cluster scoped quota] cannot create resource after quota is applied in admin namespace"
### Describe the bug

As dev suggested, cluster-scoped-quota only works under admin namespace. When applying such quota under admin namespace, when trying to create resource (such as secret), it prompted **“error: failed to create secret Operation cannot be fulfilled on resource quotas "cluster-scoped-quota": the object has been modified; please apply your changes to the latest version and try aga

[2022-10-19 08:04] mjudeikis commented on #2184
Reproduced without any golang code:
1. Set KCP loglevel to 12
2. Start KCP
3. Get identity hash for workloads api:
[code]
4. Get into workspace we gonna use for exporting. `k kcp workspace use root:compute`
5. Create export for our API (https://gist.github.com/mjudeikis/4d7fb8710f71648497b761138daec371)
[code]
6. Create consumer workspace:
[code]
7. Create binding for consumer:
[code]
8. Get back

[2022-10-19 09:37] qiujian16 commented on #2218
I think it is a doc bug, nil actually means select nothing, while an empty selector means select all.

[2022-10-19 09:49] qiujian16 commented on #2172
this test creates a placement, then disable the placement by removing the namespaceSelector and re-enable it again. The service in the workspace should be created -> deleted -> recreated in the downstream cluster.  I do not think scheduling part has the problem (this is checked before the failure part), need to take a look whether something wrong when having a too frequent resource recreation by s

[2022-10-19 09:52] astefanutti commented on #2218
I wonder:
- What does it mean for `namespaceSelector ` to be optional then, in the sense that if nil means the Placement is always unbound in that case? Should it default to `{}`?
- What's the semantic of `namespaceSelector` when `locationResource` points to cluster-scoped resources?

[2022-10-19 11:47] davidfestal opened #2225 "coordination controller support and demo"

[2022-10-19 13:28] stevekuznetsov commented on #2218
@ncdc I think this is what we were seeing?

[2022-10-19 16:29] clubanderson opened #2229 "Community Meeting November 1, 2022"
### Overview

At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/mpd-cypd-sdp
Or dial: ‪(DE) +49 30 300195060‬ PIN: ‪500 599 130 5702‬#
More phone numbers: https://tel.meet/mpd-cypd-sdp?pin=5005991305702
Or join via SIP: sip:5005991305702@gmeet.red

[2022-10-19 16:30] clubanderson commented on #2229
Introduction of SIG-Edge working group (Paolo, Mike, Ezra).  Call for participants.

[2022-10-19 17:18] kasturinarra opened #2232 "bug: kubectl ws create <workspace_name> throws error workspace already exists intermittently"
### Describe the bug

When run ‘kcp ws use <workspace_name_which_does_not_exist>’ and later trying to create the same using ‘kcp ws create <workspace_name_which_does_not_exist>’ throws error saying “workspace already exists” where as it does not.

### Steps To Reproduce

1. Login to kcp env
2. Go to your home workspace ‘kubectl kcp ws’
       [knarra@knarra openshift-tests-private]$ kubectl ws

[2022-10-19 20:41] nrb commented on #2172
[This log](https://storage.googleapis.com/origin-ci-test/pr-logs/pull/kcp-dev_kcp/2190/pull-ci-kcp-dev-kcp-main-e2e-multiple-runs/1582823128415866880/build-log.txt) shows it failing at a different spot.

Specifically,

[code]

[2022-10-19 21:12] #1933 closed

[2022-10-20 11:05] embik commented on #2184
I also encountered something related where the virtual workspaces for built-in APIExports (like `tenancy.kcp.dev`) were not working until I applied https://github.com/faroshq/kcp/commit/e4f885c4ec6eceb603271771b105d348f0f7acf6:

**Before patch:**

[code]

**After patch:**

[code]

[2022-10-20 12:34] MatousJobanek opened #2239 "bug: SA can bind any APIExport (no matter what RBAC is set) through a VirtualWorkspace of an APIExport that claims APIBindings"
### Describe the bug

We want to implement a controller that will automatically create APIBindings in AppStudio workspaces and that will also manage their lifecycle. To be able to do that, we need an "empty" APIExport that will claim APIBindings. Whereever the APIExport is bound, the controller will automatically create additional APIBindings for all AppStudio components.
While testing permissions

[2022-10-20 14:36] clubanderson opened #2241 "epic: Edge Multicluster"
### Demo Objective

Driving Concerns

### Demo Steps

Demo Steps

### Action Items

- [X] Scope of the current demo is necessary to fit in the prototype boundaries
- [ ] Contribute to the final demo script and recording

### Stories

[Edge Computing vs Transparent Multi-Cluster (TMC) - Mike Spreitzer](
https://docs.google.com/document/d/1vwOJ3264wm17Y8fCZY9bgSjgrkO9md4qofOjUefE1N0/edit)

[2022-10-20 14:48] rajivnathan opened #2243 "bug: Version endpoint for consumer workspaces via APIExport fails"
### Describe the bug

**Get version of workspace via APIExport doesn't work**

`k get --raw <kcpurl>/services/apiexport/root:rh-sso-15850190:rajiv:provider/workspace-resource-controller-core.appstudio.redhat.com/version`

**Get configmaps from the workspace via APIExport works**

`k get --raw <kcpurl>/services/apiexport/root:rh-sso-15850190:rajiv:provider/workspace-resource-controller-core.appstud

[2022-10-20 14:51] clubanderson commented on #2241
Welcome to SIG-Edge.  Join the discussion by subscribing to notifications for this issue.  We will be updating this epic with links to architecture and interface design topics related to scalable edge multicluster and how these might be expressed using existing and possible augmentation of KCP and it's associated components.

[2022-10-20 14:51] mjudeikis opened #2244 "bug: ClusterWorkspaceType list returns 404"
### Describe the bug

I have created custom `ClusterWorkspaceType`:
[code]

And instantiated custom workspace:
[code]
When traversing Workspaces (like CLI command tree) , if im in "pre-configured" types and I list child workspaces, I get empty list, but if Im inside `bob` I get 404:
[code]
This is without fix: https://github.com/kcp-dev/kcp/pull/2242

### Steps To Reproduce

See description

### E

[2022-10-20 14:55] mjudeikis commented on #2244
Not working workspace:
[code]
Working:
[code]

[2022-10-20 15:07] mjudeikis commented on #2182
/assign

[2022-10-20 15:36] maleck13 commented on #1090
@davidfestal I have updated this issue to make it more up to date with current thinking and requirements

[2022-10-20 16:50] davidfestal commented on #1981
Brain-dump of the low-level implementation bits that come to my mind:
- Bootstrap the StorageController, co-located in the Syncer, dedicated to `PVC`s and `PV`s
- Give the StorageController access to the Syncer virtual workspace upstream informer, to potentially get upstream resources (PVCs in our case)
- Setup a downstrea informer for the StorageController for PVs and PVCs that will;
    - select

[2022-10-20 17:22] davidfestal commented on #2211
This is straightforward to implement it seems
@sttts I think we mostly need your insight about how much we want to leak this type of information in the WorkloadCluster.
However today the `NamespaceLocator` annotation contains all this information available (SyncTarget name, workspace, uid + upstream namespace and workspace).
So if this is acceptable as a visible annotation, why can't we add some o

[2022-10-21 00:37] #1421 closed

[2022-10-21 00:37] #2181 closed

[2022-10-21 07:48] MatousJobanek commented on #2239
Please, keep in mind that we need to have the possibility of creating APIBindings using a SA via a VirtualWorkspace, so our api-manager controller can manage all AppStudio APIs in the user workspaces.

[2022-10-21 07:57] qiujian16 commented on #2102
should it be `kubectl kcp workload bind`? we currently do not have a `kubectl kcp bind` command, or should there be a common bind command that will also be used for other bind related functions?

[2022-10-21 07:59] mjudeikis commented on #2165
API story really depends where we go with the discussion from @sttts for flattening workspaces and keeping stucture only in proxy layer as metadata (if I got the idea right). In that case API is bit complicated.

[2022-10-21 13:20] ncdc opened #2251 "Hold for 2104 | branch:main"

[2022-10-21 16:21] #2251 closed

[2022-10-21 16:27] mjudeikis commented on #2184
I can now determine this happens only with SyncTargets, and not user provided APIExports.
Tried to reproduce in the tests using Cowboys API with
[code]
And I can see it working, but trying to extend same objects with Workspaces synctargets one, fails.
I think it might be related so something particular how synctargets are being called....

[2022-10-21 16:29] mjudeikis commented on #2184
And not even all API calls. Few identity dumps from logs
[code]

[2022-10-21 17:29] nrb commented on #2229
FYI, we'll be cancelling the November 2, 2022 meeting for Kubecon. [See Slack](https://kubernetes.slack.com/archives/C021U8WSAFK/p1666272534955959).

Let's repurpose this issue for the following week, November 9.

[2022-10-21 17:34] clubanderson commented on #2229
in the slack I see that next Tuesday is cancelled which is Oct. 25th.  This agenda should be used for Nov 1st which is not cancelled.  Please advise @nrb

[2022-10-21 17:35] nrb commented on #2229
Ack, you're right, my mistake :)

[2022-10-21 18:25] stevekuznetsov commented on #2229
Strongly-typed cluster-aware clients, listers & informers

[2022-10-21 19:11] ncdc commented on #2102
We do now 😄 https://github.com/kcp-dev/kcp/pull/2027

[2022-10-22 00:58] stevekuznetsov commented on #2184
If it happens with `SyncTarget` and is due to it being served from our system workspace, it should also apply to e.g. `Placement` - sounds like you have enough to write that e2e and fix the issue!

[2022-10-22 13:47] mjudeikis opened #2254 "bug: sharded-test-server does not work with `run-virtual-workspaces=false`"
### Describe the bug

If you run `./sharded-test-server --shard-run-virtual-workspaces=false` , it never starts
[code]

### Steps To Reproduce

[code]

### Expected Behaviour

Should work.

### Additional Context

I observed similar when trying to deploy KCP outside single binary where KCP and VirtualWorkspaces container never becomes ready if ran separatly

[2022-10-22 14:11] mjudeikis commented on #2254
Cna `poststarthook/kcp-start-kcp-apibinder-initializer` succedd without VirtualWorkspace running? Is this not circular dependency?

[2022-10-22 15:28] stevekuznetsov commented on #2254
I think there's ongoing work in this space, @ncdc and @nrb know the status there.

[2022-10-22 16:21] ncdc commented on #2254
I have started this but haven't finished

[2022-10-23 15:44] mjudeikis commented on #2254
So its clear to assume that running VW outside main process is not yet supported. If so happy to close this

[2022-10-23 18:25] ncdc commented on #2254
Not supported yet. It's ok to keep it open so we can close it when it's fixed

[2022-10-24 08:21] davidfestal commented on #2102
From a user POV it should be `kubectl kcp bind workload` (== a subcommand of the `bind` command).
But implementation-wise it might also have been a `kubectl-kcp-bind-workload` binary.
However based on the just-merged PR @ncdc mentioned, adding a sub-command to the `bind` command, and completing the `bind` command help with the workload use-case would probably provide a better UX.

[2022-10-24 18:45] waltforme commented on #2241
+10000

[2022-10-24 23:24] KPRoche commented on #2241
The link for "more info" points to an access-controlled Google Doc. Can you fix that?

[2022-10-25 14:57] jmprusi commented on #2041
Another possibly related instance of this issue:

https://kubernetes.slack.com/archives/C021U8WSAFK/p1666709160236279

[2022-10-25 16:29] davidfestal opened #2261 "bug: root:compute maximal permission policy doesn’t grant access to the deployments/scale resource"
### Describe the bug

The maximal permission policy of the `root:compute` workspace doesn’t grant access to the `deployments/scale` resource.

### Steps To Reproduce

[code]

### Expected Behaviour

Be able to scale the deployment

### Additional Context

_No response_

[2022-10-25 17:38] stevekuznetsov opened #2263 "flake: TestAPIExportAPIBindingsAccess"
[code]

/cc @ncdc

[2022-10-26 12:41] stevekuznetsov commented on #2263
Logs for any workspace under the org, for reconcilers:

[code]

[kcp.log](https://github.com/kcp-dev/kcp/files/9869497/kcp.log)

[2022-10-26 12:59] stevekuznetsov commented on #2263
@ncdc looks like it's `expected=map[] unexpected=map[] toApply=map[] toRemove=map[] all=map[]` every time :facepalm:

[2022-10-26 13:02] stevekuznetsov commented on #2263
We've got the test clearing the accepted claims from spec:

[code]

Then, the responses ...

[code]

[2022-10-26 13:06] stevekuznetsov commented on #2263
`reconciler="kcp-permissionclaimlabel"` re-labels all of the APIBindings in the workspace, correctly, and then issues this patch to the APIBinding in question:

[code]

[2022-10-26 13:12] stevekuznetsov commented on #2263
Ah, sorry - so that is the controller processing the previous case, where we added APIBindings:

[code]

In the middle of that flow, we remove the permission claim, while it's still labeling things. Then we end up attempting to patch status, but get the 409, so we never exposed that we were labeling it in the positive direction, and on the re-queue, we have no permission claims in spec (since the

[2022-10-26 13:15] stevekuznetsov commented on #2263
Marking the test as to-skip in https://github.com/kcp-dev/kcp/pull/2260/commits/13e6bf5862e5f69b91a01e22fe2ab4791d6117f8

[2022-10-26 13:40] clubanderson commented on #2241
Driving Concerns1. Edge Computing differs from kcp’s Transparent Multi-Cluster (TMC) scenario in a few deep ways, each of which has a few more granular consequences.  I am using the term Edge Computing broadly to cover a variety of use cases that we have considered.  In this document I attempt to distill the important differences with TMC.
2. Customers doing edge computing are concerned not only w

[2022-10-26 13:41] clubanderson commented on #2241
Driving Concerns now listed as a comment.  At some point this doc will be converted to a doc in GH once a location is identified.

[2022-10-26 21:17] ncdc commented on #2204
Dupe of #1994

[2022-10-26 21:17] #2204 closed

[2022-10-26 21:18] ncdc commented on #1994
@stevekuznetsov @sttts it may be time to disable this test (`t.Skip`) until we have time to investigate it - it's for something that's behind a feature gate and not fully implemented yet.

[2022-10-27 14:45] hardys opened #2274 "bug: e2e-sharded failed to list *v1alpha1.ClusterWorkspace: Unauthorized"
### Describe the bug

In `e2e-sharded` runs we're seeing an error like this (this doesn't actually stop the job from passing so perhaps we need to look at additional test coverage)

[code]

After debugging locally, it appears to be because we're using the root shard-admin token for all shards [when creating the clients](https://github.com/kcp-dev/kcp/blob/main/pkg/proxy/server.go#L65) used by the

[2022-10-27 14:45] hardys commented on #2274
/assign

[2022-10-27 14:54] p0lyn0mial commented on #2274
sgtm, thanks for picking it up.

[2022-10-27 17:53] stevekuznetsov opened #2278 "bug: flake: TestSyncerLifecycle"
### Describe the bug

[code]

https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kcp-dev_kcp/2275/pull-ci-kcp-dev-kcp-main-e2e-shared/1585683386830163968

### Steps To Reproduce

Run the CI :)

### Expected Behaviour

No failure

### Additional Context

Likely similar to https://github.com/kcp-dev/kcp/issues/1873

[2022-10-27 17:53] stevekuznetsov commented on #2278
/cc @davidfestal
/assign @jmprusi

[2022-10-27 18:59] stevekuznetsov commented on #2278
Another: https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kcp-dev_kcp/2275/pull-ci-kcp-dev-kcp-main-e2e-shared/1585690577364586496

[2022-10-28 09:41] hardys commented on #2274
So looking at the history here, I see that the current per-shard client code landed in https://github.com/kcp-dev/kcp/pull/1203 - so it would be helpful to get input from @sttts before I start changing it :)

If we switch this to use client certs, then I think we need to handle the case where each shard has a different cert, and the method to enable that appears to be the mapping file, however in

[2022-10-28 09:47] p0lyn0mial commented on #2274
I think that should be okay, I think that the proxy could specify a well-known `ServerName` during bootstrapping a TLS connection to a shard. That would give us a certificate that would much a well-known `CA`. Does it make sense?

[2022-10-28 13:11] stevekuznetsov commented on #2278
@ncdc we see this in the audit logs:

[code]

This is leading us to believe that the `*rest.Storage` created for this CRD in `customresource_handler.go` at least temporarily is missing structural schemas or something.

[2022-10-28 14:32] stevekuznetsov opened #2281 "bug: flake: test/e2e/reconciler/locationworkspace TestMultipleExport"
### Describe the bug

[code]

### Steps To Reproduce

https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kcp-dev_kcp/2222/pull-ci-kcp-dev-kcp-main-e2e-multiple-runs/1585994302239019008

### Expected Behaviour

Not this

### Additional Context

_No response_

[2022-10-28 14:32] stevekuznetsov commented on #2281
/cc @davidfestal
/assign @qiujian16

[2022-10-28 15:19] jmprusi commented on #2278
After merging: https://github.com/kcp-dev/kcp/pull/2279

Seems that the client is sending the correct information, and something is removing the spec:

[code]

flaky test run:
https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kcp-dev_kcp/2180/pull-ci-kcp-dev-kcp-main-e2e-shared/1585987621723574272

[2022-10-30 05:56] fgiloux commented on #2229
Discussing the options for the discovery and selection of kcp shards by controller manager instances (the processes spawning controllers and informers). Here is the [current state of investigation](https://docs.google.com/document/d/1zI9KOpLp6H_tAcKpGbLpQu_iUK9VbpgUSo0OFEd7Mig/edit#).

[2022-10-31 04:04] wangke19 commented on #1755
@kasturinarra Okay, thank you for your suggestion. I tried to searche for related errors, but couldn't find a PR to confirm if it was fixed. I will re-open the issue.
@ncdc Could you help to confirm which PR has fixed this issue? Thanks.

[2022-10-31 10:15] jmprusi opened #2284 "bug: Synctarget health only takes into account the syncer pod and not the syncer-dns pod."
### Describe the bug

Currently a synctarget is marked as ready as soon as the syncer POD sends the heartbeat and it's successful, but the Syncer is now comprised of two distinct deployments: `syncer` and `syncer-dns`.

Should we take into account

### Steps To Reproduce

1. Deploy a new syncer on k8s cluster
2. Monitor the Synctarget health on KCP -> should get ready, even if the syncer-dns is no

[2022-10-31 10:20] mjudeikis opened #2285 "APIServer returns an error to the client that is not metav1.Status"
### Describe the bug

Related to this:
While debugging https://github.com/kcp-dev/kcp/issues/2184 found NPE

### Steps To Reproduce

1. Follow steps in 2184 to reproduce
2.
[code]
Which is ok error but server:
[code]

### Expected Behaviour

No NPE

### Additional Context

_No response_

[2022-10-31 10:39] davidfestal commented on #2284
Well, the thing is that quite soon the `syncer-dns` container will not anymore be starting in the same POD as the Syncer, since there will be one CoreDNS running per KCP user workspace (see issue https://github.com/kcp-dev/kcp/issues/1987).
And those CoreDNS-dedicated Pods would be started/stopped by the Syncer itself.
So, unless the fix is straightforward, I'm not sure it's worth investing time i

[2022-10-31 10:57] davidfestal commented on #2284
So it seems this brings up the broader topic of:
- reporting to a resource that syncing is not possible (for a number of reasons, CoreDNS being only one of them)
- possibly including this syncing unrecoverable error condition in the resource scheduling

cf https://github.com/kcp-dev/kcp/issues/1873

[2022-10-31 12:25] stevekuznetsov commented on #2284
We should prioritize making the system self-consistent and functional at every moment, to the best of our ability. There's always going to be a lot of churn in these early days but if we don't make each step stable-ish for users, they will never stick around long enough to see the future version you're excited about.

[2022-10-31 12:27] stevekuznetsov commented on #2285
I don't think that is an NPE, the logging just prints the stack for the error.

[code]

/retitle APIServer returns an error to the client that is not metav1.Status

[2022-10-31 13:24] mjudeikis commented on #2285
Good catch, sorry as very deep into multitasking to spot this one but wanted to document so it would not get lost :)

[2022-10-31 15:39] ncdc commented on #2211
Given the data is already present in an annotation, it's no less secure to also have it in labels. No objections from my side.

[2022-10-31 18:48] lionelvillard commented on #2284
There is the question of what to report in SyncTarget, either:
- aggregate health: Syncer is healthy when all pods owned by the syncer are healthy (e.g CoreDNS pods)
- individual health: health is reported for each individual pods

Since the number of pods (read deployments) is dynamic (e.g one CoreDNS deployment per workspace), and condition lists are static, aggregate health seems to be the only

[2022-10-31 18:50] nrb commented on #2229
[Narrowly-scoped permission claims](https://docs.google.com/document/d/1IHai7FlVQXPCD_MZObT0CzAkdOFSZuWGokHa_kn72HQ/edit#) doc. Issue #1937

[2022-10-31 19:04] #2102 closed

[2022-10-31 20:40] davidfestal opened #2287 "bug: deletion annotation not removed when scheduler scheduled this resource again"
### Describe the bug

When a resource has been scheduled to Synctarget A, and should then be scheduled to SyncTarget B, a deletion annotation is first added to the resource for Synctarget A. If, before the resource is completely removed from SyncTarget A, it is scheduled back to SyncTarget A, the deletion annotation for SyncTarget A is not removed.
This prevents further syncing to happen correctly

[2022-11-01 10:44] hardys commented on #2274
Thanks for the feedback @p0lyn0mial  - I get that the `ServerName` has to match the CN/SAN in the server cert, but I'm unclear if the proxy has to do anything special here - the user provides the server/client certs, and the `ServerName` will be derived from the `ClusterWorkspaceShard` spec in the indexer, so the hostname (or potentially IP for CI/dev testing) just has to match?

I think leveragin

[2022-11-01 10:57] hardys commented on #2274
/cc @ncdc who mentioned he has some work in progress related to this

[2022-11-01 11:52] francostellari commented on #2241
👍

[2022-11-01 13:34] stevekuznetsov opened #2290 "bug: authorization failures don't tell a user what workspace their request was in"
### Describe the bug

Today, our failures look like this:

[code]

### Steps To Reproduce

Do something you are not allowed to

### Expected Behaviour

It would be ideal if we did this:

[code]

### Additional Context

_No response_

[2022-11-01 13:54] stevekuznetsov commented on #2229
#2196 before we cut the next release?

[2022-11-01 16:17] mjudeikis commented on #2285
/assign

[2022-11-01 16:23] MikeSpreitzer commented on #2241
The content in https://github.com/kcp-dev/kcp/issues/2241#issuecomment-1292065404 was copied from an earlier edition of the Google doc linked under "Artifacts" in the opening comment.

[2022-11-01 21:45] #2229 closed

[2022-11-02 09:43] yuji-watanabe-jp commented on #2241
I would like to join the discussion.

[2022-11-02 10:02] astefanutti commented on #1334
Let's close this as it's been addressed as part of #1895.

[2022-11-02 10:02] #1334 closed

[2022-11-02 10:21] apoorvajagtap opened #2295 "bug: Enhance the error message when an admin.kubeconfig already exists, but is corrupt"
### Describe the bug

Recently I was performing a kcp startup, which failed with the following errors:

Later, I determined the issue was due to a pre-existing corrupt kubeconfig (did not have any token or context details for shard-admin user) at `.kcp/admin.kubeconfig`. After cleaning up .kcp, I re-ran `go run ./cmd/kcp start`, and it progressed well!

Would it be feasible to enhance the error me

[2022-11-02 14:24] hardys commented on #2274
Summary of some discussion with @ncdc and @p0lyn0mial

- @ncdc has some related [work in progress](https://github.com/ncdc/kcp/commit/a3ddd82075be2b2d1eb703116f32a6d00e0fc76e) which we can possibly revive then use the same client-cert pattern to solve this (convert the informer client to use a proxy->shard client cert instead of the shard-admin token)
- We can't easily use an admin kubeconfig to s

[2022-11-03 06:55] MikeSpreitzer commented on #2196
If I understand correctly, the concept here is very analogous to what, in the database community, is called a "view".  I think we should focus on that term, it will readily lead the reader in the right direction.

If I understand correctly, there is one more critical specific feature of the concept here, which is that a virtual workspace looks the same, to a client, as a plain Kube cluster or a kc

[2022-11-03 07:01] MikeSpreitzer opened #2296 "doc bug: incorrect example of a virtual workspace"
### Describe the bug

I am still learning about virtual workspaces.  I read https://github.com/kcp-dev/kcp/blob/main/docs/content/en/main/concepts/virtual-workspaces.md .  I looked at Example 1.  I also downloaded and built and ran v0.9.1 of kcp and tried it out, passing `-v=6` to `kubectl` to see the actual HTTP request(s) involved.  Following is an example.

[code]

This does not compare favorab

[2022-11-03 12:41] ncdc commented on #2274
Accidentally marked as fixed by 2297
/reopen

[2022-11-03 13:04] MikeSpreitzer commented on #2241
To be completely clear, the copy in the comment above is outdated

[2022-11-03 13:07] clubanderson commented on #2241
access control updated and available to all in KCP-dev google group.

[2022-11-03 13:19] kylape opened #2300 "bug: KCP consumes lots of memory over time as bound APIs are created and deleted"
### Describe the bug

When the first `APIBinding` for a given `APIExport` is created, a CRD in the "shadow" workspace (i.e. `root:bound-crds`) is created.  This CRD is never deleted, even after all `APIBindings` for that `APIExport` are deleted.  Over time, this build up of CRDs can lead to excessive memory consumption.

### Steps To Reproduce

Given any `APIResourceSchema`, `APIExport`, and at le

[2022-11-03 13:22] stevekuznetsov commented on #2196
Yep, we had brandied around the "view" terminology early on as well.

[2022-11-03 13:34] Roming22 commented on #2041
We're strongly impacted by this bug, which results in our service to be highly unstable as it triggers another bug related to finalizers. Unfortunately we can't expect that second bug to be resolved in a timely manner, so we're hoping for a fix on kcp's end.

[2022-11-03 13:44] clubanderson commented on #2241
copy has been removed - please refer to content in link above.

[2022-11-03 15:23] csams opened #2301 "bug: the front proxy doesn't expose metrics"
### Describe the bug

The front proxy doesn't expose metrics, which means there are no SLIs to measure for SLOs across shards or when a shard is down.

### Steps To Reproduce

n/a

### Expected Behaviour

The front proxy should expose basic metrics like request count and latency.

### Additional Context

_No response_

[2022-11-03 19:35] kylape opened #2304 "bug: kcp panics when trying delete bound CRD and a corresponding apibinding exists"
### Describe the bug

The `apis.kcp.dev/identity` annotation on bound CRDs is added by some handler for every custom resource request.  It's used to add the `APIExport` identity hash to the etcd key prefix.

When a CRD is being deleted, the handler that adds this annotation is not executed, and the same code path that [checks for `apis.kcp.dev/identity`](https://github.com/kcp-dev/kubernetes/blob/

[2022-11-04 20:30] ncdc commented on #2148
/unassign @p0lyn0mial
/assign

[2022-11-04 20:30] ncdc commented on #2148
Have been running into this locally and it was annoying me, so I went ahead and fixed it 😄

[2022-11-04 22:03] ncdc opened #2308 "bug: initializing workspaces vw allows access to any workspace regardless of status or initializer name"
### Describe the bug

/services/initializingworkspaces/$initializerName/ allows GET/UPDATE access to individual workspaces by name. It is only supposed to expose initializing workspaces for the given $initializerName. It actually exposes all workspaces, regardless of status, and regardless of initializer name.

### Steps To Reproduce

1. Create a new ClusterWorkspaceType with spec.initializer=true

[2022-11-04 22:03] ncdc commented on #2308
I have a fix for this pending
/assign

[2022-11-04 22:03] ncdc commented on #2308
FYI @nrb @stevekuznetsov

[2022-11-05 18:25] stevekuznetsov commented on #2308
Yikes

[2022-11-06 02:03] #2285 closed

[2022-11-07 11:33] wangke19 opened #2314 "Resource quota of Clusterworkspaces prevents the creation of new workspaces due to exceeded quota"
** version **
[code]

** Describe the bug **
Resource quota of Clusterworkspaces doesn’t work as expected, preventing the creation of new workspaces, just can count workspaces we created before the quota was created.

** To Reproduce **
[code]

** Expected Results **
Resource quota of Clusterworkspaces should count correctly, whatever before the resource quota creation or after.

[2022-11-07 11:34] wangke19 commented on #2314
/assign @stevekuznetsov
CC: @ncdc

[2022-11-07 11:58] davidfestal commented on #2208
Coming from a comment on PR https://github.com/kcp-dev/kcp/pull/2305#issuecomment-1305284542:

I think this is part of this PR.

[2022-11-07 12:43] salaboy opened #2315 "feature: create an in-cluster authorizer to avoid checking with parent workspaces"
### Feature Description

As described here: https://hackmd.io/Qb3HX2XGRV63Rt-83dZXNg#

This issue is focused on implementing an in-cluster authorizer to implement

[code]

### Proposed Solution

I will start by implementing `a` by copying the `workspace-authorizer.go` and adding in-cluster validations instead of the parent checks that are being used here: https://github.com/kcp-dev/kcp/blob/main/p

[2022-11-07 12:46] salaboy commented on #2315
I will add more information after looking into the code more closely.

[2022-11-07 14:37] #2287 closed

[2022-11-07 18:13] fgiloux opened #2318 "Community Meeting November 8, 2022"
### Overview

At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/mpd-cypd-sdp
Or dial: ‪(DE) +49 30 300195060‬ PIN: ‪500 599 130 5702‬#
More phone numbers: https://tel.meet/mpd-cypd-sdp?pin=5005991305702
Or join via SIP: sip:5005991305702@gmeet.red

[2022-11-07 19:29] fgiloux commented on #2318
[ APIExport evolution for sharding hackmd](https://hackmd.io/EuPmah62QHSEs-po04Kn1Q)

[2022-11-08 11:32] pweil- commented on #2318
Request for feedback on a proposal that we define and adopt an enhancement proposal process, split workloads (and possibly tenancy) from control plane code, and identify graduation criteria for existing APIs: https://github.com/kcp-dev/kcp/pull/2324

[2022-11-08 14:22] ncdc opened #2325 "bug: hot-loop: cluster_authentication_trust_controller keeps trying to update its configmap"
### Describe the bug

When running in a sharded setup, cluster_authentication_trust_controller gets into a hotloop

### Steps To Reproduce

1. `make`
2. `bin/sharded-test-server`
3. Observe `.kcp-0/kcp.log`:

[code]

### Expected Behaviour

No hotloop

### Additional Context

For some reason, this keeps thinking the old and new data are different:
[code]

[2022-11-08 14:48] ncdc commented on #2325
kcp kube fix: https://github.com/kcp-dev/kubernetes/pull/112

[2022-11-08 16:00] ncdc commented on #2318
2022 releases

[2022-11-08 16:26] ncdc commented on #2314
Might be a dupe of #2220?

[2022-11-08 16:28] ncdc commented on #2239
@s-urbaniak have you had a chance to investigate this?

[2022-11-08 16:30] ncdc commented on #2244
@mjudeikis to try to provide more details

[2022-11-08 16:35] ncdc commented on #2278
Suggest checking pruning mechanics maybe?

[2022-11-08 16:35] ncdc commented on #2278
Parallelization is maybe an issue (load on server)

[2022-11-08 16:36] ncdc commented on #2278
Maybe server side apply

[2022-11-08 16:38] ncdc commented on #2278
@stevekuznetsov are you still looking into this?

[2022-11-08 16:39] ncdc commented on #2281
Duplicate of #2207

[2022-11-08 16:44] stevekuznetsov commented on #2278
I wanted you and I to dig into this - just need debugging in the CRD handlers to figure out the race.

[2022-11-08 16:54] ncdc commented on #2092
This has been fixed

[2022-11-08 16:54] #2092 closed

[2022-11-08 18:50] cyang49 commented on #1271
I've been working on this and had on-going discussions with @MikeSpreitzer @ncdc @stevekuznetsov.

Current status: working on kcp cluster-specific work estimation functionality needed by APF logic. Added storage object count tracking mechanism and watch request tracking that work with kcp clusters. Now testing the logic.

The next step will be to work towards the demo described by Mike.

Missing f

[2022-11-08 19:01] ncdc commented on #1271
Please feel free to open draft PRs so we can start to look at them, if you'd like

[2022-11-08 19:02] ncdc commented on #1271
And thanks for the update!

[2022-11-09 11:41] david-martin commented on #1986
@davidfestal @sttts I was having a look through the codebase to get an understanding of how #1531 might be solved by creating a NetworkPolicy in each namespace. One that would "lock down by default between workspaces, but allow namespace comm for the same workspace"

Some related discusssion in slack here https://kubernetes.slack.com/archives/C021U8WSAFK/p1667469578560679

A few thoughts:
- Is the

[2022-11-09 13:05] makslion opened #2328 "Remove update specific code"
### Feature Description

To facilitate the upgrade scenario [this](https://github.com/kcp-dev/kcp-glbc/blob/main/pkg/traffic/dns.go#L90-L99) code was added.

### Proposed Solution

Replace mentioned above code with
[code]

### Alternative Solutions

_No response_

### Want to contribute?

- [ ] I would like to work on this issue.

### Additional Context

_No response_

[2022-11-09 13:06] #2328 closed

[2022-11-09 13:09] makslion commented on #2328
wrong project, appologies

[2022-11-09 15:07] fgiloux opened #2331 "feature: Creation of the endpoints and partitioning APIs"
### Feature Description

APIExports have currently limited support for controller managers looking after multiple shards.

This feature request is for providing an API that allows controllers of service providers to retrieve the endpoints of their APIExport services across multiple shards.

An API that allows service providers to create shard Partitions should also be provided:

-    for the place

[2022-11-09 15:22] fgiloux opened #2332 "feature: APIExportEndpointSlice reconciliation"
### Feature Description

This feature request follows #2331

The aim is the implementation of the APIExportEndpointSlice reconciliation. As a first step its status should get populated with the endpoints for all the Shards of the referenced APIExport

### Proposed Solution

[API design](https://hackmd.io/EuPmah62QHSEs-po04Kn1Q?view)

### Alternative Solutions

Alternatives have been discussed in t

[2022-11-09 15:29] fgiloux opened #2333 "feature: support of Partition logic in APIExportEndpointSlice"
### Feature Description

This feature request follows https://github.com/kcp-dev/kcp/issues/2331 and https://github.com/kcp-dev/kcp/issues/2332

Its aim is the implementation of a reconciliation mechanism so that the endpoints listed in the status of an APIExportEndpointSlice match the filtering provided by a referenced Partition

### Proposed Solution

[API design](https://hackmd.io/EuPmah62QHSEs

[2022-11-09 15:35] fgiloux opened #2334 "feature: PartitionSet reconciliation"
### Feature Description

This feature request follows https://github.com/kcp-dev/kcp/issues/2331

Its aim is the implementation of a reconciliation mechanism for PartitionSet. As part of this mechanism Partitions get created to match the dimensions and the target domain defined in the spec of PartitionSet.

A Partition is a subset of the kcp shards.
The shard topology is configured through the lab

[2022-11-09 15:50] adambkaplan commented on #1195
@ncdc revisiting this item.

One need that Pipeline Service needs to do is regularly prune Tekton PipelineRun and TaskRun objects, re-implementing the Pruner feature of the Tekton Operator (see https://tekton.dev/vault/operator-main/tektonconfig/#pruner and https://docs.openshift.com/container-platform/4.11/cicd/pipelines/automatic-pruning-taskrun-pipelinerun.html). Without pruning, the service ri

[2022-11-09 16:57] #1992 closed

[2022-11-09 17:20] davidfestal commented on #1986
Here is the current take on this (still need to formalize it in an issue / EPIC):
- short term:
  - The syncer would create namespaced NetworkPolicies to ensure a strong network isolation of namespaces originating from different KCP workspaces (no syncing required here, since the policies restrict all traffix between those namespaces
  - User-provided NetworkPolicies (provided in KCP and synced to

[2022-11-09 17:43] #2148 closed

[2022-11-09 19:34] #2325 closed

[2022-11-10 15:20] #2141 closed

[2022-11-10 16:45] #191 closed

[2022-11-10 17:51] ncdc commented on #506
Replaced by #1271

[2022-11-10 19:31] csams opened #2344 "Decide on an approach for handling KCP specific metrics"
We're exposing KCP specific metrics for the [auth cache](https://github.com/kcp-dev/kcp/blob/main/pkg/virtual/workspaces/authorization/metrics/metrics.go#L23) and [front proxy](https://github.com/kcp-dev/kcp/pull/2302) and are using the `legacyregistry` for them. Should we move away from it? If so, what's the strategy?

[2022-11-10 20:14] #2261 closed

[2022-11-11 03:54] cyang49 commented on #1271
I rebased my forks and found many modifications needed due to the kcp cluster client interface changes. Now the `apf-for-kcp` branches in the forks can build, but the APF `Handle` function panics when the cluster name of requests is the wildcard `*`. Andy suggests skipping APF for those requests for now. I'll continue testing and adding generation of default APF objects for each ClusterWorkspace

[2022-11-11 19:25] cyang49 commented on #1271
I looked into [the code](https://github.com/kcp-dev/kubernetes/blob/522b775dad042b928b80f397fc18590c4c512d0c/pkg/registry/flowcontrol/rest/storage_flowcontrol.go#L131) that ensures APF default resource objects, including both mandatory and suggested ones. We will need this mechanism to work for each logical cluster in KCP. This is another place where the lack of cluster-awareness may need major co

[2022-11-11 23:40] #2300 closed

[2022-11-13 23:05] csams commented on #1794
I'm working on this in https://github.com/redhat-cps/front-proxy/pull/3

[2022-11-14 09:53] qiujian16 opened #2349 "bug: should not list synctarget when running bind compute command"
### Describe the bug

a user who wants to `bind compute` may not have permission to list synctarget in the location workspace, which will cause the command failure.

We should have a controller to check the synctarget's supported apiexport, and then reflects in the condition of apibindings. With that the user does not need to access location workspace.

### Steps To Reproduce

1. create a synctarg

[2022-11-14 09:53] qiujian16 commented on #2349
/assign @qiujian16

[2022-11-14 13:09] ncdc commented on #1271
@cyang49 let's find some time early this week to sync up and do some brainstorming

[2022-11-14 14:20] davidfestal opened #2351 "`kcp workload sync` command should put a recommended syncer version in the deployment, and the `syncer` binary should verify it matches."

[2022-11-14 14:21] davidfestal opened #2352 "Syncer virtual workspace should extract the syncer kcp version from the user agent and validate it is compatible."

[2022-11-14 18:35] #2187 closed

[2022-11-14 20:31] #1987 closed

[2022-11-14 21:10] lionelvillard opened #2357 "Add support for updating DNS resources"
https://github.com/kcp-dev/kcp/pull/2293 follow-up. When reconciling DNS resources, the controller must check their content hasn't changed, which can happen after a KCP upgrade.

Part of https://github.com/kcp-dev/contrib-tmc/issues/95

@davidfestal

[2022-11-14 21:15] lionelvillard opened #2358 "DNS objects should be garbage collected when their workspace is "deleted""
https://github.com/kcp-dev/kcp/pull/2293 follow-up.

DNS objects are currently never deleted and they should be when there is no more objects in their corresponding workspace.

Part of https://github.com/kcp-dev/kcp/issues/1986

@davidfestal

[2022-11-15 11:49] sttts opened #2362 "Community Meeting Nov 15, 2022"
### Overview

At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/mpd-cypd-sdp
Or dial: ‪(DE) +49 30 300195060‬ PIN: ‪500 599 130 5702‬#
More phone numbers: https://tel.meet/mpd-cypd-sdp?pin=5005991305702
Or join via SIP: sip:5005991305702@gmeet.red

[2022-11-15 11:50] sttts commented on #2362
Incoming issues: https://github.com/orgs/kcp-dev/projects/1/views/22

Milestone epics: https://github.com/kcp-dev/kcp/issues?q=is%3Aopen+is%3Aissue+label%3Amilestone-blocker+label%3Aepic

[2022-11-15 11:51] sttts commented on #2362
ClusterWorkspace redesign pending

- overview https://docs.google.com/drawings/d/1ulOiUenaPzyuva-Fim6x0hLldVLRJhtKwZcZTKIEEWw/edit
- design https://hackmd.io/Qb3HX2XGRV63Rt-83dZXNg
- phase A implementation: https://github.com/kcp-dev/kcp/pulls?q=is%3Apr+is%3Aopen+sort%3Aupdated-desc+draft%3Afalse+-label%3Ado-not-merge%2Fwork-in-progress+author%3Ap0lyn0mial
- phase B feature branch (WIP): https://g

[2022-11-15 14:07] lionelvillard opened #2364 "feature: DNS isolation level should be configurable."
### Feature Description

The syncer creates a new DNS nameserver (ie. a new pod) per workspace, allowing for strong isolation that can be enforced by network policies. This level of isolation comes with a price, creating a workspace is now more expensive (compare to no DNS support) in terms of resources being consumed on the workload cluster.

While strong isolation is often required, there are va

[2022-11-15 14:28] lionelvillard commented on #2284
Now that https://github.com/kcp-dev/kcp/pull/2293#issuecomment-1314661235 has been merged, `syncer-dns` does not exist anymore.

Closing. @jmprusi, if you feel this is not solved, please reopen.

[2022-11-15 14:28] #2284 closed

[2022-11-15 16:40] s-urbaniak commented on #2362
discussion around a central place for documentation and propsals, also see https://github.com/kcp-dev/kcp/pull/2324/files

[2022-11-15 16:51] csams commented on #2304
Panic reference: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/etcd.go#L71

[2022-11-15 18:00] davidfestal opened #2365 "bug: Retrieve the workspace-related CoreDNS IP from the Service resource instead of using DNS lookup."
### Describe the bug

Currently, when mutating a Deployment to override the DNS server, the Syncer tries to guess the IP of the CoreDNS service by issuing a DNSLookup on the internal service dns name.
This prevents using the Syncer process outside of the Synctarget cluster (for local debugging purposes for example).
A better and more robust way is to get the `clusterIP` on the Service resource.

#

[2022-11-15 20:27] #2301 closed

[2022-11-16 02:44] kylape commented on #2304
Fixed by #2298

[2022-11-16 02:44] #2304 closed

[2022-11-16 02:55] kylape opened #2368 "bug: Potential for crash in apiextensions-apiserver/pkg/registry/customresource/etcd.go"
### Describe the bug

Not sure if this should be filed in the KCP project or Kube, but filing it here based on our conversation in the community call.

There is a call to `panic` at [apiextensions-apiserver/pkg/registry/customresource/etcd.go](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/etcd.go#L71) that triggered the

[2022-11-16 14:15] stevekuznetsov opened #2371 "bug: flake: TestSyncerVirtualWorkspace/access_kcp_resources_through_syncer_virtual_workspace,_from_a_other_workspace_to_the_wildwest_resources_through_an_APIBinding"
### Describe the bug

Seen this a couple times now, xref: https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kcp-dev_kcp/2353/pull-ci-kcp-dev-kcp-main-e2e-sharded/1592881165528731648

### Steps To Reproduce

run tests

### Expected Behaviour

no fail

### Additional Context

_No response_

[2022-11-16 14:15] stevekuznetsov commented on #2371
cc @qiujian16 @davidfestal

[2022-11-16 22:13] #2365 closed

[2022-11-17 17:41] #2362 closed

[2022-11-17 17:42] #2318 closed

[2022-11-18 14:34] ncdc opened #2383 "Flake: TestSyncerVirtualWorkspace/Correctly_manage_status,_with_promote_and_unpromote,_when_moving_a_cowboy_from_one_synctarget_to_the_other"
https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kcp-dev_kcp/2380/pull-ci-kcp-dev-kcp-main-e2e-multiple-runs/1593502708038373376

[code]

[2022-11-18 14:54] astefanutti opened #2384 "CRUD operations via APIExport VW on resources claimed from root workspace with local maximum permission policy always return 403"
### Describe the bug

CRUD operations via APIExport VW on resources claimed from root workspace with local maximum permission policy always return 403.

### Steps To Reproduce

1. Create an APIExport that claims permission on `scheduling.kcp.dev/placements` from the `scheduling.kcp.dev` APIExport in the `root` workspace
2. Bind that APIExport in a consumer workspace with the claim permission accep

[2022-11-18 15:09] lionelvillard commented on #2383
I'm taking a look at it.

[2022-11-18 15:44] #2383 closed

[2022-11-18 15:56] ncdc opened #2389 "Flake: TestUpsyncerVirtualWorkspace: multiple failures"
https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/kcp-dev_kcp/2356/pull-ci-kcp-dev-kcp-main-e2e-sharded/1593629106879074304

[2022-11-18 17:54] kasturinarra opened #2390 "bug: When switching between a home and a root workspace an error is thrown which reads "Forbidden to get apibindings" but a meaningful messag would help users not to get confused"
### Describe the bug

When switching between a home and a root workspace if user is not allowed to enter the root workspace then a meaningful  error should be thrown something like "You are not a member of workspace "root" instead an error message as below is thrown which is confusing to the user.

kubectl ws root
error checking APIBindings: apibindings.apis.kcp.dev is forbidden: User "rh-sso:knar

[2022-11-18 18:43] nrb commented on #2390
This originates from #2046, I'll take a look at it.

[2022-11-21 16:40] pweil- opened #2391 "Community Meeting November 22, 2022 - Cancelled"
### Overview

## This meeting is cancelled

At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/mpd-cypd-sdp
Or dial: ‪(DE) +49 30 300195060‬ PIN: ‪500 599 130 5702‬#
More phone numbers: https://tel.meet/mpd-cypd-sdp?pin=5005991305702
Or join via SI

[2022-11-21 16:56] clubanderson opened #2392 "feature: KCP.io Investigation Document for Edge Multicluster"
### Feature Description

We would like to represent the Edge MC work/sub-project in KCP.io as a KCP sub-project.

### Proposed Solution

adding an Edge MC investigation MD

### Alternative Solutions

_No response_

### Want to contribute?

- [X] I would like to work on this issue.

### Additional Context

_No response_

[2022-11-21 19:42] stevekuznetsov commented on #1943
#2378 Closed this out

/close

[2022-11-21 19:42] #1943 closed

[2022-11-22 10:33] pweil- opened #2394 "epic: Enhancement Proposal Process"
Enhancement Link: https://github.com/kcp-dev/kcp/blob/main/docs/enhancements/0001_project_enhancements.md

This Epic is to track the implementation of an enhancement proposal process. When complete the kcp project and subprojects should have a template to create new enhancements from, a repository that stores enhancements, and a clear set of approvers that are responsible for review and feedback.

[2022-11-22 10:35] pweil- opened #2395 "feature: Create enhancement proposal repo"
### Feature Description

Create new enhancement proposal repository and move https://github.com/kcp-dev/kcp/blob/main/docs/enhancements/0001_project_enhancements.md to the repository

[2022-11-22 10:37] pweil- opened #2396 "feature: Create enhancement proposal template"
### Feature Description

Create enhancement proposal template.  See prior art in Kubernetes and other communities for examples of criteria included in enhancement proposals.  Tailor the proposal process to the kcp project in terms of required sections and phases of feature maturity and proposal acceptance..

[2022-11-22 10:39] pweil- opened #2397 "feature: Create enhancement proposal process documentation"
### Feature Description

In the new [enhancement proposal repository](https://github.com/kcp-dev/kcp/issues/2395), create a readme that outlines the process of creating an enhancement, gaining approval for the enhancement, and implementation of the enhancement.

### Proposed Solution

*

### Alternative Solutions

_No response_

### Want to contribute?

- [ ] I would like to work on this issue.

#

[2022-11-22 15:23] #1340 closed

[2022-11-23 16:36] mjudeikis opened #2402 "bug: Invalid permission claim"
### Describe the bug

Invalid permission claim on native exported types

### Steps To Reproduce

1. Create APIExport with no PermissionsClaims and no 3rd party resources:
[code]

Bind the export :
[code]

See status:
[code]

This happens due to https://github.com/faroshq/kcp/blob/fe25bb18be22e615a38d2d3bf3de12ca497ce321/pkg/reconciler/apis/permissionclaimlabel/permissionclaimlabel_reconcile.go#L59

[2022-11-24 01:29] erwinvaneyk opened #2406 "bug: turning off root-compute-workspace causes a pile up of error logs"
### Describe the bug

When I try to turn off the `root-compute-workspace` option, kcp seems to be functional but outputs a continuous stream of error logs:

[code]
And these logs keep going at an impressive rate.

### Steps To Reproduce

[code]

### Expected Behaviour

No error logs

### Additional Context

Using `kcp` built from `main`.

[2022-11-24 15:26] hardys commented on #2274
/assign @p0lyn0mial

This should be resolved via https://github.com/kcp-dev/kcp/pull/2382

[2022-11-28 08:26] mjudeikis commented on #2244
I think this is fine. Custom workspaces would not have "batteries" so it will not have workspaces APIbindings by default. Bootstrap error on my side.

[2022-11-28 08:26] #2244 closed

[2022-11-28 10:34] pweil- opened #2410 "epic: Split workloads code from control plane code"
### Feature Description

Enhancement Link: https://github.com/kcp-dev/kcp/blob/main/docs/enhancements/0001_project_enhancements.md

See [this section](https://github.com/kcp-dev/kcp/blob/main/docs/enhancements/0001_project_enhancements.md#split-the-workloads-project-from-the-control-plane) for background.

### Stories

- [ ] [Create new workloads repository]()
- [ ] [Move source code]()
- [ ] [Ens

[2022-11-28 10:35] pweil- opened #2411 "feature: create workloads repository"
### Feature Description

in preparation to split workloads and control plane code from the main kcp repository

### Proposed Solution

*

### Alternative Solutions

_No response_

### Want to contribute?

- [ ] I would like to work on this issue.

### Additional Context

_No response_

[2022-11-28 10:36] pweil- opened #2412 "feature: separate workloads source code from control plane source code"
### Feature Description

Determine dependencies and shared library code and separate as appropriate.  Includes testing artifacts.

### Proposed Solution

*

### Alternative Solutions

_No response_

### Want to contribute?

- [ ] I would like to work on this issue.

### Additional Context

_No response_

[2022-11-28 10:38] pweil- opened #2413 "feature: Ensure there is appropriate build/install documentation for workloads"
### Feature Description

Ensure we have proper makefiles and documentation for how the workloads repository is used with the kcp control plane as a layered component.

### Proposed Solution

*

### Alternative Solutions

_No response_

### Want to contribute?

- [ ] I would like to work on this issue.

### Additional Context

_No response_

[2022-11-28 10:40] pweil- opened #2414 "feature: Ensure there is appropriate CI coverage for workloads"
### Feature Description

Ensure the [new workloads repo](https://github.com/kcp-dev/kcp/issues/2411) has the right CI and bot integration in order to gate merges and ensure e2e functionality.

This may also include creation of new `OWNERS` files if they are not covered by other tasks

### Proposed Solution

*

### Alternative Solutions

_No response_

### Want to contribute?

- [ ] I would like to

[2022-11-28 10:45] jmprusi opened #2415 "When the KCPSyncerTunnel feature gate is enabled, PODs should be added to the compute workspaces automatically"
Accessing POD Subresources like logs,exec... Requires PODs to be upsynced by the upsyncer controller, and KCP needs to have the Pod CRD bootstrapped.

A possible solution is to add the POD resource YAML when calling `kube124.Bootstrap()` if the feature flag is enabled.

[2022-11-28 10:50] jmprusi opened #2416 "Missing subresource permissions for PODs when generating the syncer deployment YAML"
If the `KCPSyncerTunnel` feature flag is enabled, extra permissions should be added to the syncer `clusterRole` for accessing the downstream POD Subresources like `pods/log`,`pods/exec`...

Those permissions should be added to the generated Syncer deployment YAML issued by the `kcp sync` kubectl plugin.

[2022-11-29 16:02] ncdc opened #2428 "Community Meeting November 29, 2022"
### Overview

At 11am Eastern, 8am Pacific, 3pm UTC; [find your time](https://www.timeanddate.com/worldclock/converter.html?iso=20210518T150000&p1=1440&p2=4826&p3=234&p4=195)

Video call link: https://meet.google.com/mpd-cypd-sdp
Or dial: ‪(DE) +49 30 300195060‬ PIN: ‪500 599 130 5702‬#
More phone numbers: https://tel.meet/mpd-cypd-sdp?pin=5005991305702
Or join via SIP: sip:5005991305702@gmeet.red

[2022-11-29 16:46] ncdc commented on #2368
The root cause of the panic in kcp has been mitigated. Closing this issue and will file a new one to ensure we have a panic handler configured so we don't crash.

[2022-11-29 16:46] #2368 closed

[2022-11-29 18:24] davidfestal commented on #2041
This should be fixed on main. Now downstream namespaces are only deleted when no more synced resources are inside them, and even then, only after a 30 s delay (configurable).

[2022-11-29 18:24] davidfestal commented on #2041
@Roming22 @mikenairn Can you confirm that it is fixed ?

[2022-11-29 19:09] stevekuznetsov opened #2430 "bug: default workspace type creates too many objects in etcd on startup"
### Describe the bug

Today, when a user creates a new workspace, they get a `universal` one, and that brings with it nine keys in `etcd`:

- /registry/apis.kcp.dev/apibindings/customresources/root:users:zu:yc:kcp-admin/apiresource.kcp.dev-cg5rx
- /registry/apis.kcp.dev/apibindings/customresources/root:users:zu:yc:kcp-admin/scheduling.kcp.dev-7uhq2
- /registry/apis.kcp.dev/apibindings/customresour

[2022-11-29 19:09] stevekuznetsov commented on #2430
cc @MikeSpreitzer @sttts @ncdc

[2022-11-29 20:32] #2331 closed

[2022-11-30 13:11] s-urbaniak commented on #1924
oh this looks interesting, grabbing this now.

[2022-11-30 19:02] ncdc commented on #1689
This was fixed in #1701
/close

[2022-11-30 19:02] #1689 closed

[2022-11-30 19:08] ncdc commented on #1755
This was fixed by #1860
/close

[2022-11-30 19:08] #1755 closed

[2022-11-30 19:09] ncdc commented on #1950
Closing as the web site is live. Let's file new issues if needed for any future work.
/close

[2022-11-30 19:09] #1950 closed

[2022-11-30 19:12] ncdc commented on #2402
@mjudeikis now that I've had time to read through this, I don't think it's a bug. You have an APIExport that claims nothing, and the binding is accepting a claim. The claim for systemds is indeed unexpected.

[2022-11-30 19:13] #2390 closed

[2022-11-30 19:31] mjudeikis commented on #2402
I was under impression that APIExports do not need to claim types they are serving from their own `latestResourceSchemas` schema?
This is same case for different types (dont have it replicated now for the one from original issue, but this is common case in my env. Which might be the case I use APIExports wrong).

API binding in consuming worspace. As you see it fails on `user` object.
[code]
But a

[2022-11-30 19:32] ncdc commented on #2402
Looking solely at your initial example, you had an APIExport with no latestResourceSchemas or permissionClaims. In effect, it was a "no-op" APIExport. Let me look at what you just pasted & get back in a bit

[2022-11-30 19:34] mjudeikis commented on #2402
Ah, sorry, I think I cropped this out by mistake from the copy-paste :/ this time I added them with all the details

[2022-11-30 19:34] ncdc commented on #2402
In your new example, your binding is trying to accept a claim for resources exported by the APIExport. So the reported condition is correct.

[2022-11-30 19:35] ncdc commented on #2402
Your APIBinding can **only** accept claims for things listed in the APIBinding's `status.exportPermissionClaims` (which come from the APIExport)

[2022-11-30 19:35] ncdc commented on #2402
i.e. `secrets` in this example

[2022-11-30 19:37] mjudeikis commented on #2402
So you don't need to accept types which are exported "by default"?
In my APIBInding:
[code]
is not needed?

[2022-11-30 19:39] srihanm opened #2439 "kcp workload sync using private ip instead of public ip"
Hi Team, I'm relatively new to KCP. I’ve a setup where my KCP is running in AWS EC2 instance & the workload cluster is over Azure AKS.

Upon doing a `kcp workload sync`, it appears the generated uber manifest is trying to use the internal IP address of KCP cluster at 6443 port. This being an internal IP, there is no way the syncers in the workload cluster (in AKS) going to reach the KCP cluster (i

[2022-11-30 19:52] ncdc commented on #2402
Correct, by creating an APIBinding, you are declaring your intent to use the APIs exported by the APIExport. Claim acceptance is only to grant the APIExport owner the permissions they are requesting for APIs **not** owned and exported by the APIExport.

[2022-11-30 20:01] mjudeikis commented on #2402
got ya :) missunderstood the API :) lets close this one and leave for future generations to find. If you think error message can/should be improved - let me know. Else lets wait if somebody else trips over this.

[2022-11-30 20:01] #2402 closed